[2021-08-02 22:06] munjalpatel opened #2139 "Labels are not properly applied"
**Fission/Kubernetes version**

<pre>
$ fission --version

client:
  fission/core:
    BuildDate: "2021-08-02T11:44:22Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0
server:
  fission/core:
    BuildDate: "2021-08-02T09:30:56Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0

$ kubectl version

Client Version: version.Info{Major:"1", Minor

[2021-08-02 22:07] munjalpatel commented on #2118
I have also noticed this. For me it generally takes between 6 to 9 minutes to terminate.

[2021-08-03 01:31] munjalpatel opened #2140 "Executor crashes in v1.14.0 for newdeploy functions"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-08-02T11:44:22Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0
server:
  fission/core:
    BuildDate: "2021-08-02T09:30:56Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0

$ kubectl version

Client Version: version.Info{Major:"1", Minor:

[2021-08-03 04:56] sanketsudake commented on #2139
Hey @munjalpatel,

As of now in the 1.14 release, we are propagating environment variables to the function pod and function labels.
This is primarily because pods are specialized in the context of the request. We are not sure unless the function is invoked which pod would get specialized in what context.

Adding function labels/annotations to the function pod is possible, though many controllers w

[2021-08-03 04:56] #2139 closed

[2021-08-03 08:49] #2140 closed

[2021-08-03 10:32] Stradivario opened #2144 "Unable to create ingress route inside Google Kubernetes Engine"
**Fission/Kubernetes version**

<pre>
$ fission --version

client:
  fission/core:
    BuildDate: "2021-08-02T11:44:22Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0
server:
  fission/core:
    BuildDate: "2021-08-02T09:30:56Z"
    GitCommit: f4702fe066c48e05cd5c093311fe95e4a6a971a4
    Version: 1.14.0

$ kubectl version

Client Version: version.Info{Major:"1", Minor

[2021-08-03 10:35] Stradivario commented on #2144
I have installed `ingress` using the link provided in the Documentation especially for GKE

Here is the output of `kubectl get all -n ingress-nginx`

[code]

[2021-08-03 13:51] sanketsudake commented on #2140
@munjalpatel Could you please verify with 1.14.1 if your issue is resolved ?

[2021-08-03 14:56] munjalpatel commented on #2140
@sanketsudake 1.14.1 fixes it. Thanks a lot for a quick turnaround on this :)

[2021-08-04 09:53] Stradivario opened #2147 "Unable to install Fission in cluster mode Autopilot in Google Kubernetes Engine"
**Kubernetes version**

<pre>

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T21:04:39Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.8-gke.900", GitCommit:"28ab8501be88

[2021-08-04 10:49] vishal-biyani commented on #2147
Hi @Stradivario Can you please try installation with a helm flag `--set prometheus.enabled=false` and please let is know if that changes anything.

[2021-08-04 11:05] Stradivario commented on #2147
@vishal-biyani using this flag i am getting the rest of the errors accept for `prometheus`

[code]

Regards!

[2021-08-05 16:28] vishal-biyani commented on #2147
Hi @Stradivario Thanks - I think we have not tested on GKE AutoPilot and it looks like it has certain additional policies. We will need to debug this further on GKE with AutoPilot and get back to you.

[2021-08-05 21:01] sahilsachdeva opened #2148 "How to deploy NodeJS function with code in several files?"
The NodeJS documentation gives a good example to deploy a function with publicly available package.

But how can a function with code spread over multiple files be deployed?

I am trying to deploy the following:

package.json - with publicly available package listed as dependency
function.js - uses the publicly available dependency
index.js - depends on function.js

I always get `Error: error gett

[2021-08-06 06:10] #2148 closed

[2021-08-08 12:07] chenjr0719 commented on #2144
I have the same issue when I use `fission-1.14.1` with Kind. Looks like it is caused by the Ingress upgrade from v1beta1 to v1.

[2021-08-08 12:33] chenjr0719 commented on #2144
I think add `PathType` here can fix the issue:
https://github.com/fission/fission/blob/ba7ee3ed9566351024a43b0f33628a4965937b36/pkg/router/util/util.go#L83

And the reference from k8s client-go:
https://pkg.go.dev/k8s.io/api/networking/v1#HTTPIngressPath

[2021-08-09 21:21] YLcoding commented on #1813
@antHogis

So I had similar questions so I look into the source code of the `timer` function.

Fission use this library for corn job: [github.com/robfig/cron](cron)

They use a non-standard cron job format that starts with seconds. Please follow this link to check their cron expression format -> [github.com/robfig/cron](cron)

the moral of the story is if you want to do `every day at 01:00`, you w

[2021-08-10 03:57] gauravgahlot commented on #1813
@YLcoding Please go ahead and submit a PR. This would definitely be helpful for users.

[2021-08-11 05:34] sanketsudake opened #2158 "Fission command to run functions pods owned for functions"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a command which lists all pods owned by Fission and lists them by the executor.

**Describe the solution you'd like**

[code]

It would list all pods owned by Fission for functions.
We can more filters, where users can list pods for a particular executor or particular function or environment etc.
we may som

[2021-08-11 10:05] chenjr0719 commented on #1561
Hi there, I'm Jacob from [Cinnamon AI](https://cinnamon.is/en/). I would like to share how our company uses Fission to help us build the product.

Before I start, I would like to introduce my company a bit more. We are a Japanese company (though I'm from Taiwan 😂 ) that focuses on AI technology to help our client improve their daily works by providing an AI Document Reader to automate the data ext

[2021-08-11 13:38] sanketsudake opened #2159 "Deprecate router url mention in fission fn commands"
**Is your feature request related to a problem? Please describe.**
Currently, there are two ways to create HTTPTrigger using the fission command.

1. `fission fn create` with below parameters
[code]
2. and `fission route` command.

2nd way is more preferrable and more maintained, whereas 1st is not actively used also it increases the burden on project development and maintaining feature parity acr

[2021-08-13 16:27] chinochao commented on #2111
Actually, I was able to fix the issue. It was related to our network using a proxy and I needed to update the images in the nodejs Environment to use the proxy.

`apiVersion: fission.io/v1
kind: Environment
metadata:
  creationTimestamp: null
  name: nodejs
  namespace: default
spec:
  builder:
    command: build
    image: PROXY_URL/fission/node-builder-12.16:1.11.0
    podspec:
      containers:

[2021-08-13 16:28] #2111 closed

[2021-08-14 03:54] sanketsudake opened #2162 "Newdeploy executor updates immutable field of deployment"
**Describe the bug**
Fission tries to mutate deployment immutable field `spec. selector` which cause failure in the update of the deployment.

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#label-selector-updates
[code]

**To Reproduce**
Observed via integration tests logs

**Expected result**
We should avoid updating the immutable fields of deployment.

**Screenshots/Dump f

[2021-08-14 04:23] sanketsudake commented on #2162
Essentially we change it here https://github.com/fission/fission/blob/47295309b3ed4d6dc3ca1779663a3d02c371bd83/pkg/executor/executortype/newdeploy/newdeploy.go#L298

This issue could occurs on container mgr and pool manager also on function/env update.

[2021-08-15 16:23] nickmancari commented on #2159
I can help with this.

[2021-08-17 11:36] vishal-biyani commented on #1535
We could potentially use the https://microsoft.github.io/debug-adapter-protocol/overview which is a language neutral protocol for debugging support in multiple languages.

[2021-08-17 15:51] info2000 commented on #1863
@vishal-biyani there's some update about this issue? do you want access to a cluster with continous traffic having this issue?

[2021-08-19 06:37] wonderbeyond commented on #1536
I've run into this situation, my python bjoern server crashed (due to a core dump) and been restarted, then new requests keep get 500 response, the fn logs show: "Generic container: no requests supported".

[2021-08-19 07:30] #1861 closed

[2021-08-19 08:19] sanketsudake commented on #2159
@nickmancari  Thanks for your interest, feel free to take it up. Do let me know if you need any inputs from my side.
Would be happy to see corresponding PR 😄

[2021-08-19 13:10] nickmancari commented on #2159
Great! I have a PR in on this.

[2021-08-19 14:09] teezzan commented on #2158
Hello @sanketsudake,
I would love to work on this. I can use all help I can get as this is my first time contributing here.
Thanks.

[2021-08-20 01:58] sanketsudake commented on #2158
Hey @teezzan Feel free to take it up. Thanks for your interest. Do reach out if need any inputs or have doubts.

[2021-08-20 03:19] #2144 closed

[2021-08-20 11:07] Stradivario commented on #2144
Nice thank you very much guys can't wait to try it out.

[2021-08-30 09:26] Stradivario opened #2177 "Namespace is not consistent in all places inside the CLI --fnNamespace --triggerNamespace"
**Is your feature request related to a problem? Please describe.**
Partially yes. I have found out that the CLI for creating TimeTriggers is not consistent when we define `Namespace` for the executor

**Describe the solution you'd like**
I would like to propose universal parameter to define `namespace` for example `--namespace`

**Additional context**

For example i want to create a `timetrigger`

[2021-08-30 13:56] torblerone commented on #2118
We've also noticed this behavior when doing a fission PoC. Is there any ETA for a solution?

[2021-08-31 04:01] #1169 closed

[2021-09-01 20:06] kbbqiu commented on #2177
Ah beat me to making this request! There's also this open ticket to provide a list all namespace option which could be lumped together with this work!
https://github.com/fission/fission/issues/924

[2021-09-01 20:31] kbbqiu opened #2181 "prefixTrim ends up with invalid path"
**Fission/Kubernetes version**

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**
AWS EKS

**Describe the bug**

Router tries to query invalid path. This could be related to the recent work with prefixTrim as I didn't notice this behavior in 1.13.1.
https://github.com/fission/fission/issues/2132

[code]

After this prefix trim `/-consumer` is not a valid path. functions hit max concu

[2021-09-06 03:05] #2107 closed

[2021-09-06 03:05] #2181 closed

[2021-09-07 04:51] brnavneet commented on #1230
Hi Vishal,
Can we expect this feature to be released with v1.16.0?  The alternate idea is good and will work, but we prefer this as an OOB feature.

[2021-09-09 03:45] sanketsudake opened #2188 "Updating package causes function specialization based on package status"
**Fission/Kubernetes version**
Applicable to all Fission versions.

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**
If the user is updating the package, function pod specialization fails if the package build status is not succeeded or none, ie, package in the building stage.
This puts limitation upon update of the package above may cause downtime of the function as ne

[2021-09-09 03:49] sanketsudake commented on #2188
Current flow for build

[code]

During B &  C following steps are performed
[code]

If function specialization is called during above steps  1-4, it may fail.

[2021-09-09 03:57] sanketsudake commented on #2188
## Solution 1
I found an old proposal about version tracking but **doesn't** seem to be very intuitive to start with.

https://github.com/fission/fission/blob/FunctionVersioning/Documentation/wip/FunctionVersioning.md

## Solution 2

Another possible solution,

- We define a new CR **PackageArchive(PA)[placeholder]**
[code]
- Fission/Builder should not modify package spec, it should only modify pa

[2021-09-11 06:34] Stradivario commented on #2188
I am having struggle with the same bug.

1. I have an existing function which is working fine
2. Trying to deploy update of the function
3. If the build fails the function is unreachable
4. This is why i was thinking to build package with different name and after `success` status of the build to update the actual lambda with the new package and delete the old one.

It will be awesome if we build t

[2021-09-14 08:15] rajat42059 commented on #1852
Hi, I have increased the concurrency to 500 but still getting the issue-
 **"msg": "error sending request to function",
  "error": " -  - max concurrency reached for 0323a0. All 0 instance are active",**

{
  "level": "error",
  "ts": "2021-09-14T08:05:08.624Z",
  "logger": "triggerset.http_trigger_set.0323a0-http",
  "caller": "router/functionHandler.go:577",
  "msg": "error sending request to fu

[2021-09-14 15:28] chrispytoes opened #2192 "Helm chart creates a LoadBalancer even when set to ClusterIP"
I'm really not sure if this is a bug but it's at least not documented anywhere. I am trying to install Fission without its own `LoadBalancer`. I have `serviceType` and `routerServiceType` both set to `ClusterIP`, but a `LoadBalancer` is still created upon installing.

I need to expose Fission via my own Ingress and pre-existing `LoadBalancer`.

[2021-09-15 06:00] sanketsudake commented on #2192
Hi @chrispytoes,

Typically we create following services in `fission` namespace.
[code]

If you are mentioning `routerServiceType` as `ClusterIP` then `router` service type should be that only.

I am assuming you are passing values correctly.
Can you confirm values if you have installed Fission with the helm?

[code]

Also if you want to use ingress with Fission, Fission supports ingress with Fiss

[2021-09-15 13:37] chrispytoes commented on #2192
@sanketsudake I figured out it was because I installed the chart as a dependency of my own, and was supplying the values via the parent chart's `values.yaml`. I installed it directly and that worked, but I do prefer to run external charts under a parent chart so is there any way to make that work? This isn't normally an issue for me with other charts.

[2021-09-15 13:48] sanketsudake commented on #2192
I see few discussions on the helm side but nothing conclusive.

https://github.com/helm/helm/issues/6699
https://github.com/helm/helm/pull/6876

As I mentioned above as long as Fission gets correct values, it would respect it. I don't have clear implementation thoughts on how the Fission chart can be used subchart.

Closing this issue probably stands more on the Helm side than on the Fission side.

[2021-09-15 13:48] #2192 closed

[2021-09-17 08:06] sash2222 opened #2197 "API MQtregger"
**Is your feature request related to a problem? Please describe.**
Our clients are divided by topics, but the data in the topics appears unevenly and periodically. The logic is that if a message appears in the topic, it is given to run the function. Themes are dynamic, they can be from 100 to 100K at the same time and it is necessary to run on each theme by function.
Moreover, I would like to cont

[2021-09-17 17:26] kferrone opened #2198 "Strange Namespace Behaviors"
**Describe the bug**
I recently noticed some strange effects with Fission and namespaces. So the chart created these two: fission-functions and fission-builder.

**To Reproduce**
Create a hello world app with spec dir. By default the namespace should be default.

1. I use fission spec apply and the yamls in the spec are added to the default namespace and fission creates pods running in the fission

[2021-09-17 20:50] kferrone opened #2199 "Upgraded S3 Support"
**Is your feature request related to a problem? Please describe.**
When using the fission chart and setting up the s3 as the storage backend, I am not able to give the credentials the way I want and the fission storagesvc tries to make a bucket. I don't really need it to make me a bucket, I have other means for creating buckets. Also I want the credentials I provide to fission to be only for that

[2021-09-20 00:12] info2000 commented on #1863
I upgrade from 1.10 to 1.14.1 and increased the issues with
"context cancelled" to the function with most traffic
and  "unable to get service url for connection" and "serviceURL is empty for function" to functions with less traffic

[2021-09-20 02:38] salim-buet03 opened #2200 "Getting real client ip using ingress-nginx in kubernetes"
Hi,
I am developing a simple app with flask, where I want to grab client real ip address.
So I have added my function hello using fission cli  and deployed it successfully.

**hello.py**
[code]

**Created a Route :**
`fission route create --function hello --url /hello`

**Installed Ingress and Created another router**
`fission route create --url /helloin --function hello --createingress`

I can ac

[2021-09-20 09:23] sunpower-praddy26 commented on #2158
Hey @teezzan Just wanted to check if you have started with this and making any progress?

[2021-09-20 09:23] praddy26 commented on #2158
Hey @teezzan Just wanted to check if you have started with this and making any progress?

[2021-09-20 11:48] teezzan commented on #2158
I am very sorry. I got very busy with school and exams. I already have my environment setup done.

If anyone wants to take this up, it's okay. Once I'm done with my examinations, I will pick up other issues. Thank you for checking up on me.

[2021-09-20 17:20] praddy26 commented on #2158
Thanks for the heads-up @teezzan.

@sanketsudake I have started working on this. Please assign me this issue.

[2021-09-24 09:52] sanketsudake commented on #1169
Related PRs

https://github.com/fission/fission/pull/2161
https://github.com/fission/fission/pull/2166
https://github.com/fission/fission/pull/2184

[2021-09-24 09:54] sanketsudake commented on #1861
Related PRs

https://github.com/fission/fission/pull/2157
https://github.com/fission/fission/pull/2172
https://github.com/fission/fission/pull/2175
https://github.com/fission/fission/pull/2180
https://github.com/fission/fission/pull/2194
https://github.com/fission/fission/pull/2201

[2021-09-25 11:04] praddy26 commented on #2158
The propsal for implementation of this is as follows:

List all pods owned by fission for enviornment
`fission  env  pods  --name <enviornmentName>  [--executortype <poolmgr | newdeploy>]`

List all pods owned by fission for function
`fission  fn  pods  --name <functionName>  [--executortype <poolmgr | newdeploy>]`

In both cases the '--executortype' flag is optional, which if specified will list

[2021-09-27 15:01] chenjr0719 opened #2208 "Append commit as label when apply spec"
**Is your feature request related to a problem? Please describe.**
When using the `fission spec apply`, it is hard to know which version we are deploying now. Furthermore, we cannot easily know which version has been deployed to the cluster before.

**Describe the solution you'd like**
I would like to have a label on the components included in the specs. Each time, when I use `fission spec apply`,

[2021-09-28 10:04] Invader007 opened #2209 "Panic: non-positive interval for NewTicker (mqtrigger-kafka)"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-08-03T11:34:27Z"
    GitCommit: 9b5eb069d69d47d22ecc0270bf8619857ea3f19f
    Version: 1.14.1
server:
  fission/core:
    BuildDate: "2021-08-03T09:53:20Z"
    GitCommit: 9b5eb069d69d47d22ecc0270bf8619857ea3f19f
    Version: 1.14.1

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v

[2021-09-28 11:44] vishal-biyani commented on #2199
Hi @kferrone Thanks for filing this issue with great details. The ask makes sense and we will prioritise this in one of upcoming releases.

[2021-09-28 16:12] vishal-biyani opened #2211 "Kafka MQTrigger causes NewTicker errors"
A lot of uses are reporting an issue with Kafka MQTrigger (Kind - fission). It may be related to https://github.com/Shopify/sarama/issues/1638 but it is not 100% clear at this point in time.

[code]

[2021-09-29 04:02] vishal-biyani commented on #2211
This is duplicate of https://github.com/fission/fission/issues/2209 hence closing

[2021-09-29 04:02] #2211 closed

[2021-09-29 05:15] sanketsudake commented on #2108
@abbaspw21 could you please share how you got this issue? Is it possible to reproduce it?

[2021-09-29 08:09] vishal-biyani opened #2212 "Reuse Credentials across MQTrigger with TriggerAuthentication"
Right now if a user has to connect to a message source via Keda MQTrigger, the user has to configure the broker address and rest of auth details with every MQTrigger.

But with Trigger authentication, we could abstract the auth & MQ details and then reuse across multiple MQTriggers. This will make it easier for user to use it and also add some benefits of using the Trigger Auth object listed in ke

[2021-09-30 06:39] sanketsudake opened #2213 "CII Best practices badge"
We need document all practices followed by Fission project https://bestpractices.coreinfrastructure.org/en/projects/4986

Currently we have done some progress on it, need to complete it.

[2021-10-02 16:52] praddy26 commented on #2162
Hi @sanketsudake ,
I would like to work on this issue.

[2021-10-02 16:55] praddy26 commented on #2159
Is this issue still open?

[2021-10-02 16:58] praddy26 commented on #1988
Hello @sanketsudake, I would like to work on this

[2021-10-04 03:25] davidalpert commented on #1920
does this issue need some `hacktoberfest` love?

before looking into this I would ask:

a) is the proposal to remove `cliwrapper` in favor of using `cobra` directly approved in principle?

b) is the existing pr #1921 a good start which I should pick up and contribute to or shall I start from `main` and try again?

[2021-10-04 19:08] nickmancari commented on #2159
#2171 Not anymore. I labeled those flags as deprecated.

[2021-10-06 18:10] coopstah13 opened #2219 "STOMP over Websocket MQ Trigger"
**Is your feature request related to a problem? Please describe.**
Not really.

**Describe the solution you'd like**
I would like to be able to use STOMP (served by RabbitMQ) over a websocket connection to trigger functions.

**Describe alternatives you've considered**
We don't use any of the existing implementations for queuing.

**Additional context**
I'm not a go expert, but it seems possible t

[2021-10-10 12:19] ChandanChainani commented on #2159
@nickmancari please close the issue

[2021-10-10 13:19] #2159 closed, assigned to nobody

[2021-10-11 11:34] sanketsudake commented on #1988
Just few additional thoughts, we may keep two flags in future `--exclude` and `--exclude-file`  where let's say file named `.specignore` would have all files to be ignored. Something like `.gitignore` or `.helmignore`
I am not sure of the efforts comparison though in both approaches, to start with we could have either of the one approaches.

`--exclude-file` sounds more intuitive to me as the rest

[2021-10-11 19:29] coopstah13 opened #2225 "Cannot use poolmgr executor with KEDA"
I am trying to convert our existing HTTP triggers to KEDA MQ Triggers. We currently use the poolmgr executor, and when this is used, KEDA is unable to operate on the ScaledObject because it is expecting a deployment for the function to pre-exist (it doesn't with poolmgr) and thusly fails. This should probably be documented that you need to use newdeploy instead of poolmgr with KEDA (unless you did

[2021-10-13 07:00] vishal-biyani commented on #2225
Hey @coopstah13 That is not true. The ScaledManager for Keda used in MQT scales only the object which is consuming messages (Keda-Connector). After that the function is called over HTTP and it does not matter if it is PoolManager or NewDeployment. Can you please tell us more about what error you are you running into and more details about your setup and functions etc.?

[2021-10-14 00:46] coopstah13 commented on #2225
OK, when I create a keda trigger there is no keda-connector deployment created. I only get a scaled object which references a non-existent deployment. I assumed (wrongly apparently) that I was supposed to have been using newdeploy because of this and that fission was assuming that deployment name. The status of the created ScaledObject is `ScaledObject doesn't have correct scaleTargetRef specifica

[2021-10-14 17:15] vishal-biyani commented on #2225
Hi @coopstah13 and @Algorab I suspect some error is happening when you are creating MQTrigget and hence it can not find the deployment of Keda-Connectors (And not the function deployment itself) Can you please try example here: https://github.com/fission/examples/tree/master/samples/kafka-keda

In mean time I will also try to reproduce and validate this again. Also samples directory has other Keda

[2021-10-14 17:55] Algorab commented on #2225
Yes it happens when I create the mqtrigger. The function it self is working. With function test the result is the expected.

I dig the last days though a couple of examples. I think also  these you are mentioned. I will try the examples tomorrow directly.

[2021-10-19 17:46] coopstah13 opened #2228 "core.yaml still uses cluster-admin role"
**Fission/Kubernetes version**
1.14.1/1.20

**Kubernetes platform (e.g. Google Kubernetes Engine)**
k3s

**Describe the bug**

#1845 was supposed to remove uses of cluster-admin role but that persists in core.yaml deployment option.

**To Reproduce**
Apply the core.yaml file to your cluster

**Expected result**
There are no cluster role bindings with cluster-admin role

**Actual result**
The fissi

[2021-10-19 17:52] coopstah13 commented on #2225
Yes, I agree that the problem is it can't find the keda connector deployment - and that is because it never got created (on my system). Based on my (ever-evolving and naive) knowledge of fission, I don't think that the issue is using poolmgr. I suspect something else is at play with my environment or I just ran into a potential bug.

[2021-10-21 00:03] arbourd commented on #568
NATS streaming has been deprecated so this can probably be closed.

[2021-10-21 00:12] arbourd opened #2230 "Set a specific version of NATS-streaming"
The official chart sets no image tag and registry (defaults to docker) for the nats-streaming image.

Do we think its wise to lock it to a specific version for reproducible builds?

[2021-10-21 03:40] sanketsudake commented on #2230
Thanks, @arbourd for identifying this.

Totally makes sense to pin the image tag. We would require change in [helm chart values](https://github.com/fission/fission/blob/master/charts/fission-all/values.yaml) and [manifest template](https://github.com/fission/fission/blob/master/charts/fission-all/templates/mqt-fission-nats/deployment.yaml)

[2021-10-21 03:43] sanketsudake commented on #2228
Thanks for @coopstah13 . We have restructured helm charts now and would be easier to make changes in helm chart now.

I certainly think we should get rid of the cluster-admin role. We will pursue this before release 1.15.

Post 1.15 we will also try to have service accounts and roles per Fission service so that we have fine-grained policies.

[2021-10-21 03:50] sanketsudake commented on #1884
Closing issue as seems outdated and Fission install works with yaml in recent releases.

[2021-10-21 03:50] #1884 closed

[2021-10-21 03:54] sanketsudake commented on #812
We need to get rid of heapster from helm chart.

[2021-10-21 10:48] Algorab commented on #2225
@vishal-biyani the example you mentioned is working (didn't produce the error so far). What I see, this example use a javascript for the consumer. I create an example which use go as consumer. For this I use basically the spec files from the kafka-keda example and accommodate it for use it with go.

The new example is under: [kafka-keda-k2k-go](https://github.com/Algorab/examples/tree/kafka-keda-k

[2021-10-22 04:24] #2228 closed, assigned to sanketsudake

[2021-10-25 09:48] morus12 opened #2237 "Inactivity timeout not applied for specific poolmanager pods"
**Fission/Kubernetes version**

<pre>
Fission version: v1.14.1
Kubectl server version: v1.21.1
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
K3S

**Describe the bug**
Pod never gets removed by reaper when a router times out while getting service for a function.

**To Reproduce**
1. Create an environment with low execution timeout, eg. 1s. and low pool size, e.g. 3.
2. Send 15 par

[2021-10-25 21:15] Aniket762 opened #2238 "Chore: Proposal to setup Pull Request template"
**Is your feature request related to a problem? Please describe.**
Providing descriptions for pull requests is highly recommended for a better code review process. Currently, this codebase is not using any particular Pull Request template, contributors while creating the pull requests are not following any particular pattern which slows down the review process by maintainers and ultimately slowers

[2021-10-29 04:43] sanketsudake opened #2242 "Kafka Keda Connector fails without default namespace"
Kafka connector fails to work with namespace changes.

We need to identify the possible issues in the flow.

https://github.com/fission/examples/tree/keda-kafka-go-consumer/samples

[2021-10-29 04:47] #2225 closed, assigned to nobody

[2021-11-01 14:27] arbourd opened #2245 "Helm chart and CRDs"
Any reason why the Helm Chart doesn't create the CRDs?

[2021-11-02 04:54] sanketsudake commented on #2245
Hey @arbourd, Currently when we call `kubectl apply` it has a limit of specific bytes being passed.

[code]

It especially applies to Environment CRD https://doc.crds.dev/github.com/fission/fission/fission.io/Environment/v1

When Helm chart creates CRDs it does `kubectl apply` kind of operation so it fails.

CRDs operations are done with `kubectl create`, `kubectl replace` and `kubectl delete` in

[2021-11-02 13:24] arbourd commented on #2245
That answers my question so I'll close this. Thanks!

[2021-11-02 13:24] #2245 closed

[2021-11-02 16:05] svenvNL opened #2248 "Add examples in multiple languages"
Fission supports a lot of languages, but the documentation has examples in a single language. The [introduction to writing a function](https://docs.fission.io/docs/usage/functions/) has an example in JavaScript, while the[ section about configmaps](https://docs.fission.io/docs/usage/access-secret-cfgmap-in-function/) has an example in Python.

I would propose to have examples in all the available

[2021-11-05 00:17] atsai1220 opened #2253 "Fission 1.14.1 Eerror getting Fission API version: unexpectred end of JSON input."
**Fission/Kubernetes version**

<pre>
❯ kubectl port-forward svc/router -n fission 8000:80 &
❯ fission version
Handling connection for 8000
Warning: Error getting Fission API version: unexpected end of JSON input
client:
  fission/core:
    BuildDate: "2021-08-03T11:34:27Z"
    GitCommit: 9b5eb069d69d47d22ecc0270bf8619857ea3f19f
    Version: 1.14.1
server:
  fission/core: {}

$ kubectl version
Cli

[2021-11-05 00:20] atsai1220 commented on #2253
This was my bad.
My fix was to make sure not to set additional environment variables and only set `FISSION_ROUTER` without `http://`

[code]

[2021-11-05 00:37] atsai1220 commented on #1998
Unfortunately this does not work anymore

[code]

[2021-11-05 00:55] atsai1220 commented on #2253
What's even more weird is if I `unset FISSION_URL` in one session and run `fission version --verbosity=2` I would receive loads of `Handling connection for 65385` but the command would not return.

However, if I open another Terminal and run then the result is immediate.
[code]

It seems like I am able to port-forward manually but unable the FIssion CLI is unable to port-forward for me in the same

[2021-11-05 01:13] atsai1220 commented on #2253
Running a freshly downloaded 1.14.1 CLI on Ubuntu resolves this issue completely. Running on MacOS 11.6 is giving me issues. May be something on my network.

[2021-11-05 15:44] schmurfy commented on #93
has anything change ?
We are considering a usecase where we would need to transfer a large volume of data between two functions, http should work well for this if supported.

[2021-11-08 06:13] sanketsudake commented on #2253
Hey, @atsai1220 I think 404 for `http://127.0.0.1:8888/v2` would be because of the path not found.

Apart from that, the errors you have mentioned above seems to be set up specific. If you are still able to reproduce any of the issues or facing consistently, let me know.

[2021-11-09 14:39] sanketsudake opened #2258 "Avoid accessing readyPodQueue if not initialized"
Observed in run https://github.com/fission/fission/actions/runs/1439179980

[code]

https://github.com/fission/fission/blob/2c1b459a5e1ad0f1e075c47250e3eefa8d7abe35/pkg/executor/executortype/poolmgr/gp.go#L242

[code]

[2021-11-11 14:55] #2258 closed

[2021-11-16 06:57] sanketsudake commented on #2253
Hey, @atsai1220 Closing this issue doesn't seem to be caused by Fission at the point. Feel free to reopen with more details if you are able to reproduce it.

[2021-11-16 06:57] #2253 closed

[2021-11-16 07:21] #2238 closed

[2021-11-16 10:53] sanketsudake commented on #813
We have deprecated route creation via `fission fn create` command. Now, we have enabled route/httptrigger creation via `fission route create` command only to avoid maintenance overhead and avoid confusion for user.

Closing this issue.

[2021-11-16 10:53] #813 closed

[2021-11-16 10:54] sanketsudake commented on #2118
This seems to be related with https://github.com/fission/fission/issues/2237

[2021-11-16 10:57] sanketsudake commented on #2118
Closing this issue. Please track #2237 for further updates.

[2021-11-16 10:57] #2118 closed

[2021-11-16 11:14] sanketsudake commented on #812
We have removed Heapster via https://github.com/fission/fission/pull/2256 .  Fission relies on metric-server now.

[2021-11-16 11:14] #812 closed

[2021-11-16 11:23] sanketsudake commented on #1551
We have recently merged `fission-core` and `fission-all` charts.

More details are in 1.15 rc2 release notes.
https://fission.io/docs/releases/v1.15.0-rc2/

With merged PR, goals in this issue are achieved.
https://github.com/fission/fission/pull/2224

We have flags to enable/disable specific components.

@hacky1997 if you observe any further enhancements needed on top of the 1.15 rc2 release. Fee

[2021-11-16 11:23] #1551 closed

[2021-11-16 11:27] sanketsudake commented on #993
RBAC is pretty standard in Kubernetes now. I am not sure if we have the bandwidth to support Fission install without RBAC.

I am closing this issue for now, as a quite an old issue and Kubernetes moved a lot of ground since then.

If you still see the need for this, feel free to reopen the issue.

[2021-11-16 11:27] #993 closed

[2021-11-16 11:30] sanketsudake commented on #464
Closing this issue as quite old issue.

We have a few docs pages now for the Mq trigger based on Fission and Keda.

https://fission.io/docs/usage/triggers/message-queue-trigger-kind-keda/
https://fission.io/docs/usage/triggers/message-queue-trigger/

[2021-11-16 11:52] sanketsudake commented on #600
Closing this issue is quite old.

We have a contributing guide now https://fission.io/docs/contributing/
Also, we are trying to scrub and assign proper labels to the issues.

[2021-11-16 11:57] sanketsudake commented on #693
We have open telemetry support now in the Fission 1.15 release.
We add trace_id in logs in the context of request also `trace_id` is propagated now across Fission components.

We can search across logs with `trace_id`

[2021-11-16 11:57] #693 closed

[2021-11-16 12:18] sanketsudake commented on #460
This is being done as part of a release process regularly now. Though we need automation or move chart to fission-charts repo.

[2021-11-16 12:21] sanketsudake commented on #729
Currently we test Fission with 1.19, 1.20 and 1.21 as part CI. So closing this issue.

[2021-11-16 12:21] #729 closed

[2021-11-16 12:28] sanketsudake commented on #1630
`gcloud` command not being used actively now.

[2021-11-16 12:28] #1630 closed

[2021-11-16 12:30] sanketsudake commented on #741
Issue seem not relevant now. Feel free reopen if required.

[2021-11-16 12:30] #741 closed

[2021-11-16 12:31] #681 closed

[2021-11-16 12:44] #980 closed

[2021-11-16 13:09] #994 closed

[2021-11-16 13:17] sanketsudake commented on #755
We have added opentelemtry which provides tracing support across fission request.

[2021-11-16 13:17] #755 closed

[2021-11-16 13:25] sanketsudake commented on #370
This is solved now. https://artifacthub.io/packages/helm/fission-charts/fission-all

[2021-11-16 13:25] #370 closed

[2021-11-16 13:28] #143 closed

[2021-11-18 15:35] torblerone commented on #2209
Is there any chance of this issue being fixed soon?

[2021-11-20 22:59] shaunc commented on #2062
I'm hoping to use MQTrigger built into fission ... :)

[2021-11-23 06:51] jingb opened #2268 "Package crd name conflicts with the go package key word and run code-generate faile"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

I add a new crd and want to genenrate code
use k8s.io/code-generator/generate-groups.sh all  to generate the client code failed

errors in package "……/pkg/apis/genclient/clientset/versioned/typed/core/v1":
unable to format file "……/pkg/a

[2021-11-23 07:16] sanketsudake commented on #2268
Hey @jingb ,

We have forked upstream code-generator and modified it to generate code.

https://github.com/fission/code-generator/tree/upstream-1.22

You can check this commit https://github.com/fission/code-generator/commit/5a6074d93a9e2bb176a6fcb971d6d846ceeeb2bf

Typically I get latest code-generator code and run https://github.com/fission/code-generator/blob/upstream-1.22/fission-script.sh scr

[2021-11-23 07:49] jingb commented on #2268
It works! Thank!

[2021-11-23 07:56] #2268 closed

[2021-11-24 13:06] sanketsudake opened #2271 "Support for query parameters in fission route"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

Currently, if I want to call a function with query parameter for Fission, seems like fission cant handle it.

[code]

I need to pass it as part of the URL only with regex.

`hellofunc /{html:[a-zA-Z0-9\.\/]+}`

We may need support for ht

[2021-11-25 11:54] jingb opened #2272 "how to integrate with kubebuilder"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to add some field on the existing crd. For example the Function crd. If I want to add a field funtionType, and it can be only two value A or B. We can add some metadata like  // +kubebuilder:validation:Enum=A;B on the field.
And use kubebuilder to generate the crd definition yaml and install in my

[2021-11-29 06:24] sanketsudake commented on #2272
Hey @jingb

As of now, we don't use kubebuilder. Though we have tried to achieve parity to use the same tools which kubebuilder does.

We have few commands in the fission project which we use upon makeing any changes in types.

https://github.com/fission/fission/blob/24737e895885d9428aeace7b69858a54a5cc8a13/Makefile#L85

1. The typical process is, you make changes in https://github.com/fission/fis

[2021-11-30 07:35] jingb commented on #2272
@sanketsudake  Thanks. I used to think that we could just edit crd yaml manually without kubebuilder or operator-sdk. And didn't know that we could use kubernetes-sigs/controller-tools to generate yaml definition directly. Thanks again

[2021-11-30 10:22] #2272 closed

[2021-12-03 07:31] YearningLife commented on #1204
Hello, can you tell me how to solve the problem of repeated dependencies? I also encountered the same problem, found a lot of issues, or did not find a solution

[2021-12-07 19:31] shaunc commented on #1699
Hmm... so I'm wondering how to use fission with IRSA. Could whatever permissions "fission-fetcher" has also be given to some other SA (specific to certain pods), which has additional IAM permissions?

[2021-12-09 06:38] sanketsudake commented on #1699
@shaunc  You are right. We would need to ensure existing permission in fission-fetcher SA are present in new service account to be captured while creating env with podspec.

[2021-12-09 13:52] shaunc commented on #1699
@sanketsudake Thanks for looking into it! ... so this could be fixed by allowing override in PodSpec, and documenting what permissions need to be given to make it work?

[2021-12-09 14:18] sanketsudake commented on #1699
Yes, essentially service account should have permissions mentioned here at [fission-fetcher role](https://github.com/fission/fission/blob/fe0c1e3683a32fcd94ebb229ea84fb399db1aade/charts/fission-all/templates/misc-functions/role.yaml#L1).

If we create an alternate service account and pass it via `.Spec.Runtime.PodSpec.ServiceAccount` it should override the service account currently used.
https://f

[2021-12-10 09:11] Algorab opened #2276 "observability/opentelemetry jaeger installation wrong urls"
In the observability/opentelemetry installation commands for the jaeger-operator installation are provided.
From the current documentation
[code]
At github jaegertracing/jaeger-operator/master a deploy directory isn't there anymore. In the latest tag where the deploy directory is available is v1.28.0.

I accommodate this for me as the following :
[code]

The jaeger-operator install documentation `

[2021-12-10 10:29] #2199 closed

[2021-12-10 10:31] sanketsudake commented on #2276
Thanks, @Algorab for identifying this. We would need to validate the setup with the latest URLs and add docs fixes accordingly.

[2021-12-10 10:37] sanketsudake commented on #2276
Related issue https://github.com/jaegertracing/jaeger-operator/issues/1652

[2021-12-10 11:03] sanketsudake opened #2277 "Basic auth support with fission router"
**Is your feature request related to a problem? Please describe.**

Currently, Fission doesn't have any inbuilt support for authentication at the Fission router.
The fission router is the entry point for all function calls made by the Fission user.

**Describe the solution you'd like**
Fission should have basic auth support which can be enabled while deploying function.
It could be getting a token

[2021-12-14 02:51] shaunc opened #2278 "fission cli hangs after new install"
**Fission/Kubernetes version**

<pre>
$ fission version --client-only=true
client:
  fission/core:
    BuildDate: "2021-11-23T09:29:28Z"
    GitCommit: 5349a591
    Version: v1.15.0
server:
  fission/core: {}

$ sw_vers
ProductName:    macOS
ProductVersion: 11.6.2
BuildVersion:   20G314

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300

[2021-12-15 05:18] sanketsudake opened #2280 "Fission Chart: Redhat Chart Verifier Checks"
**Describe the bug**

We need to fix the Fission chart so that we are ready for Redhat Certification.

**To Reproduce**

How to run checks ?
1. Clone Fission repository
2.
[code]

**Expected result**
All checks should pass.

**Actual result**
Failing checks:
1. [ ] v1.1/has-kubeversion
2. [ ] v1.0/images-are-certified
3. [ ] v1.0/chart-testing
4. [ ] v1.0/required-annotations-present
5. [ ] v1.0/c

[2021-12-16 16:20] praddy26 commented on #2162
Is this issue still open to work on?

[2021-12-16 16:39] sanketsudake commented on #2162
Hey @praddy26 Please coordinate with @YachikaRalhan . I think she was planning to pick it up.

[2021-12-20 15:16] shaunc commented on #2278
Possibly also related to using `routerServiceType` `clusterIP` ? -- added to question.

[2021-12-20 18:02] praddy26 commented on #2277
Hello @sanketsudake

I would like to work on this issue.

[2021-12-21 04:31] sanketsudake opened #2284 "Make graceperiod configurable for container functions"
**Fission/Kubernetes version**

Fission version above 1.14.1

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**
We have added support for Container functions in 1.14.1.
Currently, the grace period for container functions is hardcoded. We should make it configurable.
https://github.com/fission/fission/blob/76f51e977de9118494b74f929c383f1392f1d8b8/pkg/executor/executortyp

[2021-12-21 05:50] sanketsudake commented on #2277
Hey @praddy26 Sure, you can post a proposal here and based on that we can build out a Proof of Concept implemtation.

[2021-12-21 07:03] jingb commented on #756
Step 5 is not works actually.
The way to achieve this goal to write a new Crd workload like deployment to adopt the poolMgr pod, and the crd workload should implements the scale interface, so the HPA controller could use the scale interface to autoscale.

[2021-12-22 12:30] #2209 closed

[2021-12-22 12:31] sanketsudake commented on #2209
This fix would be available in 1.15.1

[2021-12-23 04:53] sanketsudake commented on #1874
Reproducing issue with pool manager:

1. Create kind k8s cluster & deploy fission
2. Create env
[code]
3. Create code file
[code]
4. Create fn
[code]
5. On making request we can see function pod is restarted, where as no restart on fetcher pod.

[code]
From a fission perspective, the fn runtime server(python container) would be assumed as specialized.
 But from when the fn runtime server restarted

[2021-12-24 07:44] sanketsudake commented on #1874
#### What happens when container within pods get killed due to OOM ?

- Container is given signal SIGKILL and container is forced to exit.
- Container is stopped immediately and restarted to get rid consumed memory.
- Any process typically can capture signals like SIGTERM or SIGINT, and act on it for cleanup. But in case of SIGKILL we can't really capture it.
- Unless we are using something like p

[2021-12-24 15:45] shaunc commented on #2278
NB -- I've spun up a new cluster without weave -- and have the same problem.

[2021-12-26 08:43] praddy26 commented on #2277
Hello @sanketsudake

Following is the proposal for POC
1. Provide 'EnableAuth' and 'username' option in route deployment helm chart
2. Create secret for route from the 'username' and 'password', which is generated
3. Create endpoint for route authentication, which validates the credentials and creates the token
4. Subsequent API calls to the routes should have this token passed in the 'Authorizati

[2021-12-29 19:37] airhorns opened #2291 "Two fission releases can't be installed via helm into the same cluster"
**Fission/Kubernetes version**

1.15.0, 1.21

**Kubernetes platform (e.g. Google Kubernetes Engine)**

GKE

**Describe the bug**

For complicated deployments of fission, it is convenient to deploy a whole second copy of fission as a staging environment. This is useful for testing out version upgrades or new configurations alongside the existing setup that is working fine. Right now though, the hel

[2021-12-30 11:36] sanketsudake commented on #2291
I am exploring a few approaches to this.

1. Getting rid of cluster role and cluster role bindings and use roles only.
2. Make creation or use of cluster role & cluster role binding optional

----

Currently, we use the following ClusterRole and ClusterRoleBindings:

ClusterRole

1. secret-configmap-getter
2. package-getter
3. fission-cr-admin - Crucial role used by all fission components

Cluster

[2022-01-01 09:00] praddy26 commented on #2271
Hello @sanketsudake

I would like to work on this issue, if it's still open.

[2022-01-03 03:58] sanketsudake commented on #2271
Hey @praddy26 Feel free go ahead with it.

[2022-01-05 14:10] BenHesketh21 opened #2294 "Give Specs Namespace at runtime"
**Is your feature request related to a problem? Please describe.**
I am trying to deploy a multi environment system with the same functions being added to each environment but these environments are going to be created and destroyed. I wanted to deploy the functions using a spec and deploy that spec to a test namespace and then the same functions deployed to a production namespace but I can't spec

[2022-01-05 14:11] BenHesketh21 commented on #2294
There may be a better way to do this that already possible but I haven't figured it out yet if there is

[2022-01-06 05:34] fishman opened #2295 "mqtrigger keda kafka net/http failure when triggering"
**Fission/Kubernetes version**

`client:
  fission/core:
    BuildDate: "2021-11-23T09:29:28Z"
    GitCommit: 5349a591
    Version: v1.15.0
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1`

`Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.12", GitCommit:"4bf2e32bb2b9fd
eea19ff7cdc1fb51fb295ec407", GitTreeState:"clean"

[2022-01-06 05:44] fishman commented on #2295
@sanketsudake I attached a file with the headers. Is there a way to disable header forwarding or should we strip unsendable characters? I don't see any documentation on what those extra characters are from Azure.

[developmentdrop-1-headers-4.csv](https://github.com/fission/fission/files/7819710/developmentdrop-1-headers-4.csv)

[2022-01-06 12:00] #2108 closed

[2022-01-07 18:17] BenHesketh21 opened #2296 "Host based routing help"
**Is your feature request related to a problem? Please describe.**
I would like to set up host based routing, here is my set up, I want functions deployed to different namespaces and these are the same functions but at different points in the pipeline, and then when I create a trigger I want env1.[our-domain].com/functions/[function-name] to go to the function in namespace env1 and env2.[our-domai

[2022-01-10 10:44] rcmorano commented on #2081
Just wanted to drop here my cli workaround for this issue. I'm relying on `kfilt` for it [0].

Given this [1] `kustomization.yaml`, you can cleanly apply it by executing this from the kustomization dir:

[code]

[0] https://github.com/ryane/kfilt
[1]
[code]

[2022-01-10 14:06] rcmorano commented on #1133
I'm also having issues while trying to reach the controller [0] and I output log for increased verbositydoes not help to figure out why. Labels (well, at least the claimed `application=fission-api`) for the controller pod seems to be ok as you can check here [1].

Any hint?

[0]
[code]
[1]
[code]

[2022-01-10 14:08] rcmorano commented on #1133
Figured out why, services were in a different namespace cos... $THINGS (`kustomize`+`helm` issues while deploying :man_facepalming:).

[2022-01-10 14:28] fishman opened #2297 "fission environment create should allow adding environment variables to builder"
**Is your feature request related to a problem? Please describe.**

The fission node builder allows pass through of the NODE_ENV variable, but there is no simple way of setting this variable.

**Describe the solution you'd like**

`fission environment create --builder-env` cli option to allow setting static environment variables

[2022-01-10 14:39] sanketsudake commented on #1133
Sounds good @rcmorano

[2022-01-11 07:00] sanketsudake commented on #2271
Slack conversation reference https://fissionio.slack.com/archives/C3LUX6BBP/p1637677938049800

[2022-01-11 07:02] #2208 closed

[2022-01-11 11:31] techmaharaj opened #2392 "Error creating mqtrigger of type gcp-pubsub due to wrong env variable name"
The `GCP-PUB-SUB` environment variable present under `mqtrigger-keda` deployment should not have a hyphen `-` between pub and sub. As defined in [keda](https://keda.sh/docs/2.5/scalers/gcp-pub-sub/), it must be `gcp-pubsub`

Currently this creates an issue while creating a `mqtrigger` of type `gcp-pubsub`.

Actual:
[code]

Expected:
[code]

[2022-01-11 11:36] #1987 closed

[2022-01-11 11:36] #2242 closed

[2022-01-11 11:50] techmaharaj opened #2299 "Add validation for mqtype while creating message queue trigger"
**Is your feature request related to a problem? Please describe.**
Currently while creating a message queue trigger, there is no validation or hint provided for the value that `mqtype` takes. So I don't know what value I should pass to create a particular type of trigger for eg.: gcp-pubsub

**Describe the solution you'd like**
The `--help` page for `mqtrigger create` should be updated with the ac

[2022-01-12 13:22] techmaharaj opened #2300 "No validation for function present while creating a MQTrigger"
While creating a Message queue trigger using `fission mqtrigger create --name f2f --function testfunction`, I'm able to create a trigger **without the function being actually present.** In this case, `testfunction` isn't created, but still I was allowed to create a trigger.

There should be a validation / check while creating a trigger to ensure that the function name being passed actually exists.

[2022-01-16 13:23] RahulMetangale opened #2301 "Getting an error "error posting to getting service for function" while running functions"
Hi Team,

We are recently seeing following error while running fission functions:
`{"level":"error","ts":"2022-01-16T12:48:04.559Z","logger":"triggerset.http_trigger_set.432597-http","caller":"router/functionHandler.go:641","msg":"error from GetServiceForFunction","error":"error posting to getting service for function: context deadline exceeded","errorVerbose":"context deadline exceeded\nerror pos

[2022-01-17 03:50] sanketsudake commented on #2301
Hey @RahulMetangale,

The error you have observed in the logs and DNS details shared below seems a bit unrelated to me.

Error observed in logs typically could happen if specialization via executor take some extra time or there is no sufficient pool with pool manager for function specialization.

Could you please share if you are facing issues for all function calls or only specific function calls

[2022-01-17 05:07] RahulMetangale commented on #2301
Hi @sanketsudake

Thank you for your response.

I was able to resolve the issue. This was happening for all functions.

Resolution:
This issue started occurring when we upgraded our AKS kubernetes version from 12.0.7 to 1.20.9.

To resolve the issue we had to run following commands again. So my guess is after Kubernetes version upgrade  fission CRD upgrade is needed.

[code]

I hope this helps.

T

[2022-01-17 05:11] sanketsudake commented on #1863
So as per above comments,

1. We have added router cache for newdeploy pods again.
2. Where as for pool manage based pods we can really think of adding router cache back as we need to support for better control mechanism.

Typically issues seen on via debugging are mostly due to inappropriate pool size or specialization taking time out so users function call not getting specialized URL due to that

[2022-01-17 05:11] #1863 closed

[2022-01-17 05:15] #2301 closed

[2022-01-18 03:48] #2291 closed

[2022-01-18 05:37] sanketsudake commented on #1874
I am closing this issue now. As we can't do much on OOM killed pod.
We can only have a fix at the environment level, so that when the env container restarts function should be reloaded.

Please track the following issue for environment-related fixes.
https://github.com/fission/environments/issues/218

[2022-01-18 05:37] #1874 closed

[2022-01-18 06:10] sanketsudake commented on #1230
Just noting down link to old proposal: https://github.com/fission/fission/blob/async-requests/Documentation/wip/async-requests.md

[2022-01-18 15:29] airhorns commented on #2291
Thanks @sanketsudake !!

[2022-01-19 17:56] praddy26 commented on #2297
@sanketsudake I am willing to work on this. Please assign me this issue.

[2022-01-21 05:37] shaunc opened #2304 "internal error when using secrets in different namespaces"
**Fission/Kubernetes version**

<pre>
$ fission --version
fission version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-11-23T09:29:28Z"
    GitCommit: 5349a591
    Version: v1.15.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af

[2022-01-22 03:39] shaunc opened #2305 "Internal error when deploying specs"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-11-23T09:29:28Z"
    GitCommit: 5349a591
    Version: v1.15.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c

[2022-01-24 13:32] YachikaRalhan commented on #2162
Fission is trying to update the selectors for deployment if there is a function change and failing because selector's matchLabels are immutable in apps/v1 API group.
So either we don't update the pod's labels, and hence selectors labels won't get changed, or we use a different k8s API group.
With the first approach where we don't update labels, that way deployment's labels will be pointing to old

[2022-01-25 05:11] #2300 closed

[2022-01-25 07:05] torbendury opened #2307 "StorageSvc persists nothing, builder environments has only emptyDir mounted"
**Fission/Kubernetes version**

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**

OKD

**Describe the bug**

As the [documentation](https://fission.io/docs/architecture/storagesvc/) guides, the StorageSvc should persist any functions with size >256KB. In my case, the `PersistentVolumeClaim` is empty (except a `lost+found` directory) and my build environment (Python3.8) isn't able to

[2022-01-25 09:29] sanketsudake commented on #2278
Hi @shaunc , Typically fission CLI does port forwarding to Fission controller service and then makes request via `localhost:<port forward>`. As we see in your output, `Forwarding from [::1]:51696 -> 8888`
Behaviour is same on MacOs and Linux.

Fission CLI first sets up port-forwarding to Fission controller service. Service type is ClusterIP in your case.
Once port forwarding/tunneling is setup we

[2022-01-25 14:29] shaunc commented on #2278
I'm wondering if this could be an RBAC issue of some sort? ... (but then why would it work from linux?) I am experiencing [problems with specs](https://github.com/fission/fission/issues/2305)

I've been ssh-ing to ubuntu while this issue is still open. Both my mac and the ubuntu machine in the basement are on the same network, and I haven't don't any special firewall configuration on my mac. (My p

[2022-01-26 02:56] dhkim07 opened #2336 "Helm chart and imagepullsecrets"
Our company is providing fission-based private function as a services.

According to the company's security policy, only private registry can be used.​

When installing with Helm, imagepullsecrets cannot be used, so there is a difficulty in having to modify it every time.​

Can you please add imagepullsecrets to helm to use?

[2022-01-26 18:18] JShamdasani commented on #2278
Can confirm, I am also facing the same issues on MacOS but it works 100% fine on my Archlinux machine.

[2022-01-28 04:48] #2284 closed

[2022-01-30 14:24] sanketsudake commented on #1183
Noting reference of slack conversation around this issue https://fissionio.slack.com/archives/C7T2HDYTG/p1643538704290109

[2022-02-01 08:42] garrit-schroeder opened #2340 "Deleting an environment leaves environment pods in terminating state"
Fission Version

client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

K3S Kubernetes Version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"cle

[2022-02-01 14:10] #2277 closed

[2022-02-02 06:58] #2109 closed

[2022-02-07 05:31] #1183 closed

[2022-02-09 08:18] blackfly19 commented on #2340
Hi @garrit-schroeder. It does take sometime in removing the pods from the namespace `fission-function` but eventually it does. Mine took around 10 minutes.

[2022-02-10 07:55] blackfly19 commented on #2305
Hi @shaunc . I got the same issue so I did some digging. I found out that the error is due to the flask application. [https://www.youtube.com/watch?v=p_so34WgnyY](url) So you will have to debug your flask app first and then try running again.

[2022-02-10 08:21] fishman opened #2347 "mqtrigger environment variables"
How do I attach environment variables to mqtrigger? I can use envfromsecrets with podspec for builder and functions, but I don't think I can do that for the keda connectors.

The keda connector needs to be able to attach environment secrets for redis_password and the likes:

https://keda.sh/docs/2.0/scalers/redis-lists/

[2022-02-10 08:26] fishman commented on #2347
actually nevermind the kafka example describes it. mqtrigger secrets work differently from function secrets and show up as environment variables

[2022-02-10 08:26] #2347 closed

[2022-02-10 11:44] shaunc commented on #2305
hmm.. but I'm not using flask?

[2022-02-11 03:30] #2304 closed

[2022-02-11 12:19] brian-maher opened #2351 "Fission fails to start if an SSL error occurs during connection to Google Analytics (e.g. behind Pi-Hole/PFBlockerNG)"
<pre>
K8 Version: 1.22.4
Fission Version: 1.15.1
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

Docker Desktop

**Describe the bug**

Fission fails to start if an SSL error occurs upon connection to www.google-analytics.com.

**To Reproduce**

Run fission on a kubernetes cluster whose DNS servers provide ad/tracker blocking functionality (for example, PFBlockerNG, Pi-Hole, etc).

[2022-02-11 12:35] sanketsudake commented on #2351
Hey @brian-maher, You can disable analytics by setting `analytics` value false during the installation.

[2022-02-11 13:53] LinYKen opened #2354 "How can I expose the grafana to external"
Hi, I am not pro at K8S. I follow the instructions and build a fission on the MiniKube on Ubuntu server. I am trying to set up a metrics tracer. When I use the port-forward command, I can only visit the website through URL localhost. Is it possible to expose the port to external so that I can visit on my browser? I try to edit the service config and set the type to NodePort, but it seems that it d

[2022-02-13 14:52] #2354 closed

[2022-02-13 15:32] LinYKen opened #2357 "program seems to be blocked under poolmgr type if the requests workload surge"
**Fission/Kubernetes version**

<pre>
$ fission --version 1.15
$ kubectl version 1.23
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Google Kubernetes Engine
**Describe the bug**

When the executortype is poolmanager, I use hey tool to send the request to a url address, for example, set the number of total requests to be 1000, it takes a lot of time, perhaps 3-5mins to complete an

[2022-02-14 05:40] sanketsudake opened #2358 "Resilience against kube-api-server going down"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

Currently, fission components heavily rely on Kubernetes components mainly, the Kubernetes API server.
This is an implicit expectation from Fission that core Kubernetes services like API-server, controller stay up all the time.
Unavailab

[2022-02-14 05:46] sanketsudake commented on #2358
Sample logs when api server goes down,

[code]

[2022-02-14 17:02] LinYKen opened #2362 "errors when Skaffold run on GKE"
I follow the instructions on the official website to install the fission on GKE. The following is the error information after I run **skaffold run**. How can I fix that?
[code]

[2022-02-18 17:44] info2000 opened #2365 "Executor drills all server memory on 1.16.0-rc1"
Fission version  1.16.0-rc1
kubernetes v1.22.2
Platform: baremetal servers 3 masters, 3 workers

When the http traffic rise, from 100 up to 1400 requests per minute, the executor rise the memory usage up to 100% server memory

The function is nodejs deployed on newdeploy

create a function in nodejs that connects with redis server, executor type=newdeploy,
cpu min 10, cpu max 120
minscale 6, maxsc

[2022-02-19 12:50] info2000 commented on #1561
Hi,  I'm using Fission only as cronjob and workflows with rabbitmq

Initially, 3 years ago, we thought on fission to serve our micro-code http request, but with 6 big bare metal servers, and 3 years later is impossible to serve 300 request per second on a cluster with 6 machines 256gb ram and 48 cores

What else would you like to see ion Fission?
had a better performance for production systems, de

[2022-02-19 13:53] info2000 opened #2366 "Router crashloop infinite with segmentation violation code 1.16.0-rc1"
[code]

**Kubernetes platform: baremetal servers 3 masters, 3 workers **

Router pods start a CrashLoopBackOff cascade stopping the cluster for long time
![image](https://user-images.githubusercontent.com/5422722/154802946-0f3b7afc-4549-4fdc-86b7-8b3f0a7a3b53.png)

The log output on all the pods is like this

[code]

The trigger's function has this resources load
![image](https://user-images.githu

[2022-02-21 06:46] sanketsudake commented on #2358
Currently, the executor panics as we run a couple of controllers with the executor. 
Kubernetes client which Fission uses panics internally when it's not able to reach the Kubernetes API server.
So we cant have any straightforward fix for this from a Fission code perspective.
However, we should ensure the Kubernetes API server is given priority in terms of resources so it can't go down.

One thing

[2022-02-21 06:52] sanketsudake commented on #2358
Also we have added priority class support in Fission chart which should be leveraged by users as we do with skaffold.

https://github.com/fission/fission/pull/2254
https://github.com/fission/fission/blob/f45d85f30a5b9498a0ea8cc5c7cbe140e534b65d/skaffold.yaml#L56

[2022-02-25 06:54] torbendury opened #2372 "Provide RBAC capabilities to be managed/enhanced by administrators"
**Is your feature request related to a problem? Please describe.**
After a short talk in your slack, theres basically two situations at the moment:

#### A
I, as an administrator, need to provide fission as a FaaS platform to developers. I want them to be able to deploy their functions, but not neccessarily create them (including everything else, meaning triggers, routes, ...) and in any case not

[2022-02-28 08:48] #2336 closed

[2022-03-01 00:55] thegedge opened #2373 "Old poolmgr pods that are idle are not getting deleted"
**Fission/Kubernetes version**

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**

GKE

**Describe the bug**

We're seeing really old, specialized function pods in our cluster (4 days+). We're seeing the error message here printed over a long period of time:

https://github.com/fission/fission/blob/e1d86d896977ec03fe205f20d9ca189f1ad85db7/pkg/executor/executortype/poolmgr/poolpodcont

[2022-03-02 09:31] blackfly19 opened #2376 "Upgrade archiver to v3.5.1"
Fission is currently using [archiver@v2.1.0](https://github.com/mholt/archiver/). We need to upgrade it to v3.5.1. But there are some major changes made.

Match() function: It is no longer part of zipFormat struct. It's now part of Zip struct and it also a pointer receiver so we'll have to make changes accordingly. The argument type has changed from (filename string) to (file io.ReadSeeker).

Make

[2022-03-02 16:21] emmmplayer opened #2377 "Unable to complete installation and connect to http trigger"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca66

[2022-03-02 17:10] techmaharaj commented on #2377
Hi,
I tried the same code and it worked fine. I checked the logs that you have shared and found the `path` to be different for the trigger. Can you verify the path for the trigger again? As per the logs I see that the trigger path is `/hellod` and not `/hello` and hence you might be getting this error.

![image](https://user-images.githubusercontent.com/10296271/156411758-373d1681-2322-4a68-ae9d-b

[2022-03-02 18:20] emmmplayer commented on #2377
Hi,

I apologize for the mistake. I have actually tried connecting to hellod.
I have just tried to create a new function/trigger with the same results.
I hope you will find the info in the new dump file.

Thank you,
D.
[fission-dump_1646245043.zip](https://github.com/fission/fission/files/8171938/fission-dump_1646245043.zip)

[2022-03-02 18:21] emmmplayer commented on #2377
I'm not sure if it is clear from the logs, but I'm running on a Mac.

[2022-03-03 03:31] sanketsudake commented on #2377
Hi @emmmplayer ,

There could issues in in terms firewall or port forwarding from minikube to fission router.

Since fission fn test is working. Could you try port forwarding and then try to hit URL ?

[code]

[2022-03-03 07:49] emmmplayer commented on #2377
Hi and thank you for your reply,

That works and localhost responded well.
Any idea what to do next?

Thanks,
D.

[2022-03-04 06:27] sanketsudake commented on #2377
Hi @emmmplayer  You can probably try telnet over router IP and port and see if you are able to establish connection.
If not might be some issue in connectivity.
 MacOS doesn't do port forwarding I think there are some special setting need to be done to forward traffic from OS to minikube exposed IP.

[2022-03-04 06:27] #2377 closed

[2022-03-08 09:09] sanketsudake commented on #2373
Related issue https://github.com/fission/fission/issues/2237

[2022-03-08 11:09] sanketsudake commented on #2373
Please subscribe to #2237 for further updates. Closing this issue as a duplicate.

[2022-03-08 20:02] airhorns commented on #2237
@morus12 are you ever seeing `failed to delete pod` logs where the inner error is a `pod "xxx" not found` error as opposed to always seeing `context deadline exceeded`?

[2022-03-09 06:59] morus12 commented on #2237
I no longer observe the issue after updating to `1.15`, there are no hanging pods anymore.

[2022-03-09 15:53] thegedge commented on #2237
Interesting. We're on v1.15.1, so sounds like our issue in https://github.com/fission/fission/issues/2373 could be a slightly different issue than what you were originally seeing.

[2022-03-10 08:41] morus12 commented on #2237
True.

We've started to observe timeouts on  v1.14.1` and hanging pods. I cloned the fission repo and started to debug it,
it turned out that when fission runs out of not specialized pods, spawning a new pod and specialization takes too long and the fission router times out.

If you observe any timeouts that might be the case. Besides the update to `1.15`, we increased our pod's pool size to avoid

[2022-03-11 04:23] coopstah13 opened #2379 "poolmgr cannot create deployment due to long name"
**Fission/Kubernetes version**
1.15.1/1.20.15+k3s1

**Kubernetes platform (e.g. Google Kubernetes Engine)**
k3s

**Describe the bug**

Poolmgr deployment can fail to be created if the environment name or namespace the environment is in is too long.

**To Reproduce**

1. Create an environment with a long name (mine is 50 characters)
2. Run a function in said environment

**Expected result**

poolmg

[2022-03-14 04:59] #2376 closed

[2022-03-14 08:47] torbendury opened #2382 "Include CRDs in Helm Chart"
**Is your feature request related to a problem? Please describe.**
When rolling out `fission` to our k8s clusters, it's always an extra step to install the CRDs from GitHub. Also, this breaks our CI/CD when we're not able to have the Chart + the CRDs in one space with the same version.

**Describe the solution you'd like**
Helm enables creators to include the needed CRDs directly in the Helm Chart

[2022-03-14 10:50] torbendury opened #2383 "Allow file contents inline in `values.yaml`"
**Is your feature request related to a problem? Please describe.**
Due to [this issue in the official Helm repository](https://github.com/helm/helm/issues/3276) (which I can't believe is a problem since 2017) , it is currently not possible to use/refer files outside the fission Helm Chart directory.

When I want to install fission with kafka mqt (with TLS) enabled, I need to unzip the Chart, move

[2022-03-14 13:13] Docteur-RS opened #2384 "Creating one pod per request on newDeploy to allow better volume support"
**Is your feature request related to a problem? Please describe.**
Our goal is to make a datapipeline. This means downloading large files, do work on them then start a new function and repeat.

Our requirements are:
* One pod per request
* Volumes customisations
* Scale to 0

Fission already provides one pod per request when using poolMngr. But poolMngr does not allow scale to 0, the whole point b

[2022-03-15 19:28] blackfly19 commented on #2382
Hi @torbendury. The issue in using this way of creating crds is that helm uses the following command to create crds:

`kubectl apply -k "github.com/fission/fission/crds/v1?ref=v1.15.1"`

If you try using it normally you get a memory limit issue:

`metadata.annotations: Too long: must have at most 262144 bytes`

Therefore it's not possible to create crds this way for fission.

[2022-03-15 19:59] torbendury commented on #2382
Hi @blackfly19 and thanks for your answer! I'm aware of this issue - maybe [this workaround](https://github.com/argoproj/argo-cd/issues/820#issuecomment-563709649) is valid for fission?

[2022-03-16 09:08] #2297 closed

[2022-03-17 10:50] #2379 closed

[2022-03-17 12:56] torbendury opened #2394 "Remove `status` field from CRDs"
**Is your feature request related to a problem? Please describe.**
When I want to install the Helm Chart with Terraform, I need to use the `kubernetes_manifest` resource from the official Hashicorp Kubernetes provider. My way is to download the CRDs with the `http` module and pipe them to the `kubernetes_manifest` resource. The run fails, stating that the `status` field is illegal (which is correc

[2022-03-17 13:09] #2392 closed

[2022-03-23 06:46] blackfly19 opened #2396 "Prometheus metrics for fission components"
Prometheus metrics can make debugging efficient. We can do the following things to improve the debugging process:

- Follow the [RED](https://grafana.com/blog/2018/08/02/the-red-method-how-to-instrument-your-services/) method standards to keep the most important metrics and save on memory.
- Follow the prometheus [metric naming and labelling](https://prometheus.io/docs/practices/naming/) system to

[2022-03-26 22:37] mersl opened #2397 "storagesvc archivePruner deletes files outside of persistence.s3.subdir"
**Fission 1.15.1/Kubernetes 1.19..7**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea79

[2022-04-01 18:53] coopstah13 opened #2401 "fission settings to avoid running as root across fission components and functions pods"
**Fission/Kubernetes version**

fission 1.15.1
kubernetes 1.20

**Kubernetes platform (e.g. Google Kubernetes Engine)**
k3s

**Describe the bug**

The fetcher container runs as root, and as such writes files as root, which requires functions to run as root.

**To Reproduce**

Run any sample function

**Expected result**

The function runs as a non-root user.

**Actual result**
The function runs as

[2022-04-03 17:14] virus2016 commented on #2366
Same

[2022-04-04 05:43] xgenvn commented on #2062
@shaunc the built-in MQTrigger in fission seems deprecated and replaced by Keda-based instead.
Ref: https://fission.io/docs/usage/triggers/message-queue-trigger/

[2022-04-05 16:53] sanketsudake commented on #2366
Added sanitycheck in tapService to avoid calls https://github.com/fission/fission/pull/2402

[2022-04-06 04:11] #2366 closed

[2022-04-06 04:55] sanketsudake commented on #2401
Hey @coopstah13 Most of the users customize these settings as you have done. Definitely worth having it in default helm chart as good security practices.

[2022-04-08 04:37] edokan opened #2406 "fission fn test -b '{"works": false}'"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.9", GitCommit:"b631974d68ac5045e076c86a

[2022-04-08 04:53] edokan opened #2407 "ability to change secret/configMap file path"
**Is your feature request related to a problem? Please describe.**
I have multiple environments with different namespaces, and it makes it very hard to set configuration externally since secrets/configMaps are mapped using their namespaces too, forcing the function to know which namespace it should be and the name of the secret too.

**Describe the solution you'd like**
It would be very nice to be

[2022-04-10 12:47] gauravgahlot commented on #2278
I tested this out and it worked. Left a comment about the steps here:
https://github.com/fission/fission/pull/2405#issuecomment-1094265817

[2022-04-11 08:47] gauravgahlot commented on #2278
@sanketsudake I believe we can close this now.

[2022-04-11 09:25] sanketsudake commented on #2278
Closing this issue. Feel free to reopen if you observe any similar issue once we have 1.16-rc2

[2022-04-11 09:25] #2278 closed

[2022-04-13 16:19] #2396 closed

[2022-04-18 21:47] thevibhu commented on #1915
Hi, can i take up this issue?

[2022-04-19 09:02] sanketsudake commented on #2373
@thegedge
So code linked in the issue, is called when env gets updated/deleted. Upon env update/deletion we cleanup relevant pods.
I think mostly env pod might be getting deleted earlier through some other loop.

https://github.com/fission/fission/blob/e1d86d896977ec03fe205f20d9ca189f1ad85db7/pkg/executor/executortype/poolmgr/poolpodcontroller.go#L417-L421

Do we see any issue such that pod is men

[2022-04-19 10:03] sanketsudake commented on #2237
Executor provides two APIs, tap and untap.
We increase activeRequests count when tap is called and decrease when untap is called.
If we fail to call untap, we may see issue in cleanup of that particular function pod.

I looked at few dumps I had collected from CI found. Found couple of context cancelled errors.

[code]

Thoughts for possible solutions:

- We need to look at optimizing untap servic

[2022-04-19 12:51] airhorns commented on #2237
Are there retries right now?

This would work but requires each environment to track open requests and be able to report them via a new private API, which seems like a fair amount of work to add to each existing environment, and makes the barrier to entry for adding new environments a little higher. It's also kinda hard, totally doable but kinda annoyingly hard to do right even within the pod, at

[2022-04-19 13:08] thegedge commented on #2373
Just verified that these pods are indeed still present (via `kubectl`).

[2022-04-19 16:24] xgenvn commented on #632
@erwinvaneyk as my understanding, currently we can only invoke functions through their binded routers right?
The usage of internal executor API (which is I think currently for `function test`) should not be used in the case fn call to fn. Is there any update on this up to now?

[2022-04-20 12:59] sanketsudake commented on #2373
@thegedge could you please confirm if function namespace you have is same ?
You can check values provided to helm chart. `values.functionNamespace` ? If it is `gadget-app-sandbox-production` only.

Also please see if service account attached to executor pod has delete permissions.

[code]

[2022-04-20 15:38] thegedge commented on #2373
Actually, there is a service account where those two commands say "yes": `fission-svc`. Looks like that is used by the executor's `ReplicaSet`, so I think we're good there 👍

[2022-04-20 15:57] sanketsudake commented on #2373
Cool looks like we try to delete pod with namespace `fission-production-function` and pod name. I will changes to code. So this should get resolved.
Where as in log we pick up correct namespace.

[2022-04-21 09:14] #2373 closed

[2022-04-21 17:18] khamonsol opened #2418 "Labels aren't applied to k8 resource when using --labels flag on fission env create --spec"
**Fission/Kubernetes version**

<pre>
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5", GitCommit:"aea7bbadd2fc0cd689de94a54e5b7b758869d691", GitTreeState:"clean

[2022-05-02 11:37] janosroden commented on #2382
@blackfly19 I'm not sure this is an issue anymore, I was able to install crds with helm:
[code]

[2022-05-06 13:04] AetheWu opened #2425 "function build failed with local paths or url"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>
fission version: v1.16.0-rc1
kubectl version: v1.22.5

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

A golang function was built failed with the correct zip file, but could be built successfully with the single file

**To Reproduce**

1. create a go env: `fission env create --name go

[2022-05-07 02:10] AetheWu commented on #2425
By the way, the node function can be created successfully with the zip src. So, what's the correct step to create a go  function with dependencies?

[2022-05-07 02:11] AetheWu commented on #2425
It's urgent and I need your help plzzzz

[2022-05-07 02:17] AetheWu commented on #2425
What I can guarantee is that there is no problem with the go code and all steps are based on the tutorial. So confused I am.

[2022-05-09 11:46] #854 closed

[2022-05-11 07:16] blackfly19 commented on #2425
Hi @AetheWu. Did you include the go.mod and the go.sum file in the zip?

[2022-05-13 02:12] AetheWu commented on #2425
@blackfly19 yes, i did.

[2022-05-16 10:34] RahulMetangale opened #2429 "Need guidance on setting correct pool size"
Hi All,

Could you please point me to relevant documentation related to deriving pool size if available else please provide some suggestion on the same.

Environment Details:
1. Three fission environments (python)
 2. Multiple models/python code that run in one of the fission environment.
 3. Fission is running in pool  manager mode.
 4. Current pool size is 3.
 5. Concurrency is set to default 50

[2022-05-20 06:52] torbendury commented on #2372
Hi everyone! Has this topic made it to any roadmap or is there maybe already an ETA for this?

[2022-05-21 17:18] praddy26 commented on #2372
Hello @torbendury

This issue has been assigned to me and it's a work in progress. It needs a major rewrite in our CLI code and hence we have to do a thorough regression testing before we make it a GA.

[2022-05-23 06:26] blackfly19 commented on #2425
Hi @AetheWu . Can you please specify which tutorial were you following when this error occurred?

[2022-05-23 07:56] Shahnawaz-1 opened #2431 "Python custom functions not getting called in fission logs error 502 bad gateway"
### Discussed in https://github.com/fission/fission/discussions/2430

<div type='discussions-op-text'>

<sup>Originally posted by **Shahnawaz-1** May 18, 2022</sup>
I have installed fission and created
1 .Package
2.  Env
3. function hello world
4. tested and running fine

But
When i tried to run custom functions like finding a max number.

[code]

 it gives a error

``` Error querying logs: Intern

[2022-05-23 10:17] sanketsudake commented on #2431
Closing as duplicate.

[2022-05-23 10:17] #2431 closed

[2022-05-23 12:09] blackfly19 commented on #2406
Hi @edokan . You need to mention `Content-Type` as well.
eg.
[code]

[2022-05-23 13:33] sanketsudake commented on #2406
Hey @edokan Please tryout passing content type as suggested by @blackfly19 .

Closing this issue, feel free reopen if you are still facing issue.

[2022-05-23 13:33] #2406 closed

[2022-05-24 11:05] blackfly19 opened #2436 "Fission compatibility check failing"
**Fission/Kubernetes version**
[code]
[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kind cluster

**Describe the bug**
`fission check --pre` command doesn't run without installing fission which defeats it's purpose.

**To Reproduce**
Run `fission check --pre` without installing fission.

**Expected result**
It should show if it's compatible with my kubernetes platform or not.

**

[2022-05-25 21:00] angelini opened #2438 "Executor sending the IP of deleted pods to the Router"
**Fission/Kubernetes version**

Fission version: 1.15.1
K8S version: v1.21.10-gke.2000

**Kubernetes platform (e.g. Google Kubernetes Engine)**

Google Kubernetes Engine

**Describe the bug**

Under above average load when routing requests to function pods, sometimes the executor will propose the IP for a function pod that has already been deleted.

We were seeing high load for one specific functi

[2022-05-26 06:12] jeacott1 commented on #1729
@RealHarshThakur I don't think that's what the OP meant.
I think @pingdai answer was closer to what he wanted. I'm also looking for a published client api or lib I can embed in my code to drive fission without using the cli.
Is there perhaps a published swagger/openapi spec for fission somewhere?

[2022-05-27 11:46] blackfly19 commented on #2307
Hi @torbendury . I tested it out with the specified versions but I am not able to reproduce it. The following pvc is being created for me.
[code]
Its attached to the storagesvc.
[code]
I also restarted the storagesvc and I was able to find the archives created earlier.
So can you specify exact steps to reproduce this issue.

As for files less than 256kb we store it directly in the package custom r

[2022-05-31 08:38] torbendury opened #2443 "Which Kubernetes Permissions does a user need?"
Hello,

since we're relying on Kubernetes RBAC, it is atm my chosen path to create Kubernetes ServiceAccounts (like a technical user) to let developers deploy their functions via a deployment pipeline.

To let them do so, I need to know which RBAC permissions are the bare minimum to deploy a full fledged fission function (including routes, triggers, ...).

Is there any documentation for it? I coul

[2022-05-31 09:48] torbendury commented on #2443
Hi @sanketsudake and thanks for your answer! I see that this is a cluster-wide role that would lead to cluster-wide permissions. Is it possible, for a developer `ServiceAccount`, to cut those permissions down to a namespace? Would they need to be present in `fission`, `fission-function` and `fission-builder` namespaces?

Also, the permissions seem quite elevated for **only** creating functions and

[2022-05-31 14:18] sanketsudake opened #2445 "fission function create build command should process arguments"
### Discussed in https://github.com/fission/fission/discussions/2444

<div type='discussions-op-text'>

<sup>Originally posted by **nxtcoder17** May 31, 2022</sup>
**fission function create --buildcmd=**  does not take any arguments, i am kind of in a situation where i think the ability to pass ARGS, would have been better.

I did take a look at the [pkg/builder source](https://github.com/fission/

[2022-06-03 04:45] sanketsudake opened #2447 "Grafana dashboards for Fission"
**Is your feature request related to a problem? Please describe.**
We recently added couple of metrics in Fission.
https://fission.io/docs/reference/metrics-reference/

Based on these metrics we can build Grafana dashboards which can be used by community.
With collection of Dashboards we can also publish it on Grafana store.

**Describe the solution you'd like**
Define recommended set of Grafana d

[2022-06-07 18:24] vladimirtiukhtin commented on #1666
@vishal-biyani why do you create a new pod for execution instead of adjusting poolmgr replica count?

[2022-06-08 05:25] sanketsudake commented on #1666
Hi @vladimirtiukhtin Kindly refer this explanation slack thread.

https://fissionio.slack.com/archives/C3LUX6BBP/p1653550288429479?thread_ts=1653515861.187329&cid=C3LUX6BBP

Essentially poolsize is kind of fixed. We pick up a pod from pool specialize it and serve function request using it. Since we are picking up one pod from pool, pool size is kind of maintained by adding a new pod.

[2022-06-08 07:51] nunojca opened #2451 "Function pod immediately terminates after first execution and don't honor idle timeout"
**Fission/Kubernetes version**
<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6b7464", GitCommit:"6b746440c04cb81

[2022-06-08 08:58] nunojca opened #2452 "PoolManager pod specialization doesn't work as expected during a peak of simultaneous requests."
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1
server:
  fission/core:
    BuildDate: "2021-12-29T03:57:30Z"
    GitCommit: 327275d1
    Version: v1.15.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6b7464", GitCommit:"6b746440c04c

[2022-06-08 09:33] sanketsudake commented on #2452
Reference slack thread https://fissionio.slack.com/archives/C3LUX6BBP/p1654077796939099

[2022-06-08 09:34] sanketsudake commented on #2451
Reference slack thread https://fissionio.slack.com/archives/C3LUX6BBP/p1654608636841329

[2022-06-08 09:58] sanketsudake commented on #460
Closing this for now. Not a big to pain to handle as of now.
Need a better solution though for pushing to charts repo.

[2022-06-08 09:58] #460 closed

[2022-06-08 10:49] vladimirtiukhtin commented on #1666
Hi @sanketsudake, thanks. Yes, I understand the concept. Behaviour I am observing is that new pods do not belong to the poolmgr replicaset. Those one who do have
[code]
in their metadata. Newly created pods do not have this

[2022-06-08 10:56] sanketsudake commented on #1666
yes this is desired behaviour.
Pool manager under the hood create a deployment with pool size.
So all pods which belong to deployment(internally replicaset) will have owner reference of the replicaset.

Pods which are specialized, ie, function code is loaded into them won't be part of deployment, so they are pooled out of pool and wont have owner reference.
Fission executor would be cleaning up th

[2022-06-09 11:09] sanketsudake commented on #2401
## Primary solution

With PR https://github.com/fission/fission/issues/2401 Fission user can enable security context across fission components. This is not enabled by default.

Fission components securityContext settings
[code]

This still leaves Fission functions and builder pods.
Currently if user customised podSpec in Fission environment runtime and builder, they can mention podspec security co

[2022-06-10 04:31] #2394 closed

[2022-06-10 04:56] blackfly19 commented on #2425
Hi @AetheWu. I didn't get any response from your side so I am assuming you fixed the issue. If you still have any problems, feel free to reopen the issue.

[2022-06-10 04:56] #2425 closed

[2022-06-10 06:02] sanketsudake commented on #1139
Closing this issue as PodSecurityPolicy are disable with Kubernetes now.
Please use security context instead.
https://kubernetes.io/docs/concepts/security/pod-security-policy/

Track https://github.com/fission/fission/issues/2401 for al fixes going on.

[2022-06-10 06:02] #1139 closed

[2022-06-10 06:07] sanketsudake commented on #1299
We recently added metrics across fission components.
Please check https://fission.io/docs/reference/metrics-reference/

@blackfly19 can you please confirm if we can close this issue ?

[2022-06-10 06:10] sanketsudake commented on #920
This metric was removed as part of PR https://github.com/fission/fission/pull/2398
we http requests duration captured instead at different fission service level.

[2022-06-10 06:10] #920 closed

[2022-06-10 06:17] sanketsudake commented on #2305
Closing this issue , this seems more application specific or env related.

Please try again with latest python env and feel free to reopen if seems Fission issue.

[2022-06-10 06:17] #2305 closed

[2022-06-10 06:18] sanketsudake commented on #2357
Closing this issue as seems to be related to https://github.com/fission/fission/issues/2357
Please track https://github.com/fission/fission/issues/2357 for further updates.

[2022-06-10 06:18] #2357 closed

[2022-06-10 06:35] blackfly19 commented on #2307
Hi @torbendury. I am assuming you were able to fix your issue. Currently I am closing the issue but feel free to reopen the issue if you are facing any problems.

[2022-06-10 06:35] #2307 closed

[2022-06-10 08:10] sanketsudake commented on #919
@blackfly19

[2022-06-10 08:11] sanketsudake commented on #931
@blackfly19

[2022-06-13 06:18] #2436 closed

[2022-06-13 07:05] #2397 closed

[2022-06-13 08:58] sanketsudake commented on #250
We can also explore https://github.com/bufbuild/connect-go

[2022-06-13 09:39] #2438 closed

[2022-06-13 09:40] wenerme commented on #250
Tried connect-go recentlly, works as promised, really looking forward fission support connect-go semantic.

[2022-06-14 05:18] sanketsudake commented on #2083
Kindly refer discussion https://github.com/fission/fission/discussions/2126

We also another issue to handle initial surge of requests with poolmanager in more better way.

https://github.com/fission/fission/issues/2452

[2022-06-14 05:18] #2083 closed

[2022-06-16 06:14] shubham-bansal96 commented on #2271
I have verified few scenario to replicate this issue, but couldn't replicate it. Fission now support query parameter routing.
https://fission.io/docs/usage/languages/python/#create-a-simple-function-in-python

One thing to make sure specially in python is, if your function is expecting a query param then it is necessary to provide query param when you hit url to your function . Otherwise you will

[2022-06-16 06:14] #2271 closed

[2022-06-22 07:01] blackfly19 opened #2460 "Archive CLI returning invalid object URL with S3 bucket"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**
Archive CLI provides a way to get the url of an object stored using storageSvc. In case of S3 bucket I am unable to access the object with the URL returned from using the command `fission ar get-url`.

**To Reproduce**
Use Aws S3 in place

[2022-06-23 08:34] plonkernickel commented on #2372
Hi @praddy26 !

Are there any updates to this? Missing RBAC management is a blocker for us to hand over our fission installation to developers, we want to thrive the _least privilege_ principle when letting developers work with fission.

[2022-06-23 15:55] shubham-bansal96 commented on #2451
Hi @nunojca
we are able to replicate this issue. Let me explain what's actually going on.

Initially when the function get terminates after the idle timeout and then user update the idle timeout of the same function in that case function get updated but with the new resource version.

I mean now the function have two same object but with different resource version. Since both object runs on go-rou

[2022-06-27 05:19] anannaya opened #2462 "Fission CLI timeed out in port-forwarding"
[code]

[2022-06-27 06:03] sanketsudake commented on #2462
Hi @anannaya Are you able to run kubectl commands for you cluster ? Please check if you have enought permissions to port-forwarding to controller APIs on Fission.

[2022-06-27 07:00] anannaya commented on #2462
@sanketsudake  Yes.. I am able to run kubectl and port-forwarding commands .  By the way i am using MAC

[2022-06-27 07:18] anannaya commented on #2462
@sanketsudake  Is there way to pass the controller external loadbalancer URL ? So that port-forwarding not used at all ?

[2022-06-27 10:29] anannaya commented on #2462
@sanketsudake  Milliseconds wasn't enough in my case , I build a binary by changing to seconds , which works now.

https://github.com/fission/fission/blob/master/pkg/fission-cli/util/portforward.go#L78

[2022-06-27 10:33] sanketsudake commented on #2462
could you please share how much time it took probably ? We can think of adding exponential timeout then

[2022-06-27 11:22] #1820 closed

[2022-06-27 11:22] #2401 closed

[2022-06-27 12:36] shubham-bansal96 opened #2463 "Getting an error while trying to create a function with executor type as container"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
server:
  fission/core:
    BuildDate: "2022-06-27T09:41:48Z"
    GitCommit: e64c2d5c
    Version: v0.0.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2", GitCommit:"f66044f4361b9f1f96f0053dd46

[2022-06-29 05:14] shubham-bansal96 opened #2464 "New environment variable for executor container"
**Is your feature request related to a problem? Please describe.**
Whenever user create a function with executor type new deploy and container by providing min scale property to 0, then a function name doIdleObjectReaper() runs after every 5 second(hard coded in the function) to check the idle timeout of function that user created and once there is idle timeout then doIdleObjectReaper() scale down

[2022-06-29 06:19] #2451 closed

[2022-06-30 06:05] blackfly19 commented on #1848
Hi @abbaspw21. We have raised quite a few PRs to fix this issue. First thing the `fission env update` will update the image which will reflect in the new deploy pods. Secondly now you will not be able to delete the env until atleast one function exists associated to the env. So the only way to change image is via `fission env update`.
I am closing this issue. Feel free to open it if you are still

[2022-06-30 06:05] #1848 closed

[2022-06-30 06:18] blackfly19 commented on #2418
Hi @khamonsol . I followed the exact steps(using `fission spec`) mentioned by you but I am able to see the labels in the env CR.
[code]
Can you please update fission to the latest version and then try again?

[2022-07-05 12:52] shubham-bansal96 commented on #2462
Hi @a7i  @anannaya
I have made some changes for this issue in my PR https://github.com/fission/fission/pull/2468
Could you please test your data with these changes and let me know, if this work for you.

[2022-07-05 17:48] pintonunes opened #2469 "Watch fission CRs in specific namespaces."
Hello,

Its possible to filter which namespaces fission will watch for functions, packages and so on?

Quick look at the code and seems is watching all namespaces without any configurable flag.
https://github.com/fission/fission/blob/613062549d3ef0fffa524e95e981bb32a0105518/pkg/executor/executor.go#L287-L290

Am I missing something?

[2022-07-05 19:10] shubham-bansal96 commented on #2452
We have come up with few approaches that will help to resolve this issue.

The small and quick fix will be to use a counter.
Let's say we have created a function with rpp=5 and suppose this function get 6 concurrent request now we will first check few conditions before specialising a pod to handle the request.

1. If counter == 0, it means no pod have been specialised so far to handle the request,

[2022-07-06 11:43] voldor opened #2473 "Python function with dependencies - Example KO"
hello, i'm following the tutorial to create and execute a Python function with depedencies from here : https://fission.io/docs/usage/languages/python/

im doing the following (create all the files with the right permissions)

fission package create --sourcearchive demo-src-pkg.zip --env python --buildcmd "./build.sh"
_Package 'demo-src-pkg-zip-myth' created_
fission pkg info –-name pkg demo-src-pk

[2022-07-11 08:51] nmiletic opened #2481 "arm64 version of fission cli can not connect to the server"
**Fission/Kubernetes version**

Fission version 1.16.0
Kubernetes version v1.24.1

<pre>
$ fission --version
Unable to get because it times out

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b175631bec5b5825a", GitTreeState:"clean", BuildDate:"2022-05-24T12:26:19Z", GoVersion:"go1.18.2", Compiler:"gc", Platform:"darwin

[2022-07-11 10:42] sanketsudake commented on #2481
This could be related to https://github.com/fission/fission/issues/2462
Please check PR https://github.com/fission/fission/pull/2468

[2022-07-11 10:45] sanketsudake commented on #2469
This should be possible, provided we define configuration to be passed via helm chart.

[2022-07-11 10:54] sanketsudake commented on #2462
Closing this issue, feel free to reopen if you are able to reproduce even after changes in PR #2468

[2022-07-11 10:54] #2462 closed

[2022-07-11 10:55] sanketsudake commented on #2481
Hi @nmiletic , would it be possible for you to try out CLI from latest source ?
PR #2468 should probably resolve the issue.

cc @shubham-bansal96

[2022-07-11 12:09] nmiletic commented on #2481
Hi @sanketsudake , I've built fission-cli from master for arm64 and it works fine. Thank you

[2022-07-11 13:29] pintonunes commented on #2469
Can you give an example? Which value should be passed to helm to ensure fission will onlt watch CRs on namespace X?

[2022-07-11 13:37] sanketsudake commented on #2469
@pintonunes we would enhancements in Fission source for it. Not possible as of now.

[2022-07-12 06:50] #2460 closed

[2022-07-12 06:52] sanketsudake commented on #2418
Hey @khamonsol Closing issue as no response. Kindly try out steps suggested by @blackfly19 .

Feel free to reopen if you are able to reproduce issue.

[2022-07-12 06:52] #2418 closed

[2022-07-12 10:16] sanketsudake commented on #2481
Cool. Kindly tryout 1.17-rc2/1.17 version its released.
Closing this issue for now, feel free to reopen if you still face issue after release.

[2022-07-12 10:16] #2481 closed

[2022-07-12 10:18] #568 closed

[2022-07-12 10:20] sanketsudake commented on #255
Removed as we have deprecated nats via traditional connector. We are planning to support it via keda connectors, whenever keda project release support.

[2022-07-12 10:20] #255 closed

[2022-07-12 10:21] sanketsudake commented on #2062
We are still tracking https://github.com/kedacore/keda/issues/2391 and we will release support in Fission once available in Keda.

[2022-07-12 10:23] sanketsudake commented on #726
Please track for further updates.
https://github.com/fission/fission/issues/2062

https://github.com/fission/fission/issues/2062#issuecomment-1181586618

[2022-07-12 10:24] sanketsudake commented on #1143
Closing this issue for now. Please track https://github.com/fission/fission/issues/2062

[2022-07-12 11:15] voldor commented on #2473
Hello to work around this issue i had to return an answer with flask like :
resp = flask.Response('Hello World')
resp.status_code = 200

Otherwise it is not working but

[2022-07-12 11:47] voldor opened #2483 "Impossible to get Python Http Headers from a function built with a package"
<pre>
$ fission version

client:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
server:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
$ kubectl version
Kustomize Version: v4.5.4
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**
i created a python function wit

[2022-07-13 07:25] shubham-bansal96 commented on #2473
@voldor
Please share your code in zip folder for which you are getting an error.

cc: @sanketsudake

[2022-07-14 15:14] nmiletic opened #2487 "python builder fills /packages mount causing low disk space on a node"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
server:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b1

[2022-07-17 07:41] WoWsj opened #2488 "Default value for Buildstatus of Package resource is ambiguous"
**Describe the bug**

I developed an operator with Fission, and I found that

- default value of `BuildStatus` for Package is `Pending`
https://github.com/fission/fission/blob/9cedeb4fa6dd6fd77a115e61546414b7367ad53e/crds/v1/fission.io_packages.yaml#L124-L127
- but, pkgwatcher uses `pending` for build trigger
https://github.com/fission/fission/blob/9cedeb4fa6dd6fd77a115e61546414b7367ad53e/pkg/apis

[2022-07-19 06:07] shubham-bansal96 commented on #2488
@WoWsj
Thanks for notifying us, you are right the value for BuildStatus is ambiguous.

But after looking into code, i just want to know that are you trying to skip the validation part. I mean we have implemented a validation in our code that if there is ambiguous value then user will get error message as "PackageStatus.BuildStatus Pending not a valid build status" .

[2022-07-19 07:22] WoWsj commented on #2488
Thank you for your quick response! @shubham-bansal96

No, I didn't do anything for skipping the validation part. I just apply a YAML manifest using `kubectl`.

[2022-07-19 07:59] #2488 closed

[2022-07-19 09:56] #2463 closed

[2022-07-20 05:44] shubham-bansal96 commented on #2473
Feel free to reopen this issue, if you are able to reproduce this again.

[2022-07-20 05:44] #2473 closed

[2022-07-21 09:31] shubham-bansal96 commented on #2483
@voldor

Please change your code little bit in main.py file. Avoid printing all headers using print() function, instead of send all headers to resp.
Currently in your code you are printing all headers and returning header "s3-region" only to resp, and that's why you are not able to see all the headers. Please have a look into my code(attached in ZIP folder) and try to modify your function similar

[2022-07-21 09:31] #2483 closed

[2022-07-22 10:14] sjk7524068 opened #2490 "fission package rebuild error"
by following YAML Tutorial, when I GET to the step "Apply: deploy your functions to Fission", I got a package build error and I had to do a rebuild, but still I can not finish the job:

here comes the rebuild error message:

`Error uploading deployment package: Internal error - error archiving zip file: file already exists: /packages/calc-eval-d442ca4b-175f-4ea3-9b7f-a2c3e6875c4f-z0uwbn-hlnlb1.zip

[2022-07-23 07:11] sjk7524068 opened #2491 "[wsl][ubuntu]http trigger not working"
System: windows 10 wsl sub-system unbuntu

by following YAML Specs Tutorial, I am able to finish everything but not working on http request test:
`curl http://$FISSION_ROUTER/form`

and function test work fine
`fission function test --name calc-form`

svc route info:
[code]

fission route info:
[code]

to reproduce the problem

[code]

as I can get from svc route info

there is no external-ip sett

[2022-07-23 07:17] #2490 closed

[2022-07-23 13:01] sjk7524068 commented on #2109
Hello there~ It's amzing that fission1.16 support --allowconflict now, but since I was using fission1.12, would you mind tell how to searching for exist resource and delete

best

[2022-07-23 13:01] sjk7524068 commented on #2109
@abbaspw21

[2022-07-23 14:28] #2491 closed

[2022-07-23 14:36] sjk7524068 commented on #2491
It turns out the url was not right

the url should be http://127.0.0.1:31314/form which means http://cluster_ip:fission_router_port/form

by using kubectl cluster-info, you can get cluster domain  and you can get ip addr from domain
[code]

then you can get router port by using
[code]

type the full url in a web browser: http://127.0.0.1:31314/form

everything works perfect !!!

[2022-07-25 14:02] cccs-as opened #2492 "Default node affinity and tolerations in helm chart"
**Is your feature request related to a problem? Please describe.**
Currently in our stack, we have our functions deployed through a server using OpenAPI. We have our environments created through the Fission CLI. We are experiencing an issue getting the fission environments, and extra non-core components created on a specific nodepool.

**Describe the solution you'd like**
Allow for some node affin

[2022-07-25 17:36] #2492 closed

[2022-07-25 22:11] skywalker2022 opened #2493 "Context Deadline Exceeded Error While Running the Sample Hello World"
Hello,

I have installed a Kubernetes cluster one master and two worker nodes by Magnum on OpenStack and then installed Fission on it. I simply followed the official document:
https://fission.io/docs/installation/
Installed with Helm and Basic with LoadBalancer option. No error appeared during the installation, but when I tried to test the sample hello world (any language) I received the following

[2022-07-26 04:39] shubham-bansal96 commented on #2493
@skywalker2022

This is a known issue and we have already made code changes for the same under this PR https://github.com/fission/fission/pull/2468
This issue will get fix in upcoming releases.

[2022-07-26 05:47] sjk7524068 opened #2494 "POST request became GET"
### Describe the bug
I have made a POST method myadd, but somehow when I do reuqest, logs from router shows that it's a GET request.

I know I may config something wrong, Is there a way to fix this?

###  fission version:
[code]

### kubectl version
[code]

###  logs from my router
[code]

### my fission spec route yaml config

[code]

[2022-07-26 05:59] sanketsudake commented on #2494
Please mention Fission version.
Request to not skip all details mentioned in issue template.

[2022-07-26 06:13] sanketsudake commented on #2494
Closing issue as missing required details and not following issue template.
Kindly reopen issue once details are added. OR please file new issue with issue template.

[2022-07-26 06:13] #2494 closed

[2022-07-26 06:24] sjk7524068 opened #2495 "POST request turns to GET"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    Version: 1.12.0
server:
  fission/core:
    Version: 1.12.0
$ kubectl version
Client Version: version.Info {
	Major: "1",
	Minor: "21",
	GitVersion: "v1.21.1",
	GitCommit: "5e58841cce77d4bc13713ad2b91fa0d961e69192",
	GitTreeState: "clean",
	BuildDate: "2021-05-12T14:18:45Z",
	GoVersion: "go1.16.4",
	Compiler: "gc

[2022-07-26 07:46] skywalker2022 commented on #2493
[fission-dump_1658772133.zip](https://github.com/fission/fission/files/9187677/fission-dump_1658772133.zip)

[2022-07-26 11:46] sanketsudake commented on #2495
Hi @sjk7524068
This is quite old version of Fission. Can you try same function on one of latest fission releases ?
Please see if you are able to reproduce on latest version.

[2022-07-26 11:55] sanketsudake opened #2496 "Remove unused TRACING_SAMPLING_RATE reference from router"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

We should remove reference of TRACING_SAMPLING_RATE variable from router code.
[code]

Please remove reference from here https://github.com/fission/fission/blob/9cedeb4fa6dd6fd77a115e61546414b7367ad53e/pkg/router/router.go#L188

**To Rep

[2022-07-26 14:58] holowinski commented on #2237
Hi.

I can see that two 2 PRs were already merged related to this, but you've changed the milestone to 1.17.0.

Should those PRs fix the issue already?
Is there any additional work planned for 1.17 or does 1.17 RC already include all changes?

[2022-07-26 16:33] skywalker2022 commented on #2493
I deleted the Kubernetes cluster, created another one, and installed Fission again.

#kubectl get all -n fission

NAME                                  READY   STATUS    RESTARTS   AGE
pod/buildermgr-648dc8bc4-jb2ws        1/1     Running   0          4m6s
pod/controller-5b9d8f7c76-zzrvm       1/1     Running   0          4m6s
pod/executor-7bf4f9d9c9-c2j7c         1/1     Running   0          4m5s

[2022-07-27 13:42] cccs-as opened #2499 "Add fleuntbit to be included in extraCoreComponentPodConfig"
**Is your feature request related to a problem? Please describe.**
Logger pods nodepool selection cannot be changed.

**Describe the solution you'd like**
Add fleuntbit to extraCoreComponentPodConfig with

[code]

[2022-07-28 14:14] skywalker2022 commented on #2493
#kubectl logs pod/executor-5d48cd87b8-9qptx

{"level":"error","ts":"2022-07-28T13:59:02.979Z","logger":"generic_pool_manager.generic_pool","caller":"poolmgr/gp.go:495","msg":"failed to relabel pod","trace_id":"546df01620d5319c3ce1d6ed6a96a770","error":"pods \"poolmgr-nodejs-default-228049-6f4fffb695-wdkx7\" is forbidden: PodSecurityPolicy: unable to validate pod: []","pod":"poolmgr-nodejs-default-

[2022-08-01 07:56] sanketsudake commented on #2043
With this fix we had to change container name for default container which runs function.
So if you have any automation to fetch function logs using function container name you may need to it.

We would recommend using pod label to function logs.

[code]

Typically newdeploy function pod would have environment and function labels attached to it.
You can use any function lables to identify pod by fu

[2022-08-01 09:51] #2495 closed

[2022-08-03 07:29] liquid-metal opened #2502 "Ability to specify Kubernetes IngressClass for Routes"
As written in the subject - I miss the ability to specify a Kubernetes IngressClass when creating ingress objects alongside fission routes. When I do not have a default set or if I have multiple ingress classes available I want to chose from, I have to edit the ingress object manually after creation.

Proposal for the cli: add an additional command line argument to the `fission create route` call

[2022-08-06 08:56] RubickN opened #2508 "failed to relabel pod"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
server:
  fission/core:
    BuildDate: "2022-05-24T07:28:44Z"
    GitCommit: ed1e4a5c
    Version: v1.16.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79

[2022-08-06 08:57] RubickN commented on #2508
这是来自QQ邮箱的假期自动回复邮件。
 
您好，您发的邮件已收到，我将尽快给您回复。

[2022-08-09 06:24] sanketsudake commented on #1501
There is workaround implemented in the python environment for this issue.

To avoid containers not serving after OOM restart I would recommend this fix which is implemented in the Fission Python environment.

https://github.com/fission/environments/pull/213

[2022-08-16 10:45] enp opened #2511 "Example kafka-keda-sasl doesn't work"
Hi,

I have external kafka instance with last fission/keda installed via helm to minikube and I tried to run https://github.com/fission/examples/tree/main/miscellaneous/message-queue-trigger/kafka-keda-sasl, but without success

Packages and functions from example are deployed successfully:

[code]

On invoking producer I see only:

[code]

Also native logging doesn't work:

[code]

So, how to kno

[2022-08-17 13:44] enp commented on #2511
Native logging requires infuxdb enabled in values (dasbled by default)

As for consuming problem - it was a problem with my local configuration (wrong acl for consumer group) - found in keda pod logs

[2022-08-17 13:44] #2511 closed

[2022-08-20 19:47] esomore commented on #1233
Seeing lots of these on my logs as well:

[code]

[2022-08-22 15:04] gmtStephane commented on #2502
Hello,
I would be interested to work on this.

[2022-08-23 08:00] sanketsudake commented on #2502
Currently this is not supported via CRD as well, so need to explore CRD support first then via CLI

[2022-08-23 19:55] Tri0L commented on #2198
I see same issue.
If namespace in yaml == `default`, function pods will be created in `fission-function` namespace.
If another, for example `ns1`, function pods will be created in `ns1` namespace

[2022-08-24 09:28] sanketsudake commented on #2198
Just capturing slack thread discussion here https://fissionio.slack.com/archives/C3LUX6BBP/p1661328557287589

cc @shubham-bansal96

[2022-08-25 13:56] Tri0L opened #2520 "Can't create 2 httptriggers with prefix url"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2022-07-06T09:35:52Z"
    GitCommit: 770c19a2
    Version: v1.17.0-rc1
server:
  fission/core:
    BuildDate: "2022-07-06T09:35:52Z"
    GitCommit: 770c19a2
    Version: v1.17.0-rc1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7

[2022-08-25 14:37] Tri0L commented on #2520
Found workaround. We can use placeholders + regexp in `url` param instead of `prefix`:
[code]

[2022-08-26 18:00] thegedge commented on #1939
We've been getting hit pretty bad by this one recently, unfortunately. We have bursty traffic, and end up seeing a lot of pods that can't get scheduled due to exhausting our node pools (which we already over provision). In most of these cases, it's because we went well over our concurrency limit (which is 5, and can easily see 30-40 pods spun up on a really big burst).

Would love to be able to en

[2022-08-29 06:59] sanketsudake commented on #2508
This can happen generally if request is about to timeout.

Typically when we send a request for function there is timeout for request to complete from end to end. So we all fission internal requests need to happen during timeout lets (120 sec)
Now context is way to set deadline of all internal operations within fission.
You might have seen error something like this, when we are calling relabel pod

[2022-08-29 06:59] RubickN commented on #2508
这是来自QQ邮箱的假期自动回复邮件。
 
您好，您发的邮件已收到，我将尽快给您回复。

[2022-08-29 07:04] sanketsudake commented on #2508
Since this is not a bug specifically coverting this to a discussion.

[2022-08-30 05:33] sanketsudake commented on #2062
We have added nats jetstream connector now for fission. Should be available in 1.17.0-rc2 release and onwards.

https://github.com/fission/fission/pull/2517

[2022-08-30 05:33] #2062 closed

[2022-08-30 05:39] sanketsudake commented on #1889
This issue might not be relevant now.

@chenjr0719 Closing issue for now. Feel free to reopen if you are still facing issue.

[2022-08-30 05:39] #1889 closed

[2022-08-30 08:30] nmiletic opened #2526 "function update does not work with spec files"
**Fission/Kubernetes version**

Latest fission cli from main branch.

**Describe the bug**
`fission function update --spec --name "nemanja-test" --annotation=first_annotation=first_test` does not update the spec files but instead directly updates the server.

In pkg/fission-cli/cmd/function/update.go I do not see any reference to flagkey.SpecSave so it seems that that it is updating spec file is n

[2022-09-02 09:54] sanketsudake opened #2531 "Configmap and secrets injection support for container function"
Currently when we pass configmap & secret with `fission fn create` or `fission run-container` command.
Respective configmap and secret should get injected into the function container.

Also consider PR https://github.com/fission/fission/pull/2528

Functionality should work
- Configmap should get injected based on reference
- Secret should get injected based on reference
- configmap/secret once upd

[2022-09-05 08:09] ironman-gf opened #2532 "Fission cli hang after install"
**Fission/Kubernetes version**

<pre>
$ fission version v1.16.0
$ kubectl version 1.24.2
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

I use my local minikube as testing environment, followed install instruction for minikube to use helm to install the fission feature.
After install the fission cli in my Mac OS, I tried to execute "fission version" "fission

[2022-09-05 08:16] sanketsudake commented on #2532
@ironman-gf could you please try CLI from this release ?

https://github.com/fission/fission/releases/tag/v1.16.1

[2022-09-05 08:24] ironman-gf commented on #2532
Seems like run into syntax error:
 % fission version
/usr/local/bin/fission: line 8: syntax error near unexpected token `newline'
/usr/local/bin/fission: line 8: `<!DOCTYPE html>'
 ~ % fission check
/usr/local/bin/fission: line 8: syntax error near unexpected token `newline'
/usr/local/bin/fission: line 8: `<!DOCTYPE html>'
~ % fission --help
/usr/local/bin/fission: line 8: syntax error near unexp

[2022-09-05 08:43] ironman-gf commented on #2532
It works. Thanks for the quick response and helpful info. That's cool~

[2022-09-05 08:47] sanketsudake commented on #2532
Request to use 1.16.1 release or later as they become available.

Closing issue for now.

[2022-09-05 08:47] #2532 closed

[2022-09-07 11:34] kanuahs opened #2535 "Add ServiceMonitor Labels customisation so they work out of the box with Kube-Prometheus-Stack"
**Is your feature request related to a problem? Please describe.**
The ServiceMonitor templates in the fission-all chart do not currently have any way to customise labels. This would be a good thing to add so monitoring works out of the box for most kube-prometheus-stack configs with a values.yaml change.

**Describe the solution you'd like**
Allow labels to be passed the service monitor. This can

[2022-09-08 05:27] sanketsudake opened #2537 "Support opentelemetry collector for log collection and deprecate fluentbit+influxdb"
**Is your feature request related to a problem? Please describe.**
Currently for log collection Fission supports a specific combination of fluentbit + influxdb and Fission user tries to fetch logs for a function via fission CLI.

**Describe the solution you'd like**

We should support open telemetry collector so that users can collect logs via different mechanisms or use a combination of different

[2022-09-08 14:29] nunojca commented on #2452
Do you know if this issue have already been fixed?

[2022-09-08 15:46] wang-wayne opened #2538 "Deployment is deleted when MinScale is 0."
**Fission/Kubernetes version**

<pre>
$ fission version
v1.16.0
$ kubectl version
Client Version v1.24.3
Server Version v1.24.1
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Minikube

**Describe the bug**
Set the MinScale to 0. After all function pods are terminated.
Send a http request to the function. The executor set the replica to 1 and then immediately set the replica to 0.

[2022-09-08 16:03] shubham-bansal96 commented on #2538
@wang-wayne
This is a known issue and we have fixed this issue in v1.17.0-rc1 release. Please try installing v1.17.0-rc1 release of fission and this issue will get resolved.
For more information you can take a look at third point under Fixes heading.
https://fission.io/docs/releases/v1.17.0-rc1/

Now Closing this issue, feel free to open it if you still face this issue.

[2022-09-08 16:03] #2538 closed

[2022-09-09 12:58] nunojca commented on #2469
@sanketsudake any plans to solve this? For us this can be a security issue as someone can create a Fission CRDs on any namespace and it will be processed.

[2022-09-12 11:40] #2447 closed

[2022-09-12 14:55] #2535 closed

[2022-09-13 07:49] sanketsudake commented on #2520
This would be fixed in rc2 release.

[2022-09-13 08:00] #2520 closed

[2022-09-14 16:47] airhorns opened #2545 "Fission emitting separate traces for specialization and requests"
**Fission/Kubernetes version**

Fission 1.17rc1
GKE 1.22

**Describe the bug**

Fission emits two different traces when it specializes a new pod for a poolmgr function to serve a request: one trace for the specialization work, and one trace for the actual request processed by the function. If a request is made to the fission router with an existing trace propagation header, that header makes it th

[2022-09-16 10:17] sanketsudake commented on #2469
Few changes are work in progress on this issue https://github.com/fission/fission/pull/2539

[2022-09-19 05:59] sanketsudake commented on #2237
There are a couple of enhancements in 1.17 which should avoid causing symptoms.  However, not sure if we have arrived at a complete fix for this yet, theoretically. There should be less occurrence of this definitely.

[2022-09-21 04:51] sanketsudake commented on #2545
I think we lost the injection of otelhttp transport in [PR #2414](https://github.com/fission/fission/pull/2414) the executor MakeClient call, which could be causing the issue.

Following should possibly fix,

[code]

@shubham-bansal96 please validate this on your end.

[2022-09-22 01:32] saltbo opened #2553 "Why not transparent transmission the function annotation to the pod?"
**Is your feature request related to a problem? Please describe.**
I want to set some annotations from the function to the newdeploy pod. I found the #2080, but it's not transparent transmission the function annotation to the pod. It's only for the env annotation, why?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
https://github.com/fission/fissi

[2022-09-22 05:17] #2545 closed

[2022-09-22 08:51] #2553 closed

[2022-09-23 06:05] #2464 closed

[2022-09-26 05:46] runitmisra commented on #2362
This error occurs because in the skaffold config `skaffold.yaml`, we are using the `--force` flag on upgrade. This essentially means calling `helm upgrade --force` which will make helm force resource updates through a replacement strategy.

The `fission-storage-pvc` by default will use dynamic provisioning where k8s will fill in the `storageClassName` for the resource. Since the claim name and sto

[2022-09-26 06:04] #2362 closed

[2022-10-06 09:06] Stradivario opened #2564 "Command `fission fn log` is throwing error `Error querying logs: Internal error - 502 Bad Gateway`"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0
server:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0

$ kubectl version
Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.4", GitCommit:"95ee5ab382d64cfe6c28967f36

[2022-10-06 13:42] Stradivario commented on #2564
It appears so that when installing fission at first place now we need to explicitly set services that we want to add into the cluster which before 1.15 version where default

In an already created cluster i upgrade it with help using the following command

[code]

And Voalah!
Logs are working as expected!

Pay attention on what you want to add when spinning up the cluster for the first time!

http

[2022-10-11 06:00] sanketsudake opened #2566 "Newdeploy fails to fetch package with secret/configmap reference after upgrade"
**Fission/Kubernetes version**

<pre>
$ fission version
$ kubectl version
</pre>
1.16.2

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Onpremise

**Describe the bug**

![image](https://user-images.githubusercontent.com/1511975/195007632-0e7cd861-6ca3-4164-a862-5e8c5cb24522.png)

Observed this symptom, where the new deploy function was unable to fetch the package.
As role binding for the

[2022-10-12 19:25] suguiura opened #2569 "`fission function run-container` missing --imagepullsecret option"
I tried to run a `fission function run-container` to an image at a registry with authentication, and I got a `ErrImagePull` status because it was unable to authenticate.

A workaround for this problem is to [create a secret](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#create-an-imagepullsecret) and use it in a [spec file](https://doc.crds.dev/github.com/fiss

[2022-10-13 15:28] suguiura commented on #2569
[code]

[2022-10-14 16:56] Akshit42-hue commented on #2569
Working on it :)

[2022-10-17 11:09] Akshit42-hue commented on #2569
So basically we have to add --imagepullsecret command in the fission Cli. Correct me if I am wrong :)

[2022-10-18 07:17] bigbird-0101 opened #2573 "Redeploy fission in Kubernetes , fission function can't use before deploy fission in Kubernetes"
**Fission/Kubernetes version**

<pre>
$ fission version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

![image](https://user-images.githubusercontent.com/35413731/196361044-70f2eba4-6f7d-4bb4-9493-da6eb2742974.png)
Redeploy fission in Kubernetes,  fission function can't use before deploy fission in Kubernetes
**To Reproduce**

**Expected re

[2022-10-18 07:18] bigbird-0101 commented on #2573
why package Checksum validation failed after Redeploy

[2022-10-18 07:49] sanketsudake commented on #2569
@Akshit42-hue Yes, we will need to accept the image pull secret name from the user and embed it into the function spec.
We can assume the user already creates an image pull secret.

[2022-10-18 21:43] kferrone commented on #2199
How do I get this to happen. I still get AccessDenied when it tries to create the bucket when the bucket already exists.

[2022-10-20 07:06] shubham-bansal96 opened #2578 "fission failed to list resources if namespace flag is not provided"
**Describe the bug**
Fission falied to list resources in default or all-namespaces if,
1. namespace flag is not provided and k8s current-context namespace is not set. **OR**
2. namespace flag is not provided and FISSION_DEFAULT_NAMESPACE environment variable not set.

**To Reproduce**
Create fission function/environment in different namespaces. Now get list of all function/environment.
[code]
Note

[2022-10-25 08:37] weisttl commented on #2493
+1

[2022-10-25 17:53] poloskov-k opened #2581 "Helm upgrade fails due pre-upgrade-checks"
**Versions**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0
server:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.2", GitCommit:"5835544ca568b757a8ecae5c153f317e5736700e", Gi

[2022-10-25 18:31] shubham-bansal96 commented on #2581
@poloskov-k
I believe you are upgrading fission below than 1.14 to 1.17. There are lot of changes has been made in version 1.14 related to CRD and fission has a logic of pre-upgrade checks of CRD while upgrading fission.

To resolve this issue, please set the value preUpgradeChecks.enabled=false in helm chart.

Try out this and your issue will resolve.
[code]

Closing this issue, but feel free ope

[2022-10-25 18:31] #2581 closed

[2022-10-25 19:48] poloskov-k commented on #2581
@shubham-bansal96
No, unfortunately, it was a clean install. I installed 1.17.0 and tried upgrade with the same version in purpose to update chart values.

[2022-10-25 21:28] poloskov-k opened #2582 "Helm upgrade fails due pre-upgrade-checks"
Reopening issue https://github.com/fission/fission/issues/2581

**Versions**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0
server:
  fission/core:
    BuildDate: "2022-09-16T13:24:57Z"
    GitCommit: b36e0516
    Version: v1.17.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1

[2022-10-26 14:25] shubham-bansal96 commented on #2582
@poloskov-k
I just tried same steps as mentioned by you to install and upgrade fission and it's working fine. Please refer the attached screenshot for the same.

It looks like some old CRD exists in your cluster. While installing fission if CRD already exists then fission skip creating new CRD.
Please try uninstalling fission completely from your cluster for once. Refer below mentioned link for un

[2022-10-26 15:35] poloskov-k commented on #2582
@shubham-bansal96
Tried that. Uninstalled fission chart, then uninstalled CRDs. Here is a clean install screenshots:

![image](https://user-images.githubusercontent.com/74617611/198070173-bf5b7eb3-9e44-44eb-be21-e42b728bb3f9.png)
![image](https://user-images.githubusercontent.com/74617611/198070327-fa95aa84-e913-421e-93d6-899b8d7129f0.png)

[2022-10-27 08:42] #2566 closed

[2022-10-28 05:24] runitmisra opened #2586 "Components need to be compatible with namespace-specific roles"
The permissions for `fission.io` resources have been separated out into roles, which need to be limited to the default namespace and the additional namespaces provided by the user.

These components are not working properly with the above changes:
- buildermgr
- executor
- kubewatcher
- timer

Below are the errors that I get:
Buildermgr:
[code]
executor:
[code]
kubewatcher:
[code]
timer:
[code]

[2022-10-28 12:09] #2578 closed

[2022-10-28 15:21] sanketsudake commented on #2586
Related PR #2587

[2022-10-30 07:28] Akshit42-hue commented on #2569
We already have an imagepullsecret command
[Ref](https://fission.io/docs/usage/function/private-registry/)

[2022-11-01 06:22] sanketsudake commented on #2198
Duplicate of #1482 . Please track #1482 for further updates.

[2022-11-01 06:22] #2198 closed

[2022-11-01 06:43] shubham-bansal96 commented on #2469
@pintonunes
We have made changes for the issue in #2539. These changes will be a part of 1.18 release.

[2022-11-01 06:43] #2469 closed

[2022-11-02 05:14] neha-Gupta1 commented on #2177
Implemented common flag `--namespace` across the CLI.

[2022-11-02 05:14] #2177 closed

[2022-11-02 05:19] neha-Gupta1 commented on #924
Added `--all-namespaces` flag. Added namespace info in list results.
![listoutput](https://user-images.githubusercontent.com/23420056/199404432-09d552f6-cd36-4129-af84-9c5bd52e5e35.png)

[2022-11-02 05:19] #924 closed

[2022-11-02 11:50] shubham-bansal96 opened #2595 "-n flag throwing an error for kubewatcher"
**Describe the bug**
While creating of kubewatcher in different namespace using -n flag then CLI is throwing an error.
Note - This issue is only with creating kubewatcher, for listing and deleting it's working fine.

![Screenshot from 2022-11-02 17-14-14](https://user-images.githubusercontent.com/62992590/199481608-9bc8958e-387b-4333-918c-7cd5e2db466f.png)

However --namespace flag is working fine

[2022-11-02 13:16] shubham-bansal96 opened #2596 "Updating timetrigger without --cron flag is not updating the timetrigger"
**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kind

**Describe the bug**
Updating time trigger without --cron flag is actually not updating time trigger. CLI says time trigger updated but it's not actually updated.

**To Reproduce**
1. Create two fission function.
[code]
2. Create two time trigger and associate/add hellogo function with first trigger and hellogo2 function with second tri

[2022-11-03 06:28] sanketsudake opened #2599 "Prevent cross namespace references for configmap/secrets in functions"
**Describe the bug**

Currently, fission allows cross-namespace references for configmap/secrets in function. We should prevent this as it unnecessarily adds complexity and breaks our model for multitenancy.
As part of this
- We need to prevent users from having cross-namespace references for configmap/secret via validations
- Remove namespace fields for secret/configmap from function spec
- Chang

[2022-11-06 06:57] avinilcodes commented on #412
@erwinvaneyk hello, I am willing to contribute, can i take it up?

[2022-11-08 04:55] sanketsudake commented on #2586
Related PR https://github.com/fission/fission/pull/2604

[2022-11-08 20:42] endersonmenezes commented on #1561
Hi, I'm Enderson Menezes. SRE on the Stone Infrastructure team, and we are starting a Fission POC.

[2022-11-09 06:05] suguiura commented on #2569
@Akshit42-hue, your reference is for the `fission environment` command, which is different from the function (sub)command.

The "Pull an Image From a Private Registry" page was one of the first documentations I read when I finally found out the `fission function run-container` doesn't have the option.

By the way, when I create a funcion with `run-container`, I don't even have to create a fission

[2022-11-11 11:13] sanketsudake commented on #481
Adding validation/mutating webhooks via PR https://github.com/fission/fission/pull/2608

[2022-11-11 13:55] sanketsudake commented on #2372
A couple of changes related to this are already merged into the Fission source. Changes would be available in the Fission 1.18 release.

[2022-11-11 19:32] shubham-bansal96 opened #2615 "fission env delete command not actually deleting the correct builder service"
**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kind

**Describe the bug**
fission env delete -> deletes wrong builder service in case of multiple namespace.

when we create multiple environments on go and then delete one of the environment, builder service gets deleted randomly.

**To Reproduce**

Create two environment in go.
[code]

Two fission builder service will get created inside fi

[2022-11-12 03:41] #2615 closed

[2022-11-12 15:06] #2586 closed

[2022-11-14 11:10] laurence-hudson-mindfoundry opened #2618 "Support for ingressClassName (Ingress v1)"
**Is your feature request related to a problem? Please describe.**

In Ingress v1beta1 it was possible to indicate what ingress provider an ingress entry was intended for through a `kubernetes.io/ingress.class: "foo"` annotation. This worked well with Fission as the HttpTrigger spec schema facilitates adding annotations.

In Ingress v1 that annotation is deprecated in favour of a ingress new spec

[2022-11-15 14:33] neha-Gupta1 commented on #2294
Implemented in https://github.com/fission/fission/pull/2556 .
Usage:
- User can provide  namespace while creating spec file
eg, `fission env create --name node --image fission/node-env --spec --namespace ns1` - this will add namespace value while spec file is created. And will ignore the namespace value provided in `fission spec apply`
This is helpful if we have multiple resource using more than o

[2022-11-15 14:37] neha-Gupta1 commented on #481
Added admission webhook server in https://github.com/fission/fission/pull/2608. Will be available as part of 1.18 release.

[2022-11-15 14:37] #481 closed

[2022-11-16 01:55] suguiura commented on #2569
@Akshit42-hue, your reference is for the `fission environment` command, which is different from the function (sub)command.

The "Pull an Image From a Private Registry" page was one of the first documentations I read when I finally found out the `fission function run-container` doesn't have the option.

[2022-11-16 05:06] neha-Gupta1 commented on #2595
Done in: #2622

[2022-11-16 05:06] #2595 closed

[2022-11-16 15:50] Montek30 opened #2624 "Link Github Source Code with the specs file"
Hi,
I'm trying to link github source code of the functions (version control) to the specs which are in another github repositoy. Any idea how I can achieve that?

[2022-11-16 16:50] sanketsudake commented on #753
@neha-Gupta1 please review this as per latest changes and close as appropriate.

[2022-11-16 16:51] sanketsudake commented on #1482
This is fixed via https://github.com/fission/fission/pull/2621

[2022-11-16 16:53] sanketsudake commented on #2599
@neha-Gupta1 We can have validations here via validation webhooks.

[2022-11-17 06:47] neha-Gupta1 commented on #753
Since all CRUD API for Fission CRDs are called from CLI, we have stopped calling those APIs (i.e. controller APIs) from CLI and have made direct calls to API server.
Controller is disabled by default. So any API call to controller API will give a 404.
We have added a flag is helm charts `controller.enabled` (which is by default set to false) through which users can still use old controller APIs. D

[2022-11-17 06:47] #753 closed

[2022-11-18 05:44] neha-Gupta1 commented on #2599
https://github.com/fission/fission/pull/2627
This issue won't arise from CLI. Because in both `spec apply` and `function create/update` commands we assume and set functions namespace as config/secret's namespace.

[2022-11-18 05:44] #2599 closed

[2022-11-19 21:17] heh9 commented on #2618
Hello, I want to give this a try.

[2022-11-26 08:35] sanketsudake commented on #412
Not targeting this as we have deprecated the controller and making all calls to the Kubernetes API server directly; for other services, we do port forwarding and make calls directly.

[2022-11-26 08:35] #412 closed

[2022-11-26 08:37] sanketsudake commented on #2372
This is available now in the [1.18.0-rc1 ](https://fission.io/docs/releases/v1.18.0-rc1/) release.

We have documented permissions RBAC and plan to enhance in future releases.
https://fission.io/docs/usage/rbac-permissions/

[2022-11-26 08:37] #2372 closed

[2022-11-26 08:43] sanketsudake commented on #2443
We have trimmed down lot of permissions per Fission component.

- We have separate service accounts per fission component.
- We are converting most of the cluster roles to roles and creating them per namespace user configured.
- We have also removed the need of fission-function and fission-builder

There are still few changes pending in the series, but we will complete them by the time the 1.18 re

[2022-11-26 08:43] #2443 closed