[2019-01-11 05:00] life1347 opened #1050 "Specify idle pod reap time per function"
Currently, we hardcode idle pod reap time for all functions in source code, it would be great to specify it per function.

https://github.com/fission/fission/blob/16efdaa25c61e1c18f4ce15053953b6e74cf25ce/executor/poolmgr/gpm.go#L91
https://github.com/fission/fission/blob/16efdaa25c61e1c18f4ce15053953b6e74cf25ce/executor/newdeploy/newdeploymgr.go#L136

[2019-01-11 05:56] jayunit100 commented on #994
Alternative:
- Install fission in a specific namespace,
- make a svc account for that namespace,
- make a Role Binding for the default svc account in that NS that is privileged to  get (secrets, nodes, packages.

[2019-01-11 07:57] #1004 closed

[2019-01-11 22:52] soamvasani opened #1053 "fission fn logs produces no output"
via slack -- `fission fn logs` for a python function showed no logs even though the function is definitely logging.  This shows up in the fluentd pod's logs:

[code]

[2019-01-12 16:55] life1347 commented on #1053
duplicate #625

[2019-01-13 06:36] vishal-biyani opened #1054 "Failed to relabel pod"
test_spec_multifile.sh fails intermittently and fails to relabel pods from the pool. This works at times but also fails fairly often:

[code]
The relabeling operation fails for all 3 pods from the pool manager - as can be seen from logs below, after it is echausted of the pool, it returns error:

[code]

Most likely the POD not having an IP is an after effect, but related log:

[code]

[2019-01-14 08:52] life1347 opened #1055 "Specify multiple configmaps/secrets for a function"
Looks like we only need to change replace StringFlag with StringSliceFlag
https://github.com/fission/fission/blob/37f37c0b8b73002bf5b37d5543cab7ba7581a7fc/fission/main.go#L114-L115

and change following place then we are able to support accepting multiple configmaps/secrets for a function
https://github.com/fission/fission/blob/37f37c0b8b73002bf5b37d5543cab7ba7581a7fc/fission/function.go#L277-L312

[2019-01-14 11:23] #1049 closed

[2019-01-14 16:46] vishal-biyani commented on #952
This needs to be moved out of 1.0-RC2

[2019-01-14 19:49] soamvasani opened #1058 "increase fetcher maxcpu"
Via Slack -- our default fetcher maxcpu causes the unzip operation to be pretty slow.  Since this is the only time that fetcher uses any non-trivial CPU, it seems safe to bump up the default to about 1000m.

[2019-01-15 14:50] vishal-biyani commented on #1038
Closed by https://github.com/fission/fission/pull/1043

[2019-01-15 14:50] #1038 closed

[2019-01-15 14:53] vishal-biyani commented on #989
Design and initial thoughts have been added here: https://github.com/fission/fission/blob/master/Documentation/wip/annotations_design.md @mitchellmaler If you would like to do a PR, I would be happy to walk you through it.

[2019-01-16 02:19] #1058 closed

[2019-01-16 14:40] JannikZed commented on #191
how is it going here? I'm having the problem right now, that we want to have really long running functions (12h+) but fission is always killing them after some minutes with error 502.
What is the recommendation from fission for long-running functions?

[2019-01-17 02:03] jayunit100 commented on #698
should we move off glide eventually ?

[2019-01-19 22:20] MikeSpreitzer commented on #920
Even more importantly, histograms can be meaningfully aggregated!  That is, if you have several copies of a controller (e.g., in a ReplicaSet, or a DaemonSet), it is meaningful to add together their histograms.  It is not as meaningful to try to aggregate their Summaries.

[2019-01-21 07:02] vishal-biyani opened #1070 "Spec apply takes same file twice"
The `fission spec apply` takes same file twice if it is a zip file (For example Jar file in case of a Java function).

[code]

[2019-01-21 10:54] danielwhatmuff opened #1071 "Docs on how to create new environments"
I'm looking for documentation on how to deploy new languages to fission. I saw on the main [readme](https://github.com/fission/fission#fission-concepts) that it is possible to extend/create environments but nothing further on how to go about it. Do any docs exist?

[2019-01-21 12:16] danielwhatmuff opened #1072 "Question on scaling up fission components"
I wondered if it's possible to autoscale the fission components themselves e.g. redis/influxdb/controller API etc. Are there any docs relating to advanced deployment? Has it been deployed at a scale requiring that before? I noticed all the Kubernetes `Deployments` have replicas set staticly to 1 in the deployment YAML - which I'm guessing would become an issue when running fission in a multi-tenan

[2019-01-21 16:08] #1070 closed

[2019-01-21 16:13] life1347 commented on #1072
Hi @danielwhatmuff , most of the fission components are not able to scale up except the router. You can manually scale up the router to replicas as you want, or you can set HPA for router based on CPU/Memory let kubernetes scales it automatically.

[2019-01-21 16:19] life1347 commented on #1071
Sorry we don't have such doc yet, but you can take a look at this issue https://github.com/fission/fission/issues/807 . And [environments directory](https://github.com/fission/fission/tree/master/environments) contains different implementations for languages and may give you some help before adding new language.

[2019-01-22 11:18] unikzforce opened #1073 "Fission Api client? Rest api? and sdks?"
Hello dear fission team.
i'm currently working on a project written in java spring boot.
from this project i want to connect to fission and submit some functions and workflows. is it possible?
is there any rest api i can call to submit a function in environment?
is there any rest api i can call to get the last state of a workflow instance?
i don't know if REST is the right way to interact and cont

[2019-01-22 15:38] life1347 opened #1074 "Unable to update value of route(http trigger)"
bug: update the value of a route and prompt following error message.
[code]

[2019-01-23 11:17] erwinvaneyk opened #1077 "Add status to the CLI for functions/environments"
Currently it requires testing out a function or environment to see if it works, though in many cases Fission already knows that an environment failed to deploy or a function failed to build.

For usability, it to help users discover these common issues without needing to understand and dive into the internals of the Fission deployment or go through logs.

A good initial step (i think) is to add a

[2019-01-23 14:26] #952 closed

[2019-01-23 16:44] soamvasani opened #1078 "go environment version update"
Release an environment for the latest go version (but don't update the :latest tag)

[2019-01-26 09:48] bhavin192 commented on #1054
The error `Pod has no IP` occurs because in `IsReadyPod()` we are not checking the actual Phase of the Pod i.e. Running, Pending etc.
https://github.com/fission/fission/blob/f24b016346ccfc1b2692ebfb802672a1dc51deaf/common.go#L115-L136

Also the loop over `pod.Status.ContainerStatuses` does not return false even if a Pod is in Pending state because the slice is empty at that time.

This results in

[2019-01-26 14:16] life1347 commented on #1054
The root cause of the issue was introduced by PR https://github.com/fission/fission/pull/1009/files .
To be short, even the CRD of environment was delete, it still takes time for executor to destroy env pool.
So, when a user can create a same env, following logs will be showed.
[code]
I'm trying to figure out how to solve the problem, before that we should not ship 1.0.

[2019-01-29 04:10] vishal-biyani commented on #1054
@life1347 To me this looks like an issue related to #1080 as the "Pod has no IP" error is seen and very similar error has happened which we were able to reproduce locally. I will leave this open for now.

[2019-01-30 14:14] #1054 closed

[2019-02-04 15:44] white-cloud opened #1088 "Autoscaling Isuue"
Hello,

I wonder why the autoscaling is not working for me.
I create the function with the following command and i configured it with few resources and 20% in purpuse to see the autiscaling for this function but its always create only when pod even if i increase my load.
 fission function  create --name hello --env python  --code hello.py     --minmemory 64 --maxmemory 128 --minscale 0 --maxscale

[2019-02-05 02:27] CamelCaseNotation opened #1089 "Reading ConfigMaps or Secrets that have been created via files does not work"
https://docs.fission.io/usage/access-secret-cfgmap-in-function/ This documentation says we can read the files mounted in our functions. This only works when the secret/configmap has been created via `--from-literal`. Continually getting file not found exceptions otherwise

[2019-02-05 09:21] bhavin192 commented on #1089
@CamelCaseNotation can you please share the way you are using to access the file?
When we create a secret/configMap using `--from-file`like
[code]
The file name is the key in the secret.
It should be accessible at: `/configs/default/secret-name/my-file.txt`

[2019-02-05 14:00] erwinvaneyk commented on #1073
It is no where explicitly documented, but the REST API consists out of two services: the controller and the router
- for the controller: https://github.com/fission/fission/blob/master/controller/api.go#L194
- for the router: is basically custom http triggers. By default you can trigger your function `$ROUTER_URL/fission-function/<function-name>`

[2019-02-06 11:29] erwinvaneyk opened #1092 "Spec should rebuild failed package if apply spec files again"
Deploying the go example from scratch results in an error:
[code]
This is due to spec not awaiting creation environment before trying to create the function.

Subsequent `spec apply` fail too:
[code]
The reason for this is that the failed function is not being retried/rebuild.

Currently to workaround this, you need to manually force a rebuild of the failed pkg: `fission pkg rebuild --name <go-pkg

[2019-02-06 11:32] erwinvaneyk opened #1093 "Add (and sort by) timestamps to pkg list"
Currently the `pkg list` command does not contain a timestamp. This is in my opinion pretty useful, because you typically want to find one of the most recent package that failed. (Optionally) sorting the list by that timestamp would be helpful too.
[code]

[2019-02-07 08:35] vishal-biyani commented on #200
Thank you so much again https://github.com/ajbouh for your work on this. This is now part of Fission 🎉

[2019-02-07 08:35] #200 closed

[2019-02-08 22:26] #1073 closed

[2019-02-09 16:31] aslafy-z opened #1096 "Expose Prometheus metrics in fission-core"
I'd love to get fission to export its metrics but Prometheus annotations have been added to `fission-all` chart only. Is there any chance these gets included in the `fission-core` chart?

If you don't feed good with adding these annotations the the core chart, another way would be to only expose the metrics port in the service so it can be referenced manually with a ServiceMonitor (prometheus-oper

[2019-02-10 21:17] inge4pres opened #1097 "Canary Config error with Prometheus"
Hi,

while working with canary configs I found this strange error.
[code]

This happened after a successful canary, trying to cleanup and reinstalling fission via helm chart.
Any ideas? More details

### Fission version
[code]
### Environment
minikube

[2019-02-11 09:12] inge4pres commented on #1097
This was due to missing `--set canaryDeployment.enabled=true` in Helm installation command.
Sorry for the noise...

[2019-02-11 09:12] #1097 closed

[2019-02-12 10:12] prp20 opened #1099 "updating function resources while the function is running?`"
HI All,

would like to know if there is a mechanism/ API call where we can update the memory resources of a function while the function is running? something similar to the "Kubectl patch" command in Kubernetes. Would be great if someone can provide and example regarding this.

[2019-02-15 14:38] TimJones opened #1102 "Support Kubernetes contexts"
I manage several clusters and would love to see support for a `--kube-context` parameter that allows me to run fission without having to `kubectl config use-context xxx` between each call.

[2019-02-20 09:28] TimJones opened #1104 "Allow creating environments with the newdeploy executor type"
I have a workflow where latency isn't important but resource use is, so all my functions are declared with `--executortype newdeploy --minscale 0`.
When starting my fission project I had to create the environment which by default is a `poolmgr` which is unneeded in this use case and wastes resources.

I would like to see setting up of the environment allowing a selection for the executor type.

[2019-02-22 23:55] andreialecu commented on #389
To anyone else looking at this, take a look at: https://docs.fission.io/languages/nodejs/

There's a --builder parameter that needs to be specified during environment setup.

[2019-02-23 13:30] andreialecu opened #1107 "Installing on Docker Desktop instead of minikube / problems with full install"
Docker now has Kubernetes built in. There are various CPU usage issues with minikube so I'm trying to use the built in Docker way to install fission.

I'm running this on Windows fwiw.

I was able to install the "minimal" package successfully via `helm`, but I'm not able to see function logs with it - I assume because of the missing `influxdb`.

Installing the `full` package results in the fission

[2019-02-23 13:47] andreialecu commented on #1107
Upon further investigation I see that the difference in configuration for the controller between `fission-all` and `fission-minimal` is this in `config.yaml`:

fission-all:
[code]

The minimal version doesn't use prometheus. Based on my screenshot above, I also notice that `prometheus-server` and `prometheus-alertmanager` isn't ready, so this must be why the controller keeps crashing.

Possibly re

[2019-02-23 14:52] andreialecu commented on #1107
I was able to solve the problem. It was caused by the fact that the `PersistentVolumeClaims` were stuck on pending because there were no `PersistentVolumes` available.

I got it to work by manually creating 3 PVs like this:

pv-volume.yaml:
[code]

Then run `kubectl create -f pv-volume.yaml`. All the pods should then successfully start.

I'm a beginner with kubernetes so the yaml above may not be

[2019-02-24 13:01] andreialecu commented on #1107
To anyone finding this, there's a better solution to PVCs getting fulfilled here:
https://github.com/docker/for-win/issues/1758

[2019-02-25 10:17] vishal-biyani commented on #1107
@andreialecu Thanks for reporting the issue and solution. I have created a documentation update issue so that we document this better for new users. BTW are you trying this on a Windows machine? I was able to provision a volume automatically on Mac at least.

I will close this issue for now but please reach us on Slack or here if needed again.

[2019-02-25 10:17] #1107 closed

[2019-02-25 10:28] vishal-biyani commented on #1099
Hi @prp20 ATM it is not possible to increase the memory of a running function. In fact, Kubernetes also does not completely support in place memory update yet (There are efforts like https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler which will require pod restart).

Is there a specific use case that you are trying to solve?

[2019-02-25 10:49] andreialecu commented on #1107
Yes this is on a Windows machine and is apparently an upstream Docker issue. There's a workaround in my previous comment.

[2019-02-25 23:13] soamvasani commented on #1088
Hi @white-cloud , could you take this to the Slack please?  Usually this is some sort of setup issue with the metrics server.

[2019-02-25 23:13] #1088 closed

[2019-02-25 23:17] soamvasani commented on #1089
@CamelCaseNotation please reopen if this is not solved by @bhavin192 's comment

[2019-02-25 23:17] #1089 closed

[2019-02-26 10:02] vishal-biyani commented on #766
I tested this with istio-1.0.6 again and things worked like normal. Closing this issue.

[2019-02-26 10:02] #766 closed

[2019-02-26 23:47] grounded042 opened #1108 "Multiple pods behind function service when using Istio"
When using Fission with Istio and a pool manager for my function I've run into a problem. When the executor gets a call from the router to find where a service lives it first looks in the service cache. If the cache doesn't satisfy the needs, the executor creates a service for the function which for Istio will delete any pods currently labeled for the function. Since the function has been run befo

[2019-02-27 16:52] vishal-biyani commented on #625
Closing as a duplicate of #1053

[2019-02-27 16:52] #625 closed

[2019-02-27 17:05] vishal-biyani commented on #1104
Set version of env to 3 if poolsize is specified by user

[2019-02-28 10:05] darkgerm opened #1109 "Fission CLI infinitely fork"
To reproduce:
[code]
It will infinitely fork `fission-1.0.0 --plugin`.
The way to clean it up without reboot: delete or rename fission-1.0.0. (kill may not work for fork bomb)

[2019-02-28 14:53] grounded042 commented on #55
@soamvasani is this still something you'd like to see done? If we're still wanting logrus I'm willing to go around and clean up things to use logrus.

[2019-02-28 17:25] soamvasani commented on #55
Yes, it would be *great* to have structured logs!  In the meantime [uber/zap](https://github.com/uber-go/zap) has emerged as a good structured logging option too -- it claims to be faster and may be worth switching to before writing a lot of logrus-specific calls.

[2019-02-28 20:34] grounded042 commented on #55
I'm somewhat familiar with zap as I've used it before. I'll go ahead and start working on getting zap set up and replacing logrus. Feel free to assign this issue to me.

[2019-02-28 22:07] soamvasani commented on #55
Awesome, thanks for working on this!

[2019-03-01 05:20] life1347 commented on #1108
Thanks for providing the details, I will take a look!

[2019-03-01 05:57] gameiro commented on #950
Hi @vishal-biyani  what is the status of this issue ?
I reported the problem in slack and we are still having a lot of problems with this error , our message queue trigger is failing and the functions are not triggering.  Is there a workarround for this problem ?

The only thing the helps when this ping error appears is to restart the mqt trigger pod, is it possible to add some health check comman

[2019-03-01 17:18] vishal-biyani commented on #950
Hi, @gameiro Thanks for the details, we will try to get this fixed in 1.1 or 1.2

[2019-03-05 07:26] freeqaz commented on #759
Ran those steps and the `helm install` step works correctly now. When I add the example fortunewhale steps, I am sitting getting an error. Logs from the router look like this.

[code]

For the install steps, it looks like this:
[code]

Tried restarting minikube again and still get the `fission function error: []` issue. Not sure what's up.
[code]

[2019-03-05 17:57] vishal-biyani opened #1113 "Github Actions"
Explore usage of Github actions for CI/CD workflow of Fission functions

[2019-03-06 12:04] #1096 closed

[2019-03-06 20:38] freeqaz opened #1114 "Fission 1.0.0 client doesn't work with Fission Service <1.0.0"
# Summary
Fission client versions are not pinned to server versions in any way. This produces strange edge cases where many issues arise, often subtly. From the investigation done for `fission-workflows` [here](https://github.com/fission/fission-workflows/issues/249), this can make it difficult to diagnose the problem.

## Core Issue
Fission 1.0.0 client doesn't work with Fission Service <1.0.0

#

[2019-03-07 18:22] danielrs commented on #198
We have a custom-built microservice-based solution that follows a similar philosophy to fission (environments, and functions/handlers) but we use RabbitMQ instead of NATS. How hard is this to implement? I would be willing to work on this.

[2019-03-07 18:46] soamvasani commented on #198
@danielrs it's pretty easy to add a new trigger!  You would add it to the [mqtrigger service](https://github.com/fission/fission/tree/master/mqtrigger).  You have to implement an interface that does subscribe, unsubscribe and message handling.  Here's the diff that added Kafka support: https://github.com/fission/fission/pull/831/files

If you end up working on this, we'll be happy to help with any

[2019-03-11 15:24] life1347 opened #1117 "Replace listwatcher with clientset list/watch"
Just came across this issue https://github.com/kubernetes/kubernetes/pull/34824 that indicates the function `NewListWatchFromClient` was deprecated. We should also remove the function calls as well from the entire codebase.

[2019-03-13 13:18] delfer opened #1119 "Add generic environment for binaries which run on TCP"
Hello!
Some frameworks (like quarkus.io) builds standalone binaries with just listen on TCP port for queries.
I propose to create generic environment for binaries which run on TCP.
Simplified algorithm propose:
Proxy server:
1) gets function name from request
2) if binary not started - start in on free port (for quarkus.io: `./example-runner -Dquarkus.http.port=1234`)
3) if binary started (port as

[2019-03-13 15:54] soamvasani commented on #1119
We do have a [binary environment](https://github.com/fission/fission/tree/master/environments/binary) for binaries that are invoked on HTTP requests.

Supporting TCP is not impossible, but Fission's router is designed around HTTP, so supporting TCP would need a different router, a different function interface, etc.

[2019-03-14 15:46] grounded042 commented on #55
@soamvasani with the PR merge this issue should be done!

[2019-03-14 17:26] soamvasani commented on #55
Thanks again for taking on this work, @grounded042! And thanks @vishal-biyani for the all the testing effort and merging.

[2019-03-14 17:26] #55 closed

[2019-03-15 21:12] mattroark opened #1122 "[Feature Request] Expose Secrets and Configmaps as Environment Variables"
Presently, secrets and configmaps are exposed via file mounts [1].

K8s supports exposing these as environment variables as well though [2][3]. It would be convenient to be able to directly utilize the environment variables vs reading from a file, the latter of which requires many more lines of code.

[1] https://docs.fission.io/usage/access-secret-cfgmap-in-function/
[2] https://kubernetes.io/doc

[2019-03-17 10:09] vishal-biyani opened #1123 "PyYAML related tests failure"
Last few PR builds and builds in master are failing around the same test case which uses PyYAML.

[code]

The test scripts which have the failing test case are:
- test_obj_create_in_diff_ns.sh
- test_package_command.sh
- test_buildermgr.sh

The only plausible reason seems a new version of PyYAML (https://pypi.org/project/PyYAML/#history) and that breaks something similar to what is mentioned in [d

[2019-03-18 06:03] life1347 commented on #1123
PyYAML ship 5.1 5days ago and changed the default setting of yaml.load from
[code]
Here is the related PR: https://github.com/yaml/pyyaml/pull/256
I get this fixed in PR #1086

[2019-03-18 07:42] life1347 commented on #1123
Fixed. Close.

[2019-03-18 07:42] #1123 closed

[2019-03-18 09:40] life1347 commented on #950
Hi @gameiro
Since it's kind of annoy problem, I try to address this problem by add connection lost handle in PR https://github.com/fission/fission/pull/1125 which will restart mqtrigger automatically. I think we are able to ship this fix in milestone 1.1, which is close to the due day. For more detail, please see PR comment.

[2019-03-18 10:22] #1104 closed

[2019-03-18 18:46] soamvasani commented on #1053
Closed by #1086

[2019-03-18 18:46] #1053 closed

[2019-03-19 10:39] #1078 closed

[2019-03-19 13:13] #950 closed

[2019-03-19 16:15] #1109 closed

[2019-03-26 04:43] life1347 opened #1130 "Support go module for go env"
Looks like go module become more stable and an official way to manage dependencies in go, it seems good timing for us to adopt it in go env.

[2019-03-26 19:23] yannickstruyf opened #1131 "Fission workflows - return HTTP code failing function"
When creating a fission workflow it should be possible to return the exit code of a failing function to the end-user.

To give an example. When I create an authentication function, I want to throw 401 in case the user was not authenticated. Currently the user retrieves 500 internal server error because the workflow fails (a function retrieved HTTP status code > 200).

[2019-03-27 12:01] JannikZed opened #1132 "PayloadTooLargeError: request entity too large"
We are actively using the mqt-trigger system with fission and everything is running well (normally). Today I was manually looking around the function execution pods of fission and saw a super large amount of errors like this:
[code]

And that's really all the information I have.. I just upgraded fission to the newset version 1.1.0 but the problem still exists. We are already having a big amount of

[2019-03-28 23:08] carlskii opened #1133 "Fatal error: Error getting controller pod for port-forwarding"
Hi I just installed Fission on my Ubuntu/Microk8s server. Everthing seems to have worked so far, however when I try to add the NodeJS env using this:

`fission env create --name fission --image fission/node-env:1.1.0`

I'm getting a fatal error:

`Fatal error: Error getting controller pod for port-forwarding`

Here's how my cluster looks:

[code]

[code]
[code]

Any guidance would be much apprecia

[2019-03-29 06:41] life1347 commented on #1133
Hi @carlskii , would you mind to try following commands and share the output?
[code]

[2019-03-29 06:54] life1347 commented on #1132
Hi @JannikZed , sorry for the late reply. It's the first time for me to see such error log. I'm not very familiar with Node, but looks like it may be able to solve by adding express (https://stackoverflow.com/questions/19917401/error-request-entity-too-large).  As a workaround you need to modify the server.js ([here](https://github.com/fission/fission/tree/master/environments/nodejs)) and rebuild

[2019-03-29 06:55] life1347 commented on #1131
@erwinvaneyk any idea?

[2019-03-29 07:24] carlskii commented on #1133
Sure here you go:

[code]
[code]

[2019-03-29 07:44] life1347 commented on #1133
Just wondering what's the value of environment variable `KUBECONFIG`?
CLI tries to get value from env `KUBECONFIG`, if not set then it will try to find under ~/.kube/config
[code]

[2019-03-29 08:17] carlskii commented on #1133
Here you go.
[code]
[code]

[2019-03-29 08:20] carlskii commented on #1133
Interestingly, I didn't actually have  `~/.kube/config` I needed to create it using:

`kubectl config view > kubeconfig`

[2019-03-29 08:25] life1347 commented on #1133
Does it work if you create it in `~/.kube/config` and set env `KUBECONFIG` to `~/.kube/config`?
If still not works, maybe I need to spend some time to test with Microk8s(looks interesting). Will update this thread if there is any progress!

[2019-03-29 08:27] carlskii commented on #1133
OK - I fixed it. I needed to use `microk8s.config > ~/.kube/config` to create the config file. This thread discusses it https://github.com/ubuntu/microk8s/issues/56

Thanks very much for your assistance, you got me on the right track.

[2019-03-29 08:27] #1133 closed

[2019-03-29 08:30] life1347 commented on #1133
My pleasure :) I will update the doc for microk8s installation.

[2019-03-29 08:48] carlskii opened #1135 "Error calling function hello"
Hi, Sorry for another issue.

Followed the steps in the tutorial for creating a nodejs function. However I'm getting a 500 error. I also get the same if I try the golang function.

[code]

[code]

[code]

[2019-03-29 09:36] erwinvaneyk commented on #1131
This is currently not supported. We need to add the status code to the error object in the workflow invocation and propagate it up to the workflow runtime.

[2019-03-29 15:30] carlskii commented on #1135
Fixed this - rebuilt my environment and it works now.

[2019-03-29 15:30] #1135 closed

[2019-03-30 14:49] carlskii opened #1138 "Python and GoLang examples not working"
Hi,

I created the node.js example function and this is working in my envronment. Howerver the Python and GoLang examples just seem to hang when I use the `fission function test` command.

Here's my environments:

[code]
And here's my functions:

`$ fission function get --name hellop`
[code]
`$ fission function get --name hellogo`
[code]
When I test the functions using `fission function test --nam

[2019-03-30 16:27] carlskii commented on #1138
Hi, I just followed the tutorial for the Fission Workflow example. I get the same behaviour with the functions for binary environment. i.e. I can create them OK, but they never return anything when called. It's only NodeJS functions that work for me.

[2019-03-30 16:28] carlskii commented on #1138
Hi, I just followed the tutorial (https://docs.fission.io/workflows/) for the Fission Workflow example. I get the same behaviour with the functions for binary environment. i.e. I can create them OK, but they never return anything when called. It's only NodeJS functions that work for me.

[2019-03-30 20:30] JannikZed commented on #1132
Hi there,
I tried it out and it seems to work. Do you want it included in the main repo? I can create a pull request, or is there any possible problem with a higher body-size? I don't know, why we are the first to run into this issue actually.
Here is my updated docker version: https://cloud.docker.com/u/jannikz/repository/docker/jannikz/fission-limit-test

[2019-04-01 07:46] life1347 commented on #821
Solved by #1126

[2019-04-01 07:46] #821 closed

[2019-04-01 07:52] life1347 commented on #1138
Hi @carlskii ,
Would you mind checking whether function pods are in RUNNING state?
[code]
And it would be very helpful to attach log dump by running
[code]

[2019-04-01 08:18] life1347 commented on #1132
Hey @JannikZed good to hear it works now. Do you know how large the request body is?

In your case, the component through the call path may be affected (router, mqtrigger and NATS-streaming) and consume more memory cause they have to hold request content till the end of the call.

It's a good idea to open a PR! At that we may able to do some extra tests to see the impact  of the changes for Node (

[2019-04-01 10:50] pengsrc opened #1139 "Install failed with Pod Security Policy enabled"
Hi, can't install on my Pod Security Policy enabled Kubernetes cluster using `helm`. Is there any plans to support Pod Security Policy?

[code]

[code]

[2019-04-01 16:41] carlskii commented on #1138
Sure here you go:

[code]

[2019-04-01 16:42] carlskii commented on #1138
Here's the dump.

[fission-dump_1554136824.zip](https://github.com/fission/fission/files/3030475/fission-dump_1554136824.zip)

[2019-04-02 14:17] TimJones opened #1140 "No fission/php-builder image"
I see there is a Dockerfile for php builder in `environments/php7/builder` for fission 1.1.0, but the image isn't built or pushed to Dockerhub...

[code]

[2019-04-02 14:22] TimJones opened #1141 "fission cli only lists environments in the default namespace"
I need to create various environments separated by namespaces.

I created them using the `fission env create --spec` to commit them to source control, then `fission spec apply` to apply them. It works, but `fission env list` seems to ignore them.

[code]

[2019-04-02 14:26] TimJones commented on #1141
Sorry, it took me a while but I saw the `list` command also requires the `--envns` parameter to be used.

[2019-04-02 14:26] #1141 closed

[2019-04-02 14:47] TimJones opened #1142 "package-getter ClusterRole not applied to fission-fetcher ServiceAccount"
I have discovered that when creating a timer trigger, with my package, the poolmgr pods are created with the `fission-fetcher` ServiceAccount but cannot get the package throwing the following errors.
[code]
I confirmed the package exists
[code]
but I noticed that the RoleBinding was for another ServiceAccount
[code]
When I manually edited the RoleBinding to also bind the `fission-fetcher` ServiceA

[2019-04-02 16:12] vishal-biyani commented on #1140
Hi @TimJones Thanks for filing this, the php builder was added in 1.1 (https://github.com/fission/fission/pull/1110) and the release script has not accounted for the addition of it. We will prioritize this for 1.2 so we will have a builder image in 1.2

[2019-04-02 16:42] TimJones commented on #1142
Also, in trying to add configuration to the function, I found the `secret-configmap-getter` is also not being bound to the service account, so the fetcher cannot get secrets or configmaps.

[2019-04-02 18:05] vishal-biyani opened #1143 "With Istio mqtrigger-nats-streaming pod fails"
When Istio is installed and enabled in Fission, the mqtrigger-nats-streaming does not start, logs below:
[code]

[2019-04-02 18:27] vishal-biyani opened #1144 "Fission upgrade with Istio fails"
If you have a cluster with no Istio enabled and then you upgrade with `enableIstio` - then upgrade fails. Also a fresh install with Fission and Istio enabled fails to upgrade. The Helm upgrade waits on the job to complete as seen from Tiller logs and status of the job:

[code]

[code]

Now if you look at job logs:

[code]

But if we look at relevant code, the job returns right after above statemen

[2019-04-02 18:36] vishal-biyani commented on #1144
Quick update, I tried adding inject = false annotation on pre-upgrade job and it did not help AFAIT:

[code]

& still:

[code]

[2019-04-03 01:51] carlskii commented on #1138
Hi - any thoughts or updates on this. I’m really keen to this working.

[2019-04-03 03:04] life1347 commented on #1138
Sorry for slow response. After checking executor logs, I noticed that executor keeps trying to choose pod from the pool but failed due to no ready pods exist.
[code]
But from the log above all go env pods are in the ready state which make me confused. Could you check pod status in `fission-function` namespace and try to run `test` again to see whether it works?

[2019-04-03 03:12] life1347 commented on #1142
Hi @TimJones what k8s version you tested with? In 1.1 we shipped a change for [RBAC API version update](https://github.com/fission/fission/commit/c496d35d12e4e9e954bb2e48193dc5cc7474045d), not sure if it's the compatibility problem for this issue.

[2019-04-03 03:17] life1347 commented on #1139
Hi @pengsrc what k8s/fission version you tested with?

[2019-04-03 04:09] pengsrc commented on #1139
I was using Kubernetes v1.13.5 and Fission v1.1.0.

The Pod Security Policy in my cluster is below:

[code]

I suppose that the fission helm chart should include some pod security policy definitions for psp enabled cluster?

[2019-04-03 04:32] life1347 commented on #1139
I haven't tried with psp enabled cluster in fact. But it makes sense to me to include necessary psp definitions in helm charts.

[2019-04-03 05:31] purplemana opened #1146 "Is it possible to define middleware functions for router?"
# This is a feature question, not a bug report.
With http triggers, is it possible to define a series of middleware functions to be executed? This is to make DRY authentication and authorization (and other context building functionality) a possibility.

Workflows look to be a way, but would require creating the entire middleware chain in every function spec. It'd be great if fission provides some

[2019-04-03 05:34] vishal-biyani commented on #1146
Hi @purplemana - ATM we don't have support for trigger middleware. For authentication and authorization - would an Ingress controller not satisfy your needs (Curious). And it would be best to ask queries on Slack: http://slack.fission.io. I will close the bug here and we can chat on Slack.

[2019-04-03 05:34] #1146 closed

[2019-04-03 08:42] TimJones commented on #1142
Hi @life1347 I'm running kubernetes `1.11.6` so RBAC API versioning isn't an issue.

[2019-04-03 09:50] viveksinghggits opened #1147 "applying fission spec should warn if the config maps that are referenced in spec, are not present"
In current scenario if we apply spec, to lets say create a function, and that spec is referencing some config maps that are not present in the cluster. We should have a warning that referenced config maps are not present like we get if the fission environment that is being referenced is not present.

In current implementation it becomes tedious to debug because even the POD for that function doesn

[2019-04-03 11:54] JannikZed opened #1148 "Failed to list *v1.Package: invalid character '\x00' in string literal"
The fission executor suddenly writes the following error (once per second):
[code]
I was already trying to remove all functions and environments and try to create them all from scratch. Furthermore, I deleted all controll and exectution pods to let them get newly created, again. Creating a new environment is working. When trying to apply a function spec with environment and package I get the follo

[2019-04-03 11:58] JannikZed commented on #1132
seems like NATS got a maximum size of 1mb: https://nats.io/documentation/faq/#msgsize
So I will create a pull request with the max body-size to be also 1mb - this is already a lot bigger than the standard body-size.
The docker-image should be accessible via `docker pull jannikz/fission-limit-test` - it's public.

[2019-04-03 13:12] life1347 commented on #1148
@JannikZed Thanks for the report! We definitely a better way to handle such errors.

As a workaround, you can use
[code]
If it still not works for you, try
[code]

[2019-04-03 13:36] JannikZed commented on #1148
which one is the package that makes the issues? I can't find it out ..
[code]
I'm getting this error already when using the kubectl

[2019-04-03 13:56] JannikZed commented on #1148
ok, by manually deleting pkg by pkg I found the one, that made the problems. I still don't know why ..
It's working now again.

[2019-04-03 14:08] life1347 commented on #1148
I met the same problem when implementing `fission support` (see [here](https://github.com/fission/fission/blob/913888a29d4d5ef8164649b148d50535cbad1255/fission/support/resources/resource.go#L47-L51)), but it first time for me see this problem in executor. For unknown reason, sometimes the return objects from kubernetes contain empty bytes in json body and break `json.Marshel`.
The solution at that

[2019-04-03 17:56] carlskii commented on #1138
Thanks for this. So tested again and I'm seeing these errors now:

[code]

[2019-04-04 18:39] carlskii commented on #1138
So I think I've made some progress regarding my GoLang functions. If I use this code:

[code]
Then

[code]

However if try it with the sample/demo function the function gets created however nothing is returned when I `get` the function. e.g.

[code]

Then:

[code]

[2019-04-05 13:08] JannikZed commented on #1148
For me it happened for only one specific package - that means, kubernetes always returned empty bytes for this certain package? Really strange ..
I don't have any other suggestion on how to fix this issue for others. This github issue itself will help googling it ;)

[2019-04-05 13:12] JannikZed opened #1151 "error specializing/fetching/uploading package, retrying"
Our fission executor is somehow "getting crazy":
[code]

Producing more than 100 running and deleting pods. The functions don't seem to really "run", but it will just spin up function pods and deleting them after a while. Furthermore, the executor is producing a vast amount of logs.

The router is writing messages like:
[code]

Any ideas/recommendations? We are using nodejs functions triggered by

[2019-04-05 16:12] life1347 commented on #1151
It may happen when a function is unable to start successfully.
You may find some clue in function pod log (in deleting state)
[code]
For most cases, it happens when function pod cannot load/fetch package correctly.

To prevent this, you can
1. Use the older version of the function (if exists)
2. Remove the mqtrigger to prevent the executor keeps selecting/deleting pods.
3. Create a new function wi

[2019-04-05 16:28] life1347 commented on #1138
The `--entrypoint` in Go is the function name of yours.
So your function name should be `Handler ` in stead of `main`

[2019-04-05 17:17] life1347 commented on #50
Solved by #975

[2019-04-05 17:17] #50 closed

[2019-04-05 19:07] Akuan1994 commented on #774
hi~ what the solution of this question? "Fatal error: Error getting controller pod for port-forwarding"

[2019-04-05 19:09] Akuan1994 commented on #567
hi~ what's the solution of this question? I have the same problem~ :-(
"Fatal error: Error getting controller pod for port-forwarding"

[2019-04-06 10:49] JannikZed commented on #1151
thank you! I'm right now taking a look into it. We are creating our functions with specs and when the spec apply command succeeds, we think things work out still .. it took us some time to realize, that no data is coming out of our pipeline in the end.
The fetcher container of a function pod is telling me the following:
[code]
what indicates this error? I'm trying to find the problem with one of o

[2019-04-07 14:06] swap357 commented on #1024
### cleanup.sh

[2019-04-08 20:45] GIG0i opened #1153 "request full url path in function context"
It would be very useful if from within the function we could retrieve the request full url path so that a single function, with a single deployment, can be used for multiple routes. This would still require some logic on the application side to map url paths to specific entry points/controllers.

Currently, for example using the Python environment (which comes pre-loaded with Flask), I haven't fou

[2019-04-09 13:39] davidsmf opened #1155 "Setting affinity/tolerations on fission core deployments"
There's already issues (#604, #644) for adding affinity and tolerations on the functions.
However, we'd be interested in all of the core-functionality from fission having affinity support. That way we can run it on a node without so much load.

Would people want it to be configured once for all of the deployments, or separately for each so you could have separate tolerations or affinity for the ex

[2019-04-09 19:44] life1347 commented on #1148
@JannikZed do you know the kubernetes version?

[2019-04-10 11:20] JannikZed commented on #1148
sure:
[code]

[2019-04-10 12:16] msshroff opened #1157 "Need a way to change Kafka Connection details"
We are using fission-all helm chart to install the fission.
We download fission-all chart, edit values.yaml in it and put below details pointing to our kafka installation:

`## Kafka: enable and configure the details`
`kafka:`
`  enabled: true`
`  brokers: '10.236.196.20:9092'`

Now post fission installation, we want to start using a new Kafka installation.
What is the best way to change this conn

[2019-04-10 16:54] davidsmf opened #1158 "Wildcard paths don't work with ingress"
If you use a wildcard path like "/foo/{action}", then when used by the router, "/foo/bar" will route to the function with the "X-fission-param-action: bar" header. However the ingress uses the URL "/foo/{action}", so you cannot use "/foo/bar" via the ingress.

[2019-04-11 15:08] hd40910 opened #1159 "Fission fn create does not validate if provded configmap and secrets exists"
While creating a fission function if we pass a config map or a secret , it should validate if those are present.
The function gets created and when the function is called it only return internal server error 500 or 504.

API Response:

![image](https://user-images.githubusercontent.com/17830882/55968706-2a8b4500-5c9a-11e9-8353-cfce12bf27cc.png)

Logs :

, ResourceVersion:"33815", FieldPath:""}): t

[2019-04-11 15:09] hd40910 commented on #1159
Please note : The same applies when we use fission spec apply command

[2019-04-11 15:16] hd40910 opened #1160 "Fission fn create does not validate the provided functionName"
While creating a fission function if we can pass a invalid function name as given below.
This should not be allowed. The spec gets applied without any issue and then the issue gets logged only in the var logs.

Invalid function name : some-name (Here - is not allowed) but there is no error

The function gets created and when the function is called it only return internal server error 500 or 504.

[2019-04-11 15:16] hd40910 commented on #1160
Please Note : The same issue occurs when used via spec

[2019-04-11 15:40] soamvasani commented on #1148
Is there some fission bug while writing the package, or validation that we need to add?  Do we even know which field of the CRD has the invalid char?

[2019-04-11 15:51] hd40910 opened #1161 "Fission spec apply does not refresh the configmap and secret"
If we create a configmap or secret and pass it to the fission function spec and apply it.
After this we change the configmap or secret, the new changes should be available in  the function.
It does not become available even after we reapply the spec.

The only way to get the new cm or secret is to first delete the resource and then recreate the function.

Spec file :

![image](https://user-images.

[2019-04-12 08:07] viveksinghggits commented on #1161
The changed values do get updated but they take some time, can you try testing the function after some time, when you change the config map. I think you dont even need to apply the spec after changing the config map.

[2019-04-12 08:12] hd40910 commented on #1159
Duplicate to #1147

[2019-04-12 08:12] #1159 closed

[2019-04-12 13:30] rakeshbshukla opened #1162 "Support for Kafka Triggers with SASL enabled kafka cluster"
Does fission provide support for creating kafka triggers for SASL enabled kafka cluster.
Is there a way to configure the kafka triggers [MQT's] for authentication using SASL for kafka cluster.
Will fission MQ trigger be able to subscribe a secured kafka cluster using SASL auth enabled.

[2019-04-15 16:50] life1347 commented on #1161
Hi @hd40910
The way for a function to access secrets/configmaps is different from the kubernetes built-in mechanism.

Unlike kubernetes mounts a volume to the pod, the fetcher inside function pod fetches secrets/configmaps during the [specialization](https://github.com/fission/fission/blob/8015ab9a1e255a6de5b0fc54e5aee35ec094b1d5/environments/fetcher/fetcher.go#L598), which means the content of se

[2019-04-15 16:55] life1347 opened #1164 "Update secret/configmaps in function pod if source changed"
It would be helpful for fetcher to check and pull changes of secrets/configmaps periodically.
#1161

[2019-04-15 16:56] #1161 closed

[2019-04-15 19:44] white-cloud commented on #1151
@JannikZed hello,
Did you figure out from where it is come that  error, because i had the same logs of executor pod , i deployed a function with an error and when i always try to call it, i see that a new pod is created for the same function even is the same pod function already  exist.

[2019-04-16 01:50] vishal-biyani commented on #1157
Hi, As with any Helm chart upgrade, the way to do this would be to change the values in the values.yaml and run a `helm upgrade --values newValueFiles` command. It is recommended to keep the values.yaml in some sort of version control so these changes can be tracked. Please let me know if this does not solve the upgrade, I will close the issue for now.

[2019-04-16 01:50] #1157 closed

[2019-04-16 13:04] soamvasani commented on #1164
We'd have to be careful not to race with user code that's reading the config or secret.

[2019-04-18 08:06] JannikZed commented on #1151
I think, it was coming from the way we created our package via spec. I'm not 100% sure but I think we fixed it by not writing this:
[code]
But more "failsafe" like this:
[code]

[2019-04-18 10:10] vishal-biyani commented on #1160
Hey @hd40910 - can you please update the description as it does not match the title. I think this is a copy paste issue.

[2019-04-22 08:42] life1347 opened #1165 "Controller stays in unhealthy if no storageclass created."
Couple users feedback that the controller could not come up due to lack of storageclass. It worth to take a look at this problem since controller doesn't require any persistent volume.

**workaround**: create storageclass base on your environment.
reference: https://kubernetes.io/docs/concepts/storage/storage-classes/

[2019-04-25 11:33] #929 closed

[2019-04-25 11:38] vishal-biyani commented on #1164
Just updating the conversation I had with Soam here - we should do something similar to PR https://github.com/fission/fission/pull/1116 which updates a function when an image in the environment changes. We can watch all secrets & configmaps which are related to a function (Do we use labels to identify configmaps related to a function?) and then update function if there is a change in configmap/sec

[2019-04-25 15:31] vishal-biyani commented on #1113
Fission GitHub action is available in marketplace [here](https://github.com/marketplace/actions/fission-action) and code is [here](https://github.com/fission/action)

[2019-04-29 18:26] ranvijayj commented on #1135
Did not work for me. Recreated the environment.

[2019-04-30 17:30] hd40910 commented on #1160
@vishal-biyani  @mehuls When we create a function ( Using CLI or spec) , the provided config maps or secrets are not validated to be available. The function then fails on api invocation.
Raised this issue to understand is some validation can be added for this , maybe an optional indicator with default as false

[2019-04-30 17:35] hd40910 commented on #1164
@mehuls #1159 is related .
@vishal-biyani  Do we have release date planned for 1.3 ?

[2019-04-30 18:13] hd40910 commented on #1160
@vishal-biyani  Upadated

[2019-04-30 18:16] hd40910 commented on #1147
@vishal-biyani  @mehuls Can we have this in 1.3 ?

[2019-04-30 18:18] hd40910 commented on #1161
@life1347  Can you please help explain "A workaround for this issue is to update with the same code/package for function" ?

We deploying all the functions in one go, the config maps gets updated once in a while.

[2019-05-01 03:24] soamvasani commented on #1153
Yeah this is a reasonable thing to add as a header, shouldn't be too difficult.

[2019-05-01 03:27] soamvasani commented on #1131
Please track it in the workflows repo if it isn't already -- https://github.com/fission/fission-workflows

[2019-05-01 03:27] #1131 closed

[2019-05-01 03:39] soamvasani commented on #1122
Hmm, this is a fairly popular request, but it's not easy to implement.  For the newdeploy executor it would be easy enough; for poolmgr, it's not easy at all, because the container is running before the function is invoked, and the environment of the container is set up when the container was created; in other words at the time the container starts, we don't know which function will run in it and

[2019-05-01 03:41] soamvasani commented on #1113
Anything still left to track here, @vishal-biyani ?

[2019-05-01 03:46] soamvasani opened #1169 "poolmgr function update behaviour on env update"
After #1116, functions using the newdeploy executor are updated after an environment change.  But functions using poolmgr do not notice the change.  This is less of a problem since poolmgr functions usually become idle at some point and get killed anyway; but depending on the use case this could take a while.

We should make the poolmgr behaviour consistent with the newdeploy behaviour and treat e

[2019-05-01 03:49] soamvasani commented on #1117
Looks like that got closed without being merged.

[2019-05-01 18:57] life1347 commented on #1161
I mean you can redeploy the function (`fission spec apply`). Once the executor detects there is a new version of the function, it will then select a new pod for specialization to serve the request. And the latest secrets/configmaps will be download during the specialization.

[2019-05-02 06:53] vishal-biyani commented on #1113
Closing this for now - and we can create a new one for any future needs.

[2019-05-02 06:53] #1113 closed

[2019-05-05 19:55] bopm commented on #1144
So contributors, it's safe to say that it's no longer possible to use Fission with Istio. Same problems appear with both upgrade or fresh install. Is it's going to be addressed, or it's simpler to say that fission is no longer usable in istio enabled envs?

[2019-05-05 23:01] soamvasani commented on #1144
@bopm Fresh installs do work, so no, it is not correct to say that.  You encounter this bug only when you try to upgrade.

And to your other question, we certainly plan to address this.

In fact, there's a work around -- you could upgrade with `--no-hooks` and helm will just skip the pre-upgrade job.  Or you could use the yaml to install and upgrade.

[2019-05-06 12:37] bopm commented on #1144
@soamvasani I'd really appreciate if it was the case. But unfortunately, it's same way as this [error](https://github.com/fission/fission/issues/1143):
[code]

[2019-05-06 13:04] vishal-biyani commented on #1144
Hi @bopm Are you actively using NATS as a MqTrigger in the setup?

[2019-05-06 13:07] bopm commented on #1144
@vishal-biyani I am just following installation instructions. It's working without istio, but not working with it. Here is commands I am using:
[code]

[2019-05-06 13:11] vishal-biyani commented on #1144
@bopm On a fresh install even with Istio, only one pod/component that should fail is `mqtrigger-nats-streaming` - which does not prevent you from using rest of Fission's functionality. If you don't plan on using NATS as an MQ then you can also disable it in values.yaml and you will be fine.

[code]
So even with Istio installed - most of Fission works without any issues. Please ping me on slack if

[2019-05-06 13:14] bopm commented on #1144
I'll try to disable it there but for now it's looking like that:
[code]

[2019-05-06 15:50] soamvasani commented on #1143
Looks like there's some discussion in https://github.com/istio/old_issues_repo/issues/338

And also: https://github.com/knative/eventing/issues/1043

[2019-05-06 18:15] bopm commented on #1144
Update: `helm install --name fission --namespace fission --set enableIstio=true,nats.enabled=false https://github.com/fission/fission/releases/download/1.2.0/fission-all-1.2.0.tgz` works for me.

[2019-05-06 18:22] soamvasani commented on #1144
Thanks for the update, @bopm!

[2019-05-06 18:23] bopm commented on #1144
I am still struggling with routing/istio on next step, but it's a little bit different story. Probably will collect all as PR for documentation update later if succeed.

[2019-05-06 18:26] bopm commented on #1144
But nope, was too fast on that one: `router-7f469fb884-9dljf                                  0/2       Pending   0          26m`

[2019-05-07 13:05] bopm commented on #1144
After some more experiments, I found out that it was all because of out of memory error. After adding some more memory to docker desktop it all works.

[2019-05-08 10:51] CanerPatir opened #1174 "Dotnet arguments example fails"
syntax error on https://github.com/fission/fission/blob/master/examples/dotnet/arguments.cs

[2019-05-08 10:53] vishal-biyani commented on #1174
Hi, @CanerPatir Thanks - can you please paste the error?

[2019-05-08 10:59] CanerPatir commented on #1174
Fatal error: Failed to execute HTTP request: Get http://127.0.0.1:52850/fission-function/hello2: context deadline exceeded

[2019-05-09 00:07] mattroark opened #1176 "Configmap mount directory was changed which breaks functions"
The configmap mount directory was changed in 1.2.0 which will break any functions that rely on the old path. Instead of `/configs`, it is now `/configmaps`.

[code]

[2019-05-09 01:27] soamvasani commented on #1176
Thanks for filing this @mattroark .

I've marked 1.2 as a pre-release with a note about this bug, @vishal-biyani let's do a 1.2.1 with just the fix for this since this is pretty critical.

Also, looks like test_secret_cfgmap is passing when it should be broken :confused:

[2019-05-09 06:03] vishal-biyani commented on #1176
Sorry about that - this is totally my bad. I did notice that the test was not working but I felt the `/configmap` was better than `/configs` and changed both which introduced breaking change.

[2019-05-09 15:46] #1176 closed

[2019-05-09 17:28] life1347 commented on #1165
For later reference, the root cause of this issue is that the prometheus server requires a persistent volume to store data. And controller waits for prometheus server to come up in order to pass the connectivity test during controller initialization. The problem is that readiness probe detection for the controller will always fail if prometheus server never comes up which is not desirable. So I re

[2019-05-09 17:28] #1165 closed

[2019-05-10 06:31] life1347 commented on #1174
Fix by #1175

[2019-05-10 06:31] #1174 closed

[2019-05-10 17:26] soamvasani opened #1181 "fission spec apply -- warn or error on dirty git tree"
Since fission spec apply is often used for applying specs from a git repo, it would be useful for it to warn or refuse to work (by defautl) when the git tree is dirty.

[2019-05-11 11:24] LennertMertens opened #1182 "Fission functions not autoscaling on Minikube"
When deploying functions on Minikube the functions don't scale when calling them with an increased HTTP load.

Metrics-server is enabled

Versions:
Minikube: v1.0.0
Metrics Server: v0.2.1

[code]

[code]
Anyone encountered the same issue?

[2019-05-11 12:56] life1347 commented on #1182
Hi @LennertMertens did you enable minikube addon `metrics-server`?
https://kubernetes.io/docs/tutorials/hello-minikube/#enable-addons

[2019-05-11 14:06] LennertMertens commented on #1182
@life1347 I did enable it as you see in the output

[code]

[code]

[2019-05-11 14:33] life1347 commented on #1182
`kubectl -n fission-function get hpa` still shows  `<unknown>/80%` after some time? Normally, `unknown` means either 1) metric server is not enabled 2) metric server is collecting metrics.
Since you already enabled the metric server, looks like the problem is the latter one.

[2019-05-11 14:46] LennertMertens commented on #1182
Yes it's been on for a while now, I tried several things yet but I'm still getting this:

[code]

[2019-05-11 15:02] life1347 commented on #1182
Could you share the output of `kubectl get pod -n kube-system`

[2019-05-11 15:05] life1347 commented on #1182
I guess I found out the problem
[code]
Will take a look and reply to this thread later

[2019-05-11 19:13] LennertMertens commented on #1182
The output you requested, and yes I get the same message
[code]
Thanks!

[2019-05-13 16:53] life1347 commented on #1182
Test with HPA example in [official doc](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/).
HPA shows `unkown` at first.
[code]
However, after some period, the `unknown` changes to actual CPU utilization and still keep getting `No metrics for pod` log in metrics-server.
[code]
Not very familiar how metrics-server works internally, but I think the problem is bec

[2019-05-13 16:53] #1182 closed

[2019-05-14 11:07] vishal-biyani opened #1183 "[Feature] Fission CLI check"
Inspired by Linkerd CLI, I propose we add a check command to Fission CLI which can act in two scenarios:

1) Before installing Fission into the cluster - the user should be able to do a "pre-check" and see what exists or does not in the cluster for Fission to work properly. Potentially it can also emit YAMLs and install from CLI itself

[code]

2) After Fission is installed in the cluster - a chec

[2019-05-15 08:41] life1347 opened #1184 "Improve dotnet2.0 function cold start time"
Please see https://github.com/fission/fission/pull/1001#discussion_r283108810 for more details.

[2019-05-15 16:22] solohin opened #1185 "storagesvc: invalid memory address or nil pointer dereference"
Hi guys!

I've been playing around with fission for a week, planning to release some stuff today to production. I had several functions up and running. But today I got a weird error when I tried to execute a function

[code]

Router's logs show a lot of errors
[code]

Container `fetcher` of pod `poolmgr-nodeenv-default-spmwtj2z-b9867d9d8-4jc4k` has some interesting errors
[code]

which leads to `s

[2019-05-15 17:06] solohin commented on #1185
I will close it for now and will try to figure this out

[2019-05-15 17:06] #1185 closed

[2019-05-15 18:26] vishal-biyani commented on #1185
@solohin - the storage service won't work if you are running on a cluster that can not provision volume for ex. Docker for enterprise etc. Did you find out the root cause of your issue?

[2019-05-16 09:30] silas0 commented on #906
Is there any update on this topic by any chance? Would be great to see this as a feature!

[2019-05-17 01:20] solohin commented on #1185
Hi @vishal-biyani Thanks
I will fix my issues with disk. Probably gonna spin up ceph on rook or openebs. Offtopic: how do you provide block storage on bare metal?

[2019-05-17 15:53] laurence-hudson-mindfoundry commented on #989
+1 to this idea. I have a use case around the `nginx.ingress.kubernetes.io/whitelist-source-range` annotation.

[2019-05-22 08:42] life1347 opened #1187 "Logger: fluentbit shows "bad timestamp" when trying to parsing log"
A user from slack reported an issue about "bad timestamp" when fluentbit trying to parse log entries.

![image](https://user-images.githubusercontent.com/202578/58159966-1d597100-7cb0-11e9-884e-97083ffc82c3.png)

[code]

1. kube filter is failed
   * set `tls.verify off` for `kube filter`, it works again.
   * related to https://github.com/fluent/fluent-bit/issues/843
2. docker parser parse failed

[2019-05-25 06:14] darkgerm opened #1188 "Newdeploy tests will fail if run in parallel."
When running some tests in parallel, fission will enter "bug mode"

Way to reproduce:
[code]

When it enters "bug mode", some operations related to newdeploy will fail.
For example, run the test `./test/tests/test_fn_update/test_secret_update.sh` and it will fail because:

some horizontalpodautoscaler will be out of control and remain in the namespace
-> it will cause old pods still alive.
-> the

[2019-05-25 09:26] life1347 opened #1189 "Reconstruct project structure"
To improve the development experience of contributors and make it easier for users to build their own custom tool for fission, we need to make clean separation of CLI and fission package (https://github.com/fission/fission/issues/583).

Since it's a big change to the whole code base, we break it into following checkpoints to minimize the code review effort:

- [x] follow go project folder structur

[2019-05-25 10:58] life1347 commented on #1138
Close it for now, feel free to reopen it.

[2019-05-25 10:58] #1138 closed

[2019-05-25 10:59] #1030 closed

[2019-05-25 11:09] life1347 commented on #389
Nodejs now supports package builder, please refer https://docs.fission.io/languages/nodejs/
Close it.

[2019-05-25 11:09] #389 closed

[2019-05-29 09:23] vishal-biyani opened #1191 "Tests to be executed should be dynamic"
After the change https://github.com/fission/fission/pull/1128 - the tests that will be run are statically listed: https://github.com/fission/fission/blob/master/test/test_utils.sh#L456

This needs to be dynamic like before - where if you name a test "test*" - it is picked up automatically.

[2019-05-29 09:28] vishal-biyani opened #1192 "Skaffold Image from Env variable"
Currently, the Skaffold image name is a static string which every dev will have to replace on his machine

https://github.com/fission/fission/blob/d5785393910b665bc72f2007b816467676c13218/skaffold.yaml#L21-L30

Once Skaffold has env variable available (Related issue: https://github.com/GoogleContainerTools/skaffold/issues/543) we should switch to using those

[2019-05-30 16:01] vishal-biyani commented on #1155
Closed by https://github.com/fission/fission/pull/1170

[2019-05-30 16:01] #1155 closed

[2019-06-01 22:04] life1347 commented on #476
Fixed by #1124

[2019-06-01 22:04] #476 closed

[2019-06-01 22:11] life1347 commented on #640
Solved by #1106

[2019-06-01 22:11] #640 closed

[2019-06-01 22:14] life1347 commented on #679
The stacktrace was removed from fetcher. Close.

[2019-06-01 22:14] #679 closed

[2019-06-01 22:23] life1347 commented on #765
Solved by #792

[2019-06-01 22:24] #765 closed

[2019-06-02 02:07] life1347 commented on #1132
Fixed by #1149

[2019-06-02 02:07] #1132 closed

[2019-06-02 07:16] #1041 closed

[2019-06-06 14:03] JannikZed commented on #1092
we are running into the same issue

[2019-06-11 13:32] aurelienspnll opened #1204 "Dependency error when deploying java function"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    gitcommit: 9a6f9b75ff569bf92fea394256e1f04b298d2f57
    builddate: 2019-03-25T10:45:38Z
    version: 1.1.0
server:
  fission/core:
    gitcommit: 9a6f9b75ff569bf92fea394256e1f04b298d2f57
    builddate: 2019-03-25T10:45:38Z
    version: 1.1.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"13", G

[2019-06-18 06:05] life1347 commented on #1204
Hi @aurelienspnll
I tried with the repo attached and found that there are two missing lines in HelloWorld.java
https://github.com/fission/fission/blob/5445b75af97ec67c44f257f5e0eb072e1179a984/examples/jvm/java/src/main/java/io/fission/HelloWorld.java#L6-L7
After adding these lines it works for me.

Close this issue for now, feel free to reopen it.

[2019-06-18 08:49] life1347 commented on #1204
Looks like the problem is because the java environment tries to load all classes. I tried to comment out the following lines and seems it's able to work now.
https://github.com/fission/fission/blob/5445b75af97ec67c44f257f5e0eb072e1179a984/environments/jvm/src/main/java/io/fission/Server.java#L75-L85

@vishal-biyani Do all lines above are necessary for loading and running user function? If yes, the

[2019-06-18 10:39] aurelienspnll commented on #1204
Hello @life1347,

Firstly thanks for taking the time to help me.

You solved the problem. But when I add a class that uses `spring-boot-starter-data-jpa` dependency. For example  :

[code]

## Result of poolmgr: 2 possible errors

### First :

If I use dependancy without scope :

[code]

[code]

### Second :

If I add scope "provided" :

[code]

[code]

I updated my repository to reproduce this er

[2019-06-19 10:35] life1347 commented on #1204
Related to https://github.com/fission/fission/issues/841 & Issue #842

[2019-06-25 06:55] vishal-biyani opened #1213 "New Deploy timeout should be configurable"
Currently, the newdeploy function times out if not created within 120 seconds:

https://github.com/fission/fission/blob/5ec841cf2ebb7e9d1fe6cee2ef890954d1380055/pkg/executor/newdeploy/newdeploy.go#L400

This does not work very well especially when you are mounting a volume on a function with latest podspec. This timeout should be configurable so that operations such as disk mounting can complete w

[2019-06-28 20:08] life1347 opened #1215 "Replace AlwaysSample with ProbabilitySampler in router"
It better let users to decided the fraction they want instead of all of them.
https://github.com/fission/fission/blob/5ec841cf2ebb7e9d1fe6cee2ef890954d1380055/pkg/router/router.go#L80

[code]

[2019-07-01 10:09] #1147 closed

[2019-07-01 16:08] #548 closed

[2019-07-03 03:26] #1108 closed

[2019-07-06 19:37] life1347 opened #1222 "Update nodejs environment vulnerable dependencies"
The Issue to track #1220 #1221 . The dependencies (`request-promise-native`, `underscore`) mentioned in PRs above do not ship any new releases yet. So open this issue for future tracking.

[2019-07-06 20:03] life1347 commented on #606
Solved by #1128

[2019-07-06 20:03] #606 closed

[2019-07-06 20:04] #596 closed

[2019-07-06 20:06] #537 closed

[2019-07-06 20:07] #704 closed

[2019-07-06 20:08] #641 closed

[2019-07-06 20:08] #618 closed

[2019-07-06 20:09] life1347 commented on #707
Solved by #963

[2019-07-06 20:09] #707 closed

[2019-07-06 20:16] life1347 commented on #261
The ways logger works are different now, executor no longer talks to logger anymore. Close it, feel free to reopen it if the same thing happened.

[2019-07-06 20:16] #261 closed

[2019-07-06 20:19] life1347 commented on #604
This can be done by PodSpec now. For details, see https://blog.fission.io/posts/fission_pod_specs/
Close it.

[2019-07-06 20:19] #604 closed

[2019-07-06 20:20] life1347 commented on #608
Looks like we no longer hitting the same problem, close it.

[2019-07-06 20:20] #608 closed

[2019-07-06 20:21] life1347 commented on #583
Track by #1189

[2019-07-06 20:21] #583 closed

[2019-07-06 20:21] #798 closed

[2019-07-06 20:30] life1347 commented on #774
From user [feedback](https://fissionio.slack.com/archives/C3LUX6BBP/p1559908112018800) on slack. You'll need to add cert/token to `~/.kube/config`.
Close it now, feel free to reopen it if needed.

[2019-07-06 20:30] #774 closed

[2019-07-06 20:34] #809 closed

[2019-07-08 10:34] life1347 commented on #865
Duplicate of #85 .Close.

[2019-07-08 10:34] #865 closed

[2019-07-08 10:41] life1347 commented on #85
The package`go-restful`, which is also used by kubernetes, that allows us to define RESTful API route and generate swagger.json from the code automatically. Since the controller APIs are stabilized, I put this issue into `1.5` milestone.

[2019-07-10 03:07] life1347 commented on #556
It's now resolved by add podspec to env spec file. For details, see https://blog.fission.io/posts/fission_pod_specs/.

[2019-07-10 03:07] #556 closed

[2019-07-10 06:00] #1130 closed

[2019-07-11 18:17] soamvasani opened #1228 "WASM functions"
Fission should add wasm as an environment runtime.  This will allow multiple unrelated functions to be loaded into the same container.  This will reduce cold-start times by a couple orders of magnitude.  It will also allow each function invocation to be isolated from all other function invocations (a property you don't get today because we have to run multiple invocations of the same function with

[2019-07-12 04:11] life1347 commented on #1228
Would you mind saying more about `This will allow multiple unrelated functions to be loaded into the same container.` ?
I'm a bit confused for the meaning of `functions` here, is that means 1) `multiple fission functions`
or 2) `functions write in languages that support WASM and bundle them into one fission function`?
If it's `1`, how can achieve that? with multiple specializations?
If it's `2`, h

[2019-07-12 05:23] msshroff opened #1229 "Function level timeout"
Currently we do not have any mechanism to setup timeout to limit fictions runtime in fission.
We are using ingress to route the traffic and using ingress level timeout for this.

But ingress solution allows single timeout for all the fictions.
Can there be a mechanism to set "fission environment level" or "fission function level" timeout?

**Fission/Kubernetes version**

<pre>
$ fission --version

[2019-07-12 05:32] msshroff opened #1230 "Asynchronous Function Calls"
We have a usecase where we need to run some long running code as part of the fission functions.

But we do not want client to keep hanging on the reply. We need to send HTTP-200 immediately and actually convey the output of the function to the caller asynchronously

Similar feature is available in OpenFaaS:
https://docs.openfaas.com/reference/async/

**Fission/Kubernetes version**

<pre>
$ fission

[2019-07-12 06:15] life1347 commented on #1230
Actually, you can achieve this now.

Let say you can write two functions A and B. Function A receives a request, which contains callback URL in request body, from the router then publish a message to the internal NATS-Streaming server. Create a mqtrigger with function B that subscribe to the topic and do some work, then reply result with callback URL.

I think what OpenFaaS does is to simplify the

[2019-07-12 06:23] msshroff opened #1232 "Datatype for UID in fission-deployment-config.yaml"
We are using specs for doing all the deployments on fission.
Building the specs on the CI server and then pushing the created specs on PROD for deployment.
We recreate the specs dynamically for every build, which obviously creates new UID in fission-deployment-config.yaml

With this approach when we deploy the incremental changes to PROD, it fails with duplicate resource error.

To overcome this,

[2019-07-12 06:23] life1347 opened #1233 "Newdeploy needs creation & cleanup process"
Currently, newdeploy doesn't create k8s resource in an atomic way. If any error occurred during creation then newdeploy just return and some k8s resources are left. And the same thing happened when a function deleted.

We need to have
1. a better way for atomic creation k8s resources
2. a mechanism to remove/recreate resources if necessary

[2019-07-12 06:30] life1347 opened #1234 "Status for fission resource"
Currently, only `canary-config` and `pkg` provides STATUS field for users to know what exactly happened. Due to lack of status fields for other resources, users have to check logs of fission components instead of resource status/logs which is not so friendly for people who are not that much familiar with kubernetes.

[2019-07-12 06:35] life1347 commented on #1232
I cannot guarantee the future things, but I think maybe we can provide a flag for the user to specify UID when doing `fission spec init`? @soamvasani ?

[2019-07-12 06:53] life1347 commented on #1232
@msshroff

BTW, may I ask how your workflow works?

Cause the original idea of `fission spec` is that `spec` will be stored in the version control system and users only need to push files that changed instead of recreating the whole spec. But from your use case, sounds like things are getting down in CI/CD pipeline and that's why you face this problem.

It would be great if you can share more info

[2019-07-12 07:30] life1347 opened #1235 "Make fission spec more portable"
A user feedbacks a possible use case for `fission spec` is they want to distribute spec files to clients but without containing any function source code for reasons. If we can let fission spec to pull pkg from remote URL, it would make `fission spec` more portable.

A valid example is `helm`. The helm charts pulling image from dockerhub or somewhere but not from the chart dir. If we can do similar

[2019-07-15 06:45] msshroff commented on #1232
@life1347

Below is out high level workflow

1. Fission function created by the developers, they will also create yaml for CM and Secret in corresponding directory structure
2. The CI process dynamically generate the specs for each function (and changes needed for corresponding CM, Secrets, ht, mqt etc)
3. CI Process packs created fission specs in the build process (point 2)
4. CD process takes th

[2019-07-18 07:43] life1347 opened #1242 "Add podSpec to builder"
Currently, a user is able to [add podspec to environment function pod](https://blog.fission.io/posts/fission_pod_specs/). We should also add podspec to builder pod as well.

[2019-07-23 01:27] #1164 closed

[2019-07-25 07:21] viveksinghggits commented on #1004
Hi @life1347,
can you please share why was that issue occurring, and even if the created resources were not delete, can we re-create the function.

[2019-07-25 10:50] msshroff opened #1248 "controller in CrashLoopBackOff in OpenShift environment"
Hi

We are installing Fission 1.2.1 on OpenShift 3.9
Controller is not coming failing on readiness probe with below error:

<pre>
Readiness probe failed: Get http://172.17.0.20:8888/healthz: dial tcp 172.17.0.20:8888: getsockopt: connection refused
</pre>

Using below to install
<pre>
# helm install --name fission --namespace fission --set serviceType=NodePort,routerServiceType=NodePort  ./fission

[2019-07-25 13:56] vishal-biyani commented on #1248
Hi @msshroff Can you please share the logs of the pod which are crashing?

[2019-07-25 14:08] life1347 commented on #1004
I cannot remember what caused this issue. But sometimes it's due to cluster has no enough for the new pods to launch. You have to delete those resource manually so that executor will be able to create them again. There is an issue to track the orphaned resource cleanup process #1233

[2019-07-25 14:15] life1347 commented on #1248
The reason for `fission support dump` failed is that the controller doesn't create CRD resources yet. You need to use `kubectl -n <fission-ns> logs -f <controller-pod>` to get pod log before it crashes.

[2019-07-25 16:47] msshroff commented on #1248
Please see the pods logs below
<pre>
# oc logs controller-6c4787cd6b-6vp88 -n fission
{"level":"info","ts":1564072765.9291146,"caller":"fission-bundle/main.go:106","msg":"skipping trace exporter registration"}
goroutine 6 [running]:
runtime/debug.Stack(0xc0000a6008, 0xc0004f77b8, 0x1)
        /usr/local/go/src/runtime/debug/stack.go:24 +0xa7
runtime/debug.PrintStack()
        /usr/local/go/src/run

[2019-07-26 02:48] life1347 commented on #1248
I guess this problem may be related to this PR https://github.com/fission/fission/commit/56fa8fe7665a50d3148126b4ea98abd168e481c3
Could you try to test against with 1.3.0?

[2019-07-26 03:38] vishal-biyani commented on #1248
@ta-ching Mehul is testing this on 1.2.1 version

[2019-07-26 03:40] life1347 commented on #1248
@vishal-biyani I know. But the issue I mentioned got fixed in 1.3.0.

[2019-07-26 05:27] vishal-biyani commented on #1248
Oh ok, sorry I did not see the change you mentioned earlier. Thanks for pointers - I will try 1.3 with the OpenShift

[2019-07-26 06:25] msshroff commented on #1248
Thanks @life1347 !
It worked with 1.3

[2019-07-26 06:26] life1347 commented on #1248
Glad it works now :) Close.

[2019-07-26 06:26] #1248 closed

[2019-07-26 09:36] davidsmf opened #1251 "Spec API version changed...."
In latest HEAD, in https://github.com/fission/fission/blob/master/pkg/fission-cli/spec.go#L47

[code]

I think this should still be
[code]

The CRDs are all still using the `fission.io` names.

[2019-07-26 10:38] davidsmf commented on #1251
Also in `pkg/crd/crd_test.go`, all the `APIVersion` values have also been replaced.

[2019-07-26 11:37] UmamaheshMaxwell opened #1252 "Get error response after switching function executor type from poolmanager to newdeploy"
**_Fission version_**
client:
  fission/core:
    gitcommit: cb8605cf60f5b6c7014ba45b68f055a57ed0e150
    builddate: "2019-06-03T10:28:00Z"
    version: 1.3.0
server:
  fission/core:
    gitcommit: cb8605cf60f5b6c7014ba45b68f055a57ed0e150
    builddate: "2019-06-03T10:28:00Z"
    version: 1.3.0

**Kubectl version**

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommi

[2019-07-26 17:20] life1347 commented on #1251
@davidsmf thanks a lot for point this out. I definitely need to check the codebase again after the PR of moving them to pkg directory.

[2019-07-26 17:47] life1347 commented on #1251
The thing interesting here is that it didn't break the spec command. Looks like we also need to add some extra validation for API version.

[2019-07-29 05:49] #1251 closed

[2019-07-31 06:44] vishal-biyani commented on #1252
Hi @UmamaheshMaxwell I tried to reproduce this and at least with sample code I used I was not able to reproduce this as shown below. Can you please help us a little more here? Ideally, if you can reproduce in your environment and get logs or debug together?

[code]

[2019-07-31 06:56] vishal-biyani commented on #1230
@life1347 Since this is a useful feature and enables a whole bunch of new use cases, I am in favor of making this a feature that is built-in Fission!

[2019-08-01 09:55] parauliya opened #1258 "fission chart doesn't allow empty repository tag in values.yaml"
**Fission/Kubernetes version**
<pre>
$ fission --version
client:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
server:
  fission/core:
    gitcommit: unknown
    builddate: unknown
    version: unknown

$ kubectl version
{{{
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.1", GitCommit:"4485c6f

[2019-08-01 14:53] #1232 closed

[2019-08-02 10:27] parauliya commented on #1229
I think we can add a new parameter in function creation cli ( --function-timeout ) in which we can pass the default time within which the function should complete its execution and return.

[2019-08-02 11:32] vadasambar commented on #1213
Let me check this issue.

[2019-08-07 11:31] Guyzeroth opened #1261 "Update GO docs/getting started to use go-env-1.12"
[code]

Following the GO docs for using fission spec init , etc . Using the env + builder images

` fission environment create --name go --image fission/go-env --builder fission/go-builder`

This lead to  `go mod init\ngo: unknown subcommand \"mod\"\nRun 'go help' for usage.\n` error messages when doing `fission spec apply `

Fixed by updating env to use the undocumented go 1.12 images

`fission e

[2019-08-07 21:54] mstrYoda commented on #1092
I have faced with the same issue

[2019-08-07 22:09] mstrYoda opened #1262 "Error when run fission fn update"
I am trying the given go example. When I execute the following command :

fission fn update --name hello-go --code hello.go

it gives me the error below:

package 'hello-go-pkg' updated
Fatal error: Failed to update function: Invalid fission Function object: * ExecutionStrategy.ExecutorType: Unsupported type: : [not a valid executor type]

After when I run :

fission spec apply --wait

output is :

[2019-08-08 05:42] vadasambar commented on #1262
Thanks for raising an issue! Let me check :)

[2019-08-08 06:29] vadasambar commented on #1262
I can reproduce this issue. I ran into a related issue #1092 while trying to reproduce this issue.

[2019-08-08 07:23] vadasambar commented on #1262
This issue seems to occur because ExecutorType is empty ("").

Output for my function's yaml

[code]
@mstrYoda, please check the output for
[code]

[2019-08-08 07:43] mstrYoda commented on #1262
I'll check it out as soon as I become available

[2019-08-08 16:44] parauliya commented on #1160
Hi All,
This issue occurred in python environment but in almost every language and environment the function naming rules are the same. For e.g. Function names should have alphanumeric characters and '_' as a special character only. Therefore we should have a generic check for validation of function name irrespective of the environment. And in case function name is not valid, an error should be ret

[2019-08-09 09:39] spiogit opened #1264 "Error 502 bad gateway on microk8s"
**Fission/Kubernetes version**

$ fission --version
client:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
server:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"15", Git

[2019-08-09 16:25] ewrogers commented on #1264
I'm getting this issue too, but only on some packages. I can't quite figure out why my existing Hello World examples work but this nodejs-builder one does not.

[2019-08-11 08:59] life1347 commented on #1262
@mstrYoda What fission version you tested against with?
I tested with latest release 1.4.1 with following steps and get non-empty ExecutorType.
[code]
A workaround is to assign executor type explicitly
[code]

[2019-08-11 09:04] life1347 commented on #1264
@spiogit  From router log in the dump file attached
[code]
It shows
[code]

It related to DNS lookup problem, you have to check whether in-cluster NDS works correctly.
@ewrogers I'm not sure if you are experiencing the same problem, but it worth to take a look.

[2019-08-11 09:06] life1347 commented on #1261
Yes, thank you for bringing this up. I will update the go env doc.

[2019-08-11 09:06] #1261 closed

[2019-08-12 15:30] ewrogers commented on #1264
What's interesting is that I don't get this issue when using the standard `nodejs` env (no builder). I can run the `hello.js` example no problem.

But trying to create a similar example using the node-builder instead I get the 502 errors. So I don't think it's the DNS issue or I'd expect both of them to fail similarly.

The router log for **hello** invocation, followed by a similar test with the *

[2019-08-12 18:08] soamvasani commented on #1160
I think it makes sense to add this, yeah.

The only potential problem is that existing users might have specs that worked before but don't work after we add validation.  But  maybe this is only a theoretical concern, because I can't think of any examples where a name that doesn't validate would actually work.

[2019-08-13 05:05] cocoifly10 opened #1268 "cmd "fission fn test --name somefunc" return 502 after reinstall fission"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    gitcommit: 518ab3b90d6d4085e653ef36feb6b34500940823
    builddate: "2019-05-09T08:24:19Z"
    version: 1.2.1
server:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"11"

[2019-08-13 06:33] life1347 commented on #1268
@cocoifly10 What fission version you installed before reinstalling fission?

[2019-08-13 07:24] life1347 commented on #1264
@ewrogers
Just wondering does the `crypto` is a file or a package?
If it a file then you may not need a builder. If you add a builder image to an environment, you have to set the entrypoint for envrionment to load function. See https://docs.fission.io/languages/nodejs/#using-fission-nodejs-builder-image

[2019-08-13 08:32] life1347 commented on #1261
Hi @Guyzeroth I just added the doc for go module usage, please check [here](https://deploy-preview-153--docs-fission-io.netlify.com/languages/go/ ). Hope it fulfills your need.
Feel free the leave comments at PR https://github.com/fission/docs.fission.io/pull/153

[2019-08-13 08:33] #1258 closed

[2019-08-13 10:49] cocoifly10 commented on #1268
@life1347 yes, 1.2.1

[2019-08-15 02:12] life1347 commented on #1268
Hi @cocoifly10 I am not able to reproduce the problem. Would you mind following the same steps to reproduce the problem, running `fission support dump` and share the dump file for troubleshooting? Thanks

[2019-08-15 17:29] ewrogers commented on #1264
It's a package and deployed with the proper nodejs builder. I've done it the same way for other packages and they work. I have triple-checked everything I can and don't see a reason why this one doesn't work.

The entrypoint and everything are there, I've looked into the ZIP file and it's good there too. It's just a tad frustrating because I have no way to debug further as to what isn't wired up.

[2019-08-16 15:28] life1347 commented on #1264
Since it looks like a different problem than the original one, would you mind reproduce the issue and then running
[code]
then share the dump file, so that I can help you to find out the problem.

You can dump function log and component log by following commands
[code]

Also, could you also check whether its the same problem mentioned in PR #1272 ? Thanks

[2019-08-16 17:28] podoplelova opened #1274 "Update Installing Fission/Run an example docs to use go-env-1.12"
**Fission/Kubernetes version**

[code]

**Describe the bug**
Following the docs in `Installing Fission` -> [`Run an example`](https://docs.fission.io/installation/#run-an-example) leads to an error in the builder logs:

[code]

Fixed by using `fission env create --name go --image fission/go-env-1.12:1.4.1 --builder fission/go-builder-1.12:1.4.1` (same issue as #1261, different spot in the docs).

[2019-08-19 06:41] life1347 commented on #1274
@podoplelova Thanks for pointing this out. I've updated the doc and opened a PR(#1276 ) to fix this problem.

[2019-08-19 06:41] #1274 closed

[2019-08-20 02:37] life1347 opened #1277 "Ruby function shows 502"
From @mkanoor (https://github.com/fission/fission/pull/1101#issuecomment-522602312)
I am using
[code]
On a Mac with docker desktop and Kubernetes (v.1.14.3)

I download the sample code from the repo

[code]

Question: Is --src option broken for ruby?

[2019-08-20 02:42] life1347 commented on #1277
@mkanoor Could you try with following commands again?
[code]

If it still not works, please run the command as follows and share the dump file so that we can help to find out the problem.

[code]

Also on docker desktop for Mac with kubernetes 1.14.3
[code]

[2019-08-20 03:14] mkanoor commented on #1277
@life1347 Thanks for your help the problem was my build image was incorrect.
I was using this
fission env create --spec --name ruby --image fission/ruby-env --builder fission/ruby-builder-env

Once I fixed the --builder to be fission/ruby-builder

It worked

I appreciate your help

[2019-08-20 03:22] life1347 commented on #1277
It's good to hear that 👍

[2019-08-20 03:22] #1277 closed

[2019-08-20 08:44] #1153 closed

[2019-08-20 13:19] holyketzer commented on #1092
Any updates on it?

[2019-08-20 13:23] vadasambar opened #1279 "Kafka mqtrigger consumer function is not getting called"
**Fission/Kubernetes version**
Fission version: 9c63975497d83c09809e1050dd140bd7e9008417
Kubernetes version: v1.15.0

<pre>
$ fission --version (I have used 9c63975497 to build fission)
client:
  fission/core:
    gitcommit: ""
    builddate: ""
    version: ""
server:
  fission/core:
    gitcommit: unknown
    builddate: unknown
    version: unknown
$ kubectl version
Client Version: version.Info{

[2019-08-20 13:28] vadasambar opened #1280 "Consumer and producer logs are empty for kafka"
zap does not log the created consumer and producer properly. It basically shows empty object in the log.

https://github.com/fission/fission/blob/9c63975497d83c09809e1050dd140bd7e9008417/pkg/mqtrigger/messageQueue/kafka.go#L84

https://github.com/fission/fission/blob/9c63975497d83c09809e1050dd140bd7e9008417/pkg/mqtrigger/messageQueue/kafka.go#L96

[code]

Using fmt.Sprintf instead of `zap.Any` fix

[2019-08-20 13:33] vadasambar commented on #1280
I have added a sample code fix in the PR.

[2019-08-21 06:13] life1347 commented on #1279
Could you share the log of kafka message queue trigger pod? It should contain some clues.

[2019-08-21 07:12] vadasambar commented on #1279
Logs for the mqtrigger-kafka pod

[code]

Log for the kafka pod

[code]

[2019-08-21 07:49] #85 closed

[2019-08-21 07:57] #1213 closed

[2019-08-21 12:56] vadasambar commented on #1279
I tried out the tarball for an older version of fission ([1.0.0](https://github.com/fission/fission/releases/tag/1.0.0)) and it works fine with the same kafka cluster as I have above.

[2019-08-22 05:54] vadasambar commented on #1279
I tried out the last release of fission ([1.4.1](https://github.com/fission/fission/releases/tag/1.4.1)). I am facing the same issue here as well.

[2019-08-22 05:55] life1347 commented on #1279
Would you mind trying other old versions between 1.0.0 and 1.4.1? In this way, we can locate the problem more easily.

[2019-08-22 07:04] vadasambar commented on #1279
It works for 1.3.0. Does not work for 1.4.1. I could not check 1.4.0 (the release has issues with yaml file).

[2019-08-22 07:12] vishal-biyani commented on #1279
That's strange!:

From version 1.3.0:
https://github.com/fission/fission/blob/4bc5d497926e1b1874a6629b5ed05bce28579492/go.mod#L7-L10

From version 1.4.0:
https://github.com/fission/fission/blob/b9997b2eceb1515adf84d28b5985efa954402f54/go.mod#L7-L10

[2019-08-22 07:20] vadasambar commented on #1279
Thank @vishal-biyani ! I diff'ed 1.3.0 and 1.4.0. There doesn't seem to be a big change between 1.3.0 and 1.4.0 in kafka.go or messageQueue.go.

I think I am missing something silly. I will retry building with the latest commit once again and see how it goes.

[2019-08-22 07:36] life1347 commented on #1160
In #1042 , we switched the library from `imp` to `importlib` for importing user functions. And I can confirm this problem is no longer exists. Close.

Reference: https://stackoverflow.com/a/24659400

[2019-08-22 07:36] #1160 closed

[2019-08-22 12:29] vadasambar commented on #1279
Turns out the output is not being logged in the mqtrigger-kafka pod in releases after 1.3.0. This is because zap by default logs at `Info` level but the log for consumer func was changed to `Debug`. Changing it back to `Info` shows the output in mqtrigger-kafka pod.

https://github.com/fission/fission/blob/9c3195a84ea20617a88acfc5b432bdd44902e73c/pkg/mqtrigger/messageQueue/kafka.go#L208

This is c

[2019-08-22 12:49] davidsmf opened #1286 "Typo in helm value name: `extraCoreComponmentPodConfig`"
**Fission version**
1.4.1

**Describe the bug**
The helm charts use a value called: `extraCoreComponmentPodConfig`, this should be spelt: `extraCoreComponentPodConfig`

This will be confusing for users in the future.

There are three options

1. Leave the typo in place
2. Correct the typo, potentially breaking user's configurations which will silently miss extra pod configurations.
3. Support eith

[2019-08-22 15:11] life1347 commented on #1279
You can adjust the log level by setting
https://github.com/fission/fission/blob/97b9350651a685477b4e2f7d35ea18bb2280d2c9/charts/fission-all/templates/deployment.yaml#L681-L682
It's intentional to set the log level to `Debug` to prevent performance issue if we're under heavy workloads.

BTW, the log level adjustment is mentioned in the [release highlight](https://docs.fission.io/releases/1.4.1/#log

[2019-08-22 15:32] life1347 commented on #1279
Also, I think you should check function log instead of mqtriger to see if a function was invoked.

[2019-08-23 08:22] viveksinghggits commented on #919
Hi @soamvasani
Right now only router and executor components are exposing the metrics, is it possible that we can have the metrics exposed for other components (controller, mqtrigger) as well, so that if we want to get to know if fission  is up and running or not we can just scrape those metrics and take the decision.
We should track this as part of this issue or I should raise another issue for t

[2019-08-26 07:28] viveksinghggits opened #1288 "support for providing request body while calling fission function through time trigger"
We should have a way to provide a request body, the fission function will be called with, when the function is being called via `time trigger`. For example when a fission function gets called via `mq trigger` the functions get the data that was put into the kafka topic as request body, similarly we can have some data (may be maintained in configmap or can be provided in the CLI itself), that will

[2019-08-26 07:32] vishal-biyani commented on #1288
@viveksinghggits I am assuming you would want to send the same body every time the function is called with the time trigger?

[2019-08-26 08:44] viveksinghggits commented on #1288
@vishal-biyani yes, I want able to think how are we going to provide dynamic data every time thats why thought it should be called with the constant data every time that function is called.

[2019-08-27 02:50] life1347 commented on #1288
I'm wondering is there any reason for not reading the request body from configmaps and/or secrets since we are already able to do that?
1. The main goal of time trigger is to trigger a job periodically like cronjob in Linux, I think we should keep it simple.
2. The [rollout feature](https://github.com/fission/fission/pull/1224) added in 1.4 is quite useful for this case.
3. This field can only be

[2019-08-27 03:07] life1347 opened #1289 "Function CRD not found"
**Fission/Kubernetes version**

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**

GKE

**Describe the bug**

Router shows function CRD not found during CI integration test. Not sure what's the root cause of this problem. It may be a bug in test script or potential unknown issue in Fission.

[code]

* [CI build Log](https://api.travis-ci.org/v3/job/575671966/log.txt)

**To Reproduce*

[2019-08-27 06:12] #1286 closed

[2019-08-27 11:14] viveksinghggits commented on #1288
Hi @life1347
I agree, with you that `time trigger` should be responsible for calling the function periodically like cornjob and adding another will make in unnecessarily complex.
I think you can close the issue if you want to.

[2019-08-27 13:07] #1288 closed

[2019-08-28 04:13] #1279 closed

[2019-08-29 07:48] viveksinghggits commented on #1093
I am planning to work on this issue.

[2019-08-29 11:25] vadasambar opened #1293 "Add support to connect mqtriggers to TLS secured Kafka cluster"
Can we add support for MQTriggers to connect to a TLS secured Kafka cluster?

MQTrigger can use the user key-pair and broker certificate to connect to the Kafka cluster using Sarama. Sarama offers out of the box support for TLS.

[2019-08-29 11:55] vishal-biyani commented on #1293
Related: https://github.com/fission/fission/issues/1162

Hey @vadasambar - Yes I think TLS is a better option I think. Where will the key pair and certs live in a function? As a secret/configmap?

[2019-08-29 12:12] viveksinghggits commented on #1293
@vadasambar
I think we should have a way to configure the client certs, using which fission mqt will be connecting to the secured kafka cluster, at the time of fission installation. Like we manually change the kafka broker if our broker is not running at the default host (`  brokers: 'broker.kafka:9092'`) that is configured in the `values.yaml`. Eventually fission should create a secret containing

[2019-08-29 12:37] vadasambar commented on #1293
@vishal-biyani, yes. ConfigMap/Secret is what I was thinking.

[2019-08-29 12:46] vadasambar commented on #1293
@viveksinghggits , I like the idea of configuring the certificates when installing fission but if I am understanding this correctly, wouldn't that mean adding configmap/secret in the templates ?

[2019-08-30 05:28] viveksinghggits commented on #1293
@vadasambar
yes, but eventually what we can do is create a secret with the certs and provide the name of that secret in the `values.yaml`.
Providing secrets in the `values.yaml` doesnt seem to be a good idea.

[2019-08-30 07:48] life1347 commented on #1262
Close. Feel free to reopen it.

[2019-08-30 07:48] #1262 closed

[2019-08-30 07:49] life1347 commented on #1264
Close. Feel free to reopen it.

[2019-08-30 07:49] #1264 closed

[2019-08-30 07:49] life1347 commented on #1268
Close. Feel free to reopen it.

[2019-08-30 07:49] #1268 closed

[2019-08-30 07:49] life1347 commented on #1252
Close. Feel free to reopen it.

[2019-08-30 07:49] #1252 closed

[2019-08-30 07:50] #1144 closed

[2019-08-30 07:52] life1347 commented on #1234
duplicate of https://github.com/fission/fission/issues/1077

[2019-08-30 07:52] #1234 closed

[2019-08-30 07:53] #954 closed

[2019-08-30 13:09] vadasambar commented on #1293
@viveksinghggits makes sense. I will try to create a POC with this approach.

[2019-09-03 06:40] viveksinghggits opened #1299 "other components should also expose metrics, like router and executor do"
So, right now `router` and `executor` components of fission expose the metrics and we can successfully query them to get the required details that we want.
I was thinking if we can have similar metrics exposed for other components as well. So that we can query the other components to make sure all the fission components are up and working as expected.

[2019-09-03 11:59] vadasambar commented on #1293
@viveksinghggits I've tried implementing this approach in the above POC.

[2019-09-04 14:39] life1347 opened #1302 "Use ErrorHandler to handle proxy error"
User feedbacks that router prints a fair amount of logs for context canceled problem which is not so useful for debugging and add extra burden to logging service.

![Image 2019-09-03 at 7 07 04 PM](https://user-images.githubusercontent.com/202578/64264390-c7a98b80-cf63-11e9-80f0-a9308fb79e7c.png)

Also, we need some way to handle the error without leaking any internal fission information to extern

[2019-09-06 00:56] life1347 commented on #164
track by https://github.com/fission/fission/issues/989

[2019-09-06 01:00] #82 closed

[2019-09-06 01:04] life1347 commented on #26
The effort to achieve this is huge while the outcome is small. I'm going to close this one. Feel free to reopen it if we have strong use cases that users really need this feature.

[2019-09-06 01:04] #26 closed

[2019-09-06 01:11] life1347 commented on #203
Fission UI is deprecated. Close this until we have newer version.

[2019-09-06 01:11] #203 closed

[2019-09-06 01:40] life1347 commented on #1021
This now can be done with podSpec. Close it.

[2019-09-06 01:40] #1021 closed

[2019-09-06 01:50] life1347 commented on #138
This could be done by using the `SpecializationTimeout`, which is only used by newdeploy now.

[2019-09-06 01:59] life1347 commented on #441
Here are things need to be done for who tries to take this issue.
1. Download file before creating the package for security concerns.
Previously, we can put URL in the archive and fetch code when compiling or serving. This approach is not that ideal because: (a) the file(s) URL points to may be unavailable after some time. (b) the possibilities that the target file was replaced with malicious code

[2019-09-06 02:06] life1347 commented on #1092
@holyketzer I just scheduled this issue in next milestone.

[2019-09-06 02:10] life1347 commented on #1148
Close. Reopen if we have more clues.

[2019-09-06 02:10] #1148 closed

[2019-09-06 02:12] life1347 commented on #1099
Close. Feel free to reopen it.

[2019-09-06 02:12] #1099 closed

[2019-09-06 02:45] life1347 commented on #1232
@msshroff This feature has been added to 1.5 which will be shipped this weekend. And thanks for the high-level workflow that's really helpful.

[2019-09-06 03:15] #1055 closed

[2019-09-10 09:21] life1347 commented on #1215
https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/Sampling.md#what-kind-of-samplers-does-opencensus-support

[2019-09-11 01:33] life1347 opened #1306 "Executor shows "the server could not find the requested resource""
**Fission/Kubernetes version**

[code]

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**

Minikube

**Describe the bug**

[code]

**Expected result**

The executor should not print the error

[2019-09-11 02:47] #1306 closed

[2019-09-11 07:12] viveksinghggits commented on #1093
Hi @life1347
we should sort the list by timestamp by default or there should be a flag that should be provided while calling the function to get the sorted list.
cc @erwinvaneyk

[2019-09-11 09:36] aberfeldy opened #1312 "Nginx Ingress with URL parameters gives 404"
**Fission/Kubernetes version**
Fission:
<pre>
client:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
server:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
</pre>
kubectl:
<pre>
Client Version: version.Info{Major:"1", Minor:"14", GitVer

[2019-09-11 10:22] viveksinghggits commented on #1093
I was planning to sort that by `creationTimestamp` initially but `lastUpdateTime` is perfect.

[2019-09-16 01:24] life1347 commented on #1312
Thanks for providing the information. We've scheduled to fix this in the 1.6 milestone.
Duplicate of https://github.com/fission/fission/issues/1158 , so close this.

[2019-09-16 01:24] #1312 closed

[2019-09-16 06:15] life1347 commented on #1233
[code]

Found suspicious logs like `Delete xxxxx: read tcp 10.2.5.101:38960->10.3.0.1:443: read: connection reset by peer`. It means that executor failed to talk to kubernetes API server due to unknown reason. We should handle such errors properly.

[2019-09-16 06:28] #1117 closed

[2019-09-16 06:33] wphowto opened #1317 "Fission route URL param doesn't support encode string"
Implemented fission route with this format `account/{name}`.

It works with following input:

`localhost:9090/account/andrew`

It doesn't work if there's encoded url string, it doesn't fire the function, the route seems to ignore url params with encoded string.

`localhost:9090/account/simon%2Freal`

Is encoded url supported for URL params?

[2019-09-17 06:06] life1347 commented on #1317
Hi @wphowto , what version you tested with? And did you use `"` to quote the URL when creating the http trigger?

[code]

[2019-09-18 10:05] wphowto commented on #1317
Hi @life1347 , I am using fission 1.5.0, tried with what you suggest. Didn't work for me.

`fission route create --spec --method GET --url "/dummy/{url}" --function dummy`

[code]

[2019-09-18 15:02] life1347 commented on #1317
Ah, now I can reproduce the problem. Fission uses gorilla mux as underlying route parsing engine. You can add regex to the `--url` like `"/dummy/{url:.+}"` or `"/dummy/{url:.*}/{qwe}"`.

Ref:
1. https://github.com/gorilla/mux/issues/77#issuecomment-522849160
2. https://github.com/gorilla/mux/issues/132#issuecomment-154340739

[2019-09-18 15:11] life1347 commented on #1317
Looks like we can force it to match the path by setting `routeConf. useEncodedPath`.

https://github.com/gorilla/mux/blob/884b5ffcbd3a11b730f0b75f5c86ac408753c34d/mux.go#L73-L75

I will leave this issue open to track this issue. Since path matching is a really critical part of the router, I have to make sure that we won't break the compatibility of existing HTTP triggers. Before that, you can add

[2019-09-20 12:45] holyketzer opened #1322 "Issue declaring imagePullPolicy with pool manager podspec"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1
server:
  fission/core:
    gitcommit: 94b157137d45f311dba9affa1ad6ee79b56a73cb
    builddate: "2019-07-29T08:21:45Z"
    version: 1.4.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"15

[2019-09-20 20:55] knobotz opened #1323 "Ingress for route is missing host"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2019-09-09T05:27:10Z"
    GitCommit: d2d0467375d3318000ca57599c80691c8471a0a1
    Version: 1.5.0
server:
  fission/core:
    BuildDate: "2019-09-09T05:27:10Z"
    GitCommit: d2d0467375d3318000ca57599c80691c8471a0a1
    Version: 1.5.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16"

[2019-09-23 03:17] life1347 commented on #1323
As I know, the `host` in http trigger spec is not for the ingress host and it's not used now.
https://github.com/fission/fission/blob/27ec605955a4f7821c6b64d8af93f7dc4724877a/pkg/apis/fission.io/v1/types.go#L549-L552

But, yes we should be able to config ingress host through CLI or spec. And I'm working on this part right now.

[2019-09-23 07:30] holyketzer commented on #1322
Is there a workaround?

[2019-09-23 07:57] life1347 commented on #1322
From the fission side, no. But you can write a small script to alter the deployment field if you want.
I've added this issue to the 1.6 milestone, which should be shipped in early October.

[2019-09-23 08:02] life1347 commented on #1323
Sorry, you're right. After checking the source, the host filed should not be empty. I'll make this as a bug.

[2019-09-23 08:10] holyketzer commented on #1322
Thank you @life1347

[2019-09-23 13:41] wphowto commented on #1317
No problem @life1347. Thanks for updating.

[2019-09-25 14:13] life1347 commented on #1229
Solved by #1284

[2019-09-25 14:13] #1229 closed

[2019-09-26 08:54] #989 closed

[2019-09-26 08:55] #1323 closed

[2019-09-26 08:55] #1158 closed

[2019-09-26 16:49] #1046 closed

[2019-09-27 10:39] #1024 closed

[2019-09-27 14:11] GIG0i opened #1329 "Fission will not install due to "extensions/v1beta1" Deployment deprecation"
**Fission/Kubernetes version**

Fission version: 1.5.0 or 1.4.1
Kubernetes version: 1.16.0

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Minikube

**Describe the bug**
I'm having an issue installing Fission from scratch on a local Minikube fresh installation and apparently running into this issue where Fission will not install either with Helm or directly by giving the following error:

[2019-09-27 14:15] GIG0i commented on #1329
For additional context the same issue is affecting Helm itself https://github.com/helm/helm/issues/6374

[2019-09-27 15:57] life1347 opened #1330 "Move Ingress to networking.k8s.io/v1beta1 before 1.18 release"
According to this is PR (https://github.com/kubernetes/kubernetes/pull/74057), Ingress is moving to `networking.k8s.io/v1beta1`. `extensions/v1beta1` objects will be deprecated in 1.18. We should update ingress related functions and bump minimum requirement kubernetes version to 1.14 in order to make sure fission works as expected. For now, we can stick to `extensions/v1beta1` and upgrade to `netw

[2019-09-27 18:02] life1347 commented on #156
Fission now supports the binary environment and binary env builder can help to build source code into a binary file which should be a good way to support C.

[2019-09-27 18:02] #156 closed

[2019-09-27 18:04] life1347 commented on #189
Close due to aged. Feel free to reopen it.

[2019-09-27 18:04] #189 closed

[2019-09-27 18:05] #192 closed

[2019-09-27 18:06] #225 closed

[2019-09-27 18:09] life1347 commented on #588
Close due to aged. Feel free to reopen it.

[2019-09-27 18:09] #588 closed

[2019-09-27 18:11] life1347 commented on #684
Close due to aged. Feel free to reopen it.

[2019-09-27 18:11] #684 closed

[2019-09-27 18:11] #667 closed

[2019-09-27 18:12] #698 closed

[2019-09-27 18:12] #699 closed

[2019-09-27 18:17] life1347 commented on #1013
Close due to aged. Feel free to reopen it.

[2019-09-27 18:17] #1013 closed

[2019-09-27 20:35] #1092 closed

[2019-09-28 02:10] TaylorMonacelli commented on #1329
```minikube start --kubernetes-version v1.15.4``` works around this for me for now.

[2019-09-28 06:22] #1302 closed

[2019-09-29 14:16] #1329 closed

[2019-09-30 14:39] life1347 commented on #1233
Move to next time in order to have enough time to design a better solution to solve the problem. The fix should be able to achieve:
1. periodically check functions and ensure the deployment/HPA/service resources are in the right status.
2. able to handle k8S API server failure situation

[2019-09-30 16:07] viveksinghggits commented on #1093
Hi @life1347
I just implemented to get the package list sorted, are you expecting that `--status` thing as part of this change?

ps.
I was bit involved with other things thats was not able to work on this.

[2019-10-01 00:10] life1347 commented on #1093
@viveksinghggits Let's leave the `--status` thing in another PR. I will open an issue to track that. Thanks for your contribution to PR1334.

[2019-10-01 00:10] life1347 opened #1335 "Status filter for package list"
Add a new flag --status to filter pkg would be very helpful.
[code]

[2019-10-01 07:30] #1093 closed

[2019-10-01 17:10] prabhu43 opened #1337 "Not able to configure fission router to use internal loadbalancer"
While installing fission using helm chart in kubernetes cluster, K8s service for fission router is created as external loadbalancer exposing it outside

There is no way to configure the helm chart to make it the fission router to be exposed via internal loadbalancer

**Expected result**
Allow to add annotations to fission router in helm chart, so that it can use internal loadbalancer

[2019-10-01 18:06] viveksinghggits commented on #982
I am planning to take this up, do we just want to maintain the number of times a function has been called, or some other statistics.
If yes, should we maintain a field in the `FunctionSpec` struct to store the number of times that function that been called.

[2019-10-01 18:23] life1347 commented on #982
I don't think it's a good idea. The reasons as following:
1. Statistics information is not for the function itself. It's for human.
2. The number of times changes fast. It makes no sense to store such value in any place other than statistic service.

This feature has been discussed internally before. We can just query the statistics from the Prometheus. CLI sends a request to the controller, and l

[2019-10-02 06:48] #1337 closed

[2019-10-02 15:07] #1280 closed

[2019-10-03 21:16] #1322 closed

[2019-10-03 21:21] life1347 commented on #1072
Close due to inactivity. Here is [Advanced Setup Guide](https://docs.fission.io/installation/advanced-setup/) for anyone who is interesting in this topic.

[2019-10-03 21:21] #1072 closed

[2019-10-03 21:22] #767 closed

[2019-10-04 17:47] #1335 closed

[2019-10-08 17:53] life1347 commented on #1317
Looks like we need to enable `useEncodedPath` when initializing ther router, so I add a new environment variable to router deployment to enable this feature. See #1347

[2019-10-09 18:23] #1317 closed

[2019-10-10 05:24] #1293 closed

[2019-10-10 07:32] jackie-onai commented on #922
encountering this exception during installation:

[code]

[2019-10-10 14:56] life1347 commented on #922
@jackie-onai what kubernetes version you tested with?

[2019-10-11 05:40] viveksinghggits commented on #1242
Hi @life1347,
I am planning to take this up.

[2019-10-11 05:43] life1347 commented on #1242
That’s great! If you need any help feel free to ping me!

[2019-10-14 04:57] vishal-biyani opened #1354 "Kafka MQT message processing delays"
When Kafka MQT handles messages from Kafka the loop handles one message at a time and waits for the processing to finish:

https://github.com/fission/fission/blob/e42f81a7a1b65caf66e49931df6833417645c1e1/pkg/mqtrigger/messageQueue/kafka.go#L168-L171

The call to function `kafkaMsgHandler` should be asynchronous so that messages are processed faster

https://github.com/fission/fission/blob/e42f81a7

[2019-10-14 04:57] vishal-biyani commented on #1354
@viveksinghggits You want to take this up?

[2019-10-14 05:29] viveksinghggits commented on #1354
Hi @vishal-biyani ,
Yes, I will make the changes.

[2019-10-17 00:40] life1347 opened #1357 "Ability to update secret&configmap with fn update"
We should be able to update the secret&configmap through `fn update`
[code]

[2019-10-19 06:41] #1354 closed

[2019-10-20 08:18] viveksinghggits commented on #1357
Hi @life1347 ,
I have started working on this.

[2019-10-20 08:50] viveksinghggits commented on #1357
Hi @life1347
If the function is already created with n secrets and we run below command
[code]
the function should get update with one secrets <secret-name> or the should now have `n+1` secrets.

[2019-10-20 08:54] life1347 commented on #1357
I would suggest replacing the entire existing list of secrets/configmaps with new list provided by the user. And so you may need to emphasize the "replace" instead of "append" nor "merge" operation at flag usage.

[2019-10-20 08:55] viveksinghggits commented on #1357
I agree, if they want to merge new secrets it better that they remember the secrets/configmaps they created the function with.

[2019-10-20 08:58] life1347 commented on #1357
Hmm, it's related to CLI UX. Could you also update the `fission fn list` to show the list of secrets/configmaps? so that they don't need to remember all of them.

[2019-10-20 09:03] viveksinghggits commented on #1357
Hi @life1347,
I can do that, do you want me to do that as part of same PR.

[2019-10-20 09:05] life1347 commented on #1357
That would be great if we can ship them in the same PR.

[2019-10-20 09:08] viveksinghggits commented on #1357
Changing output of `fission fn list ` in such a way that it will show functions in below format
[code]

[2019-10-20 09:11] life1347 commented on #1357
yeap, let's go this way!

[2019-10-22 08:36] holyketzer commented on #1074
Is it supposed to be fixed? I Faced it recently:

[code]

Curl response is:
[code]

[code]

[2019-10-22 09:36] life1347 commented on #1074
I think it's a different problem. There are a couple things worth to take a look
1. Is there a http trigger with the same host/URL/method exists?
2. If yes, and the http trigger is not created by `fission spec`, then it's an expected error. Because fission spec won't override the existing resource if it's not created by spec.
3. If yes and the http trigger is created by `fission spec (applying fis

[2019-10-23 12:33] holyketzer commented on #1074
Thank you for the response:
Trigger is existed before and it's declared in spec.

Our spec looks like this:
[code]

[2019-10-23 17:48] holyketzer commented on #1074
Cool! Thank you a lot!

[2019-10-27 06:24] a8uhnf commented on #1102
I would like to help with this issue

[2019-10-27 14:51] life1347 commented on #1102
@a8uhnf that would be awesome! Feel free to ping me on Slack if you need any help.

[2019-10-28 14:37] #441 closed

[2019-10-30 16:19] #1357 closed

[2019-10-31 15:25] life1347 commented on #1187
Closed due to unable to reproduce the problem.

[2019-10-31 15:25] #1187 closed

[2019-11-02 18:53] life1347 opened #1373 "Retire version field in Environment CRD"
The version field in Environment is a barrier for the newcomers to use and understand. We should figure a way to remove the version field from it without breaking compatibility.

[2019-11-03 09:51] viveksinghggits commented on #1122
Hey @mattroark ,
Can you please look into https://github.com/fission/fission/pull/1369 and https://blog.fission.io/posts/fission_pod_specs/, I think that can be achieved using `PodSpec` for environment and builder.

[2019-11-03 15:05] #1242 closed

[2019-11-04 13:07] life1347 commented on #1215
Resolve by #1348

[2019-11-04 13:07] #1215 closed

[2019-11-04 17:33] viveksinghggits commented on #198
Hi @soamvasani,
I am planning to take this up, but not sure it about the timeline, when I will be able to complete this.We can ship this in 1.8 I think.
cc @life1347

[2019-11-05 02:31] #1189 closed

[2019-11-05 07:14] life1347 opened #1380 ""Precondition failed: UID in precondition" when updating package"
**Fission/Kubernetes version**

<pre>
master branch
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

GKE

**Describe the bug**

[code]

Looks like its related to https://github.com/kubernetes/kubernetes/issues/82130

[2019-11-06 20:39] robinvanemden opened #1384 "How to import a WebAssembly file from a Node.js package?"
I am trying to load a WebAssembly module.wasm file from a main Node.js index file, like so:

[code]

The code works perfectly when I run it locally, using

`node index.js`

But when I try to run it as an function (both files zipped, and following the instructions) I receive:

`Fatal error: Failed to execute HTTP request: Get http://127.0.0.1:40073/fission-function/lll: context deadline exceeded`

[2019-11-06 20:58] life1347 commented on #1384
You can use following commands to see what's happening in the function pod.
[code]

Not sure whether Node supports to get the real path of loading file. But if the failure reason in log is that the node cannot find the wasm, you may be able to load the wasm at the path `/userfunc/xxx/yyy.wasm`.

[code]

[2019-11-07 09:59] robinvanemden commented on #1384
Thank you! Very useful. By being able to see what was happening within the function pod, I could establish that the WASM file loaded just fine, but that I messed up my promises.

[2019-11-07 09:59] #1384 closed

[2019-11-09 07:46] life1347 opened #1390 "Kubewatch should support label selector"
https://github.com/fission/fission/blob/6f5f6900b6a944d4bfcb4bce87144e8019f9977e/pkg/fission-cli/cmd/kubewatch/create.go#L81-L82

[2019-11-09 16:01] #138 closed

[2019-11-12 13:33] life1347 opened #1404 "Remove FISSION_ROUTER from codebase"

[2019-11-12 16:15] faust64 commented on #107
FYI, just trying to deploy Fission (1.6.0) on OpenShift (4), and half my Pods are crashed:

[code]

The logger containers can't write /var/log/fission:

[code]

The Prometheus init container can't change permissions on /data:

[code]

Whereas the fission container seems to have issues querying objects against OpenShift API:

[code]

Although OpenShift 4 is slightly different from OpenShift 3, thos

[2019-11-12 17:04] life1347 commented on #107
@faust64 Thanks for providing such useful troubleshooting information.

So looks like openshift doesn't allow to create directory under `/var/log`, it's easy to fix.

Prometheus is the optional chart dependency for fission. So this is out of scope we can control. However, you can check the NOTE at this [page](https://wiki.berki.org/index.php/Prometheus_stack_on_Kubernetes#Prometheus_stack_install_

[2019-11-12 18:36] life1347 commented on #721
Resolved by #1403

[2019-11-12 18:36] #721 closed

[2019-11-14 19:08] life1347 opened #1407 "Add --spec to package command"

[2019-11-15 15:05] hd40910 opened #1408 "Fission fn of type newdeploy fails to specialize with timeout - Version 1.5"
$ fission fn list | grep mapper
mapper                                26c323cb-07b4-11ea-af6d-005056af10ec atomiq-py-core     newdeploy    1        3        0      0      0         0         80

**ERROR  LOGS:**
sudo journalctl -n 10000000 --no-pager | grep mapper

Nov 15 16:30:11 ilgss??? dockerd-current[40737]: {"level":"error","ts":1573828211.84828,"logger":"new_deploy","caller":"newdeploy/newd

[2019-11-15 15:08] hd40910 commented on #1408
@viveksinghggits can you help ?

[2019-11-15 15:31] hd40910 opened #1409 "Fission fn return partial json incase the json reponse is greater than 5000 lines - Version 1.5"
Error:

Nov 15 17:21:23 test dockerd-current[33402]: 15-11-2019 15:21:23[INFO ][sdfd:None]: generated response headers:
Nov 15 17:21:23 test dockerd-current[33402]: [39B blob data]
Nov 15 17:21:23 test dockerd-current[33402]: [23B blob data]
Nov 15 17:21:23 test dockerd-current[33402]: [69B blob data]
Nov 15 17:21:23 test dockerd-current[33402]: [1B blob data]
Nov 15 17:21:23 test dockerd-current[

[2019-11-15 15:31] hd40910 commented on #1409
@viveksinghggits  Can you please help check ?

[2019-11-15 16:19] viveksinghggits commented on #1409
Hi @hd40910
can you please mentioned the when are you getting these errors and how can we reproduce them. Assume that noone knows about the context you are talking about.

[2019-11-15 16:21] viveksinghggits commented on #1408
Hi @hd40910
can you please mentioned the when are you getting these errors and how can we reproduce them. Assume that noone knows about the context you are talking about.

[2019-11-15 19:20] hd40910 commented on #1408
Hi @viveksinghggits ,

After deploying a function with "ExecutorType: newdeploy", when fission tires to create k8s resources for function. It fails with the given error above.

Looks like there is a new feature of default timeout from version 1.5.
Another thing is that once it fails, it does not try to redeploy the function once again.

Question is : What can be done to fix the timeout ?
Another Q

[2019-11-15 19:24] hd40910 commented on #1409
Hi @viveksinghggits

One out of 3 http trigger calls to a fission function returns partial data.
Given above is an example where we have a function which simply accepts a 5000 line valid json file as input.But as attached only partial data is getting returned.

The only error seen is "*29913#29913: 2317320 upstream prematurely closed connection while sending to client, client: 10.75.217.28, server

[2019-11-16 05:17] viveksinghggits commented on #1408
Hi @hd40910 ,
for the timeout issue you can see that this PR was merged
https://github.com/fission/fission/pull/1284
in version 1.6.
so I think, you should not have function level timeout code if you are using version 1.5 and lets say that we have timeout implemented in httptriggers, what is the problem that you are facing because of that.

I dont think above issue has something to do with the def

[2019-11-16 05:18] viveksinghggits commented on #1409
Let me re-create this I will update soon.

[2019-11-16 09:16] life1347 commented on #1409
@hd40910 could you also try with 1.6.0 since 1.5.0 has a known issue in the executor.

[2019-11-16 09:17] life1347 commented on #1408
@hd40910 could you also try with 1.6.0 since 1.5.0 has a known issue in the executor.

[2019-11-16 09:29] life1347 opened #1410 "Show resource exists error when running spec validate"
[code]
We should check whether a resource exists before creating it. It's better to show such errors when running `spec apply` or `spec newcommand`.

[2019-11-17 14:28] hd40910 commented on #1409
@life1347 This gets recreated in 1.6.0. Tested

![image](https://user-images.githubusercontent.com/17830882/69008801-96dacf00-0974-11ea-890a-168b0ffdc829.png)

[2019-11-17 14:30] hd40910 commented on #1408
@life1347 I was able to recreate the same in 1.6.0

![image](https://user-images.githubusercontent.com/17830882/69008820-d1dd0280-0974-11ea-8f0b-f89d2765dbdd.png)

![image](https://user-images.githubusercontent.com/17830882/69008830-f507b200-0974-11ea-8d1b-6ef26d4fb560.png)

[2019-11-17 15:17] life1347 commented on #1408
@hd40910 you have to upgrade your CLI to 1.6.0 as well in order to set specialization timeout.

This is the issue we are trying to address in https://github.com/fission/fission/issues/1233

Just out of curiosity, does your function works in any older version? Because the newdeploy default timeout setting is the same as we had in 1.0.0 (120seconds).

[2019-11-18 02:07] life1347 commented on #1408
@hd40910 could you also provide the spec file of the environment? Thanks

[2019-11-18 07:23] msshroff commented on #1408
Hi @life1347

Issue still persists post using fission client version 1.6.0
<pre>
# fission -v
client:
  fission/core:
    BuildDate: "2019-10-10T18:24:57Z"
    GitCommit: 08b6d43ac1f1fa72854438aa6db636fd04c93098
    Version: 1.6.0
server:
  fission/core:
    BuildDate: "2019-10-10T18:24:57Z"
    GitCommit: 08b6d43ac1f1fa72854438aa6db636fd04c93098
    Version: 1.6.0
</pre>

Specs for the fission fu

[2019-11-18 07:29] msshroff commented on #1409
Hi @life1347

Issue still persists post using fission client version 1.6.0
<pre>
# fission -v
client:
  fission/core:
    BuildDate: "2019-10-10T18:24:57Z"
    GitCommit: 08b6d43ac1f1fa72854438aa6db636fd04c93098
    Version: 1.6.0
server:
  fission/core:
    BuildDate: "2019-10-10T18:24:57Z"
    GitCommit: 08b6d43ac1f1fa72854438aa6db636fd04c93098
    Version: 1.6.0
</pre>

Specs for the fission fu

[2019-11-18 07:53] life1347 commented on #1409
@msshroff do you know what's the total size of return JSON? I' m wondering if you're hitting the body size limit of Nginx. Its default size is 1m.

https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#custom-max-body-size

[2019-11-18 08:06] #1407 closed

[2019-11-18 12:33] msshroff commented on #1409
Nginx limitation does not seem to be the issue.
This is an intermittent issue. Problems happens for roughly 1 in 5 requests. Works well for rest 4 with the same sized request body.

[2019-11-18 14:34] life1347 commented on #1409
@msshroff thanks for your response. I'm trying to repro the problem and hope I can find something suspicious. At the time, could you do me a favor to test if you send requests directly to Fission router, does the same situation happen? In this way, we can narrow down the range of the problem. Thanks.

[2019-11-19 04:51] msshroff commented on #1409
hi @life1347

Yes, same is reproduced by hitting router directly bypassing the ingress ( nginx)

[2019-11-19 05:46] msshroff commented on #1409
Also just checked the size of the workload for which its failing. The test which i ran is having 228K. So does not seem to be related to 1M default size limitation of nginx

[2019-11-19 06:17] life1347 commented on #1409
@msshroff Thanks for the update. I can reproduce the problem.

[2019-11-19 09:21] life1347 commented on #1409
After some experiments, I've found the root cause of the problem.

Here are the things I've done to troubleshoot this problem.

1. Send requests to function pod directly and thanks to @msshroff help, we can narrow down the problem to the router.
2. Try to read the full response in RoundTripper and notice an error occurred when reading resp body.

Here is the code snippet I used to read resp body.

[2019-11-19 12:12] msshroff commented on #1408
Same issue is there in 1.6 as well.
Spec file for the fission environment looks like below:

<pre>
apiVersion: fission.io/v1
kind: Environment
metadata:
  creationTimestamp: null
  name: atomiq-py-core
  namespace: fission-function
spec:
  TerminationGracePeriod: 360
  builder: {}
  keeparchive: false
  poolsize: 1
  resources: {}
  runtime:
    functionendpointport: 0
    image: aaf/fission_envir

[2019-11-20 07:02] life1347 commented on #1408
@msshroff I notice the checksum field is empty. Could you check the fetcher log in function pod if its checksum error?
[code]
for example
[code]

This checksum problem has been addressed in 1.7.0. So you have two options:

1. Provide sha256 checksum like above.
2. Change the fetcher image in executor deployment to fission/fetcher:1.7.0-rc.1.
[code]

[2019-11-20 17:04] #1409 closed

[2019-11-20 17:47] hd40910 commented on #1408
@life1347 We were finally able to figure out the actual issue for this.
If you look at the spec of the function, it uses 2 config maps for execution.
Issue was that account-config map was not present in the environment.Things look fine after adding the CM.
We could figure this out after downgrading back to version 1.2.
Unlike version 1.5 and 1.6, the kubernetis logs clearly state that the pod is n

[2019-11-20 17:52] tx19980520 opened #1421 "arm support"
My issue is about using fission at nanopc-t4, which is an IoT with arm64. But I see that maybe most of fission images is amd64 on dockerhub.Or maybe you have the way to install on an IoT with arm64.
environment: k3s 0.9.1

[2019-11-20 17:53] life1347 commented on #1408
@hd40910 thanks for providing the update. I need to compare the 1.2 and 1.5 to see what makes the difference and will update this thread then.

[2019-11-20 17:58] tx19980520 opened #1422 "helm install update"
helm v3 comes here. I use helm v3 and I find that it's useless at [https://docs.fission.io/docs/installation/](installation)
[code]
Maybe new users will find it very difficult to use. So adding some tips or new installation is more user-friendly.

[2019-11-20 18:34] life1347 commented on #1421
If you don't mind contributing to Fission, you can continue this closed PR https://github.com/fission/fission/pull/1313 for arm platform.

[2019-11-20 19:03] life1347 opened #1423 "--verbosity not found in 1.7.0-rc.1"
[code]

[2019-11-21 00:30] tx19980520 commented on #1421
I think maybe use docker 19.03 new feature can solve the problem fundamentally.
I used `docker buildx build` to build arm64 container easily at my amd64 machine. I have seen that the issue you have mention mainly change Dockerfile about `go build` target to specific machine.
If you think we can use `docker buildx` to solve the problem without injury，I would like to be a contributor.

[2019-11-21 04:36] #1423 closed

[2019-11-21 05:05] life1347 commented on #1421
Yes, I think `docker buildx build` should be able to solve the platform supportability problem. The PR1313 already addressed the supportability problem for Fission core components. The rest of the part of work is to make language environment support arm64.

You can try to modify the Dockerfile of the language environment that well-support arm64, like go. Here is a useful reference: https://docs.do

[2019-11-21 08:56] #107 closed

[2019-11-21 09:09] life1347 commented on #1408
@hd40910 could you share the error log you saw, cause in 1.6.0 the fetcher still prints error log when failed to get the secret/configmap.

https://github.com/fission/fission/blob/08b6d43ac1f1fa72854438aa6db636fd04c93098/pkg/fetcher/fetcher.go#L426-L442

[2019-11-21 14:36] life1347 opened #1426 "Newdeploy doesn't creates deploy if a function is created prior environment"
If a function is created before the environment creation, the executor won't create any kube obj for the function even the environment gets created later.

[2019-11-21 14:41] life1347 opened #1427 "HPA replicas keeps bouncing due to readiness probe"
User feedback that the replicas of HPA keep bouncing.
![image (3)](https://user-images.githubusercontent.com/202578/69347566-ac6f3200-0caf-11ea-8820-6d7c88e5eead.png)

The root cause of the problem is, the application requires long `initialDelaySeconds` for readiness probe. Currently, the value of `initialDelaySeconds` is `1` which is too strict for most of the application.

[code]

Consider the [

[2019-11-21 17:37] #1426 closed

[2019-11-21 17:47] life1347 commented on #1422
Thanks for the feedback, will update deployment document for helmv3 step
[code]

[2019-11-21 17:47] #1422 closed

[2019-11-26 04:01] andyyin opened #1438 "Why does poolmanager support only one pod per function"

[2019-11-26 07:56] life1347 commented on #1438
It's an intentional design. Poolmanger is for the short-living functions and the functions do not require to handle massive traffic.

The executor will recycle the pod if no traffic to the function after some periods. By recycling idle pod we can release resources for other services in the cluster to increase resource utilization.

If you want more than one function pods to serve the function, ple

[2019-11-26 08:15] andyyin commented on #1438
I see, Thank you. It would be better if poolmanager and newdeploy can be combined, both low latency and less waste of resources. Is there the plan for future fission.

[2019-11-26 08:26] life1347 commented on #1438
We are investigating different approaches, but haven't had a clear plan right now. For now, I would suggest using newdeploy since you will only experience the cold start time in the beginning.

Close, feel free to reopen it.

[2019-11-26 08:26] #1438 closed

[2019-11-30 16:03] life1347 commented on #1151
close due to aged.

[2019-11-30 16:03] #1151 closed

[2019-12-06 09:15] life1347 opened #1459 "Builder manager failed to merge podspec due to name conflict"
**Fission/Kubernetes version**

master branch

<pre>
$ fission --version
$ kubectl version
</pre>

**Describe the bug**

Builder manager failed to merge container due to name conflict while it works for executor.

[code]

**To Reproduce**

[code]

[2019-12-07 08:53] #1459 closed

[2019-12-09 09:05] life1347 commented on #1122
PodSpec supports this feature now. Please visit [here](https://docs.fission.io/docs/spec/podspec/envvar/#expose-secret-configmap-as-environment-variable). Feel free to reopen it.

[2019-12-09 09:05] #1122 closed

[2019-12-09 17:07] life1347 commented on #851
Solved in 1.7.0. Close.

[2019-12-09 17:07] #851 closed

[2019-12-09 17:09] #935 closed

[2019-12-09 17:10] #893 closed

[2019-12-09 17:12] life1347 commented on #874
In 1.7.0, you can use `fission env create --imagepullsecret` to add pull secret.

[2019-12-09 17:12] #874 closed

[2019-12-09 17:15] life1347 commented on #552
Solve in 1.7.0

[2019-12-09 17:15] #552 closed

[2019-12-09 17:17] life1347 commented on #644
Solved with PodSpec. https://docs.fission.io/docs/spec/podspec/toleration/

[2019-12-09 17:17] #644 closed

[2019-12-11 08:08] sahil-lakhwani commented on #1404
Hi @life1347
Taking a look at this, I see the `FISSION_ROUTER` is used at:

- `pkg/fission-cli/cmd/function/test.go` for `fission function test`
- all the shell files in demo examples

For `fission function test` the `FISSION_ROUTER` is optional, and I think the else case will always work

For all the shell files, I think we should be able to get the cluster IP and the address of the fission `rout

[2019-12-11 09:20] life1347 commented on #1404
So far I don't see any potential issue that may break things. And actually, we don't need to use `kubectl`.

https://github.com/fission/fission/blob/711d7c2c41bd3d1171636026e093fd36ecd30e05/pkg/fission-cli/cmd/function/test.go#L62-L67

This part will create a local port forwarder to the remote server. So you can simply remove the If condition. But please add a warning to notify user the `FISSION_R

[2019-12-11 14:09] rakeshbshukla opened #1463 "Fission function calls failing when the pod goes in terminating state instead of warming up a new pod to handle the request it give server error."
We are seeing a strange issue with the fission function execution. When we hit the function a new pod is warmed up executes and gives the output as requested. But after sometime when the pod goes to terminating state and a request comes in the router throws the below error

{"level":"info","ts":1575577817.4312112,"logger":"executor_client","caller":"client/client.go:103","msg":"tapped services in

[2019-12-11 14:28] sahil-lakhwani commented on #1404
Right. A warning is good.
So my mention for `kubectl` was for where `FISSION_ROUTER` is being referenced in shell files under `/demos`.
For example:
https://github.com/fission/fission/blob/711d7c2c41bd3d1171636026e093fd36ecd30e05/demos/hello/run.sh#L32-L37

Are we looking to replace references like these as well?

[2019-12-11 14:58] jbhfenris opened #1464 "context deadline exceeded when running hello world example on vagrant + virtualbox infra"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1
server:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"17

[2019-12-11 16:20] life1347 commented on #1464
Hi @jbhfenris from the pod status, I suspect the vm doesn't have enough resources to run all necessary Fission components. For example,
[code]
Could you try to add more resources to the VM and try it again?
I personally would give 4 cpu and 8 gb memory.

[2019-12-11 16:50] jbhfenris commented on #1464
Here is the errors on the pod relative to storagesvc
<pre>
Events:
  Type     Reason            Age                     From               Message
  ----     ------            ----                    ----               -------
  Warning  FailedScheduling  <unknown>               default-scheduler  error while running "VolumeBinding" filter plugin for pod "storagesvc-5fcfbf4467-nrlrr": pod has unbo

[2019-12-11 17:02] life1347 commented on #1463
@rakeshbshukla thanks for the report. I suspect it's because of the check pass and so executor returns the same address.

https://github.com/fission/fission/blob/f28b58c3990ab70e38a391282ed25f84afcc22e3/executor/poolmgr/gpm.go#L297-L308

Does this problem occur very often? Is it able to reproduce the problem by manually delete the function pod?

I can try to reproduce the problem, but it will be f

[2019-12-11 17:17] rakeshbshukla commented on #1463
its for 1.2 i saw now not tested on 1.7.
I will share the dump

                                                      With Regards
                                                    Rakesh Shukla

On Wed, Dec 11, 2019 at 10:32 PM Ta-Ching Chen <notifications@github.com>
wrote:

[2019-12-11 17:55] life1347 commented on #1464
I check the dump log. It's weird for the executor doesn't receive any requests from the router.

Could you help to set `DEBUG_ENV` in both `router` and `executor` deployments to `true`, the component will show log detail debug log.
[code]

Reproduce the problem, and share the dump file output by `fission support dump`. Thanks.

[2019-12-11 18:05] life1347 commented on #1404
I think the `$FISSION_ROUTER` in run.sh should be set by the user before running it. So I think we can leave it for now.

[2019-12-12 08:40] rakeshbshukla commented on #1463
Fission Dump Attached .
[fission-dump_Executor_Issue.zip](https://github.com/fission/fission/files/3954676/fission-dump_Executor_Issue.zip)

[2019-12-12 09:13] jbhfenris commented on #1464
Hi @life1347,
I reproduce the issue with the debug activated on the 2 pods and here is the debug file
[fission-dump_1576141432.zip](https://github.com/fission/fission/files/3954846/fission-dump_1576141432.zip)

[2019-12-12 09:21] life1347 commented on #1464
@jbhfenris Would you mind to join the Slack and ping me? So that we can have some discussion about the problem. Thanks.

[2019-12-12 13:01] jbhfenris commented on #1464
<pre>
$ kubectl -n fission get pod -o wide
NAME                                                           READY   STATUS      RESTARTS   AGE   IP               NODE       NOMINATED NODE   READINESS GATES
buildermgr-854d4fcd6b-hmjp6                                    1/1     Running     0          92m   10.244.2.21      kubnode2   <none>           <none>
controller-57ff6b474c-glvr5

[2019-12-12 14:37] life1347 commented on #1464
Ok, so the problem is due to the pod cannot get dns result from the dns service. You may want to check the network connectivity between master node and worker node.

These links should be helpful for DNS problem:
1. https://github.com/kubernetes/kubeadm/issues/1056
2. https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

Since this issue is out of scope that Fission can co

[2019-12-12 14:37] #1464 closed

[2019-12-12 15:15] life1347 commented on #1463
1. Could you provide the dump that when the error occurred? Otherwise, no useful clues in the dump logs.
2. Could you also try to test against 1.7.1? Thanks.

[2019-12-12 15:42] jbhfenris commented on #1464
Thanks for the support, the issue was effectively dues to Flannel configuration where a specific configuration should be applied when used with Vagrant.

[2019-12-13 17:06] LemurPwned opened #1466 "MQT trigger does not fire despite being properly registered"
**Fission/Kubernetes version**
[code]
[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**
microk8s

**Describe the bug**
The function is not invoked despite mqt trigger being successfully registered and despite nats-streaming service operating properly.
The function has been created using:
[code]
**To Reproduce**
I built a function in .go which contains just a `Handler` function. The f

[2019-12-14 08:49] life1347 commented on #1466
HI @LemurPwned

May I ask how you do the `publishing and consuming` cause so far I cannot think of any reasons that will fail to invocation?

Also, would you provide the logs of `mqtrigger-nats-streaming` pod? Thanks

[2019-12-15 06:32] #1404 closed

[2019-12-18 14:56] LemurPwned commented on #1466
@life1347 thanks for your answer.
I turned on the DEBUG in the deployment env and here are the logs from the `mqtrigger-nats-streaming` pod (this is after I've sent the test messages onto the queue).
[code]
I registered two mqt triggers and here are the corresponding trigger lists:
[code]
These are connected to the same function.
#### How I tested this?
I have created a consumer that listens on th

[2019-12-18 16:30] life1347 commented on #1466
The only strange thing I saw is that `mqtrigger-nats-streaming` doesn't print any log when receiving messages. And `nats://defaultFissionAuthToken@nats-streaming.fission:4222 looks fine for me. So I cannot really figure out where is the problem.

Would you mind to join the Slack, so that we can have a discussion for the problem?

[2019-12-19 11:42] #852 closed

[2019-12-19 13:13] LemurPwned commented on #1466
Ok, @life1347 helped me solve the issue.
The key is to use `nats-streaming` instead of pure `nats`.

An example for connecting, courtesy @life1347:
[code]

[2019-12-19 13:13] #1466 closed

[2019-12-20 04:00] #621 closed

[2019-12-20 10:46] life1347 commented on #719
We can use PATCH instead of UPDATE to prevent the problem.

[2019-12-23 10:01] anantkaushik1989 opened #1475 "Enable support of git urls in Package definitions"
https://docs.fission.io/docs/spec/

**Fission/Kubernetes version**

<pre>
$ fission --version
1.7.1
$ kubectl version
1.17.0
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
MiniKube on Ubuntu 18.04

**Describe the bug**
I have been following the Fission guide to understand the framework and its capabilities. During this, I was looking at Declarative Specs.

From the current specs f

[2019-12-23 10:17] anantkaushik1989 commented on #1475
The issue is duplicate of https://github.com/fission/fission/issues/1235.

[2019-12-23 11:27] anantkaushik1989 commented on #1475
Reopening after discussion with @life1347 . Currently limited by go package of storagesvc.

[2019-12-29 12:56] #1427 closed

[2019-12-29 12:56] life1347 commented on #1235
Resolved in 1.7.0

[2019-12-29 12:56] #1235 closed

[2020-01-01 18:30] viveksinghggits opened #1479 "[Feature] Set a common label into the fission core components that will help us checking the logs"
The requirement is to be able to check the logs of all the components at once, we can achieve that using [stern](https://github.com/wercker/stern) as of now, but if we set a common label (let's say `application=fission`) to all the fission core components we can easily check the log using
[code]

[2020-01-07 17:18] atsai1220 commented on #759
I am also running into this exact issue.
If I compare the YAML from running when the function is first created and when the rolebindings stopped working it look like this.

**Command**
`kubectl --namespace fission-function get rolebinding -o yaml`

**Missing Lines**
[code]
![image](https://user-images.githubusercontent.com/14171643/71914513-97027a00-312e-11ea-87df-cd91eec55ccc.png)

[2020-01-07 19:59] brunomanzo opened #1481 "Issue with lxml from python3"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1
server:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16

[2020-01-07 20:05] brunomanzo commented on #1481
This is a image problem, sorry

[2020-01-07 20:05] #1481 closed

[2020-01-08 13:50] life1347 opened #1482 "Multi-tenant resource isolation"
We should have better namespace isolation to prevent any confusion. For example, now if a function CRD created under `default` namespace the function pod will be created in `fission-function` which brings confusion.

We should create related resources in the same namespace where the CRD located.

[2020-01-09 20:31] vishal-biyani opened #1485 "Java later versions support and images"
Currently, the Java version tested and officially supported in Fission is Java8. It might be good to test and publish images for the latest versions of Java - 11, 12, 13, etc.

[2020-01-10 08:45] life1347 opened #1486 "Set resource limits of fetcher to a more reasonable value"
It's unreasonable to set fetcher cpu limits to 1000m by default.
https://github.com/fission/fission/blob/66d4669f364cc5509e8a895cd2b5680e91ba0f29/charts/fission-all/templates/deployment.yaml#L226-L233
We should change it to a more reasonable value.

[2020-01-10 16:41] life1347 opened #1487 "kubectl-tree support"
It would be great if we can support `kubectl tree`. For example, list all resources related to a CRD.
https://github.com/ahmetb/kubectl-tree

[2020-01-14 05:33] life1347 opened #1488 "Executor removes Rolebindings after some time"
The executor wrongly removes rolebindings if environment & package CRDs are not in the default namespace.

[2020-01-14 13:48] life1347 opened #1491 "Misleading error message if resource exists in spec"
The CLI prints the following message when a resource exists in the spec directory which may confuse the user. It should display duplicate resource exists in spec or cluster.
[code]

[2020-01-16 16:38] brunomanzo opened #1494 "Fission using only one k8s pod"
**Fission/Kubernetes version**

<pre>
% fission version
client:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1
server:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1

 % kubectl version
Client Version: version.Info{Major:"1", Minor:"16"

[2020-01-16 17:20] life1347 commented on #1494
Hi @brunomanzo, you can set executor type to newdeploy in order to have more pods for the functions. Please visit the doc site to see more details: http://127.0.0.1:1313/docs/concepts/components/core/executor/#new-deployment

[2020-01-16 17:20] #1494 closed

[2020-01-16 17:33] brunomanzo commented on #1494
@life1347 thanks

[2020-01-17 08:21] life1347 opened #1495 "CRD informer won't stop"
This is the ticket to track the issue about CRD informer won't stop.
ref: https://github.com/kubernetes/kubernetes/issues/79610

[2020-01-18 17:27] brunomanzo opened #1496 "Can't change environment gracetime"
**Fission/Kubernetes version**

<pre>
% fission version
client:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1
server:
  fission/core:
    BuildDate: "2019-12-09T03:58:10Z"
    GitCommit: 9401c1ee8559975ffe97db27d8b3572af9f17eda
    Version: 1.7.1

 % kubectl version
Client Version: version.Info{Major:"1", Minor:"16"

[2020-01-19 07:01] life1347 commented on #1496
This issue has been fixed in PR https://github.com/fission/fission/pull/1476 and will be contained in 1.8.0 which should come out at end of Jan.

[2020-01-19 07:01] #1496 closed

[2020-01-19 12:39] brunomanzo commented on #1496
@life1347 thanks for the response (again)! really enjoying fission so far

[2020-01-20 16:53] life1347 opened #1498 "Proxy error should differentiate internal error or function error"
We need to think of a better way to differentiate where the error comes from.

https://github.com/fission/fission/blob/11f9ef1045e6c6b3c0951daeb8c98152d07b0d23/pkg/router/functionHandler.go#L629-L662

If the error is an internal error, we should return internal error message. Otherwise, returns function's error back to user directly.

[2020-01-21 17:00] life1347 opened #1501 "Requests should not be sent to pod that just restarted"
A user reports that once a function pod (belongs to a function with executor type newdeploy) crashes and restarted, the sub-sequent requests sent to the same pod will get `Generic container: no requests supported` which means the function pod is not specialized yet. We should improve this in some ways.

[2020-01-24 12:43] #895 closed

[2020-01-24 13:51] AshishJainRadicle opened #1505 "Java function not supporting XML post request."
fission 1.7.1

Xml post request support in java function

In context of Java env, we are trying to create a function which accpets a xml request. While testing it, we run into an issue where we found that
fission function in java seems to accept only json request. In fission\environments\jvm\src\main\java\io\fission\Server.java post mappings are defined as
@PostMapping(path = "/v2/specialize", con

[2020-01-27 11:09] #1410 closed

[2020-01-27 11:32] life1347 commented on #1486
Solved by #1489

[2020-01-27 11:32] #1486 closed

[2020-01-27 15:01] zucher commented on #231
Hi, I'm also interested by the feature ! Did you plan for such feature ?

[2020-01-27 15:19] davidsmf opened #1510 "Prometheus defaults to deployed in `-core` against documentation"
**Fission/Kubernetes version**

1.7.1, helm charts

**Describe the bug**

Documentation at https://github.com/fission/fission/blob/master/charts/README.md says "prometheus.enabled=false" for `fission-core`.

https://github.com/fission/fission/blob/master/charts/fission-core/values.yaml says `enabled: true`

Looks like the mistake was in copy/paste in this commit:

https://github.com/fission/fissio

[2020-01-27 15:39] life1347 commented on #1510
oops, thanks for your feedback!

[2020-01-27 16:04] #719 closed

[2020-01-27 17:14] davidsmf opened #1514 "No way to get client version without waiting for the server"
There doesn't appear to be a way to get the version of the client (`1.7.1`) without a working fission server.

e.g.
[code]

in `1.5` `fission --help` would show the version

[code]

even though `fission --version` still failed without a server

[code]

Can I make a feature request for a consistent way to get the version of a random fission executable so that our developer-environment setup scripts

[2020-01-27 17:23] #1510 closed

[2020-01-28 09:38] #1514 closed

[2020-01-28 09:41] life1347 commented on #1514
With #1515 , we are able to get CLI version with flag `--client-only`.

[code]

[2020-01-28 10:02] AshishJainRadicle commented on #1505
Hi,
I have made new image "ajain1234/xmljvm" on docker hub after added new dependency in pom.xml file which is present in (..enviroments/

[2020-01-28 15:44] life1347 opened #1518 "Add JVM fission-core dependency release to release steps"
- [ ]  JVM fission-core dependency release guide
- [ ]  Automate dependency release

[2020-01-28 16:01] #1488 closed

[2020-01-29 17:24] life1347 commented on #1077
Once adding status to resources, we can use `metadata.generation` to check if the spec of a resource is changed instead of resource version. It requires the status subresources to be enabled. (https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility)

[2020-02-01 10:31] life1347 opened #1523 "Problem for using alpine as base image for Python environment container"
Here is a [blog post](https://pythonspeed.com/articles/alpine-docker-python/) points out some problems when using Alpine as the base image for Python container. We might want to check it and decide if we want to use another base image instead.

[2020-02-03 16:11] #1373 closed

[2020-02-03 16:13] #1204 closed

[2020-02-03 16:13] #1289 closed

[2020-02-03 16:16] life1347 commented on #1142
Solved by https://github.com/fission/fission/pull/1517

[2020-02-03 16:16] #1142 closed

[2020-02-05 06:11] life1347 opened #1528 "Append environment labels to pod"
Currently, we only append annotations. We should append labels as well.

https://github.com/fission/fission/blob/633593e412d3d77fbb456bf5ca2813a1464a8b4e/pkg/executor/executortype/poolmgr/gp.go#L384-L387

[2020-02-05 18:31] odelucca commented on #1528
:eyes:

[2020-02-05 20:20] odelucca commented on #1482
:eyes:

[2020-02-06 01:38] soamvasani commented on #1482
We already do this for all but the default namespace -- only the default namespace gets executed in `fission-function`.  One way to get the behaviour you want is to simply avoid using the default namespace.

[2020-02-11 07:25] life1347 commented on #1384
For reference, once PR #1529 is merged, people will be able to find their file in real path `/userfunc/deployarchive`.

[2020-02-11 09:49] #1528 closed

[2020-02-13 12:45] vishal-biyani commented on #1505
As discussed with Saurabh and Ashish - the XML parsing loses some data. @AshishJainRadicle  - can you please paste a sample XML?

[2020-02-13 12:47] AshishJainRadicle commented on #1505
@vishal-biyani
If post following xml in body

<Book>
	<name>Ashish</name>
	<subject>
		 <name>Math</name>
		 <name>Hindi</name>
	</subject>
</Book>

Got following in req.getBody()

{name=Ashish, subject={name=Hindi}}

So not able de-serializing xml correctly.

[2020-02-14 09:49] sahil-lakhwani commented on #1505
I tested the above XML data, works fine for me.
I think the confusion is how the XML parsing the data inside the function. Fission will only deliver the data to the correct function, rest should be managed by the function.

Let me know what exact data loss you see.

[2020-02-14 09:58] AshishJainRadicle commented on #1505
I did not tried with above xml. I tried with following

[2020-02-14 12:49] sahil-lakhwani commented on #1505
@AshishJainRadicle Yes, that's how mapping in `RequestEntity`  from Spring Boot, used by Fission, works. If you try to map this to a Book POJO, it'll work correctly.
You can try it with a standalone Spring Boot server.
I'll let you know if I find some workaround.

[2020-02-15 08:33] AshishJainRadicle commented on #1505
Hi @sahil-lakhwani @vishal-biyani

I am not able to map my xml request to Book POJO class
Book.java class code as following:-

    public class Book {

		private String name;
		private Subject subject;

		public String getName() {
			return name;
		}
		public void setName(String name) {
			this.name = name;
		}
		public Subject getSubject() {
			return subject;
		}
		public void setSubject(Subject

[2020-02-16 13:28] vishal-biyani opened #1535 "Debugging - Dev Experience"
Currently, the dev experience around debugging a function is not easy. It would be nice to enable a breakpoint like debugging experience from within IDE for function debugging especially for Java and Dot Net environments.

[2020-02-18 15:57] life1347 opened #1536 "Merge fetcher and runtime container into one"
I propose merging the fetcher and runtime container into one. It brings some potential benefits:

1. It's easier for troubleshooting as we don't need to check two containers.
2. Less resource consumption.
3. Let the fetcher uses `exec.Command` to bring up env server when doing specialization. It allows us to set environment variables at the Function-level no matter what executor type function used

[2020-02-18 17:52] soamvasani commented on #1536
Resource consumption is an interesting point; have you done any measurements? Would be good to do that before diving in.

Some things to think about:

 1. If you don't bring up the env server until specialization, you lose a lot of the benefit of using poolmgr.  Once a container image is cached, a good chunk of the cold start time is in bringing up the server.  Poolmgr is basically designed around

[2020-02-18 20:23] odelucca commented on #1536
I don't completely understand the internals of Fission, but I would like to note here that for my company being able to declare environment variables on function level is a must-have.

We're currently using `newdeploy` to achieve that, but with this we lose the ability to run functions as a pool (which is way better for us).

[2020-02-18 21:18] soamvasani commented on #1536
@odelucca ,

We could add env var support to functions without rolling fetcher into the runtime container.

Each language env runtime would have to read the environment variable source from a file, and load it into the environment on function specialization.  In fact you could do this today with a custom environment, without changing anything else in fission -- you could load up the contents of co

[2020-02-18 23:28] odelucca commented on #1536
@soamvasani

For me, it doesn't really matters if we place the fetcher into the runtime container, but using env vars on functions is something pretty common that a lot of use cases would need

I will give a try into your suggestion, but since it is something common, I think it would be nice if we could add it as a feature to specify a map of env vars during deployment of a function (or at least a

[2020-02-18 23:29] odelucca commented on #1536
Just to be clear, I know that we can set env vars on the environment, but the same environment can hold multiple functions where their environment variables may conflict, that is why I think we should allow setting them on the function or at least package level

[2020-02-20 18:01] #1050 closed

[2020-02-22 20:42] simonrouse9461 opened #1542 "Homebrew support on MacOS and Linux"
Please support Homebrew for easier cli installation and update.

[2020-02-25 19:40] mattroark commented on #1501
I've encountered this with the `poolmgr` executor as well on Fission v1.8.0 with my Golang environment.

[code]

[2020-02-26 15:12] life1347 commented on #1536
I see what @soamvasani suggests. The original idea for merging two containers into one is that we don't need to implement loading env file in each language which massively reduces the effort to maintain and can immediately enable this feature for all languages.

I agree that the upgrade stuff is the biggest problem for now. I will change the title to `support environment variable` and keep this ti

[2020-02-26 15:57] life1347 commented on #1536
Another advantage of merging containers is that we can check the health check of runtime container instead of fetcher. See https://github.com/fission/fission/issues/1501

[2020-02-26 16:35] soamvasani commented on #1536
@life1347 changing the title back -- let's not confuse the solution with the problem.  I'll file a new issue to track the env var feature.

[2020-02-26 16:40] soamvasani commented on #1501
This looks like a bug in our readiness probe?  Since fetcher now controls the full specialization flow, it has enough information to be able to know when a pod is ready.

[2020-02-26 16:44] soamvasani commented on #1536
I commented on this in #1501 -- but we don't need to merge the containers just to know that the pod is ready.  The fetcher container knows enough to be able to answer a readiness probe correctly.

[2020-02-26 16:46] life1347 commented on #1501
The fetcher mark readiness as ready after first time specialization, but it doesn't know the runtime container is crashed and restarted. Hence, the fetcher still marks readiness probe as true and wont call the specialization endpoint of runtime container.

[2020-02-26 16:53] life1347 commented on #1536
sorry, i didn't explain this well. Please see the new comment at #1501

[2020-02-26 17:00] soamvasani opened #1545 "Function environment variables from configmaps/secrets"
Today, we supply ConfigMaps and Secrets to functions only through files.  Supplying them to the function through environment variables instead has been a popular user request.  So far, we've avoided this because:

 1. Poolmgr starts the container before being associated with a function, so at process start time we don't actually know what env vars a user wants.
 2. Newdeploy could do it trivially

[2020-02-26 17:03] soamvasani commented on #1501
Ah, thanks, I see.

I'm thinking we could solve this in router/executor -- on getting the "generic container" error the router can switch to the cold start code path, call executor to specialize that container (or some other container), and then forward the request.

[2020-02-26 17:09] life1347 commented on #1501
Well, I don’t think its a good idea and it didn’t solve the problem from the fundamental.

1. It increases the complexity of the call path
2. For newdeploy you cannot choose which pod router/executor talks with.
3. We are not able to control what custom env will returns.

[2020-02-26 17:34] soamvasani commented on #1501
Ok, radically simpler idea: set [restart policy to `never`](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy).

Then when the container crashes we simply discard the whole pod.  Everything else should work -- router already handles failures of specialized pods by re-attempting a cold start.

[2020-02-26 18:05] life1347 commented on #1501
Does the Kubernetes discard the pod automatically or we have to decide which pod to delete?

From the doc,
[code]
So the Pod phase will stay in Running and the fetcher is still running which means the readiness probe returns true as well. Since the readiness probe is on fetcher, the Kubernetes still allow traffic to the pod.

It's easier for the pool manager but tricky for newdeploy.

[2020-02-26 18:08] life1347 commented on #1501
To be honest, I cannot think of a better way to solve this problem than #1536  (except for the upgrade issue).

[2020-02-26 18:13] soamvasani commented on #1536
@life1347 What is your current opinion on this proposal?

To summarize, my biggest objections are:
 1. It breaks existing environments
 1. It breaks cold start performance
 1. Upgrades and versioning add a bunch of complexity and brittleness

I think these issues basically block the whole proposal, unless we can solve them all.

[2020-02-26 18:28] life1347 commented on #1536
If 1, 2 can make Fission a more robust FaaS solution at scale, I would tend to do so. But 3, 4 are also my big concerns for this proposal and I'm still thinking about how we can solve it.

[2020-02-26 18:34] soamvasani commented on #1536
I'm pretty strongly opposed to breaking cold start performance.  A lot of our users use fission _because_ of low cold start latency.

[2020-02-26 18:36] soamvasani commented on #1501
Yeah ok, that would have been too easy :)

#1536 has a bunch of pretty serious questions which I don't see any answers for, but let's continue that discussion in that issue.

This is a good point.  Ok, let me try again:

 1. Router routes a request
 1. Runtime environment crashes
 1. That request errors out
 1. Future requests get sent to the restarted version of that runtime
 1. Router gets a gen

[2020-02-26 18:49] life1347 commented on #1536
Well, as you said we can implement the behavior of `loading env var` in each language, so for now it's not a big problem.

One thing I want to mention is that I do agree that low cold start latency is very attractive for some cases. But since more and more people start using the v2 interface, a good chunk of latency for most cases is to download the package instead of bringing up the server which

[2020-02-27 09:45] rakeshbshukla opened #1546 "Fission function pod timing out after 500 secs"
Facing issue with fission function pod. After 500 secs the pod terminates even if the function is still running.
" http: proxy error: error sending request to function fire-unix-command: EOF"
I can see the below error in logs

Feb 27 03:42:47 xxx journal: 27-02-2020 09:42:47[ERROR][user print]:   InsecureRequestWarning)
Feb 27 03:42:47 xxxx kubelet: W0227 03:42:47.784507   25194 prober.go:104] No

[2020-03-04 14:49] samoscybercraig opened #1549 "Nats streaming integration cluster ID is hardcoded"
**Fission/Kubernetes version**

<pre>
Fission client: v1.8.0
Fission server: v1.8.0
</pre>

<pre>
Kubernetes Client Version: v1.17.3
Kubernetes Server Version: v1.17.3
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

Minikube

**Describe the bug**

When using an "external" nats streaming cluster with fission, it is not possible as the cluster id required is hardcoded in the mqtrigg

[2020-03-04 18:24] bif002 opened #1550 "Function log returns nothing"
Environment:
**Fission : 1.8.0
Env: NodeJs
Mikikube: 1.7.3 (--vm-driver=none)
Kubectl: 1.17.3
Docker: 18.0.9**

Sample Node function:

[code]
`fission function create --name hello --code hello.js --env nodejs

`fission function test --name hello`

**Expected result**
`fission fn logs --name hello`  should return `Function log ...` along with logger format

**Actual result**
`fission fn logs --name

[2020-03-04 19:09] delucca opened #1551 "Fission chart feature toggles"
## 🧐 The problem

In our installation of Fission we have a shell script that uses `sed` to remove a bunch of unwanted features (like logger, and so on).

## 💡 What solution do I want

It would be great if we could have a feature toggle for every non-required feature on `fission-all` chart (like logger, nats, etc). By doing so we could be also able to remove `fission-core` at all and use the featur

[2020-03-05 10:16] AshishJainRadicle opened #1552 "Not able to access url in java funtion"
@anubhav6663
We are creating a route for our function as following:

`fission-cli-windows.exe route create --function service --url dev/unimarket/service --createingress --method POST`

We are able to access the java function by url "https://fission.lingkcore.com/dev/unimarket/service".
but not able to get the full url in the code. We have used  "req.getUrl()" where "req" is the object of RequestE

[2020-03-05 12:19] dalemccrory commented on #1552
The core architectural issue related to not being able to access to the URL is that developers are unable to use REST libraries out-of-the-box routing capabilities.

If the function was able to see the source URL, then you could map multiple HTTP endpoints to a single function and have the function handle the different capabilities.

[2020-03-06 10:34] life1347 commented on #1552
Have you tried with `X-Fission-Full-Url` in request header? https://github.com/fission/fission/pull/1266

[2020-03-06 15:04] dalemccrory commented on #1552
@AshishJainRadicle So you could potentially use an approach like:
https://stackoverflow.com/a/28978111
with
`X-Fission-Full-Url`

@life1347 just to educate me... why can't the original headers be passed through the ingress? Since the X-Header approach still requires additional knowledge to implement both of Fission and Java.

[2020-03-06 16:36] life1347 commented on #1552
Fission runtime loads the user's function and exposes it at `/` instead of the URL that client hits (`/dev/unimarket/service`), if the router uses the original URL it won't be able to hit the endpoint.

https://github.com/fission/fission/blob/4fb1a8fbe8e52c0b0bf4ef3f19b02a79d8639a25/pkg/router/functionHandler.go#L226-L231

[2020-03-09 13:21] shaunc opened #1553 "Question: already have clusterscoped nats streaming"
Newbie question (/doc request): I have a cluster with clusterscoped nats streaming, used for another purpose. I would like to try out fission. How can I set it up to use existing nats streaming cluster?

[2020-03-09 17:25] life1347 commented on #1553
You can change the NATS streaming url to the existing NATS streaming service.

https://github.com/fission/fission/blob/4fb1a8fbe8e52c0b0bf4ef3f19b02a79d8639a25/charts/fission-all/templates/deployment.yaml#L588-L589

[2020-03-09 17:59] shaunc commented on #1553
ok ... hmm... so I have to patch the chart (or role my own) -- would you accept a PR to add a variable to the chart for `nats-streaming` service name?

[2020-03-09 18:02] samoscybercraig commented on #1553
So you have to have the Cluster ID named to match the one fission expects - see #1549 for some more details on it.

[2020-03-09 18:07] shaunc commented on #1553
They will be in different namespaces ... (unless there is a way to use an "externalName" service to forward? Never tried that before...) ... so I'd want url with host like -- e.g. -- `nats-streaming.nats-io.service.cluster.local`

[2020-03-16 07:27] AshishJainRadicle opened #1555 "Function responding 504 (Request Time out) when trying with curl request."
@vishal-biyani

Hi I have a function which gives response after 1-2 mins, when tested it from Fission CLI (fn test command) it runs successfully but giving Request Time out error (504) when trying with curl request.

I have set the nginx proxy-read-timeout to 15 min. but it is still giving same 504 time out.

1- We have created function "sleeptime" which can take sleeptime in query parameter (defa

[2020-03-17 19:40] shaunc commented on #1545
Hmm... would another possibility be #4 optionally run functions in separate /bin/sh instance? This adds a little overhead per run, but not so much, perhaps.

[2020-03-17 19:56] shaunc opened #1556 "feature request: flexible secret/configmap mapping"
I have two secrets in another namespace, which I'd like to use to control how a function connects to a database: in namespace `foo` (say) `database-config` and `legacy-database-config`.

I would like to do the following: `fission fn create bar --secret db-config=foo/database-config`

which would map the secret keys to (say):
`/mappedsecrets/bar/db-config/...`

Here `bar` is included in the path to

[2020-03-20 16:02] toonsevrin opened #1558 "How to use istio for authorization, circuit breaking..."
Hi, I think the istio integration is great :tada:, I am wondering: How can we use it for more then just monitoring? Is there a way to specify istio policies on a per-function basis? If so, can you provide some examples of the following:
- Authorize only specific functions to call a function
- Add [a circuit breaker](https://istio.io/docs/tasks/traffic-management/circuit-breaking/) to a function

I

[2020-03-22 02:02] JieWaZi opened #1559 "Use fission api"
I want to use fission in my application.How can i use fission api to deploy a function or an environment?
I don't want to use fission cli to control fission.I want to use rest api to control。what should i do？

[2020-03-22 02:22] life1347 commented on #1559
Hi @JieWaZi you can follow the openAPI spec to connect to fission controller, see https://docs.fission.io/docs/releases/1.5.0/#openapi-2-0-swagger-api-doc for details.

[2020-03-22 02:55] JieWaZi commented on #1559
thank you!

[2020-03-22 03:21] JieWaZi commented on #1559
can you give an example to use api. I see the api-doc but don't know the url i can use.for example i want to get the environment.the url is localhost:8001/..... ? i can't understand

[2020-03-22 07:41] JieWaZi commented on #1559
@life1347 can you help me？ i don't know the real url

[2020-03-23 14:38] vishal-biyani opened #1561 "Are you using Fission? We would love to hear"
Hey folks,

We would love to hear if you are using Fission! We would like to know:

1. How are you using Fission
2. What else would you like to see ion Fission?
3. If you are ok to share, please mention the name of the company/organization using Fission. We will include it in the "Users of Fission" list in README!
4. Feel free to get in touch with us on [Fission Slack](https://fissionio.slack.com/

[2020-03-25 05:00] life1347 commented on #1559
solved at Slack. Close it

[2020-03-25 05:00] #1559 closed

[2020-03-25 11:05] vishal-biyani commented on #748
Just for reference, the Java libs were added to the snapshot repo and related Jira issue is here: https://issues.sonatype.org/browse/OSSRH-39557

[2020-03-25 11:28] vishal-biyani commented on #1162
This can be potentially be closed since https://github.com/fission/fission/pull/1300 is merged.

[2020-03-26 10:21] vishal-biyani opened #1562 "Skaffold Run Issue"
The current Skaffold config when used gives below error with the latest version of Skaffold (v1.6.0). There seems a need to upgrade config and fix the error below

[code]

[2020-03-27 21:50] pulberg commented on #576
Still waiting for this...

[2020-03-29 13:38] vishal-biyani commented on #1535
- [ ] High-level Design and the UX
- [ ] Develop the debug feature for one environment (NodeJs potentially)
- [ ] Develop the feature for other environments (Java, Python, and C# as a priority as of now)

[2020-03-31 05:53] vishal-biyani commented on #576
Hi, @pulberg Thanks for letting us know. We will prioritize this for an upcoming release.

[2020-04-02 07:25] AshishJainRadicle commented on #1555
@vishal-biyani ,
Any update on this...

[2020-04-04 17:58] salluvada opened #1565 "Fission integration with KEDA"
Given that KEDA (https://keda.sh/) is supporting various scalers, can they be used with Fission to provide pro-active horizontal pod autoscaling so that Fission functions can autoscale proactively based on the incoming demand rather than reactively using CPU that it currently does?

[2020-04-04 18:23] vishal-biyani commented on #1565
Hey, @salluvada Thanks for raising the issue. Although I am not super familiar with Keda in detail - at first glance, it looks like this could be super useful. Do you want to take this up? I can guide you on the Fission side of code.

[2020-04-04 18:59] salluvada commented on #1565
Sure @vishal-biyani  I am still getting warmed up to the implementation details of both Fission and Keda. It should be an interesting item to take up. Please provide me the necessary details on the Fission side.

[2020-04-04 20:19] salluvada commented on #1565
Based on the initial analysis, the integration looks straight forward. When a function is created using the newdeploy executor type, the newdeploymgr should emit a KEDA ScaledObject (https://keda.sh/docs/concepts/scaling-deployments/) instead of a FunctionHPA and let KEDA control the deployment scaling. The KEDA scaling trigger spec can be accepted as an input file by the fission cli and passed to

[2020-04-06 10:55] salluvada opened #1566 "[Documentation Issue] There is no mention on how to pass the connection string / credentials for the storage queue."
I am trying to setup a function that would trigger when a message was added to azure storage queue. I was looking at the documentation here https://docs.fission.io/docs/triggers/message-queue-trigger/ how ever, I dont find details about how the queue's connection string / credentials can be passed for the messagequeuetrigger to listen.

[2020-04-07 13:30] vishal-biyani commented on #1565
Hey, @salluvada Thanks for details and a brief. I had a look at Keda project and here are my thoughts:

- Current HPA and scaling of function are purely based on CPU of a given function and when we adopt HPA V2 - potentially other parameters such as memory, etc. This scaling is still useful for many use cases and it would be good to have it.

- Project Keda's majority of current scalars are MQ/DB

[2020-04-07 15:03] salluvada commented on #1565
@vishal-biyani  that is interesting. Let's work on designing for the short term needs and making it happen.

[2020-04-09 09:33] vishal-biyani commented on #1555
Hey @AshishJainRadicle Looking into the issue, will update shortly.

[2020-04-09 12:03] vishal-biyani commented on #1562
The issue is related to nested values in Helm Deploy section which is broken
https://github.com/GoogleContainerTools/skaffold/issues/500

[2020-04-09 13:54] vishal-biyani commented on #1558
Hi @toonsevrin I haven't tried Istio for internal function routing policies. I think virtual service for the function's URL should do it but I am not 100% sure. If you are going to try it - would you mind sharing your findings and we can have a blog/doc update for it.

[2020-04-09 13:57] vishal-biyani commented on #1556
Hi @shaunc I am not sure I understand the use case fully. Are you trying to use two separate secrets for same function based on which environment it is invoked in, can you please elaborate?

[2020-04-09 13:59] toonsevrin commented on #1558
@vishal-biyani I see but sadly enough I won't be able to give you our insights in the near future. It appears like we're moving more and more towards everything as a gRPC service and as I don't think Fission allows for gRPC interfaces, we are not adopting fission just yet :(

[2020-04-09 13:59] vishal-biyani commented on #1550
@bif002 Does your Fission installation also has InfluxDB which comes with fission-all chart?

[2020-04-09 14:12] vishal-biyani commented on #231
Hi, @atiwari @zucher are there any specific implementations of MQTT that would of interest to you?

[2020-04-09 14:18] vishal-biyani commented on #1558
Thanks for update @toonsevrin Yes GRPC support is not there yet. I will loop you in when we add GRPC support.

[2020-04-09 14:18] #1558 closed

[2020-04-09 14:22] toonsevrin commented on #1558
Awesome, I'm really looking forward to that.

Once released, we'll definitely deploy some less critical production services with it (and experiment with the combination of istio), so please do keep me in the loop :)

[2020-04-09 17:56] bif002 commented on #1550
@vishal-biyani  - yes, i have installed fission-all chart from helm.

[2020-04-09 19:21] zucher commented on #231
Hi @vishal-biyani ,
thank you to ask us :-)
we need MQTT 5.0 support + WSS / TLS,  (shared subscription, request/response mode, ... ) , you may base your integration on EMQX broker

Thank you

[2020-04-12 13:30] ccamel opened #1569 "Sequential function invokations when using Kafka triggers"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-02-03T08:40:57Z"
    GitCommit: bda974a72c9093e241c1dae6a7fc1a2d16e28b02
    Version: 1.8.0
server:
  fission/core:
    BuildDate: "2020-02-03T08:40:57Z"
    GitCommit: bda974a72c9093e241c1dae6a7fc1a2d16e28b02
    Version: 1.8.0
</pre>

**Describe the bug**

Not a bug but more a feature request.

F

[2020-04-12 14:47] life1347 commented on #1569
This feature makes sense to me. I'm thinking maybe we can expose an option that allows user to set the concurrency either to 1 or N and mqtrigger can follow the setting to limit max concurrency for function invocation. Do you think this approach can fulfill your needs?

[2020-04-12 15:31] vishal-biyani commented on #1569
I think there was a user who was facing delay in consuming Kafka messages and hence as part of related PR (https://github.com/fission/fission/pull/1355) and issue (https://github.com/fission/fission/pull/1354) this was changed.

It makes sense that we allow both the behaviours to the user at the trigger level by exposing a new flag (Which can be done potentially for all kinds of triggers eventuall

[2020-04-12 17:17] vishal-biyani opened #1571 "Python Env build issue related to gevent"
The Fission build is facing due to a dependency of gevent, the error log is similar to below (Truncated some parts for brevity)

[code]

It looks like from this comment https://github.com/docker/compose/issues/6617#issuecomment-477974325 that adding `libffi-dev` in alpine might help.

Also, the error has a specific mention of the library:

[code]

[2020-04-12 17:58] vishal-biyani commented on #1571
Closed by #1572

[2020-04-12 17:58] #1571 closed

[2020-04-13 23:16] kangzhanlei opened #1573 "Should we add a 'dispose' method to the lifecycle of a function"
user may create some resources such as 'db connection' when specialize.  so i suggest giving user a chance to release resources  before function pod destroy.

[2020-04-16 01:10] #1573 closed

[2020-04-16 04:50] vishal-biyani commented on #1562
Closed by #1567

[2020-04-16 04:50] #1562 closed

[2020-04-16 07:52] justinfx commented on #1162
We currently have a Kafka cluster deployed using Sasl SCRAM. It seems none of the faas platform Kafka agents ever expose the "mechanism" configuration to provide SCRAM. I'm trying to get our Kafka deployment to switch to something else but I wonder if this is something that should be exposed?

[2020-04-16 10:07] svenvNL opened #1574 "Improved spec scaffolding experience"
Writing a function takes a lot of steps. In the case of a Java function, a Maven project needs to be created and the dependencies need to be added. For other languages, there is a simular experience.

After writing the function, specs need to be generated. These include a Package, Function and a trigger. Names need to match in multiple places, so a lot could go wrong. Below is a basic example for

[2020-04-16 10:09] vishal-biyani commented on #1574
Hey @svenvNL - this is a great suggestion, thanks for filing the issue. This will definitely help a new person get started relatively easily.

[2020-04-16 10:13] svenvNL commented on #1574
@vishal-biyani I could write a first implementation this weekend. I am not familiar with Go, so I don't expect that it will be anywhere near finished. Is it best to do it in multiple PR's or one big PR?

[2020-04-16 10:26] vishal-biyani commented on #1574
Hey, @svenvNL Thanks - definitely welcome the contribution. Go is fairly easy to start off and please ask questions if you run into issues on Slack.

I would say start off with a small PR with prototype - for ex. first, develop only the UX/Commands, then add only function creation and then in another iteration add all other aspects. I think most of this change will be in Fission CLI so it has a re

[2020-04-20 03:36] PraveenGNair commented on #1561
Hey @vishal-biyani We are accessing fission, so that we can use in our jvm environment But found that fission-java-core module is still in SNAPSHOT version, and that cannot be used as per company policies. Is there any ETA for a release version ?

[2020-04-20 12:46] vishal-biyani commented on #1561
Hey, @PraveenGNair Thanks for reaching out. We will prioritize this in an upcoming release.

[2020-04-21 05:05] rajalokan commented on #576
I'm starting implementation for this. Before I go ahead with actual implementation, wanted to get a quick review from maintainers.

Essentially this needs three bits.
1. Handling S3 Persistence config in helm.
2. Modify `fission-bundle` binary to handle `runStorageSvc` with S3 storage type.
3. Adding more generic `StorageType` interface in `stowClient.go`

### Handling S3 Persistence config in hel

[2020-04-21 06:54] vishal-biyani commented on #576
Hey, @rajalokan Thanks - overall this looks really good. One thing I would like to do before we start implementation is to design the storage type struct etc. - as it is core to the configuration being passed and will affect the overall design. Can we take a stab at it here and once closed - we are good to start implementation.

[2020-04-21 13:28] pulberg commented on #576
Another thing to consider, S3 does not always mean "AWS", there are many storage arrays that provide S3 functionality.  In my case, we are using EMC ECS, and will soon be using Pure Storage arrays that have S3 functionality.

I am also in a high-security environment that requires us to be much more specific in our configurations in order to prove limited scope during an audit. In order to support

[2020-04-21 13:37] vishal-biyani commented on #576
Hey @pulberg - thanks a lot for those inputs while we are working on it, I really appreciate it.

[2020-04-21 17:48] rakeshbshukla opened #1578 "MQT fission function calls failing when the load is high"
Fission function is deployed using **newdeploy with minscale of 3 and maxscale 40**.
The mqt to function execution is working fine with normal load but it starts failing when there is sudden spike in the incoming load. The scaleup happens eventually but in the mean while lot of messages are dropped as function execution fails with below error
calls failing with 502 giving below error
[code]

We ha

[2020-04-21 20:08] philomory commented on #1102
Is there any chance the PR for this could get merged?

[2020-04-22 04:41] vishal-biyani commented on #1102
Hi, @philomory I don't think the PR linked above actually does anything at this point and it seems some work is pending.

Hey @a8uhnf - will you be able to take this up further and close the WIP from PR?

[2020-04-22 04:58] vishal-biyani commented on #1578
Hey @rakeshbshukla Thanks for raising the issue. I will have someone look into this on priority.

[2020-04-22 08:53] vishal-biyani commented on #1578
Hey, @rakeshbshukla This is router log, do you also have executor log from the same timeframe? Also, there are two IP addresses mentioned there: 10.103.105.239 and 10.244.2.127 - at that point in time, if you can confirm whose IP addresses are those would be helpful?

[2020-04-22 09:03] vishal-biyani commented on #1546
Hey @rakeshbshukla We have added function timeout and also there are quite a few router tunable parameters in later releases were added:

https://github.com/fission/fission/blob/master/charts/fission-all/values.yaml#L114-L141

Will you be able to install the latest release and see if you can reprod=uce this, please?

[2020-04-22 09:44] vishal-biyani commented on #1561
Hey @PraveenGNair Can you please raise a separate issue for this?

[2020-04-22 11:42] PraveenGNair opened #1579 "General release for fission-java-core ?"
We are accessing fission, so that we can use in our jvm environment But found that fission-java-core module is still in SNAPSHOT version, and that cannot be used as per company policies. Is there any ETA for a release version ?

[2020-04-22 14:13] rakeshbshukla commented on #1546
Sure @vishal-biyani  thanks will do the testing and get back to you.

[2020-04-22 14:55] rakeshbshukla commented on #1578
@vishal-biyani  mailed you the detail logs for both router and executor over email along with the requested details. Thanks for the quick help :)

[2020-04-23 06:52] justinfx commented on #1037
I was searching through the issues to see if anyone had proposed the idea of starting function stacks from a template store. This looks to be asking for that kind of feature. Has this been given any thought?
I need to do this locally for my users and wanted to go down a path that aligns with where this might head. I'm thinking one should be able to assemble a directory of source and spec templates

[2020-04-24 05:26] rajalokan commented on #576
/assign

[2020-04-24 08:36] vishal-biyani commented on #576
Hi @pulberg The current S3 client we use - Stow does not clearly list support for EMC ECS (https://github.com/graymeta/stow#implementations). I think though if you combine the URL+port it should work. Would you be able to test the PR once it is reviewed in your environment as we don't have access to EMC ECS?

As for Bucket and Folder name both - I think since Fission is storing its code/binary art

[2020-04-24 16:17] msshroff opened #1581 "MessageSource and RecycleCounter in kafka header"
This is "new feature request" not issue.

When we are using –errortopic option in Kafka MQT creation
But in the error message we get in errortopic not have any indication about the source of the message.

It would be great if we can add:
1. Source of the message (errortopic)
2. Recycle Counter: If present in the message increment by 1, if not present set to 1

This can be added in the kafka "Heade

[2020-04-24 16:17] msshroff opened #1682 "MessageSource and RecycleCounter in kafka header"
This is "new feature request" not issue.

When we are using –errortopic option in Kafka MQT creation
But in the error message we get in errortopic not have any indication about the source of the message.

It would be great if we can add:
1. Source of the message (errortopic)
2. Recycle Counter: If present in the message increment by 1, if not present set to 1

This can be added in the kafka "Heade

[2020-04-24 16:30] msshroff opened #1582 "Custom metric for HPA for fission function based on outstanding messages in Kafka"
This is "new feature request" not issue.

Currently we are using Fission Functions and Kafka MQT.
For the fission functions deployed in newDeploy, we want to use HPA.

Currently we can use CPU  utilization as HPA metrics, using --targetcpu while creating fission function.

We think outstanding messages in kafka topic can be a better metric autoscale the PODs.

Please consider the request.

Thanks

[2020-04-25 07:22] rakeshbshukla opened #1583 "Fission Pods stuck at Terminating state when autoscaling with metrics server is enabled"
Bare metal 3 node cluster with 2 worker nodes.
We have seen this issue when the metrics server is enabled auto sclaing feature works fine but when it comes to scale down. The pod is stuck in terminating state. I see controller events SuccessfulCreate and SuccessfulDelete entry in events but the pod is still stuck in terminating state for more than 30 mins.

Kubernetes Version:
Client Version: vers

[2020-04-27 09:38] vishal-biyani commented on #1037
Hi @justinfx Yes this is the right ticket to discuss various approaches. This issue talks about providing a command which will generate a bare-bones template for users using the CLI for various things.

Your idea of a template store is also interesting - I would have to think about how to maintain it per release etc. One pattern we have seen being used is - an upstream team creates templates and t

[2020-04-27 13:57] brandoncollins7 opened #1584 "Prometheus pod won't start"
**Fission/Kubernetes version**

fission: 1.8.0
kube: 1.8.0

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

I pushed fission to a brand new minikube cluster yesterday. All seemed to be working fine. Today I simply restarted the same cluster and prometheus pod is failing to start with the following error:
`level=info ts=2020-04-27T13:52:47.259Z caller=main.go:332 msg=

[2020-04-27 13:59] pulberg commented on #576
I should be able to use URL+port.  As for the Bucket and Folder separation, I need this for compliance/auditing reasons, the fission storage bucket will not be shared.

[2020-04-27 14:05] vishal-biyani commented on #1584
Hi @brandoncollins7 This looks like more of an issue with Prometheus not finding a config file due to related permission on config file as reported here: https://github.com/prometheus/prometheus/issues/5976 Can you please take a look at that thread and see if anything is similar in your case?

[2020-04-27 15:17] brandoncollins7 commented on #1584
It could be but I am not sure what I would do to change it, given I installed fission via helm onto a fresh cluster and made no other modifications?

[2020-04-27 15:50] vishal-biyani opened #1585 "Package waiting for builder pod to be ready should be better"
Right now the package watcher/builder waits for only 15 iterations for the builder pod to be ready. Some environments need a slightly higher time. This should be more of a retry backoff mechanism before failing

https://github.com/fission/fission/blob/f606c3705f81832008aba130de7a0f5845387583/pkg/buildermgr/pkgwatcher.go#L103-L105

[2020-04-27 15:55] brandoncollins7 commented on #1584
Looks like I got it to work by setting the initContainer securityContext:

initContainers:
        - name: app-data-permission-fix
          image: busybox
          command:
            - /bin/chmod
            - '-R'
            - '777'
            - /appdata
          resources: {}
          volumeMounts:
            - name: storage-volume
              mountPath: /appdata
          termination

[2020-04-27 22:32] justinfx commented on #1037
I'm basing my ideas off the brief exposure I had to the Openfaas templates and template store. However their solution is a bit different than what fission might do, since fission separates the environment builder/runtime from the stack source code and specs.
A random list of possible features:
- a "template" may be some combination of source files and specs, with either an explicit env spec or an

[2020-04-29 05:45] vishal-biyani opened #1609 "Contributing Doc needs an update"
The information here is stale and needs an update: https://docs.fission.io/docs/contributing/

[2020-04-30 09:58] jacobpiggin opened #1588 "Can't access volume from function"
**Fission/Kubernetes version**

Kubernetes: 1.8
Fission: 1.8

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Minikube

**Describe the bug**

I am trying to mount volumes to Python and Java environments but receive FileNotFound errors when trying to access the files in the volume. This has happened when using PersistentVolume & PersistentVolumeClaim and with HostPath volume types.

I've ch

[2020-04-30 10:07] vishal-biyani commented on #1588
Hey, @jacobpiggin Thanks for filing the issue. I will try to reproduce this, but just checking if you are on Windows host or Linux host?

[2020-04-30 10:11] jacobpiggin commented on #1588
@vishal-biyani I'm on a Windows host.

[2020-05-04 09:02] wpf710 commented on #1588
I ran into the same issue  on Centos with k8s 1.16 +fission  1.8.0

PodSpec
[code]

and with a python function to call the `os.popen("df -h") `
[code]
no mount point .

[2020-05-04 18:06] rajalokan commented on #1588
Hello, I feel this is because of an invalid syntax in spec manifest. I feel syntax is at wrong indent. Here `podspec` is a direct descendent of spec, which is wrong. It should rather be within `spec.runtime.podspec`. So above example from @wpf710 will be something like below

[code]

Reason for this confusion is wrong documentation at [podspec/volume](https://docs.fission.io/docs/spec/podspec/volu

[2020-05-05 02:09] wpf710 commented on #1588
@rajalokan  thanks a lot , it works,

eventually, I realise  that the podspec will be a patch , so  I have to specifiy the right container name , which should be `python` for the python environment.

[2020-05-05 04:55] rajalokan commented on #1588
Glad to hear. @jacobpiggin can you also please confirm if resolves your issue.

[2020-05-05 08:53] jacobpiggin commented on #1588
@rajalokan yes that has resolved the issue, thank you.

[2020-05-05 08:53] #1588 closed

[2020-05-06 02:08] ajoslin103 commented on #1561
I am trying to get fission into our organization, the best way would be to implement code I've already got running inside docker containers -- very simple functions that subscribe to RMQ queues -- it looks like RMQ triggers are NYI ?

[2020-05-07 03:42] manish2v opened #1592 "sh: ./fission: not found on alpine docker image"
**Fission/Kubernetes version**
fission: 1.8.0
k8s: 1.15

<pre>
$ fission --version : command not working , sh: ./fission: not found
$ kubectl version : v1.18.2
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
EKS : AWS
**Describe the bug**
This is with a docker alpine docker image
(1)     kubectl -n fission apply -f https://github.com/fission/fission/releases/download/1.8.0/fission-

[2020-05-07 05:26] vishal-biyani commented on #1592
Hey @manish2v Are you trying to execute the Fission CLI inside an alpine docker image or what do you mean?

[2020-05-07 05:31] manish2v commented on #1592
yes, its inside a alpine docker image
![2020-05-07_153115](https://user-images.githubusercontent.com/59185197/81257909-d3f86200-9077-11ea-90aa-260627ca5ebb.png)

[2020-05-07 05:34] manish2v commented on #1592
RUN curl -Lo fission https://github.com/fission/fission/releases/download/1.8.0/fission-cli-linux
RUN chmod +x fission
RUN mv ./fission bin/

These are commands in Dockerfile for installing CLI

[2020-05-07 05:46] vishal-biyani commented on #1592
So the Fission CLI is not compiled for Alpine. You should get an error similar to `standard_init_linux.go:211: exec user process caused "no such file or directory"`

You will have to compile the Fission CLI for Alpine or use a Linux image for running Fission CLI.

[2020-05-07 07:39] manish2v commented on #1592
Thanks! Vishal

[2020-05-07 07:39] #1592 closed

[2020-05-07 14:59] vishal-biyani commented on #1561
Hi @ajoslin103 Thanks for the details and for trying to use Fission. Do you have any specific features/areas in mind that you see missing in Fission from your adoption POV?

[2020-05-07 16:21] vishal-biyani opened #1593 "GitPod/Codespaces enablement for Function developers"
We should have an easy way to get started for a function Developer to write and test functions within a browser IDE. Similar to the PR https://github.com/fission/fission/pull/1564 addresses Fission contributors, a Fission function developer can use a quick way to get started.

[2020-05-07 16:26] vishal-biyani opened #1594 "Request Body Size: HTTP 413"
On Slack conversation, Ashish Jain mentioned that when using a body greater than 1MB for a function call was throwing `413 Request Entity Too Large` error. This issue is for tracking and fixing the problem.

[2020-05-08 12:09] ajoslin103 commented on #1561
I've been mostly a consumer of serverless products via Heroku.  I've been kinda mis-using them by deploying entire SPA frontends and backends rather than functions.

At the office we have finally got a fairly solid Kubernetes installation over an OpenStack architecture and my continual push, push, push, for modern devOps is starting to gain some ground.

My first modern implementation for them, af

[2020-05-08 14:20] vishal-biyani commented on #1561
Hi, @ajoslin103 Thanks - this is super helpful. Some comments/asks:

1) We will prioritize the RabbitMQ integration and make it available in May.
2) Can you please file an issue about CentOS 7.7 issue if it is related to Fission
3) In other areas - we have done some work and we will update blog posts in the coming month.

[2020-05-08 14:23] ajoslin103 commented on #1561
#1 - PERFECTO -- see also #1565
#2 - will do
#3 - looking forward to it!

I'll update this issue if I have more info not related to the C7 issue

[2020-05-09 08:57] alextes commented on #1545
I feel like 1. would force use of env vars from files anyway. Fast cold starts are a pretty killer feature.

Some form of 3. sounds most reasonable to me. I mean, that is what I will implement in userland. Read the files on start, then make these key-value pairs available the way they would have been available if they had been in the environment.

[2020-05-09 21:27] dennisMKI opened #1596 "Running java hello world sample ends with 502"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-02-03T08:40:57Z"
    GitCommit: bda974a72c9093e241c1dae6a7fc1a2d16e28b02
    Version: 1.8.0
server:
  fission/core:
    BuildDate: "2020-02-03T08:40:57Z"
    GitCommit: bda974a72c9093e241c1dae6a7fc1a2d16e28b02
    Version: 1.8.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"17