[2020-05-10 10:56] vishal-biyani commented on #1596
Hi @dennisMKI The `--code` flag won't work with JVM/Java environments. For Java, the code needs to be compiled with a package definition. Can you please follow example in this location: https://github.com/fission/fission/tree/master/examples/jvm/java

[2020-05-10 16:57] dennisMKI commented on #1596
Solved... Thank you very much for your quick help!

[2020-05-10 16:57] #1596 closed

[2020-05-10 17:19] ajoslin103 commented on #1561
My infrastructure guy just let me know that he is starting the install of Fission into our Lab cluster -- so I won't have to fight to get it added to our stack !!

Excellent !!

I hope to be ready to try out the RMQ support as soon as it's available and we install the upgrade/patch

Nice !!

[2020-05-11 12:33] vishal-biyani commented on #1582
Hi, @msshroff This essentially is a feature request for enabling custom metrics. Once that is possible then the user can actually create a trigger with any custom metric (including number of messages in queue). We are tracking this request. here: https://github.com/fission/fission/issues/854 so I will close this issue for now.

[2020-05-11 12:33] #1582 closed

[2020-05-11 13:25] vishal-biyani commented on #1102
This has been addressed in PR #1595 hence closing.

[2020-05-11 13:25] #1102 closed

[2020-05-11 14:42] vishal-biyani commented on #1584
Hey @brandoncollins7 This looks like an issue on Prometheus side and do you know if a newer version there changed the behavior? Please reopen if this is still an issue.

[2020-05-11 14:42] #1584 closed

[2020-05-11 15:45] vishal-biyani commented on #1578
As discussed in the email we modified and deployed https://github.com/fission/fission-kafka-sample and ran some tests.

We tested in a lab setup that has 4 node GKE cluster setup with Kafka MQT. Each node is n1-standard-1 - so 1CPU & 4GB RAM. We were able to process 250 messages per second (15000) messages per minute. The tests ran for 60 minutes without any issues/errors and no message was droppe

[2020-05-11 16:09] vishal-biyani commented on #1553
Thanks for raising the issue and PR @shaunc I think this can be closed now.

[2020-05-11 16:09] #1553 closed

[2020-05-11 16:09] vishal-biyani commented on #1549
Closed by https://github.com/fission/fission/pull/1554

[2020-05-11 16:09] #1549 closed

[2020-05-11 16:13] vishal-biyani commented on #1552
As stated by @life1347 I think the only way to pass some specific headers is to use the X- format because of the way Function endpoints are designed today. I will close this issue for now but we can revisit if needed in the future.

[2020-05-11 16:13] #1552 closed

[2020-05-11 16:22] vishal-biyani commented on #1505
As per comment here: https://github.com/fission/fission/pull/1541#issuecomment-626806287 closing this for now.

[2020-05-11 16:22] #1505 closed

[2020-05-11 16:24] vishal-biyani commented on #1542
I believe currently the Fission CLI for Mac is also pretty easy to install and does not have many configurations.

[2020-05-11 16:24] #1542 closed

[2020-05-11 16:33] vishal-biyani commented on #1408
Closing for lack of response.

[2020-05-11 16:33] #1408 closed

[2020-05-11 17:17] vishal-biyani commented on #1192
Closed by change in https://github.com/fission/fission/pull/1575

Though default-repo has some flaky behaviour issues as reported in https://github.com/GoogleContainerTools/skaffold/issues/4090

[2020-05-11 17:17] #1192 closed

[2020-05-11 17:24] vishal-biyani commented on #1139
This needs reproduction with the latest versions of Fission and Kubernetes to confirm.

[2020-05-11 17:31] vishal-biyani commented on #1463
Closing due to lack of response. Please reopen if still an issue.

[2020-05-11 17:31] #1463 closed

[2020-05-11 17:46] vishal-biyani commented on #254
Closing for now as relevant PR is closed, please reopen if still an issue.

[2020-05-11 17:46] #254 closed

[2020-05-11 17:51] vishal-biyani commented on #368
Duplicate of https://github.com/fission/fission/issues/181 Closing this and will track in 181

[2020-05-11 17:51] #368 closed

[2020-05-11 20:50] darkworon opened #1599 "Proposal: Possibility to disable "enableServiceLinks" environment variables for functions/environments"
Kubernetes injects environment variables to each Pod with the IP and port of ever other service in the cluster's namespace and for the Kubernetes API Server. And those variables are not desirable in functions environment.

[code]

More information here: https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services

Having dug into the Kubelet codebase, looking for a global

[2020-05-12 09:31] vishal-biyani commented on #1599
Hi, @darkworon What is the use case you are trying to solve by disabling the Kubernetes injected environment variables?

[2020-05-12 09:53] darkworon commented on #1599
@vishal-biyani we have multiple customers deploying functions and we'd like to avoid to leak information about other functions and/or Kubernetes environment through DNS or environment variables.

[2020-05-12 13:56] therahulbhati opened #1600 "All fission pods crashes eventually when executed function having code file size of more than 1 MB"
**Fission/Kubernetes version**
Kubernetes version: v1.15.11-gke.12
Fission Version: v1.8.0

**Kubernetes platform: Google Kubernetes Engine**
3 Node Cluster. Each node with CPU: g1-small and Memory: 1.7 GB

**Describe the bug**

I created a function using a Python file of size 1.4 MB. On function invocation, all my pods started crashing eventually, starting from the router, executor, and storagesv

[2020-05-12 17:58] vishal-biyani commented on #1599
@darkworon Thanks - that makes sense. Since the field is available in PodSpec - we can enable in PodSpec. Currently, the mergePodSpec does not pick it up (https://github.com/fission/fission/blob/master/pkg/executor/util/merge.go#L57). Would you like to send a PR - as this is a relatively small change.

[2020-05-12 18:34] vishal-biyani opened #1603 "Github Action for CI/CD"
GitHub Actions can be used for CI and will solve a few problems potentially:

- [x] PRs from external contributors can be tested without additional work
- [x] Within CI Kind can be used or cluster can be created as a separate step
- [x] Testing Fission against 3/4 different versions of Kubernetes (Using Kind?)
- [x] A separate action can also be used for releasing Fission

[2020-05-13 09:12] #1599 closed

[2020-05-13 11:20] LittleFox94 commented on #1594
Educated guess without looking at anything: Ingress involved and not set correctly?

[2020-05-13 15:07] nanotkarashish commented on #1603
Can use this to run tests locally in dev env as well.
https://github.com/nektos/act

[2020-05-14 06:44] vishal-biyani commented on #1594
Hey, @LittleFox94 this is a problem specific to the NodeJS environment. Express/Body-parser package by default limits body size to 100KB (https://www.npmjs.com/package/body-parser#limit).

We bumped it up to 1MB but some users need bigger limits:

https://github.com/fission/fission/blob/aa8c27fd5d9a1b92062d87e73a0e96f1c9b7ba7a/environments/nodejs/server.js#L102-L105

[2020-05-14 12:33] rajalokan commented on #576
Adding more context around changes in the PR #1577

Before this work our storage client was a `storageConfig` stuct with storage level details and this config was referenced in `Client`.
[code]

To support multiple backends, I propose converting storageType from `string` to an `interface` and getting away from `localPath` & `containerName` etc. Storage level details like which location, which cont

[2020-05-15 04:44] vishal-biyani opened #1606 "Generated YAMLs - templating issue"
Release script has a missing step/misconfiguration which causes "RELEASE-NAME" to appear in the generated YAML files (fission-all-1.9.0.yaml and all others). For now, this has been fixed in 1.9.0 release but needs triage and fix.

![image (1)](https://user-images.githubusercontent.com/1167948/82012043-5beff480-9694-11ea-97c4-e790fb433574.png)

[2020-05-15 04:59] rajalokan commented on #1603
If anyone has not started work on this, i would like to take on this. Also I've one task in hand so will be start work on this after 2-3 days.

I've experience with github actions should be able to pick on fast.

[2020-05-17 05:27] vishal-biyani commented on #1603
@rajalokan Thank you - go ahead. You might want to tackle one item at a time. I am also doing some work around Skaffold + Kind for local dev - which can be used in the action workflow too. This is what I have in mind as part of this one:

1. Locally test Fission wit Skaffold and Kind - ideal case is we should be able to run the entire test suite end to end. There are some issues ATM - I will send

[2020-05-18 08:21] rahulchheda commented on #1585
@vishal-biyani , i think you are talking about exponential backoff mechanism? Or are you trying to implement some other backoff mechanism?

[2020-05-18 08:23] vishal-biyani commented on #1585
@rahulchheda Yes that's what I was thinking as an initial simple implementation.

[2020-05-18 08:24] rahulchheda commented on #1585
@vishal-biyani PTAL: https://github.com/kubernetes/kubernetes/blob/master/pkg/util/goroutinemap/exponentialbackoff/exponential_backoff.go

[2020-05-18 08:28] vishal-biyani commented on #1585
I am ok with either implementation @rahulchheda , do you want to send a PR?

[2020-05-18 08:28] rahulchheda commented on #1585
Yes, @vishal-biyani, I would like to take up this issue.

[2020-05-18 13:54] dannymk opened #1607 "RBAC Permissions for Developers/Users"
How do I allow users with the "devs" role to create functions without giving them full admin rights?  What are the resources and verbs I have to use for the fission namespace in order to grant access to use fission in our cluster?  It would be great to have an example in the documentation.  I am sure I am not the only one who has asked this question.

[2020-05-18 13:55] vishal-biyani opened #1608 "OpenAPI documentation"
The documentation needs to clearly lay out how to get the API Documentation using OpenAPI and how to access it from a client such as `curl` or postman

[2020-05-18 13:58] smruthi2187 opened #1610 "User guide for fission multi-tenancy feature"

[2020-05-18 14:00] vishal-biyani opened #1611 "Authentication and authorization"
Document the details of Authentication & Authorization for Fission and functions so the user knows what needs to be done.

[2020-05-18 14:02] svenvNL opened #1612 "Add examples in multiple languages"
Fission supports a lot of languages, but the documentation has examples in a single language. The [introduction to writing a function](https://docs.fission.io/docs/usage/functions/) has an example in JavaScript, while the[ section about configmaps](https://docs.fission.io/docs/usage/access-secret-cfgmap-in-function/) has an example in Python.

I would propose to have examples in all the available

[2020-05-18 14:02] svenvNL opened #1613 "Add links to examples on Github"
The documentation has a lot of example code. Most examples are not complete, some of it are (incomplete) spec files, other examples are JavaScript or Python code. I find it helpful to have fully working examples so I don't have to piece bits of documentation example code together for a working example.

Having all source code for an function in the docs is less then ideal (hence why all examples a

[2020-05-21 08:16] vishal-biyani opened #1619 "Port Forward failure if evicted controller pod exists"
Fission commands fail with an error such as this:

[code]

When there is an evicted controller pod - most likely the Kubectl/client-go port forward tries to port-forward to evicted pod

[code]
After removing the pod, things start working normally

[code]

[2020-05-21 22:02] ggilley opened #1620 "Nodejs environments are out of date"
The nodejs environments are using Node 8. Node 8 was end-of-lifed in December 2019. There have been no security updates since then. Need to update to a more recent version of nodejs. Looking at the support timelines, 12.x would seem like the best choice at the moment.

[Nodejs Releases](https://github.com/nodejs/Release)

[2020-05-22 05:28] #1609 closed

[2020-05-22 11:36] vishal-biyani commented on #1620
Thanks for filing this issue @ggilley - a definitely important one. We will get this prioritized in one of the upcoming releases.

[2020-05-23 15:34] vishal-biyani commented on #1619
A similar thing happens if there is an evicted router pod and someone tries to test a function:

[code]

[2020-05-23 18:46] vishal-biyani commented on #1594
Closed by #1618

[2020-05-23 18:46] #1594 closed

[2020-05-25 10:32] vishal-biyani commented on #1162
Hi @justinfx Once we have this PR ready https://github.com/fission/fission/issues/1565 - we should be able to support SCRAM too as documented here: https://keda.sh/docs/1.4/scalers/apache-kafka/#authentication-parameters

[2020-05-25 10:33] vishal-biyani commented on #1565
Fixes: https://github.com/fission/fission/issues/1162

[2020-05-26 04:17] bhavin192 commented on #1603
I was wondering if we can give KUTTL a try and see if we can replace current e2e test suite with a KUTTL test suite.

https://github.com/kudobuilder/kuttl
https://kuttl.dev/docs/kuttl-test-harness.html#writing-your-first-test

- It's possible to run commands as test steps in KUTTL

[2020-05-26 08:29] vishal-biyani commented on #1603
Reference for Skaffold and Kind is updated in the contributing docs now: https://docs.fission.io/docs/contributing/

[2020-05-26 09:37] vishal-biyani opened #1624 "Multiple MQ Servers"
Currently, Fission does not allow connecting to multiple MQ servers, for example, you can not connect to multiple Kafka instances in same installation easily. It would be a good idea to be able to connect to multiple Kafka or any other MQ instance.

[2020-05-26 09:39] vishal-biyani commented on #1624
The change in https://github.com/fission/fission/pull/1621 will fix this.

[2020-05-28 02:39] alexec commented on #1380
[code]

Unrelated?

[2020-05-28 04:24] vishal-biyani commented on #1603
Thanks, @bhavin192 for the suggestion - there is definitely room for better E2E tests. This issue is the first step in that direction. Once we have done 1-4/5 in the above list, this would be a logical step. I am adding this as an item just for reference.

[2020-05-28 17:40] dennisMKI opened #1626 "Connection errors after trying to deploy a java function with executortype newdeploy"
**Fission/Kubernetes version**

<pre>
$ fission --version
Error forwarding to port 55040: error upgrading connection: error dialing backend: dial tcp 10.240.0.4:10250: i/o timeout
</pre>

Running fission version with a clean installation:
<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-02-03T08:40:57Z"
    GitCommit: bda974a72c9093e241c1dae6a7fc1a2d16e28b02
    Version: 1.8.0

[2020-05-28 19:08] vishal-biyani commented on #1626
Hi @dennisMKI Thanks for filling the issue. This looks strange, will take a look my morning and update

[2020-05-30 12:53] dennisMKI commented on #1626
Hi @vishal-biyani , thank you for your answer. I'm looking forward to further information.
If you need further information from my side, please contact me.

[2020-06-04 05:22] slayerjain opened #1628 "Controlling concurrency of function executions within a Pod"
I have a java function that requires at least 2 CPU cores to complete execution in the required time. I've tried modeling it as a pod (and have that pod CPU request/limit 2), exposed as an HTTP server, and setup HPA but couldn't find a way to ensure that one pod is serving only one request at a time. Other applications are accessing the pods internally using k8s `service` object. I have fission in

[2020-06-04 05:27] slayerjain commented on #1561
I currently lead the data and platforms team at Fareye. We're using Fission as an alternative to AWS Lambda to write various glue logic and webhooks. We've recently started experimenting with fission for more high throughput/critical use cases which would be difficult to model as a pod (unless the application architecture was rewritten). ref https://github.com/fission/fission/issues/1628

[2020-06-04 08:54] slayerjain commented on #1628
Just tried setting it to `single` but it still runs multiple requests in the same pod

[2020-06-04 08:55] slayerjain commented on #1628
`apiVersion: fission.io/v1
kind: Environment
metadata:
  creationTimestamp: null
  name: dev
  namespace: default
spec:
  builder:
    command: build
    image: fission/jvm-builder
  imagepullsecret: ""
  keeparchive: true
  poolsize: 1
  allowedFunctionsPerContainer: single
  resources:
    limits:
      cpu: "2"
      memory: 2Gi
    requests:
      cpu: "1"
      memory: 1Gi
  runtime:
    imag

[2020-06-04 10:39] vishal-biyani opened #1630 "gcloud command in integration test"
Currently, we use `gcloud docker` command which will be deprecated in upcoming versions. The build/integration test script needs a change to ensure it works s before:

[code]

[2020-06-04 14:15] jacobpiggin opened #1631 "Error running function with NodePort router"
Kubernetes v1.18
Fission v1.9.0

Kubeadm on a single master node (CentOS8 VM) and WeaveNet addon.

**Describe the bug**
Set up fission with serviceType and routerServiceType = NodePort as my kube cluster doesn't have LoadBalancer support.
When running fission fn test --name hello I get:

` Error: error executing HTTP request: Get http://<ip address>:<random port e.g. 45153>/fission-function/hello:

[2020-06-05 05:53] vishal-biyani commented on #1626
Hi @dennisMKI Sorry, I was a bit caught up and hence the delay. I was able to try on AKS and could not reproduce the issue:

[code]

I will leave it running for some time to test it more but does not look like an issue. Can you confirm if your Minikube/AKS clusters are not running low on resources?

[2020-06-05 06:18] vishal-biyani commented on #1631
Hi @jacobpiggin Thanks for the details. The `fission fn test` command uses Kubectl based port forwarding for testing functions. Can you please verify two things for me:

1) Run the tets command with higher verbosity and share the output please:

`fission fn test --name fn_name --verbosity=3`

2) Check if you can port-forward the controller port (By replacing the name of actual controller pod name)

[2020-06-05 06:25] vishal-biyani opened #1632 "Python Env build Failing due to Pip3"
Due to a change in upstream image, the pip3 does not work anymore in Python 3 env and hence build fails:

[code]

The source of upstream change:

https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.12.0#python3_no_longer_provides_pip3.2C_use_py3-pip_from_community

Which says:

[code]

[2020-06-05 06:26] vishal-biyani commented on #1632
Thanks a lot @agiwalpooja20 for the fix and @bhavin192 for pointing me to Alpine docs quickly!

[2020-06-05 09:52] jacobpiggin commented on #1631
Thanks for the response @vishal-biyani I re-ran `fission fn test --name fn_name --verbosity=3` with the nodejs example and got the response expected.

Then I tried to run the HelloWorld java example and had similar issues so the following output corresponds to the Java example.

1. `fission fn test --name java-hello --verbosity=3` Result:
[code]

Then I ran `kubectl -n fission logs controller-86f4

[2020-06-05 10:34] vishal-biyani commented on #1632
Closed by #1633

[2020-06-05 10:34] #1632 closed

[2020-06-05 10:42] vishal-biyani commented on #1631
Hi @jacobpiggin So the issue I think is that the storage for Storage service, Prometheus and Alert manager need a volume for storing their data and hence it looks like they are not running.

If you describe those pods, you should see a mounted volume (This will be visible only once they are running properly.

[code]

You will also see PVCs bound:

[code]

So you will have to either use a dynamical

[2020-06-05 12:11] jacobpiggin commented on #1631
@vishal-biyani Yes that seems to be the problem.
`kubectl describe storagesvc` output includes two mounts:
`/fission from fission-storage (rw)`
`/var/run/secrets/kubernetes.io/serviceaccount from fission-svc-token (ro)`
but it also has warnings:
`Warning  Failed Scheduling  <unknown>  default-scheduler  running "VolumeBinding" filter plugin for pod "storagesvc": pod has unbound immediate Persisten

[2020-06-05 13:52] vishal-biyani commented on #1631
I am closing this for now - but please feel free to reopen if related or a new one if you face other issue.

[2020-06-05 13:52] #1631 closed

[2020-06-05 23:37] ggilley opened #1634 "version of fluent bit out of date"
The version of fluentbit included in the yaml files is very old (1.0.4). Just substituting a more recent version (tried 1.3) caused logging to fail. So there is some work to do to update it.

$ fission version
client:
  fission/core:
    BuildDate: "2020-05-10T16:11:44Z"
    GitCommit: 8a4d2c8ecc821e896d87f074660685565156aff1
    Version: 1.9.0
server:
  fission/core:
    BuildDate: "2020-05-10T16

[2020-06-06 03:33] ggilley opened #1635 "poolmgr for nodejs crash looping"
Running version 1.9.0

I'm getting a crashloop in poolmgr with nodejs. It looks like there was a check added before when making the symlink to make sure it doesn't already exist. Does anyone know why it was removed?

[https://github.com/yqf3139/fission/commit/566960d47f65cfa3b8715ddb449b164573598c94](url)

`\n\n","errorVerbose":"Internal error - \n\n\n\nError\n\n\n
Error: EEXIST: file already exis

[2020-06-06 06:45] vishal-biyani commented on #1635
Hi @ggilley I am not able to reproduce with a simple NodeJS function. Can you please share more details. I will meantime check the reason for removing the check.

[2020-06-06 07:27] vishal-biyani commented on #1634
Hi @ggilley

I was able to get both fluentbit versions 1.3 and 1.4 without any issues running in the cluster. Can you please share details what are you running into?

[code]

[2020-06-06 10:15] dennisMKI commented on #1626
Hi @vishal-biyani Thanks. I will check this and answer you afterwards.

[2020-06-06 17:43] ggilley commented on #1635
We are trying to implement the multi tenancy described in [https://github.com/fission/fission/blob/master/Documentation/wip/Multi-tenancy.md](url)

We separated the environment creation from the rest of the package and function creation. In doing so, we lost the annotations for `fission-name` and `fission-uid`. This caused it to crashloop.

We are still trying to get all of the pieces working. I w

[2020-06-08 03:33] funkypenguin commented on #1635
Hey folks, I work with @ggilley,

The root cause of the issue was that we'd omitted `  version: 2` from the environment YAML spec. This line was the only difference between a working and a broken environment :)

Cheers!
D

[2020-06-08 04:05] vishal-biyani commented on #1635
Hey @funkypenguin thanks for confirming and glad that issue is resolved. Closing this issue.

[2020-06-08 04:07] ggilley commented on #1635
I see you closed it. But it still crash looped with an error. It seems like it would be better at handling the errors more gracefully. That's really what I was asking about. There was code that helped to prevent the crash loop that was removed.

[2020-06-08 04:09] vishal-biyani commented on #1635
Hey @ggilley I thought it was solved - but if it is happening, I am open to keeping the issue for further investigation.

[2020-06-08 04:14] ggilley commented on #1635
Our issue is solved. I don’t thing fission should crash loop because we had an error in a version for an environment.

[2020-06-08 14:17] jacobpiggin opened #1636 "java.io.FileNotFoundException: /userfunc/deployarchive (Is a directory) with custom persistent volumes"
**Fission/Kubernetes version**
Kubernetes v1.18
Fission v1.9.0

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kubeadm on single master node (CentOS8 VM)

**Describe the bug**
Following on from [this issue](https://github.com/fission/fission/issues/1631) I created three custom Persistent Volumes and the PVCs bound to these volumes (storage-service, fission-prometheus-alertmanager, fission

[2020-06-08 14:26] vishal-biyani opened #1637 "JVM & Java Environment Re-Design and support for latest JDK"
Many Fission users are using JVM/Java environment but the JDK/JRE version currently in use is quite old. There are other shortcomings also listed below which need a redesign of the JVM environment with the latest versions of JDK and other features. This issue is to list current limitations, future expectations, and to document future design before implementation.

[2020-06-08 14:27] vishal-biyani commented on #1636
Hi @jacobpiggin You are right - there is no issue with volume anymore.

For JVM/Java environment, you will have to pass the version number and a keeparchive flag when creating an environment (As documented here: https://docs.fission.io/docs/languages/java/#building-the-function)

``--keeparchive --version 2``

Also on a related note, we are creating a newer version of JVM env to support newer JDKs

[2020-06-08 14:59] jacobpiggin commented on #1636
@vishal-biyani Thanks, that worked! I've subscribed to that issue. I'll close this.

[2020-06-08 14:59] #1636 closed

[2020-06-08 20:16] rahulchheda commented on #1619
@vishal-biyani PTAL: https://github.com/txn2/kubefwd/issues/125
I got some insights from this, might want to take a look.
Would take up this issue, seems like we add filtering for `fission-cli`

[2020-06-09 06:03] PeerXu opened #1639 "difference glibc version in go-env-1.14 and go-builder-1.14"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-05-10T16:11:44Z"
    GitCommit: 8a4d2c8ecc821e896d87f074660685565156aff1
    Version: 1.9.0
server:
  fission/core:
    BuildDate: "2020-05-10T16:11:44Z"
    GitCommit: 8a4d2c8ecc821e896d87f074660685565156aff1
    Version: 1.9.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18+

[2020-06-09 06:11] vishal-biyani commented on #1639
Thanks for filing the issue @PeerXu Would you want to contribute the change to fix this?

[2020-06-09 15:31] davidsmf opened #1640 "Poolmgr deployments missing after restart of executor"
**Fission/Kubernetes version**

Fission: 1.7.1
Kube: 1.14.9-eks

**Kubernetes platform (e.g. Google Kubernetes Engine)**

AWS/eks

**Describe the bug**

**To Reproduce**

Create many environments using poolmgr. We have 20.

Restart the executor container.

**Expected result**

All the functions continue to work.

**Actual result**

Some of the environments are missing a deployment, so the function

[2020-06-09 18:07] yair12 opened #1641 "Exception when deploying java function"
https://github.com/fission/fission/blob/65fd1d9fbb6a16ecce1bdb31e3056ffa56317191/environments/jvm/src/main/java/io/fission/Server.java#L60

Hi,

Using: fission-all-1.9.0-minikube

I am getting FileNotFoundException when specialize is called.

INFO 1 --- [nio-8888-exec-3] global                                   : Entrypoint class:io.fission.HelloWorld
java.io.FileNotFoundException: /userfunc/deplo

[2020-06-09 18:33] yair12 commented on #1641
When renaming the pod local archive inside /userfunc/deployarchive to deployarchive the function is deployed successfully.
I assume either the caller to specialize should send the full path to the file, or the implementation should look inside deployarchive directory.

[2020-06-10 03:25] vishal-biyani commented on #1641
Hi @yair12 This is a duplicate of this one: https://github.com/fission/fission/issues/1636#issuecomment-640657902

[2020-06-10 03:25] #1641 closed

[2020-06-10 07:36] PeerXu commented on #1639
@vishal-biyani
It seem to go-env base image using ubuntu:18.04, but golang:<version> images using debian:buster.
When I change go-env Dockerfile `(environments/go/Dockerfile-1.14)` base image from ubuntu:18.04 to debian:buster, the error is gone.

[2020-06-10 08:15] vishal-biyani commented on #1639
Hey @PeerXu Thanks - this is helpful. We will raise a PR to fix this one.

[2020-06-10 08:16] vishal-biyani commented on #1640
Hi, @davidsmf This was fixed in 1.8.0 (https://github.com/fission/fission/pull/1511) and I was not able to reproduce with 20 Env+functions with the latest release too. Would it be possible for you to upgrade to higher releases?

[2020-06-10 08:21] davidsmf commented on #1640
Thanks, I'll look at getting that upgrade done.

[2020-06-10 22:49] ggilley commented on #1634
Hey @vishal-biyani, we tried it again and still aren't able to get logs with 1.4.5

`root@cn1:~# fission function test --fns dev --name=hello
hello, world!
root@cn1:~# fission function log --name=hello --fns=dev
root@cn1:~#`

[2020-06-11 04:34] funkypenguin commented on #1634
Hey @vishal-biyani - the issue seems to have been introduced between fluent-bit 1.0.6 and 1.1.0.

For example, 1.0.6 works:

<details>
[code]
</details>

But 1.1.0 does not:

<details>
[code]
</details>

I went back and had a look at the [release notes for 1.1.0](https://fluentbit.io/announcements/v1.1.0/), but I don't see anything obvious which may have broken this :(

[2020-06-11 05:41] PeerXu commented on #1639
There is my code:

[code]

If comment `go-sqlite3` importing, the error message will be gone.

So it seem to be fission golang environment not work with `go-sqlite3` library.

[2020-06-11 06:03] vishal-biyani commented on #1639
@PeerXu What error you get when importing the `gp-sqlite3`?

[2020-06-11 07:04] PeerXu commented on #1639
Upload above code and test it.

[code]

[2020-06-13 11:38] toonsevrin opened #1647 "Add resource limits to fission pods (feedback required)"
I'd like to update the deployment charts to include
[code]
**what defaults do you recommend for:**
| name | dry install cpu | dry install ram |
| ------- | ------------------- | ------------------ |
|       buildermgr            | 1m           | 9Mi
|       controller              |  2m           | 10Mi
|       executor               |  4m           | 11Mi
|       kubewatcher        |  1m

[2020-06-13 11:51] toonsevrin commented on #1561
The problem I have with fission is that it messes with our GitOps workflow.

Ideally we should be able to provide Fission some Git credentials and let it pull the source code itself, instead of having us push it to fission (or requiring us to expose the source on a public http url).

[2020-06-18 15:48] vishal-biyani commented on #576
Closed by https://github.com/fission/fission/pull/1629

[2020-06-18 15:48] #576 closed

[2020-06-22 02:41] Chr1s1997 opened #1649 "Fission shows 'error sending request to function' on specific function"
The fission shows
Error calling function pical: 502; Please try again or fix the error: error sending request to function
on the pi calculation function, whereas when I run the hello function on fission docs, it's working properly. I wonder whether my code is wrong or I missed some of the setups.

[pi cal.zip](https://github.com/fission/fission/files/4810890/pi.cal.zip)

[2020-06-22 04:44] vishal-biyani commented on #1649
Hi @Chr1s1997 Can you please show us how you created the environment and function please?

[2020-06-22 10:39] vishal-biyani commented on #1647
Hi, @toonsevrin Thanks for pointing out and willing to help. I don't think we have good benchmark numbers ATM and it will depend on the load. I think we should define some reasonable defaults for stateless components (Router etc.) but with other components, we can not put a number unless we have some benchmarks in place. There are tests for that in test/benchmark if you would like to try it out.

[2020-06-25 10:48] vishal-biyani commented on #1535
## Fission Spec

Currently, we do have a watch mode in `fission spec apply`  - which enables a realtime dev workflow. Let me explain the current workflow:

Apply a function in watch mode:

[code]

Do notice the : `Watching files for changes...`

Now let's test the function:

[code]

Now, let's change the code in IDE by a small bit and see in console:

[code]

This is probably one place where addin

[2020-06-25 11:41] rahulchheda opened #1655 "Spawn separate Builder pods for different packages even if referring to same environment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

So, as of now, different packages with same environment, are build in same pod, which can be optimized to build parallelly with a separate pod for each package.
For eg:
`fission package create --sourcearchive java-src-pkg-1.zip --env java`

[2020-06-25 11:42] rahulchheda commented on #1655
cc: @vishal-biyani

[2020-06-25 17:28] mattroark commented on #1640
@vishal-biyani Our environment is already on 1.8.0 and we still experienced this.
[code]

[2020-06-26 17:30] vishal-biyani commented on #1640
Hi @mattroark I will reopen this so we can track, reproduce and fix this.

[2020-06-26 17:56] mattroark commented on #1640
Thanks! If any more info is needed from my side, or, if we encounter it again, I will report back.

[2020-06-26 22:47] dayeol opened #1656 "Why environment doesn't update?"
Hello, I am trying to customize the Python environment by following commands
But apparently the environment is not updated.
Could you advise if I am missing something?

I was using `fission/python-env`
[code]
Works fine. Great.

In order to update the environment:
In `fission/environments/python`. changed stuffs and ran
[code]
And then ran:
[code]

But then I still get the results from the previou

[2020-06-29 06:32] vishal-biyani commented on #1585
Closed by #1614

[2020-06-29 06:32] #1585 closed

[2020-06-29 19:53] vishal-biyani commented on #1606
Closing as this has was caused by a helm template generation issue and then YAMLs were generated separately.

[2020-06-29 19:53] #1606 closed

[2020-07-02 07:32] arush-sal opened #1660 "No warning or error when creating newdeploy type executor with targetcpu but without mincpu"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    gitcommit: cb8605cf60f5b6c7014ba45b68f055a57ed0e150
    builddate: "2019-06-03T10:28:00Z"
    version: 1.3.0
server:
  fission/core:
    gitcommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    builddate: "2020-06-29T16:26:41Z"
    version: 1.10.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2020-07-03 19:52] LittleFox94 opened #1661 "grace period should only apply to specialized function pods"
Terminating function pods takes some time, defined by the grace period of the environment.
(https://github.com/fission/fission/blob/master/pkg/executor/executortype/poolmgr/gp.go#L411)

I'd like a change to apply this sleep only on pods which are specialized, to reduce how annoying this is when changing things. Since the preStop command is executed in the environment container, this shouldn't be a

[2020-07-09 14:36] matthieu-eck commented on #1501
Hi, I would like to know if there is an existing workaround for this issue,
Thanks!

[2020-07-10 13:16] dennisMKI commented on #1626
Hi @vishal-biyani thank you for your help and sorry for the late response. Unfortunately, I cannot explain this issue to myself. When I retested it a few days ago, it suddenly worked without problems.

[2020-07-10 13:16] #1626 closed

[2020-07-10 15:53] hd40910 commented on #1555
Hi @vishal-biyani ,

Any update on this. The same is happening for us.
We could find the following in the fission router logs.

{
    "level": "error",
    "ts": 1594395554.2920804,
    "logger": "triggerset.http_trigger_set.nft-ba-sstest-11-atom-1",
    "caller": "router/functionHandler.go:650",
    **"msg": "error sending request to function",
    "error": " - error updating service address entr

[2020-07-11 18:36] airhorns opened #1662 "Websockets support"
**Is your feature request related to a problem? Please describe.**

Fission doesn't yet support running servers that speak Websockets instead of HTTP, but, they are annoying to run and would benefit from the same simplicity that Fission allows for normal services! It'd be nice to be able to deploy a function that supported `HTTP UPGRADE` requests and have it cold start quickly, autoscale, route lo

[2020-07-14 09:35] vishal-biyani opened #1663 "Keda Connectors"
As part of the PR https://github.com/fission/fission/pull/1657 - the Keda integration is in place (Solves https://github.com/fission/fission/issues/1565).

The initial PR had Kafka connector only and the following connectors need to be developed. The connectors are generic and are maintained in the https://github.com/fission/keda-connectors repo.

Instead of creating one issue for each connector,

[2020-07-14 09:35] vishal-biyani commented on #1565
Hey @salluvada The keda integration is ready to be merged with Kafka as an initial connector (https://github.com/fission/fission/pull/1657). We are also working on other connectors such as RabbitMQ and NATS. Do you need any other connectors and would like to contribute? Please free to pick up any connector from the issue: https://github.com/fission/fission/issues/1663

[2020-07-14 09:55] vishal-biyani commented on #1663
@therahulbhati Once your Keda integration is in - maybe a simple guide to writing a connector in this issue would be helpful for new contributors. You can take the example of Kafka or RabbitMQ connector and explain!

[2020-07-14 10:15] therahulbhati commented on #1663
Sure @vishal-biyani will do that.

[2020-07-14 11:36] ajoslin103 commented on #1663
Yes please, I need also MQTT

[2020-07-15 08:27] vishal-biyani opened #1664 "Documentation for Keda MQT Trigger"
Documentation needed for recently built MQT Integration based on Keda: https://github.com/fission/fission/pull/1657

[2020-07-15 11:05] vir-mir opened #1665 "Sentry integration"
Dear all,

I would like to integrate sentry, for my world functions, I use python. Fission, under the hood uses Flask framework.

This is good, but when I started reading about how integration works (https://docs.sentry.io/platforms/python/flask/), I realized that the launch is hidden from me.

You can tell me how to be in this situation, maybe there is a simple and elegant solution, in order to c

[2020-07-16 14:06] matthieu-eck opened #1666 "Functions scalability with PoolManager Executor type"
Hello,

I would like to know if it is planned to use the `PoolManager` Executor type with the load-balancer and auto-scale mechanism like the `NewDeploy` does.

It would be nice to be able to use warm pools and to still be able to auto-scale and use load-balancing.

Thanks!

[2020-07-16 15:03] vishal-biyani commented on #1665
Hi @vir-mir You might have to enhance the Python environment and add the Sentry dependency somewhere here: https://github.com/fission/fission/blob/master/environments/python/server.py#L25

Secondly the key can be added with environment variables which are supported in [podspec](https://docs.fission.io/docs/spec/podspec/envvar/)

While you can do all of this in function too I am sure you don't want

[2020-07-16 15:20] vishal-biyani commented on #1656
Hey @dayeol If you are using exactly same tag for the image the [Kubernetes's ImagePullPolicy](https://kubernetes.io/docs/concepts/containers/images/#updating-images) might be causing this. The default value in Fission installation is :

`pullPolicy: IfNotPresent`

Can you try changing the tag of env image and see if it helps?

[2020-07-16 15:22] vishal-biyani commented on #1649
Hi @Chr1s1997 please update us with logs when you get a chance, I am closing this issue, for now, but please feel free to reopen!

[2020-07-16 15:22] #1649 closed

[2020-07-16 15:48] vir-mir commented on #1665
@vishal-biyani  Yes, that's what I thought. tell me, maybe I can make you MR, what would it be in delivery out of the box?

[2020-07-17 06:39] vishal-biyani commented on #1665
Hi @vir-mir Sure - you can make a PR such that it is fairly generic and works in a way that if user does not specify the sentry key in ENV - sentry is not initialized. I would be happy to get it in Fission!

[2020-07-19 07:03] vishal-biyani opened #1668 "Kubectl Explain should give information for Fission CRDs"
Kubectl explains is useful for a Fission user to write function specs especially but it does not give any information as of now.

[code]
It should look something similar to:

[code]

[2020-07-19 21:24] gkainth commented on #1230
Hi.

Has this feature made much progress? I'm currently evaluating several solutions, am leaning to Fission but would like to understand timelines on this feature.

[2020-07-21 07:04] therahulbhati commented on #1663
# Connector Development Guide

The job of the connector is to read messages from the topic, invoke fission function, and write response or error in the respective queues.

## Following are steps required to write a connector:
1. Create a Consumer for the queue
2. Create a Producer for the queue
3. Read msg from the queue using the consumer
4. Create a POST request with the following headers using

[2020-07-22 14:33] odidev opened #1672 "Support for arm64"
**Is your feature request related to a problem? Please describe.**
Hi Team,

I have observed that in https://github.com/fission/fission/blob/master/hack/travis-kube-setup.sh#L17 file the STATICCHECK_VERSION=2019.2.3 which is not available for arm64 and it becomes available from version 2020.1.2. With this new version, the package is failing as certain checks like ST1019 and S1039 became available

[2020-07-22 14:39] vishal-biyani commented on #1672
@odidev We would love to add ARM64 support but at the moment there is no active work going on. Would you like to contribute this feature to Fission?

[2020-07-22 14:58] hd40910 opened #1673 "Default combination of fnTimeout and Idletimeout causing http status code 504 on parallel executions"
@vishal-biyani

In one of our tests we are trying to invoke the same poolmamanger function in parallel and it fails after few invocations.
**The steps we followed are :**
- Create a python function, the code has a random sleep between 10 to 30 seconds
- Create a spec for this function and deploy it will default  fnTimeout and Idletimeout
- Invoke this function via http route using 10 parallel thre

[2020-07-23 09:25] vishal-biyani commented on #1673
Hey @hd40910 This is an error due to `SpecializationTimeout` - and there is a configuration in function spec. Can you please try increasing that to something like 300s and LMK the results please?

[code]

[2020-07-24 15:20] tamphuc0503 commented on #1133
Hi, I have the same issue. Please help me to investigate.

My K cluster running on bare metals (HA masters and 6 other nodes).

Im install by apply -f fission-all-1.10

1. My pods after apply fission-all-1.10

![image](https://user-images.githubusercontent.com/12606302/88406883-7d3f3080-cdfb-11ea-902b-1e896b3e566d.png)
I found that a pod is completed.

![image](https://user-images.githubuserconten

[2020-07-24 15:39] vishal-biyani commented on #1133
Hey @tamphuc0503 - what is your cluster environment/setup like?

[2020-07-25 04:20] tamphuc0503 commented on #1133
We are using kube 1.17, docker 1.18. just that..

Still cannot track why cannot proxy those port..

Thank you for your help...

On Fri, Jul 24, 2020 at 22:41 Vishal <notifications@github.com> wrote:

--
Best Regards

Phuc Nguyen.

[2020-07-25 09:37] hd40910 commented on #1673
Thanks @vishal-biyani

SpecializationTimeout did not help with this .

After trying the suggestion and playing with the timeouts, I have more details to add regarding the issue. Am pin pointing to the usage of  idletimeout

There are 3 things in picture:
1.	Fntimeout – Time to wait for function to respond
2.	Idletimeout – Time pod will stay ideal if no new request is received
3.	Graceperiod – Time

[2020-07-25 17:09] hd40910 opened #1676 "Fission looses track of function pods when they get killed due to OOM issues and K8 restarts them"
Hi @vishal-biyani ,

While trying some load testing on python based fission functions, I came across this behavior which looks like an issue.
The issue in hand is that if a fission function is getting executed and due to some reason it goes OOM the pods gets restarted.
The fission router does respond with an error code to the invoking application. But the pod gets restarted and the restarted pod j

[2020-07-30 12:55] vishal-biyani commented on #1230
Hi @gkainth We don't have any specific progress on this yet but this is easily doable:

- A primary function that accepts the message and responds with an ID.
- The function places the request in a queue.
- Another function is invoked by queue - which runs for a longer duration
- After execution of the function, the response is kept in a response queue
- The primary function now if requested for s

[2020-07-30 13:00] vishal-biyani commented on #1656
Hey @dayeol - I am going to close this issue, but please feel free to reopen if you have issues/questions!

[2020-07-30 13:00] #1656 closed

[2020-07-30 13:01] vishal-biyani commented on #1661
Hey @LittleFox94 Would the `--graceperiod` setting when creating the environment not help with this one?

[2020-07-30 13:06] LittleFox94 commented on #1661
This sets the grace period I'm talking about. That grace period should only be used for pods of that environment with code running in them.

At least when non-specialized environments are thought of being "only for hot-standby, no processing until specialized"

[2020-07-30 13:07] vishal-biyani commented on #1666
Hi @matthieu-eck At the moment at least we don't have plans to introduce service/HPA in the pool manager executor. There are couple of reasons for this:
- The service entrypoint update when a new pod is added takes some time and this comes in the request path
- Scaling is in a way built-in pool manager - it creates a new pod for an execution.
- At some point, we might have a combined new executor

[2020-07-30 13:11] vishal-biyani commented on #1662
Hey @airhorns - thanks for such a detailed request - we will do some work and consider building this out in upcoming releases.

[2020-07-30 13:19] vishal-biyani commented on #1162
Fission now can supports SASL, SCRAM based on the new Keda based MQTrigger. The PR is https://github.com/fission/fission/pull/1657 and blog details out working here: https://blog.fission.io/posts/event-driven-scaling-fission-function-using-keda/

[2020-07-30 13:19] #1162 closed

[2020-07-30 13:22] vishal-biyani commented on #1550
This will be fixed by https://github.com/fission/fission/pull/1671 also reported in https://github.com/fission/fission/issues/1634

[2020-07-30 13:43] therahulbhati commented on #1600
I have was later able to execute the function succesfully. Hence, closing this issue.

[2020-07-30 15:34] vishal-biyani commented on #1550
Closed by #1671

[2020-07-30 15:34] #1550 closed

[2020-07-30 15:35] vishal-biyani commented on #1565
We will close this issue and track connectors development in #1663

[2020-07-30 15:35] #1565 closed

[2020-07-30 15:36] vishal-biyani commented on #1624
Closed by #1657

[2020-07-30 15:36] #1624 closed

[2020-07-30 15:37] vishal-biyani commented on #1664
Closed by https://github.com/fission/docs.fission.io/pull/211

[2020-07-30 15:37] #1664 closed

[2020-07-30 15:44] vishal-biyani commented on #1634
Closed by https://github.com/fission/fission/pull/1671

[2020-07-30 15:44] #1634 closed

[2020-08-04 04:16] #1665 closed

[2020-08-04 08:38] odidev commented on #1672
Yes, I would like to contribute to this feature of fission. I was trying to add arm64 job on Travis-ci and it looks that the end to end tests are getting skipped as we don't have google cloud credentials so we are not sure whether the test will be running fine or not and rest everything is working fine.

Commit link- https://github.com/odidev/fission/commit/705388c70f316e7303fc131fad1f14f0b31988e7

[2020-08-05 12:45] hd40910 opened #1679 "Feature request on Auto Scaling using http route requests"
Hi @vishal-biyani ,

We have a feature where we need to use the same function for parallel execution of the same transition with different data.
This means the same function will be called multiple times in parallel and we should start executing them immediately.

**Use case Example :**
1.	Develop a Function1 which connects to a target server and sleeps for 120 seconds.
2.	Call this function 5 tim

[2020-08-07 09:07] vishal-biyani commented on #1676
Hi @hd40910 I used the same code as you shared but could not reproduce the same.

Once I invoked the function, I see the one getting OOMKIlled:

[code]

Then after about 2 minutes I see the pod getting cleaned up:

[code]

And executor logs also mention the clean up:

[code]

[2020-08-11 07:04] vishal-biyani commented on #58
Latest report card:
https://goreportcard.com/report/github.com/fission/fission

[2020-08-11 07:09] vishal-biyani commented on #196
These will now be tracked under: https://github.com/fission/fission/issues/1663

[2020-08-11 07:09] #196 closed

[2020-08-11 07:09] vishal-biyani commented on #197
Tracking this issue now here: https://github.com/fission/fission/issues/1663

[2020-08-11 07:09] #197 closed

[2020-08-12 13:15] vishal-biyani commented on #1679
Hi @hd40910

I think there are two distinct problems that we are talking about here.

The first one is of calling X number of functions based on the number of events received. This is a pure orchestration problem and the best way to design is to have a parent/orchestrator function call subsequent functions and wait for the execution of all. If you do this synchronously or async is a design choice.

[2020-08-12 13:15] #1679 closed

[2020-08-12 13:17] vishal-biyani commented on #1673
@hd40910 This is indeed a bug in Fission and needs to be fixed. The basic problem is right now when the same function is called in the pool manager, only one specialization is happening. I will prioritize this to be of higher priority in upcoming releases.

[2020-08-13 09:50] hd40910 commented on #1679
Thanks @vishal-biyani

[2020-08-13 09:51] hd40910 commented on #1673
Thanks @vishal-biyani.

[2020-08-13 11:06] hd40910 commented on #1676
Thanks @vishal-biyani .

There seems to be a difference. At any given point of time i see no more than 1 pod for a single pool manager function.
In the example that you pasted i see more than one **Running** pods with the same id **"kf4v2"**.
Is there any additional configuration you are using ?

If you look at my example, no matter how many times I run the command I see only one container
[code]

[2020-08-13 11:41] hd40910 commented on #1676
@vishal-biyani  Please ignore the above. I will check it again and reopen if required.

[2020-08-13 11:41] #1676 closed

[2020-08-27 04:46] vishal-biyani opened #1687 "Kubectl Apply for Fission Specs"
Kubectl apply does not work for Fission specs - especially when the function has a package that needs building using builder. Kubectl apply gives errors as well when applying the specs

[code]

It would be nice to be able to apply Fission specs using Kubectl - it also will then allow the packaging the function specs as a Helm chart and deploy in a uniform manner.

The change would need a change in

[2020-08-27 05:47] ankitjain235 opened #1688 "CRD api version `apiextensions.k8s.io/v1beta1` is currently deprecated and is to be removed in Kubernetes 1.19"
As per Kubernetes 1.16 release notes:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals
`The apiextensions.k8s.io/v1beta1 version of CustomResourceDefinition is deprecated and will no longer be served in v1.19. Use apiextensions.k8s.io/v1 instead. (#79604, @liggitt)`
Currently fission is using apiextensions.k8s.io/v1beta1 to create CRDs.
Thi

[2020-08-28 04:55] vishal-biyani commented on #1620
Closed by https://github.com/fission/fission/pull/1683

[2020-08-28 04:55] #1620 closed

[2020-08-28 04:55] vishal-biyani opened #1690 "Fission YAML Spec install error"
When installing Fission with the YAML manifests, it runs into an error

[code]

[2020-08-28 09:44] #1690 closed

[2020-08-31 04:57] msshroff opened #1691 "Upper Limit to the number of PODs what PoolManager can spawn"
Currently there is no "upper limit" to the number of PODs which PoolManager can spawn.
In a heavy load system this  behaviour can overwhelm the k8s cluster.

**Current Behaviour**
If we get multiple triggers(mqt/ht/tt) parallely for too many functions in single fission environment ( PoolManager ), fission will keep spawning new PODs for all the incoming triggers without any restrain.

**Describe t

[2020-08-31 05:27] msshroff opened #1692 "Fission Function Trigger Level Priorities"
Currently we do not have any "Priority" set to the incoming function call.
All the function calls are treated the same.

We have upper limit to the number of PODs we can run in PoolManager and NewDeploy,
it can happen the function calls will not find a POD to run and will timeout (based on `--fntimeout`) without any response.

This situation will especially happen if we have some "long running fun

[2020-08-31 05:33] msshroff opened #1693 "Segragation of WaitTime and RunTime for implementing fntimeout"
Currently we have "TimeOut" for any function call based on `--fntimeout`

But it does not consider separately:

1. The time function call is waiting for the getting the POD, specializing it
2. Actual Runtime of the function call

We need ability to have separate timeouts for "WaitTime" and "RunTime"

[2020-08-31 09:30] msshroff opened #1694 "Takes very long for 'fission spec apply'"
[fission-dump_1598867051.zip](https://github.com/fission/fission/files/5149607/fission-dump_1598867051.zip)

**Fission/Kubernetes version**
<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-05-10T16:11:44Z"
    GitCommit: 8a4d2c8ecc821e896d87f074660685565156aff1
    Version: 1.9.0
server:
  fission/core:
    BuildDate: "2020-05-10T16:11:44Z"
    GitCommit: 8a4d2c8ecc821e896d87f0

[2020-08-31 09:55] msshroff opened #1695 "Ability to effectively Manage Request and Limit for Fission Functions"
Currently we do have the ability to manage the resource `request` and `limit` at the fission environment level.
Like below:

[code]
In the concept of PoolManager we run multiple functions in the single fission environment.
Each function has different resource requirements.

Having single resource `request` and `limit` configuration according to fission env for all the functions running on that env

[2020-09-02 20:22] vijayansarathy opened #1699 "Service Account in PodSpec is Ignored"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-06-29T16:26:41Z"
    GitCommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    Version: 1.10.0
server:
  fission/core:
    BuildDate: "2020-06-29T16:26:41Z"
    GitCommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    Version: 1.10.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2020-09-03 13:41] vishal-biyani commented on #1518
Closed by https://github.com/fission/fission-java-libs/pull/5

[2020-09-03 13:41] #1518 closed

[2020-09-03 13:47] vishal-biyani commented on #198
RabbitMQ integration is now available as Keda based MQTrigger. The PR here: https://github.com/fission/keda-connectors/pull/3

[2020-09-03 13:48] #984 closed

[2020-09-03 13:50] vishal-biyani commented on #748
Closed by https://github.com/fission/fission-java-libs/pull/5

[2020-09-03 13:50] #748 closed

[2020-09-03 13:54] vishal-biyani commented on #1007
Closing for lack of activity.

[2020-09-03 13:54] #1007 closed

[2020-09-03 13:56] vishal-biyani commented on #372
Closing for lack of activity.

[2020-09-03 13:56] #372 closed

[2020-09-07 08:34] Samaruq opened #1703 "Auto generated package name uses too long UID"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-06-29T16:26:41Z"
    GitCommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    Version: 1.10.0
server:
  fission/core:
    BuildDate: "2020-06-29T16:26:41Z"
    GitCommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    Version: 1.10.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2020-09-07 13:34] vishal-biyani commented on #1639
Hey @PeerXu While @rahulchheda has fixed this in https://github.com/fission/fission/pull/1650 and is a trivial fix - the only thing is this might break it for some users if they are not using builder and if we suddenly change the underlying OS. I am going to close the issue and PR for now - as you can use a custom image and build your own environment. In the future we will have to find a better wa

[2020-09-07 13:34] #1639 closed

[2020-09-08 10:33] vishal-biyani opened #1704 "Benchmark tests"
Some additional benchmark tests need to be run post 1.11 release and results updated in https://github.com/fission/benchmark. The specific areas to cover are:

1) Long-running (30-180s) functions in NewDeployment as well as Pool manager
2) A sudden burst of requests (10-1000 in less than 1-2 minutes)

[2020-09-08 16:16] vishal-biyani commented on #1579
Hi @PraveenGNair With the new JVM jersey merged and new version of the dependency is also available now here: https://search.maven.org/artifact/io.fission/fission-jvm-jersey/0.0.1/jar

I will close this issue for now but please reopen another one if you find something when trying the new environment. We will also update the blog & docs as part of the release next week.

[2020-09-08 16:16] #1579 closed

[2020-09-08 16:20] vishal-biyani commented on #1505
With https://github.com/fission/fission/pull/1677 merged - XML now works with new JVM environment.

[2020-09-09 05:23] swaroopnuli opened #1707 "Requst to add compatability for AWS Fargate"
**Is your feature request related to a problem? Please describe.**
I'm currently using AWS EKS with node group as worker nodes. This is adding to the cost of running min scale. Hoping to have this scale sorted out based on using Fargate Profiles for fission-function pods deployment. I would like to see the elasticity of scaling function pods from near Zero min scale to Max scale possible with redu

[2020-09-14 02:58] vishal-biyani commented on #1682
Closed by #1701

[2020-09-14 02:58] #1682 closed

[2020-09-14 13:12] jahredhope commented on #1635
I believe I'm experiencing the same issue.
I'm attempting to setup my first few functions and am making mistakes as I do. The errors caused by the repeated calls to `symlinkSync` make it look like the error isn't in my code leading, to a wild goose chase when the real issue was `export` vs `module.exports`.

This seems like quite a common scenario (developer's writing code that doesn't work, espec

[2020-09-14 13:15] vishal-biyani commented on #1635
Hi @jahredhope Thanks for the details and linking the relevant PR, I wasn't sure if it was related. I will get this prioritized for the next release (1.12)

[2020-09-14 13:22] vishal-biyani opened #1712 "StorageSvc upgrade sometimes has issues in cloud"
Many times, mostly in cloud provider deployments, the upgrade of storage service fails due to disk mount/unmount while rest of pods do get upgraded. This causes the Helm to mark the release as potentially failed and also leaves the storage service containers in a dangling state:

[code]

Related events:

[code]

[2020-09-14 16:50] therahulbhati opened #1713 "Optimize get calls to function crd in api.go"
Get calls are made to k8s while getting serviceURL and untap function service. Under high load, this could become a bottleneck, this could be improved using solutions like caching or somehow reusing the function from the request body.

[2020-09-16 13:51] vishal-biyani commented on #1628
Closed by #1698 - will be available in release 1.11.0

[2020-09-16 13:51] #1628 closed

[2020-09-16 16:03] chenjr0719 commented on #1427
Hi there, I try to enable the HPA with my function. However, sometimes it will not scale out successfully.
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/13619684/93362098-2ba1a800-f878-11ea-94c2-7d607deea3f4.png">
And I can confirm there are lots of pods been created but removed in a very short period.
<img width="1552" alt="image" src="https://user-images.githubuser

[2020-09-17 04:59] vishal-biyani commented on #1673
Closing this as this is now released in 1.11.0

[2020-09-17 04:59] #1673 closed

[2020-09-17 11:54] bharathnatarajan1 opened #1717 "curl http://${FISSION_ROUTER}/hello returns HTTP 404"
Kubernetes Version V1.9.0, Fission Version 1.11.0, Windows 10 Enterprise, driver=docker minikube version  v1.13.0

**Describe the bug**
Getting HTTP 404 when trying to access fission function 'hello' through $FISSION_ROUTER.

**To Reproduce**

1. fission env create --name node --image fission/node-env
2. fission fn create --name hello --code hello.js --env node
3. fission route create --function h

[2020-09-17 16:03] vishal-biyani commented on #1691
Hi @msshroff With the concurrency field introduced in 1.11.0 - one can now control the number of pods specialized at each function level. If you add up the concurrency numbers of all functions from an env, you can fairly easily control the pool level pods that will be created. Do you think there is still a use case for the pool level limit?

[2020-09-17 16:10] vishal-biyani commented on #1693
Hi @msshroff I confirmed from code and we actually use the user passed `fntimeout` for the request we make to the executor (Reference: https://github.com/fission/fission/blob/master/pkg/router/functionHandler.go#L385 ). Any waiting time that happens is before this if the pod was busy. Also with the new concurrency feature - this wait time does not exist and if a request can be served because the f

[2020-09-18 12:36] swaroopnuli opened #1718 "Fission ENV update failing with out image parameter"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-09-16T15:37:59Z"
    GitCommit: 09b4ffed78ad7a7eea7ebaf47e7644843b0a0b12
    Version: 1.11.0
server:
  fission/core:
    BuildDate: "2020-09-16T13:41:28Z"
    GitCommit: f034a1c734af51cdd6dd4449d1db253a67e699c3
    Version: 1.11.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2020-09-19 15:54] swaroopnuli opened #1719 "fission cli fn/env list improvments"
**Is your feature request related to a problem? Please describe.**
Unnecessary details for pool manager functions
1. min/max cpu/mem not applicable for pool manager functions
2. target cpu not applicable for pool manager functions

Missing details for pool manager function
1.  function concurrency
2. ENV's poolsize

**Describe the solution you'd like**
1. Segregate Pool Manager functions and NewDe

[2020-09-19 15:58] swaroopnuli opened #1720 "Alert user if setting poolsize to zero"
**Fission/Kubernetes version**

<pre>
$ fission --version
1.11.0
$ kubectl version
AWS EKS 1.17.9
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
AWS EKS

**Describe the bug**

Poolmanger Functions associated with Environments having poolsize set to 0 are failing.

Please provide an indication if functions cannot be created with poolsize 0.
Otherwise have flexiblity of scalingup ev

[2020-09-19 16:11] swaroopnuli opened #1721 "Ability to update fission env variables through fission CLI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Missing functionality to update min/max cpu/mem of an exiting ENV. Currently, to update, we are forced to delete and re-create the env. This also has a risk of dependent functions being erratic. It also de-couple resource utilization indepe

[2020-09-19 17:57] airhorns commented on #1662
Any movement on this? I realize it's a doozy but it'd be amazing to get support at some point!

[2020-09-21 06:24] vishal-biyani commented on #573
Hey @sahil-lakhwani and @girishg4t as discussed here are my early thoughts on environment re-design discussion and how we can proceed.

- On UI/UX of Environments (Primarily for @girishg4t)
	- A simple portal similar to  https://securityhub.dev which can list out all existing environments. Ideally, the website should be JAMStack based so that we can use something dead simple like Netlify/Github it

[2020-09-21 08:40] chenjr0719 opened #1722 "Idle timeout and function timeout does not work as expected"
Hi there, I would like to confirm the behavior of function's `idletimeout` and `functiontimeout`. If my function will running longer than 120 secs and I set the `idletimeout` to 30 secs with `functiontimeout` to 180 secs, does my function pod be recycled before response?

Now I'm using 1.11.0 release and my function pod will be recycled. This is a little be different from my expect. :sweat_smile:

[2020-09-21 08:45] sahil-lakhwani commented on #1699
Is this due to the fact there can only be one ServiceAccount per pod and the fission-fetcher is necessarily needed.

https://github.com/fission/fission/blob/f3fe3123b3130afdc661cdde648d04e5efae70df/pkg/executor/executortype/poolmgr/gp.go#L450

[2020-09-21 10:04] vishal-biyani commented on #1699
@sahil-lakhwani I think the idea is to be able to override the SA used by Fission and use something else.

[2020-09-21 10:58] vishal-biyani commented on #1662
Hey @airhorns - this is a feature we would love to have in Fission. I am prioritizing this and plan to land in 1.13/1.14 roughly!

[2020-09-21 11:00] sahil-lakhwani commented on #1699
Overriding can be made possible, but I am thinking if the SA is overridden, wouldn't it break the fetcher?

[2020-09-21 11:02] vishal-biyani commented on #1720
The Poolsize for pool manager functions can not be zero because the pods are specialized from pool. You need a pool of at least 1 size for pool manager functions! I am closing this issue but please let us know if you have other questions.

[2020-09-21 11:03] vishal-biyani commented on #1719
Similar/Duplicate of https://github.com/fission/fission/issues/1721

[2020-09-21 11:04] vishal-biyani commented on #1718
Similar/Duplicate of https://github.com/fission/fission/issues/1721

[2020-09-21 11:04] #1718 closed

[2020-09-21 11:05] #1691 closed

[2020-09-21 11:21] vishal-biyani commented on #1717
Hi @bharathnatarajan1 The logs say that `"error":"environments.fission.io "node" not found"` Can you please please ping on slack and seek some help. I am closing this issue as this does not seem like a bug.

[2020-09-21 11:21] #1717 closed

[2020-09-21 11:35] swaroopnuli commented on #1720
Got it. It will be helpful if there is an alert or poolsize=0 disabled to avoid it.

[2020-09-21 12:45] swaroopnuli opened #1725 "Reconcile PoolManager ENV Deployment when force deleted"
**Is your feature request related to a problem? Please describe.**
Should be able to delete all the pool manager deploys. It could be helpful while purging zombie pods. Deleting pods directly is a very time-consuming process at scale.

**Describe the solution you'd like**
Reconcile the deployments when they are force deleted similar to newdeploy executor.
It will be great to have new pods created

[2020-09-24 11:34] chenjr0719 opened #1728 "PoolManager's concurrency is not work as expected"
Hi there, I have tried the concurrency of PoolManager in recent days. However, I found that concurrency not work as my expectation.

By default, the concurrency is 5, but when I send 10 requests at the same time (with `hey`), the executor will still create more than 5 pods to handle those reqeusts. Could you check is PoolManager's concurrency work as expected? Thank you. 😃

Here is the steps to re

[2020-09-24 11:41] vishal-biyani commented on #1728
Hi @chenjr0719 Thanks for filing this - and we have noticed this too. This is a bug introduced due to another change we did around CRD Validation and the fix is here: https://github.com/fission/fission/pull/1727

This issue is only with new installs in a fresh cluster but not for upgrades from previous versions of Fission. CC @therahulbhati

[2020-09-25 02:38] jamesduan opened #1729 "I need a rest api service for fission"
In my project , i want a rest api service to manage fission function and http trigger routers.Not use fission cmd client to manage function.

[2020-09-25 04:47] vishal-biyani commented on #1728
Hi @chenjr0719 - let me explain how things work with the pool manager.

Let's say you create an environment with pool size of 5 - almost immediately a pool of 5 pods is created:

[code]

If you notice the labels - all these 5 pods have label `managed=true`

[code]

Now let's say you create a function with a concurrency of 5. And you fire 5 function invocations at the same time and assume that each

[2020-09-25 04:47] #1728 closed

[2020-09-25 15:07] abbaspw21 opened #1730 "Insecure connection to TLS enabled Kafka using Fission MQT"
**Is your feature request related to a problem? Please describe.**
We want to connect TLS enabled Kafka via fission MQT without authentication in an insecure way as we just want to transmit the data in encrypted form.

**Describe the solution you'd like**
Can we have a environment variable in Fission MQT deployment which allows connection to TLS enabled kafka without authentication

It can be achi

[2020-09-26 07:15] hd40910 commented on #1730
Tagging @vishal-biyani

[2020-09-28 11:54] ari-hacks commented on #58
👋🏾 I'd like to take this one.

[2020-09-28 11:55] kichloo commented on #1607
Please assign this issue to me!

[2020-09-28 12:57] vishal-biyani commented on #58
@ari-hacks Thanks - please take it up & raise a PR when ready. Please let us know if you have any questions.

[2020-09-28 21:12] jbhutada96 commented on #1133
Hey ,@tamphuc003 i am also facing the same issue with minikube clusters . Did your issue get resolved ?

[2020-09-29 05:51] vishal-biyani commented on #1730
Hey @abbaspw21 The Kafka integration already has Kafka TLS as a flag at the Fission level, please reinstall with the flag as false.

https://github.com/fission/fission/blob/ef65602b79f0acbd5f238ba3bfcc736fa0f59149/charts/fission-all/values.yaml#L179-L188

[2020-09-29 06:10] chenjr0719 commented on #1728
Hi @vishal-biyani , thanks for your explanation.  And I need to say sorry to you because I didn't describe it correctly. I record my screen to show more detailed behavior about my issue.
![Screen Recording 2020-09-25 at 6 16 54 PM](https://user-images.githubusercontent.com/13619684/94518503-a1384b80-025c-11eb-845b-a0af29e3d36a.gif)

As you can see, after I send 10 requests by `hey`, the number of

[2020-09-29 06:25] abbaspw21 commented on #1730
Hi @vishal-biyani,

We wanted to have TLS enabled but we don't want the certificates to get validated (insecure connection to TLS endpoint ).

[code]
Th indicator tls.enabled means communication is happening using TLs protocol without any authentication.

[2020-09-29 06:47] vishal-biyani commented on #1730
Got it - thanks, that makes sense @abbaspw21 Then what you pointed probably makes sense. Do you know if you folks would be switching to Keda based MQT anytime soon because that might affect how much we want this feature?

[2020-09-29 10:47] abbaspw21 commented on #1730
Hi @vishal-biyani ,

Currently we don't have any solid plans for Keda based MQT.
So it would much appreciated if we can get a private patch for this issue.

[2020-09-29 17:51] Divya063 commented on #1721
@swaroopnuli I would like to work on this issue.

[2020-09-29 18:03] vishal-biyani commented on #1721
Hey @Divya063 Thanks - please let us know if you need any help/pointers and raise PR when ready!

[2020-09-29 18:31] KarenEfereyan commented on #1719
hello @vishal-biyani  this has a label of good first issue, Can i take a look at it?

[2020-09-29 18:35] vishal-biyani commented on #1719
Hey @KarenEfereyan Thanks and absolutely - please let us know if you need any help getting started!

[2020-09-30 04:33] christyjacob4 commented on #1479
Hi @vishal-biyani I'd like to take this up.
If I understood this correctly, I will need to add a new label in the helm chart for the resources right ?

[2020-09-30 04:55] viveksinghggits commented on #1479
We should be able to lable all fission components with app=fission lets say and specific component with `component=executor` or `component=router`.

[2020-09-30 06:37] vishal-biyani commented on #1479
@christyjacob4 Sure, please feel free to ask questions on slack and raise a PR when ready

[2020-09-30 13:34] aavishkarmishra commented on #1607
Interested

[2020-09-30 15:58] ari-hacks commented on #58
@vishal-biyani and @soamvasani  I have a couple of questions:

1. Can this issue be broken down into separate PRs because there is quite a bit? (For example a PR per file or per sub dir? )
2. I'm using [staticcheck](https://staticcheck.io/docs/#cli) the updated version of go-unused that was recommended above to check for unused exports, for exports not listed as unused is there a specific format f

[2020-09-30 16:45] Parikshit-Hooda opened #1736 "typo in readme.md"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

There is a typo in the repo's README.md file.

**To Reproduce**

1. Open README.md file.
2. Search for **meetnigs**.

**Expected result**

**meetings**.

**Actual result**

**Screenshots/Dump file**

<pre>
$ fission support dump
</pre>

[2020-09-30 17:05] vishal-biyani commented on #58
@ari-hacks

1. Absolutely, yes please - I think that will also make reviews easier.
2. Can you please give me an example, I am not super clear what do you mean here?

[2020-09-30 17:06] khushijindal commented on #1736
Hey @Parikshit-Hooda can I take up this issue?

[2020-09-30 17:56] ari-hacks commented on #58
@vishal-biyani, For example one warning reads:

Line 27: warning: exported type FakeFunction should have comment or be unexported (golint)

I was wondering what type of comment should precede that type. Or is this warning typical of all unused exports?

[2020-09-30 18:51] vishal-biyani commented on #58
Oh ok, thanks @ari-hacks Yes it is a warning for all "Uncommented" exports. So if you can figure out easily, add comments, otherwise ignore. I will have one of the team members add comments once your PR is done.

[2020-09-30 21:17] mohitrakhade20 opened #1743 "Add Apache 2.0 license link :"
We are not able to click on the Apache 2.0 license, it would be more useful if it went to the Apache 2.0 license by clicking it on README.md

[2020-09-30 21:51] haardikdharma10 commented on #1299
Hi @vishal-biyani, can you or @viveksinghggits help me get started with this issue? I'd love to trigger this, any starting files I should look at?

[2020-09-30 22:02] EricBrianAnil opened #1747 "Multiple documentation issues"
1. It is mentioned that there is "more below" for environments, but nothing is mentioned regarding the environments in the documentation
2. It would be better to have a link to the licensing in the README like most official repositories
3. Could have official backlinks for external tools or websites mentioned in the README to redirect users  aptly

[2020-09-30 22:27] relaxxpls commented on #1114
Hey! I'm a little new to Open Source but id like to help! Could you tell me where to get started!?

[2020-09-30 23:25] Bracciata commented on #1668
I would like to work on this issue!

[2020-10-01 04:23] viveksinghggits commented on #1299
Hey @haardikdharma10,
You should have a look at [this line](https://github.com/fission/fission/blob/master/pkg/executor/executor.go#L226)
that is being called from startExecutor function [here](https://github.com/fission/fission/blob/master/pkg/executor/executor.go#L297)
I think this would be helpful.

[2020-10-01 05:51] Gauravsaha-97 commented on #1736
I would like to work on this issue.

[2020-10-01 06:22] Rajchowdhury420 opened #1761 "Apache 2.0 License Badge missing"
**Describe something that is unclear or not documented and needs a documentation update

[2020-10-01 06:33] TheExecuter1 commented on #1743
I can do that.

[2020-10-01 07:49] mathagician commented on #1668
@vishal-biyani  Is this opened? If yes, please assign to me.

[2020-10-01 09:18] sharur7 opened #1774 "Adding Link of Code Of Conduct to Documentation"
**PROBLEM:**
CODE_OF_CONDUCT .md file is already there. But, not noticed by anyone. It's better to link it to the readme.md file

**CONTEXT:**
A Code of conduct must be read by everyone so, it is necessary to read it before proceeding to anything.  CODE_OF_CONDUCT .md file is already there. To make it noticed by people, the link can be added to readme.md file under the contributing section.

**SOL

[2020-10-01 09:43] mohitrakhade20 opened #1778 "# [Codecov](https://codecov.io/gh/fission/fission/pull/1744?src=pr&el=h1) Report"
# [Codecov](https://codecov.io/gh/fission/fission/pull/1744?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/fission/fission/pull/1744/graphs/tree.svg?width=650&height=150&src=pr&token=mBWjJYSfIK)](https://codecov.io/gh/fission/fission/pull/1744?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/fission/fission/pull/1744?src=pr&el=tree) | Coverage Δ | |
|---|

[2020-10-01 09:44] vishal-biyani commented on #1778
Hey @mohitrakhade20 What is this issue for?

[2020-10-01 09:50] vishal-biyani commented on #1668
Hey @mathagician This is done for Functions and environments so far and you can do same for other objects in Fission, you can check this PR for inspiration: https://github.com/fission/fission/pull/1711

[2020-10-01 09:53] vishal-biyani commented on #1743
Github already links Apache and shows on right side, not needed, thank you!

[2020-10-01 09:53] #1743 closed

[2020-10-01 09:54] vishal-biyani commented on #1778
Irrelevant & closing.

[2020-10-01 09:54] #1778 closed

[2020-10-01 09:56] vishal-biyani commented on #1114
Hey @relaxxpls This is a bit stale issue and not relevant anymore, could you search for another issue in the repo.

[2020-10-01 09:56] #1114 closed

[2020-10-01 10:02] vishal-biyani commented on #1607
@kichloo Please go ahead and get started and let us know if you need any help!

[2020-10-01 10:12] AlbertoWeinrichter opened #1780 "Official support for non-alpine environments"
PROBLEM:
Fission uses Alpine images as the base for all of its function containers.
This is a good choice for most functions, but when dealing with more esoteric use cases, Alpine has too many restrictions built in

CONTEXT:
We created a Fission function in our project to check TLS certificates.
We had lots of problems installing the adequate dependencies in Python and Go environments.

We tried b

[2020-10-01 10:13] vishal-biyani commented on #1761
Not needed, thank you!

[2020-10-01 10:13] #1761 closed

[2020-10-01 10:14] #1736 closed

[2020-10-01 12:59] kichloo commented on #1607
Thanks for assigning the issue. Pl tell me more about the topic and additional details, as I am a beginner in this field.

[2020-10-01 23:49] kzuri commented on #1747
Heyy @EricBrianAnil , I would like to help with this issue 😄

[2020-10-02 04:57] genericbrian commented on #1747
Heyy, thanks for the concern, but I think #1748 closes the above mentioned issues :)

[2020-10-02 09:44] kzuri commented on #1747
No problem

[2020-10-02 16:32] ari-hacks commented on #58
golint file reference:

- [ ]  fission/pkg/fission-cli/cmd/timetrigger/list.go
- [ ] fission/pkg/controller/client/v1/fake/fake_function.go
- [ ] fission/pkg/controller/config.go
- [ ] fission/pkg/fission-cli/cmd/package/delete.go
- [ ] fission/pkg/storagesvc/storagesvc.go
- [ ] fission/pkg/executor/executortype/executortype.go
- [ ] fission/pkg/timer/main.go
- [x] fission/pkg/router/analytics.go

[2020-10-02 16:40] ari-hacks commented on #58
Hey @vishal-biyani, this is what I'm thinking to organize these PRs. Let me know if this works.

I also need to spend a little more time with the codebase and Go to make meaningful comments, in the meantime, maybe more people can jump in here as well 🙂

[2020-10-02 17:21] hacky1997 commented on #1551
@vishal-biyani was it assigned to anybody?

[2020-10-02 19:35] Divya063 commented on #1721
@vishal-biyani Hey, I created a PR but the values are not actually getting updated. Using the command `fission env list`, I saw that values are still the same. Is there something I'm missing?

[2020-10-02 19:53] Divya063 commented on #1720
Maybe having a check for poolsize while creating or updating the env would work @vishal-biyani can I pick this up?

[2020-10-02 21:24] daddyzilla33 opened #1801 "Hi"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-03 05:49] hamdan6675 opened #1803 "H"

[2020-10-03 07:18] therahulbhati commented on #1721
Hi @Divya063, you also need to update this as well https://github.com/fission/fission/blob/master/pkg/crd/crdvalidations.go

[2020-10-03 14:10] abbaspw21 opened #1805 "Fission 1.11.0 environment declarative specs are not working"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-09-16T15:37:59Z"
    GitCommit: 09b4ffed78ad7a7eea7ebaf47e7644843b0a0b12
    Version: 1.11.0
server:
  fission/core:
    BuildDate: "2020-09-16T13:41:28Z"
    GitCommit: f034a1c734af51cdd6dd4449d1db253a67e699c3
    Version: 1.11.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16

[2020-10-03 14:11] abbaspw21 commented on #1805
Tagging @vishal-biyani

[2020-10-03 18:19] upedd opened #1807 "Add hacktoberfest topic"
https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 06:53] sparkingdark commented on #1191
Can you give me some more information regarding this?

[2020-10-04 07:01] sparkingdark commented on #1183
Are you want to add a check command to get more information>

[2020-10-04 09:58] Divya063 commented on #1721
Hey @therahulbhati, sorry I didn't get you. What should I update there?

[2020-10-05 05:37] vishal-biyani commented on #1807
Done.

[2020-10-05 05:37] #1807 closed

[2020-10-05 05:38] #1801 closed

[2020-10-05 05:38] #1803 closed

[2020-10-05 05:40] vishal-biyani commented on #1191
Hi @sparkingdark The tests at https://github.com/fission/fission/blob/master/test/test_utils.sh#L490 are executed in batches - which is a fixed size and takes tests only listed there. What we want is all tests in $ROOT/test/tests be picked up and executed dynamically.

[2020-10-05 05:41] vishal-biyani commented on #1805
Hey @abbaspw21 Thanks, will take a look at priority!

[2020-10-05 05:41] #1774 closed

[2020-10-05 05:43] vishal-biyani commented on #1720
@Divya063 Yes please pick it up. Yes this is a CLI change and can be added as a check

[2020-10-05 05:44] vishal-biyani commented on #1551
@hacky1997 Not yet, do you want to give it a shot?

[2020-10-05 05:45] vishal-biyani commented on #58
Hey @ari-hacks - this is wonderful and thanks for giving it a nice structure. I really appreciate your work on this!

[2020-10-05 15:03] therahulbhati commented on #1721
@Divya063 So let say I am adding a new field called `concurrency` in function CRD(similar to what you did in the PR for the environment CRD), then I have to add that field here as well https://github.com/fission/fission/blob/master/pkg/crd/crdvalidations.go#L47

[2020-10-06 02:19] chenjr0719 opened #1811 "Response body in message queue trigger's error topic"
**Is your feature request related to a problem? Please describe.**
When I using message queue trigger with error topic, I cannot know why this error is happen because current mqt didn't put response body in error topic. Currently, I can only see this message in error topic:
[code]

**Describe the solution you'd like**
I would like to see the response body in the error topic. This can make the mqt

[2020-10-06 14:56] daniel-shuy commented on #1569
I would like to contribute this feature, please assign this to me

[2020-10-06 15:10] vishal-biyani commented on #1569
hey @daniel-shuy Please take it up and let us know if you need any help. GitHub doesn't allow me to assign to you for some reason.

[2020-10-06 16:07] ccamel commented on #1569
@daniel-shuy From my point of view, the suggestion made by @life1347 is fine with me.

[2020-10-06 17:52] vishal-biyani commented on #1569
Hey @daniel-shuy The use case for sequential function invocations is typically for guarantees of order - so I would suggest a simple flag - either concurrently or sequentially for now.

[2020-10-07 02:38] daniel-shuy commented on #1569
@vishal-biyani thanks, that would be so much easier!

[2020-10-07 06:00] daniel-shuy commented on #1569
Should the default be concurrent/sequential?

Just looking at the Kafka message queue alone, for backwards compatibility, concurrent should be the default.

Since the flag is added to `mqtrigger`, it is shared by all message queues, so I can also implement them for Azure Queue Storage and NATS.

However, the Azure Queue Storage message queue is currently consuming messages concurrently, while the

[2020-10-07 06:59] vishal-biyani commented on #1569
Hey @daniel-shuy Are you thinking of adding this as a field on MQTrigger CRD? I am thinking that we should make this an environment variable that is wired up to the Helm values file.

In case of backward compatibility, I would stick to concurrency as default - and you can configure it individually for all MQs in values.yaml without breaking compatibility!

In any case, we will move eventually to K

[2020-10-07 07:55] Divya063 commented on #1721
@therahulbhati I see, but I thought it would be handled by the resources field in environment CRD (https://github.com/fission/fission/blob/ec22e22bbdf5c766eaee0220c648438039629376/pkg/crd/crdvalidations.go#L89)

[2020-10-07 09:08] sasha27 commented on #880
@erwinvaneyk @vishal-biyani has this been picked up? If not then I can look into it. Please let me know which packages I can look into and how to set up the dev/testing environment. Thank you!

[2020-10-07 09:14] vishal-biyani commented on #880
Hey @sasha27 AFAIK, this is not done. You can start with https://github.com/fission/fission/blob/master/pkg/fission-cli/cmd/function/function_test.go - this is where most of client code is for testing functions. https://github.com/fission/fission/blob/master/CONTRIBUTING.md is quite up to date, let us know if you have any questions.

[2020-10-07 12:43] antHogis opened #1813 "Timer triggers with cron syntax produce incorrect "next invocation""
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-09-16T15:37:59Z"
    GitCommit: 09b4ffed78ad7a7eea7ebaf47e7644843b0a0b12
    Version: 1.11.0
server:
  fission/core:
    BuildDate: "2020-09-16T13:41:28Z"
    GitCommit: f034a1c734af51cdd6dd4449d1db253a67e699c3
    Version: 1.11.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"13

[2020-10-07 17:04] daniel-shuy commented on #1569
I added the flag to the `mqtrigger` command.

I've created a preliminary PR at #1814

[2020-10-08 05:38] hamdan6675 opened #1815 "Ho"
Ho

__Originally posted by @hamdan6675 in https://github.com/hamdan6675/hamdan6675/issues/1#issuecomment-665067938__

[2020-10-08 05:39] #1815 closed

[2020-10-08 11:05] vishal-biyani commented on #1722
Closed by #1724, will be available in release 1.11.1

[2020-10-08 11:05] #1722 closed

[2020-10-09 05:25] avats-dev commented on #58
@vishal-biyani @ari-hacks Can I also work on fixing some of the files as mentioned in above list? I would love to contribute.

[2020-10-09 06:42] vishal-biyani commented on #58
Hey @avats-dev thanks a lot! I am ok as long as it works for @ari-hacks and you two can coordinate!

[2020-10-09 12:50] ari-hacks commented on #58
@avats-dev yes, absolutely! Please add the PR number next to the files you update for consistency.🙂

[2020-10-09 12:54] avats-dev commented on #58
Thanks @ari-hacks and @vishal-biyani , I'll get started and will keep you updated.

[2020-10-09 12:54] avats-dev commented on #58
Thanks @ari-hacks and @vishal-biyani , I'll get started and will keep you updated.

[2020-10-09 19:39] dablair55 commented on #1780
@vishal-biyani See pull request #1819 for possible solution

[2020-10-10 00:28] justinfx opened #1820 "Feature Request: Override Environment settings from newdeploy function spec"
**Is your feature request related to a problem? Please describe.**
I will  have many functions that accesses NFS volumeMount resources with permissions that vary between user/group. I would like to be able to deploy a function that can set the `securityContext` "user", "group", "supplementalGroups" values so that the function runs with the correct permissions for the data on the mounted volumes. C

[2020-10-10 12:13] ShajithaMohammed commented on #58
@ari-hacks @vishal-biyani I can help with fixing some files!

[2020-10-10 13:16] ari-hacks commented on #58
@avats-dev and @ShajithaMohammed please note which files you are working on so there are no conflicts, thanks!

[2020-10-11 15:20] harshthakur9030 opened #1827 "CloudEvents integration"
**Is your feature request related to a problem? Please describe.**
Events are not standardized across cloud providers and sometimes across services within the same provider

**Describe the solution you'd like**
[CloudEvents](https://cloudevents.io/) can be used to standardize the events. We can use the binary encoding format it provides which essentially would allow Fission to add headers to every

[2020-10-11 15:22] daniel-shuy commented on #1569
@vishal-biyani are you suggesting that instead of adding a flag to the `mqtrigger` command, I check for the presence of an environment variable and retain the current MQT specific behavior if its not specified?

[2020-10-12 03:57] sbawaskar commented on #1719
@vishal-biyani , opened #1821 for this issue. Please review.

[2020-10-12 10:12] Magomedali opened #1828 "Error fetching configmap/secret to function from fission-function namespace"
**Fission/Kubernetes version**

<pre>
Fission version: 1.11.0
Kubectl version: v1.15.11-eks
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

AWS/eks

**Describe the bug**
Error fetching configmap and secret when run function.
Secrets "scr-access-token" is forbidden: User "system:serviceaccount:fission-function:fission-fetcher" cannot get resource "secrets" in API group "" in the na

[2020-10-12 15:44] mattroark commented on #1805
Appreciate this being addressed on priority. I can validate that I'm hitting the same on 1.11.0 – `podspec` is not populated despite it being defined in the spec file.

{code}
server:
  fission/core:
    BuildDate: "2020-09-16T13:41:28Z"
    GitCommit: f034a1c734af51cdd6dd4449d1db253a67e699c3
    Version: 1.11.0
{code}

[2020-10-12 18:28] justinfx commented on #1805
Also want to push for this as priority. I want to pick up the latest Keda support and start exploring Keda kafka triggers but I also rely on the podSpec

[2020-10-13 10:01] therahulbhati commented on #1721
Hi @Divya063, you would have to handle that otherwise, it would get pruned

[2020-10-13 18:12] vishal-biyani commented on #1730
Closed by https://github.com/fission/fission/pull/1829

[2020-10-13 18:12] #1730 closed

[2020-10-13 20:56] ng29 commented on #1608
Hey @vishal-biyani

Is it up for grabs,i can give it a shot to this one.

Cheers

[2020-10-13 20:57] ng29 commented on #1613
Hiya @vishal-biyani

I can help in this, if it is available ? ?

[2020-10-13 21:00] ng29 commented on #920
Hey @vishal-biyani / @MikeSpreitzer

Some more info on this will be highly appreciated so that i can work on this

[2020-10-14 02:43] vishal-biyani commented on #1608
Hey @ng29 - Yes, please feel free to work on it.

[2020-10-14 05:21] gauravgahlot opened #1835 "Integrate golangci-lint with fission CI"
### Problem

At present, there are a lot of linting issues across fission. Some of them are being addressed during Hacktoberfest. However, we need a concrete solution to avoid any new issues and maintain our code standard.

### Solution

I propose to introduce `golangci-lint` in the fission CI. `golangci-lint` is a fast Go linters runner. It runs linters in parallel, uses caching, supports yaml co

[2020-10-14 11:32] vishal-biyani commented on #1805
Closed by https://github.com/fission/fission/pull/1818 - landing in 1.11.1 - to be released shortly.

[2020-10-14 13:59] therahulbhati commented on #1828
@Magomedali Are your function and secret/configmap both in fission-function namespace?

[2020-10-14 20:53] abbaspw21 commented on #1805
Hi @vishal-biyani / @therahulbhati,

Even in release 1.11.1 fission environment declarative specs (podspec) are not working

[2020-10-15 05:40] vishal-biyani commented on #1805
Hi @abbaspw21 I think the PodSpec itself is working with 1.11.1 but the resources part still not working - we spotted the CRD validation might have introduced this and might also have issues with specific versions of K8S - can you please confirm the K8S version? We will make another release today.

[2020-10-15 06:35] abbaspw21 commented on #1805
Hi @vishal-biyani ,

Our current Kubernetes version is 1..16.1.

It seems that this issue occurs when we are upgrading fission from 1.11.0 to 1.11.1.
In case of fresh installation or while upgrading it from previous version it seems to be working fine.

We are good with it as we are going to upgrade our environments from 1.9.0 to 1.11.1.

[2020-10-15 07:05] vishal-biyani commented on #1805
Thanks for confirming @abbaspw21 and glad to see it is working. We will also do a few more rounds of validation and post if we find anything more! I will keep the issue open for a few more days till we validate and then close.

[2020-10-15 12:33] therahulbhati commented on #1805
Hi @abbaspw21,

We introduced CRD validation in release 1.11.0. There was a bug in that due to which resources, runtime.container and runtime.podspec were getting pruned.

CRD validations are only applicable if you recreate fission CRs.
If you just upgrade from 1.9.0 to 1.11.0 or 1.11.1 you won't face this issue because CRD validations are not happening, since you aren't recreating fission CRs.
Ho

[2020-10-15 20:12] abbaspw21 commented on #1805
Hi @therahulbhati ,

Yes, we were recreating the CRs after upgrading fission from 1.9.0 to 1.11.0.

As already mentioned by you in above comment, we have also noticed that resources field is getting pruned in case of fresh installation or upgrade if CRs are recreated.

[2020-10-16 07:47] Magomedali commented on #1828
@therahulbhati No, it turns out they are in different namespaces. Sorry for my carelessness ))

[2020-10-16 08:23] therahulbhati commented on #1828
It's fine @Magomedali. Thanks for updating us.

[2020-10-16 08:24] #1828 closed

[2020-10-19 20:23] justinfx commented on #1545
FWIW I would expect an approach proposed in your first suggestion, where newdeploy needs to diverge in features from poolmgr in order to become more useful and flexible, because it also aligns with my request in #1820 to extend newdeploy functionality to override all aspects of the Environment spec. This would be inconsistent with the poolmgr as well because of how pods are precreated and reused.

[2020-10-21 07:09] coderanger opened #1845 "Consider not using cluster-admin"
Hi there, this is 100% a drive-by issue because I was helping someone in Kubernetes Slack with a problem but I wanted to make sure this is on your radar. In your deployment manifests, you bind the fission ServiceAccount to `cluster-admin`. That seems highly unnecessary and a big security hole. I'm sure it makes setup much simpler since it looks like the main controller deployment sets up a lot of

[2020-10-21 07:16] vishal-biyani commented on #1845
Hi @coderanger - thanks for bringing this to notice, this is definitely a big no, will fix it ASAP!

[2020-10-22 04:28] justinfx commented on #1820
I'm curious how seriously this feature request would be considered and whether it fits well into the intended goals of the `newdeploy` executor. While we are still working through our own prototypes and implementations, we see this as a requirement to ultimately continue with Fission. So it would be good to know if its within the realm of possibility? I am happy to go into more detail about any us

[2020-10-22 05:55] abbaspw21 commented on #1805
Hi @vishal-biyani/ @therahulbhati ,

We have tested declarative specs in release 1.11.2 and it seems to be working fine.

Thank you !!!

[2020-10-22 16:26] vishal-biyani commented on #1820
Hi @justinfx I think that you are proposing makes perfect sense and would be beneficial for other users as well. We will do some design with and prioritise this for one of upcoming releases.

[2020-10-22 17:11] airhorns commented on #1805
I observed this behaviour too and 1.11.2 seems to have fixed it for me!

I installed fission with helm, and it seems like `helm upgrade` didn't update the CRDs properly, so even though I started using the 1.11.2 chart, my CRD definitions were out of date. I was able to fix that by completely removing fission with `helm uninstall`, and then manually `kubectl del`eting each of the CRDs, and then ins

[2020-10-27 06:02] abbaspw21 opened #1848 "Fission environment image updates not getting reflected in NewDeploy function pods."
**Fission/Kubernetes version**
[code]

**Describe the bug**
In case if there is change in fission environment image then that change is not getting reflected in new deploy fission function pods when environment and function both are running in **different namespace**. In case if environment and function both are running in same namespace then everything works fine.

**To Reproduce**
To reproduce i

[2020-10-27 06:04] abbaspw21 commented on #1848
@vishal-biyani

[2020-10-29 04:42] justinfx commented on #1827
I was directed to this existing issue after asking about the same thing in the slack channel. My specific use-case was that the current keda kafka-http-connector and mqtrigger both do not propagate the msg key, and they each use a different header key to pass the topic. It would be excellent to standardize so that the trigger implementation doesn't have to leak into the function handler and they c

[2020-10-30 10:47] abbaspw21 opened #1852 "Poolmngr Function fails if concurrency limit is reached"
**Fission/Kubernetes version**
[code]

**Describe the bug**
In case of function deployed as poolmngr, if concurrency limit is reached then it fails with error code 502.

**To Reproduce**
To reproduce this issue deploy a function having executor type as poolmngr and default concurrency limit of 5. Once deployed, trigger the function in 5+ parallel threads.

**Expected result**
If concurrency limit

[2020-10-30 10:47] abbaspw21 commented on #1852
@vishal-biyani

[2020-10-30 10:51] vishal-biyani commented on #1852
Hi, @abbaspw21 The concurrency limit is an intended feature when you call functions with HTTP. The returned HTTP code is HTTP 429 (Rate limit reached) and not 502. If you want more concurrent executions - you should increase the concurrency limit to higher.

If you want the functions to be queued till the pods are available - I would suggest they be invoked from a Message Queue. Please let me know

[2020-11-03 02:37] munjalpatel opened #1854 "Unable to access functions through router"
**Fission/Kubernetes version**
<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-06-29T16:26:41Z"
    GitCommit: e85d77bbce719fb898084c0ddb4ba37b199bf667
    Version: 1.10.0
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19"

[2020-11-04 15:02] Daniel-Vaz opened #1855 "context deadline exceeded when running hello world example - Kind with MetalLB"
**Fission/Kubernetes version**

<pre>
$ fission version

client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version

Client Version: version.Info{Major:"1", Minor:"

[2020-11-04 15:57] munjalpatel commented on #1854
Would really appreciate some help here @vishal-biyani

[2020-11-04 16:21] vishal-biyani commented on #1854
Hi @munjalpatel Can you please share logs of the router and the sidecar pod when you call the function endpoint?

[2020-11-04 16:43] vishal-biyani commented on #1855
Hi @Daniel-Vaz Can you please share details of how to configure MetalLB to work with Fission/Router? I have not used MetalLB much so that would make it easier for me.

[2020-11-04 20:06] Daniel-Vaz commented on #1855
Hello @vishal-biyani  thank you for the reply!
I am a bit new to these technologies also, but I will try my best.

A simple example were this integration can be seen working correctly is the following [blog post](https://medium.com/@jmarhee/metallb-kubernetes-loadbalancer-with-fission-io-ed680443d679) that I found.
Also a good resource were you can see MetalLb work with Kind is [this video](https:

[2020-11-05 08:35] vishal-biyani commented on #1855
Thanks for the detailed explanation. I installed MetalLB but I missed the configuration part from documentation and hence my router could not get an LB IP. After fixing that I was able to see router IP populated.

But I was not able to reproduce the issue:
[code]

[code]

[2020-11-05 08:52] Daniel-Vaz commented on #1855
Well that indeed is weird. We have basically the same environment but get different results:

[code]

Bu ok if it is not a bug I think you can close this issue... I will try and see if I discover why is this happening.
Thank you for the feedback @vishal-biyani

[2020-11-05 15:04] alexvasiu opened #1856 "Downtime during fission upgrade"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-09-16T15:37:59Z"
    GitCommit: 09b4ffed78ad7a7eea7ebaf47e7644843b0a0b12
    Version: 1.11.0
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19"

[2020-11-06 09:21] vishal-biyani commented on #1855
Thanks @Daniel-Vaz If you find something, please feel free to post or re-open the issue

[2020-11-06 09:21] #1855 closed

[2020-11-06 11:41] danyc opened #1858 ""http: Accept error: accept tcp [::]:8888: accept4: too many open files; retrying in .ms" errors occurring in executor"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.

[2020-11-06 11:56] alexvasiu opened #1859 "(Kafka) Data loss during downtime"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-09-16T15:37:59Z"
    GitCommit: 09b4ffed78ad7a7eea7ebaf47e7644843b0a0b12
    Version: 1.11.0
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19"

[2020-11-09 08:13] vishal-biyani commented on #1693
Hi @msshroff I will close this issue for now, but please re-open if needed

[2020-11-09 08:13] #1693 closed

[2020-11-10 11:04] #1859 closed

[2020-11-17 14:27] therahulbhati commented on #1858
Looks like you need to fine-tune few things:
1. Increase client-side timeout (-t param in hey tool)
2. Increase load balancer timeout `service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "900"`
3. Increase `ulimit -n` and refer to this doc for more fine-tuning settings https://k6.io/docs/misc/fine-tuning-os

[2020-11-18 18:47] airhorns opened #1861 "OpenTelemetry tracing support & context propagation"
**Is your feature request related to a problem? Please describe.**

Currently, Fission supports outputting traces to an OpenTracing Jaeger-formatted trace collection endpoint. This is great -- it provides lots of insight into what Fission is doing and helps operators understand and maintain.

**Describe the solution you'd like**

OpenTracing has been merged with OpenCensus into a new open source o

[2020-11-18 19:44] airhorns opened #1862 "Poolmgr pod getting reaped immediately after specialization during environment change"
**Fission/Kubernetes version**

Fission: v1.11.2
Kub

<pre>
inspector ~/C/gadget (main) ➜  fission version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
inspector ~/C/gad

[2020-11-19 13:45] airhorns commented on #1628
I think that #1698 is actually about something different. That PR lets people control how many pods are dedicated to a given function's execution from an environment's poolmgr. The way I read this issue I think @slayerjain wants to be able to control the number of requests sent to one pod simultaneously. For them, they want to set it to 1 to guarantee all the pod's resources to processing that one

[2020-11-19 16:03] vishal-biyani commented on #1861
Hi @airhorns - thanks for detailed notes and observations from the current implementation. I will take a look at what is happening in the open telemetry world and then accordingly design and prioritize this.

[2020-11-20 00:25] airhorns commented on #1862
I think I actually incorrectly correlated this bug with changes to the environment CRD. I stopped changing anything about the environment for all of today and still saw lots of 504s. Any pointers to what might be causing the pod to get reaped right after being created?

[2020-11-20 03:34] vishal-biyani commented on #1862
Hi @airhorns So the `"idletimeout":120` parameter affects how soon the pods are reaped after they are specialized. Can you try increasing that value in the function spec please?

[2020-11-20 10:22] life1347 opened #1863 "Executor unable to respond to router under massive traffic"
In PR https://github.com/fission/fission/commit/f3fe3123b3130afdc661cdde648d04e5efae70df , router no longer checks it's own cache before talking to executor which become a problem if router is under heavy workload.

It's dangerous for router to send a request for asking function service url whenever it receives a request from client. Router should have a mechanism that somehow able to reduce the r

[2020-11-21 19:48] airhorns commented on #1862
I think I totally screwed this one up and it's my fault! I misread the logs -- the reap is happening the appropriate amount of time after the pod is idle, just in combination with a user-land timeout. Apologies for the noise!

[2020-11-21 19:48] #1862 closed

[2020-11-24 04:37] vishal-biyani commented on #1713
Hi @therahulbhati I think we can do something similar to 1860 for this one too?

[2020-11-24 06:41] therahulbhati commented on #1713
Yes @vishal-biyani, this is done in https://github.com/fission/fission/pull/1812

[2020-11-24 06:41] #1713 closed

[2020-11-24 09:22] #1852 closed

[2020-11-24 09:30] abbaspw21 commented on #1848
@vishal-biyani Can you please help us with the ETA for release 1.12.0.

[2020-11-24 09:39] vishal-biyani commented on #1848
@abbaspw21 Planned for release in the second week of December.

[2020-11-24 11:45] harshthakur9030 commented on #1848
@abbaspw21 Can you please explain the use case a bit more in detail? I am trying to understand why Functions and Environments are in different namespaces because the function pods would be in the environment namespace in the end.

[2020-11-25 04:27] vishal-biyani opened #1864 "Keda 2.0.0 Compatibility"
Currently, Fission does not support [Keda 2.0.0](https://github.com/kedacore/keda/releases/tag/v2.0.0) and if a user tries to install Fission with Keda 2.0.0 you get an error similar to below:

[code]

Fission code will need changes to support Keda 2.0.0

[2020-11-25 07:16] abbaspw21 commented on #1848
@harshthakur9030 Fission supports different namespaces for environment and functions and we are using this capability to manage/segregate the function resources (which are using same fission environment) in different different namespaces as per our requirement and design.
Its just that cm update are not getting reflected in the above case.

[2020-11-25 08:10] harshthakur9030 commented on #1848
@abbaspw21 Sorry, I didn't yet understand.  What is being achieved by this particular design of having environment and function in different namespaces? The execution context of function pods would remain in the environment namespace regardless, so what is the objective to have functions in different namespace?

[2020-11-27 14:24] therahulbhati commented on #1863
@life1347 For better performance, we have moved the cache to the executor and made the router stateless. Can you try to increase client-side timeout and replicas of the router?

[2020-11-27 14:31] therahulbhati commented on #1858
@danyc, did the above tuning helped?

[2020-11-27 14:36] danyc commented on #1858
Hello,

I was able to apply only the 1st suggestion and it helped, thank you.
For 2nd: because the deployment is done via helm chart, I cannot apply the additional annotation (or I don't know how).
For 3rd: would need to build a custom executor image.

Closing the issue.

[2020-11-27 14:36] #1858 closed

[2020-11-27 14:53] therahulbhati commented on #1858
@danyc For 2nd, you can use following command: `kubectl annotate service router -nfission service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout="900"`

[2020-11-27 18:30] jpedrick opened #1869 ""fission route create" with "--name" fails"
**Fission/Kubernetes version**

<pre>

$ fission version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2020-11-27 21:01] jpedrick commented on #1869
After looking through support dump it turns out the httptrigger CRD wasn't being deleted by fission httptrigger delete. Will do more testing a submit a bug for deleting httptriggers.

[2020-11-27 21:01] #1869 closed

[2020-11-30 20:01] jpedrick opened #1870 "Define API with decorators for python"
**Is your feature request related to a problem? Please describe.**

I would like to be able to deploy an entire REST API using a single or multiple "fission *api* create" from a single package or python file.

**Describe the solution you'd like**

For example: Simply use flask annotation "@app.route()" to define the routes and other annotations for my API in python.

Instead of manually deciding t

[2020-12-01 05:14] #1747 closed

[2020-12-01 05:28] vishal-biyani commented on #1870
Hi @jpedrick This is similar to https://github.com/fission/fission/issues/638. One of the challenges in doing so at the moment is a standard framework that allows route scanning and listing. And of course, this has to be possible across multiple languages.

[2020-12-01 18:01] vishal-biyani commented on #1870
Hi, @jpedrick I will close this in favor of #638 - please feel free to add any comments/requests on that one.

[2020-12-01 18:01] #1870 closed

[2020-12-01 18:32] vishal-biyani commented on #1854
Hi @munjalpatel Please re-open when you have more information.

[2020-12-01 18:32] #1854 closed

[2020-12-01 18:36] vishal-biyani opened #1871 "CRD Upgrade"
We need a better mechanism of handling upgrades to CRDs when there is a change.

Some related discussion here : https://github.com/fission/fission/issues/1805

[2020-12-01 18:37] vishal-biyani commented on #1805
Closing this as the immediate issue is resolved but needs some change in the way install/upgrade is done which will be tracked in https://github.com/fission/fission/issues/1871

[2020-12-01 18:37] #1805 closed

[2020-12-01 18:42] vishal-biyani commented on #1663
Closing this issue here as Keda-Connectors will be tracked in their own repo.

[2020-12-01 18:42] #1663 closed

[2020-12-01 18:46] vishal-biyani commented on #1666
Hi @matthieu-eck I am closing this for lack of specific ask & followup but please feel free to reopen this if you would like to add more context/use case that you are solving.

[2020-12-01 18:46] #1666 closed

[2020-12-01 18:48] vishal-biyani commented on #1555
This has been closed as described in the issues links in the previous comment.

[2020-12-01 18:48] #1555 closed

[2020-12-01 18:54] vishal-biyani commented on #1695
Hi @msshroff Fir a given environment, it is impossible to predict how many functions will be created and which function will need how many resources. The `specialization` is when a pod is identified for a function - and changing resources (With potentially vertical scaling) at that time will result in delays in the execution of the request itself in addition to complexity.

The best tradeoff I can

[2020-12-01 18:59] vishal-biyani commented on #1578
Hi @rakeshbshukla Closing this for now as we have not seen further updates. Please reopen/create a new issue if needed.

[2020-12-01 18:59] #1578 closed

[2020-12-01 19:00] vishal-biyani commented on #1546
Hi @rakeshbshukla Closing this for now as we have not seen further updates. Please reopen/create a new issue if needed.

[2020-12-01 19:00] #1546 closed

[2020-12-01 19:04] vishal-biyani commented on #1583
Hi @rakeshbshukla Closing this as there are no further updates. Please reopen/create a new one if needed

[2020-12-01 19:04] #1583 closed

[2020-12-02 18:39] jpedrick commented on #638
For python/flask I came up with a simple method for exporting the routes that's compatible with fission. After fission package is created, the output could be iterated over to create each fission function and route without changing any of the backend of fission itself. It works for bare 'helloworld.py' type modules as well as package-dir type modules. Further work could be done to scan zipped modu

[2020-12-03 05:11] therahulbhati opened #1873 "Pod describe output in fission support dump"
**Is your feature request related to a problem? Please describe.**
Sometimes in pod logs and CRDs fail give a complete picture of the problem.

**Describe the solution you'd like**
To have pod describe output in fission support dump.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add a

[2020-12-03 07:55] vishal-biyani opened #1874 "OOMKilled pod starts dropping request"
If a pod is OOMKilled and restarted, the requests going to that pod typically do not work and start throwing 502. This was observed in a customer's environment with a custom python env which was using Debian image. It is not clear if this is a fetcher or env or executor issue but needs to be investigated and fixed.

[2020-12-03 09:06] therahulbhati opened #1875 "Incorrect status code on max concurrency"
Using poolmanager strategy, we can rate-limit the number of concurrent pods.

**Expected Result**
When the rate limit is hit, one should get a 429 HTTP status code.

**Actual Result**
502 HTTP status code is received instead.

[2020-12-03 13:07] abbaspw21 opened #1877 "Support for queuing mechanism in case of poolmngr if concurrency limit is reached."
**Is your feature request related to a problem? Please describe.**
In fission 1.11.0 concurrency support was added for Poolmngr fission functions but in this case if concurrency is reached then fission function fails with error 502 for sync call.

**Describe the solution you'd like**
We are looking for an optional queuing mechanism (environment or function level) so that in case if concurrency lim

[2020-12-03 17:11] vishal-biyani commented on #1877
Hey @abbaspw21  The concurrency is intended to put a rate limit on functions and if your requests are getting dropped - I recommend increasing the concurrency. Is there a reason you can not increase concurrency? The whole idea is to keep a concurrency higher than the calls you are expecting concurrently; it won't create those many pods unless requests come in.

One other way this can be handled by

[2020-12-05 04:32] jpedrick opened #1878 "Sync up python/gcc versions in official docker images fission/python-builder fission/python-env"
**Fission/Kubernetes version**
Fission version 1.11.2

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
$ kubectl version
Client Version: version.Inf

[2020-12-08 18:49] jpedrick commented on #638
So after thinking about this, I propose that a new fission PackageAPI CRD be created, which would itself generate/own the fission functions. Then when creating a package an --apiFile command can be specified that points to either a json or yaml file containing the API routes, endpoints and methods. A user could then generate their API file in the build.sh, or they could just manually specify it in

[2020-12-08 22:33] cerebrate opened #1880 "Constrain environment and builder pods, as well as core, with nodeSelector."
**Is your feature request related to a problem? Please describe.**

I have a mixed-architecture cluster, linux/amd64 and linux/arm (with the possibility of adding windows/amd64 in the future). While I can get the core of Fission up and running easily enough using the following --

[code]

-- in my values file when installing, when creating an environment, the resulting pods are not so constrained

[2020-12-09 07:23] danyc opened #1881 "Exit code 0 for fission spec apply even if some specs failed"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2020-12-11 08:30] chenjr0719 opened #1882 "After exceeding MQT retries, it will not put message into error topic"
Currently, I cannot get errors from the error topic after I set the retries. I think it is because of this part:
https://github.com/fission/fission/blob/e438df87fa53b13d88394b7c86b6268bc72e20d2/pkg/mqtrigger/messageQueue/kafka/kafka.go#L289-L294

Is it possible to put error messages even exceed the MQT retries?

[2020-12-11 14:01] airhorns commented on #1628
Is this the issue where we should follow along if we're interested in multiple-requests-per-pod support or is there another one that I can't find? Thanks!!

[2020-12-14 14:23] swaroopnuli opened #1883 "Executor failing when request burst is more than poolsize"
**Fission/Kubernetes version**
AWS EKS 1.17.1

<pre>
$ fission --version
$ kubectl version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: unknown
    GitCommit: unknown
    Version: unknown
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
AWS EKS
**Descri

[2020-12-14 23:40] filipmacek commented on #1661
Also encountered this, then I delete env with CLI I can see that function resource is deleted, and pods are starting to terminate.
But then they got stuck for really long,for few minutes then they get finally deleted.
I see there is graceperiod settings in cli, but I thought that default is set to zero.

[2020-12-15 18:44] ggilley opened #1884 "combined yaml fails with kind v0.9"
I have a script I use to set up a local fission cluster for testing. It started failing recently.

[code]

It appears to be a problem with the namespace as creating via the helm chart works.

[2020-12-16 07:00] cerebrate commented on #1421
Just FYI, I've hacked together a working version of 1.11.2 core and two of the environments (nodejs and python) as amd64/arm multi-arch images using docker buildx. (My images here - https://hub.docker.com/u/cerebrate - if anyone's curious.) I've found some minor issues with the binary environment that evidently buildx can't fix alone, and not knowing Go, I haven't been able to pursue that much fur

[2020-12-16 08:47] vishal-biyani commented on #1421
Hi @cerebrate This is great 🎉 We would love to have this merged in Fission. It would be great if you can send PR for Fission changes to this repo and environment changes to https://github.com/fission/environments repo, please. We are in the middle of moving environments so right now you see them both the places. Please let me know if we can help you in any possible way!

[2020-12-17 10:24] RealHarshThakur commented on #1884
@ggilley We need to create namespace `fission` and deploy yaml in that namespace. I'll update the docs with necessary steps. Thanks for reporting

[2020-12-18 02:37] ggilley commented on #1692
I have a case where some functions are higher execution priority than others. For example, I have a function that when a user is added, creates a resource. That's a much higher priority than a function that adds an entry to an activity feed. I would want the user resource creation function to be executed ahead of any activity feed functions. This comes up because I have a lot of activity and it cr

[2020-12-18 05:39] vishal-biyani commented on #1881
Hey @danyc Thanks for raising this issue and this is valid issue. We will prioritize for one of the upcoming releases.

[2020-12-18 11:00] #800 closed

[2020-12-18 11:00] #801 closed

[2020-12-18 11:00] #802 closed

[2020-12-18 11:00] #803 closed

[2020-12-18 11:00] #804 closed

[2020-12-18 11:00] #805 closed

[2020-12-18 11:00] #806 closed

[2020-12-18 11:00] #844 closed

[2020-12-18 11:00] #847 closed

[2020-12-18 11:00] #850 closed

[2020-12-18 11:00] #858 closed

[2020-12-18 11:04] vishal-biyani commented on #1704
This is being tracked in https://github.com/fission/benchmark

[2020-12-18 11:04] #1704 closed

[2020-12-18 11:15] vishal-biyani commented on #1877
Hey @abbaspw21 I will close this issue for now but please reopen if needed.

[2020-12-18 11:15] #1877 closed

[2020-12-18 11:50] vishal-biyani opened #1888 "Requests per pod & pod reuse"
As a Function user, I want to be able to control how the pods are utilized for executing requests. Some scenarios listed below:

From https://github.com/fission/fission/issues/1628#issuecomment-730386158:

Also, some users want that a request should be executed in a container and that container never be reused: https://github.com/fission/fission/issues/906

There is another issue for reuse of pods

[2020-12-18 11:56] vishal-biyani commented on #1628
@airhorns I just created an issue to track it here: https://github.com/fission/fission/issues/1888 Please feel free to add more scenarios there.

[2020-12-18 11:57] vishal-biyani commented on #906
Closing in favor of https://github.com/fission/fission/issues/1888

[2020-12-18 11:57] #906 closed

[2020-12-18 11:57] vishal-biyani commented on #54
Closing this in favor of https://github.com/fission/fission/issues/1888

[2020-12-18 11:57] #54 closed

[2020-12-20 12:09] chenjr0719 opened #1889 "Keda MQT broken by exist kafka MQT"
When I upgrade Fission and enable Keda MQT, the mqtrigger-keda cannot start properly because of those already existed Kafka MQT. Those Kafka MQT missing some required fields so the mqtrigger-keda can not works normally.

The error logs:
[code]

[2020-12-21 09:52] RealHarshThakur commented on #638
@jpedrick that's a great idea. So for REST endpoints, we can ask the user to specify OpenAPI spec as input and we just route based on OpenAPI spec. If user has a function `X` , we host it at `/X` of Router and host their API defintion(if they wish to) at /X/openapi.json  . Would this serve your use case?

[2020-12-22 07:40] pingdai commented on #1729
RestAPI ：https://github.com/fission/fission/blob/52508e19343ef93da4ce8960908c5569f44da225/pkg/controller/api.go#L193

[2020-12-23 07:12] vishal-biyani commented on #1874
Hey @therahulbhati Also please take a look at https://github.com/fission/fission/issues/1676

[2020-12-24 02:39] NeverBehave opened #1895 "Alertmanager failed to start on pod with IPv6 address"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20

[2020-12-24 08:15] vishal-biyani commented on #1895
Hi @NeverBehave I think this issue is better filed in Prometheus repo if it just about alert manager. There are a bunch of issues related to IPV6 in Prometheus project. If this is something of a problem with Fission pods, please reopen. I will close this for now.

[2020-12-24 08:15] #1895 closed

[2020-12-24 10:24] vishal-biyani opened #1898 "Kata Containers/gVisor example"
A lot of use cases need Fission and the functions running in a more isolated runtime such as gVisor/Kata containers. A working example with Fission functions running in isolated containers would be useful for Fission users.

[2020-12-24 19:12] NeverBehave commented on #1895
gotcha, I think it's also a good idea to let people know the metrics, due to this reason, is not working properly. The core seems to be fine.

[2020-12-25 01:47] NeverBehave commented on #1895
I don't know if this worth another issue but I would like to keep a record here.
Due to the reason https://github.com/npm/cli/issues/348 , the builder (fission/nideenv) in the example won't run under IPv6 only network. Switch to a debian based image will solve this problem.

[2020-12-25 13:27] RealHarshThakur opened #1899 "Fission CLI should have correct defaults and validate before returning a response"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

Fission CLI currently doesn't validate when a resource is created/updated with Kubernetes cluster.

**To Reproduce**

 For example, a user can set `--minscale=0` for `NewDeploy` which isn't possible at the moment as HPA(with CPU) cannot

[2020-12-30 10:32] fauzankhan007 opened #1900 "Fission Function Pod HPA Using Keda"
**Context**:  Setting up autoscaling for function pods on the basis of latest pending messages in kafka topic. For e.g, If 10 messages are in waiting state to get processed and all the fission function pods are busy then function pods should scale horizontally.

**Architecture**:
We have an kafka topic “metric-to-alert” Kapacitor(tool which process the data from influxdb create messages) push mess

[2021-01-06 13:41] therahulbhati commented on #1874
I found [this project](https://github.com/zapier/preoomkiller-controller), informer watches the memory usage using labels and gracefully evict selected pods if a certain threshold is reached. We can give labels and annotations in env specs.

[2021-01-06 14:09] therahulbhati opened #1905 "Cache key collision in Poolmanager"
Under high load, there is a cache collision for some keys.
[code]

[2021-01-07 14:46] vishal-biyani opened #1907 "Terraform template support"
Terraform can be used to create not just a cluster but also resources within the cluster such as Deployments etc. The support for CRDs is also maturing with Terraform and it would be nice to support Terraform for creating Fission objects such as Environments, Functions, etc.

[2021-01-08 07:33] danyc opened #1908 "MessageQueueTrigger: kafka consumerGroup not set"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2021-01-08 08:05] thschue opened #1909 "Performance issues on concurrent function requests"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2021-01-08 11:52] Daniel-Vaz opened #1910 "Helm Install - --set persistence.storageClass Not Applying to Prometheus PVCs"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2
server:
  fission/core:
    BuildDate: "2020-10-20T14:43:45Z"
    GitCommit: 52508e19343ef93da4ce8960908c5569f44da225
    Version: 1.11.2

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2021-01-08 11:57] Daniel-Vaz commented on #1910
Bellow can be seen the Error the PVC's report:
<pre>
Events:
  Type    Reason         Age                   From                         Message
  ----    ------         ----                  ----                         -------
  Normal  FailedBinding  2m7s (x102 over 27m)  persistentvolume-controller  no persistent volumes available for this claim and no storage class is set
</pre>

[2021-01-11 10:30] baichinger commented on #1909
We tracked down the performance issue to communication between Executor and Kubernetes API. Executor makes two requests per user request. IMO, the result of those requests can be cache to a certain extent.

The response times can be greatly improved by introducing caches to the executor and pool manager. See https://github.com/baichinger/fission/commit/12896eb34fc9274045d4d7408a72577bd7b24c71 for

[2021-01-12 10:28] vishal-biyani commented on #1909
Hi @baichinger We would love to make this change upstream - do you mind raising a PR when you get a chance!

[2021-01-13 14:12] therahulbhati opened #1914 "Add support to capture keda CRDs in support dump"
**Is your feature request related to a problem? Please describe.**
If a user is using fission mqt of type keda, several keda CRDs are also created. However, these CRDs aren't captured by support dump.

**Describe the solution you'd like**
Capability to capture keda CRDs using support dump command.

[2021-01-13 15:26] ggilley opened #1915 "Should not retry 4xx errors"
When using Message Queue Triggers, fission retries a function call when an error occurs. This is a great feature when it fails because a server is unavailable, etc. However, when certain failures occur, you do not want to retry, but fail the function. In particular when a function returns an http 4xx error. These errors indicate a client side error and should not be retried. For example, a 400 bad

[2021-01-14 08:50] danyc commented on #1908
I had the wrong impression that by deploying fission-all chart, everything would be setup.
After installing keda, the issue is gone.

Closing.

[2021-01-14 08:50] #1908 closed

[2021-01-14 19:02] baichinger commented on #1909
Hi @vishal-biyani! My hacky improvement lacks quite a bit on quality. There are no tests, it uses a randomly picked cache and the parameters to it are just wild guesses. Most importantly, it does not handle new/changed/deleted functions and therefore would lead to weird bugs.

My comment was intended as food for thought. The problems introduced by excessive usage of the Kubernetes API (custom reso

[2021-01-21 09:51] ClayCheung commented on #1899
Fission cli can output that function is created but this doesn't guarantee that function pods are up and running correctly.

After we enter `fission fn create/update/delete`, it only cares if the k8s custom resource: `function` was created/updated/deleted successfully. I think the concept of fission is to treat function as a stateless resource(custom resource `function` does NOT have field: `.stat

[2021-01-27 10:05] mattiasrunge opened #1918 "When will the RabbitMQ support be released"
Hi,

I am evaluating if we can use Fission for our serverless needs at my company. It seems good but we need RabbitMQ support. It looks like there is a RabbitMQ trigger created but on a branch. Is that intended to be merged and if so do you have any idea about when a release with that included could be made?

Thank you for a great project!

BR
Mattias

[2021-01-27 10:13] mattiasrunge commented on #1918
Seems I did not read enough, found the KEDA blog post which describes more.

Thank you :)

[2021-01-27 10:13] #1918 closed

[2021-01-28 09:39] ClayCheung opened #1920 "Use cobra directly instead of CliWrapper"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I read the code of `fission-cli`, because `cliWrapper` (pkg/fission-cli/cliwrapper) increase cognitive load  on me. I need to read the `driver/cobra/cobra.go` to understand `cliWrapper` abstracts what cobra's capabilities are.

When I try to customize `fission-cli`, the encapsulation of `cliWrapper` made

[2021-01-28 12:10] tusharRepo commented on #1910
As prometheus is a different helm chart which is being called from fission helm chart you need to pass prometheus helm chart values separately.

Prometheus helm chart link: https://github.com/helm/charts/tree/master/stable/prometheus

additional parameters:
--set prometheus.alertmanager.persistentVolume.storageClass=csi-rbd-sc --set prometheus.server.persistentVolume.storageClass=csi-rbd-sc

final

[2021-01-28 12:12] Daniel-Vaz commented on #1910
Thanks for the explanation @tusharRepo !
All is working.

[2021-01-28 12:12] #1910 closed

[2021-02-01 22:11] jry-anchor opened #1925 "Node.js: runtime image dependencies available to functions?"
https://docs.fission.io/docs/languages/nodejs/#modifying-the-nodejs-runtime-images says that dependencies added in the runtime image package.json will be available to the function. But in my testing they are not. Confirming that I docker built and pushed with the updated package.json and updated my fission environment to use the custom runtime image. I'm using `node:12` as my base image.

I was ab

[2021-02-02 11:41] #1883 closed

[2021-02-02 17:50] #1882 closed

[2021-02-03 07:31] wzhliang opened #1927 "Python env: stdout is buffered"
**Fission/Kubernetes version**

<pre>
$ fission --version
1.11.0

$ kubectl version
1.12.1
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

Logs in Python code cannot be easily examined because fission/python-env:latest use the default setup where IO is buffered.
This can be fixed either with `python -u` or the `PYTHONUNBUFFERED` variable
**To Reproduce**

**E

[2021-02-04 07:31] RealHarshThakur opened #1928 "Creating service accounts (security concern)"
Once user has installed fission, the service accounts would exist by default. The only reason we require this permission is because the controller will create if they don't already exist, right? If so, two scenarios where this helps
 * Getting into a state where service accounts are deleted
 * Incomplete installation

 Can't we just give an error to the user through CLI when such a thing happens?

[2021-02-04 12:37] #1845 closed

[2021-02-04 16:27] #1881 closed

[2021-02-05 04:58] #1864 closed

[2021-02-05 11:22] #1875 closed

[2021-02-08 05:44] #1694 closed

[2021-02-08 07:30] RealHarshThakur commented on #1234
![](https://github.trello.services/images/mini-trello-icon.png) [Status of Fission resources](https://trello.com/c/aczCEqNL/7-status-of-fission-resources)

[2021-02-08 07:31] RealHarshThakur commented on #1077
![](https://github.trello.services/images/mini-trello-icon.png) [Status of Fission resources](https://trello.com/c/aczCEqNL/7-status-of-fission-resources)

[2021-02-08 08:54] #1635 closed

[2021-02-08 13:41] rjbaat opened #1933 "Feature Request // KubeMQ MQT"
Hi,
Atm there are a couple of MQT available. But a good Kubernetes native and member of CNCF alternative for this is KubeMQ (https://kubemq.io/product-messaging-patterns/#queue).
Would be awesome to use the queuing meganism of KubeMQ together with Fission with a ready to use Message Queue Trigger.

Hope you can look into it and add a new MQT option for. Thnx!

[2021-02-10 13:50] airhorns commented on #1662
I think this relates to https://github.com/fission/fission/issues/1888 a little bit in that if we want to allow handling websockets in the same container as other requests we'd need to support pod re-use or simultaneous use for different functions . For websockets specifically, I think re-use matters a lot because a lot of websocket connections will be idle at lot of the time and waste resources.

[2021-02-11 06:08] adamkgray opened #1935 "Allow specifying different extraCoreComponentPodConfig unique for router"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Helm users should be able to specify a separate set of extraCoreComponentPodConfig for the router. The use case is that if the router is running in daemonset mode, it may need different nodeSelectors and tolerations than everything else

f

[2021-02-11 14:33] adamkgray commented on #1574
Has any work been done on this? I'll re-kickstart this endeavor if were still at step 0

[2021-02-12 14:34] sahil-lakhwani commented on #1574
There could also be an option, something like `--create-spec` instead of a new sub-command. Because the code already creates the spec, this way, we'll have to just output the generated spec in YAML.
When using this option, the spec won't actually be applied/installed in the cluster.

[2021-02-13 10:47] vishal-biyani commented on #1574
@adamkgray We are pretty much at steo 0. Please free free to take it up and let us know if you need any help along the way!

[2021-02-18 02:35] therahulbhati opened #1939 "Relaxed concurrency in poolmanager strategy"
Due to the current implementation of cache(pool cache) for the pool manager, sometimes number of specialized pods (function pods) are more than the `concurrency` parameter, this happens when there is burst of requests and number of incoming requests is greater than `concurrency` parameter.

Solution
This can be improved by applying locking mechanism but would degrade performance of the whole speci

[2021-02-18 06:35] therahulbhati commented on #1888
Only for the pool manager strategy
OnceOnly: Specialize, serve exactly one function, and then garbage collect
           IdleTimeout - Zero?
RequestsPerPod
N (RPP): Based on the N number provided by the user that many requests can be served by a pod at a given time
    1 Function - pool size 3, concurrency 5, N=5, TReqs = 25
        First 5 requests to same specialized pod
        And at the peak

[2021-02-18 09:55] therahulbhati commented on #1888
Applies only to pool manager strategy:
Scenarios:
1. OnceOnly: Specialize a pod, serve exactly one request, and then garbage collect. (Never reuse)
2. Have a parameter  `requestPerPod` or `rpp` and each pod would serve that many requests at any given time.
Example
    1 Function - pool size 3, concurrency 5, N=5, TReqs = 25
        First 5 requests to same specialised pod
        And at peak you w

[2021-02-18 14:17] airhorns commented on #1888
Another approach would be to not limit by request concurrency but instead by observed CPU saturation. It's hard to tune request concurrency because the amount of work to do a request can change over time -- more cache hits at night while things aren't changing that often for example. If that were the case, then you'd be under-using the pods at night wasting resources, and over-using them in the mi

[2021-02-18 18:54] airhorns commented on #1888
Oh -- another bonus of using CPU based scaling like that is that the router doesn't need to coordinate with anything else to tap and untap services, it can just load balance using least connections or something like that, and then as the autoscaler notices changes load new backends get added and removed. This adds a bit of resiliency where the router doesn't strictly need a connection to a central

[2021-02-20 08:15] jingb commented on #693
yes I have same confusion

[2021-02-22 11:41] tosone opened #1941 "Tiny runtime for fission"
# Background

- I write some complex function code and run it in Fission, cannot debug my function locally.
- Sometime my function should use a special runtime framework, MUST write a special runtime for my function.
- I want write my function freely.

# Problem

- Some users really don't want Fission to have any restrictions on code and framework.
- Now the builder and runtime Dockerfile has a lo

[2021-02-22 14:43] jry-anchor opened #1942 "Failed build retries"
See https://fissionio.slack.com/archives/C3LUX6BBP/p1613759120145400?thread_ts=1613753129.145300&cid=C3LUX6BBP

Failed builds are retried many times. In my case, it is always a problem in the code, so I want it to fail quickly. As is, `fission spec apply --wait` blocks until all the retries have failed, which can take several minutes.

At the very least, please make it a configuration option to no

[2021-02-23 10:10] RealHarshThakur commented on #1941
Hey @tosone  ! Thanks for the proposal. I am wondering if this PR serves a similar goal : https://github.com/fission/fission/pull/1681 .
There's a good ecosystem around building containers. So running them directly instead of introducing our own layer feels redundant. What are thoughts about it?

[2021-02-23 10:17] tosone commented on #1941
The goal is similar, but the startup time is my concern. I like the fission cold-start.

[2021-02-23 13:33] abbaspw21 commented on #1848
Hi @vishal-biyani / @RealHarshThakur,
Even after upgrading fission to 1.12.0 we are facing this issue.

[2021-02-24 13:57] RealHarshThakur commented on #1848
Hey @abbaspw21 , I just checked again and it's working. Here's what I tried:
* fission env create --name nodejs --image fission/node-env --envns=env
* fission function create --name hello --env nodejs --code hello.js --fns=func --envns=env
* fission env update --name nodejs --image fission/node-env-debian --envns=env

Can you please tell me what you've tried?
There's an open issue around namespace

[2021-02-26 08:33] therahulbhati commented on #1888
**Design**
Max request that can be served concurrently will be equal to concurrency x rpp
**Scenarios**:

1. The very first request comes a new pod is specialized to serve the request.
2. More request comes, rpp for a single pod is reached, new pod is specialized to serve the request.
3. If all pods are serving requests wait for 5 seconds(configurable) and check again, then return 429 or serve the

[2021-03-04 14:44] LucasUnplugged commented on #1662
Just a note that it would be great to use uws for Node.js — or at least have that option. https://github.com/uNetworking/uWebSockets

Apparently it is faster than ws, and is used by SocketCluster/Asyngular:
https://ably.com/topic/websockets#web-sockets

[2021-03-05 02:21] jingb commented on #1863
@therahulbhati I have also meet this question
when router receive a request, it will send a req to executor to get funtion address, and executor will send a req to k8s apiserver to get function's detail. In a poolmgr type env, when get a pod from cache, it will send a req to k8s apiserver to get the pod's detail. And validate its status then send back to router. In another word, the function reque

[2021-03-05 06:22] therahulbhati commented on #1863
Hi @jingb, I have addressed this in https://github.com/fission/fission/pull/1919, this would eliminate an API call to k8s apiserver.

[2021-03-08 08:11] jingb commented on #1863
hi @therahulbhati   how about the method  (executor *Executor) getServiceForFunction(fn *fv1.Function)
I see some comment on this method that it plan to make a optimization.
Eliminate the api call to k8s apiserver during the pod validation process for poolMgr mode.

[2021-03-09 15:20] abbaspw21 commented on #1848
Hi @RealHarshThakur ,
In our case we are deleting and recreating the environment.

Steps :

- Create environment
- Create new deploy function
- Delete environment
- Create same environment back again.

[2021-03-10 07:49] RealHarshThakur commented on #1848
@abbaspw21 seems to be a different issue related to newdeploy alone.  Newdepl

[2021-03-10 07:51] RealHarshThakur commented on #1848
@abbaspw21 seems to be a different issue related to NewDeploy . Problem is that NewDeploy is kind off independent of the environment pods.

[2021-03-10 08:40] abbaspw21 commented on #1848
@RealHarshThakur As per my understanding NewDeploy pods are created from fission environment spec and so if am recreating a fission environment its expected that existing NewDeploy function's pods are recreated to accommodate the new changes.

[2021-03-10 09:22] #1909 closed

[2021-03-11 14:55] guilhermequeirozv opened #1948 "cx_oracle module not found for python function"
I am trying to make a function that connects to my database, when I try to execute the function I get the below error.
Sorry if this is not the place, if not, please advise me where to get help from.

[code]
I am following the tutorial here [to work with dependencies](https://docs.fission.io/docs/languages/python/#working-with-dependencies). Below is my code and configuration details. Please help

[2021-03-15 10:42] fauzankhan007 opened #1950 "Fission Function Pods are getting recreated."
Fission version - 1.11.2
kubernetes version - v1.16.1
docker version : 1.13.1

Platform: Kubeadm on Redhat 7.8 server(Datacenter Server)

Issue: All Fission function pods are getting recreated(not restarted) at the same time, the age of the pods changes when gets recreated. We are not able to find the cause of this behavior, Though we find the below logs in journalctl.

[code]

After the above log

[2021-03-15 10:57] hd40910 commented on #1950
@vishal-biyani  Can you please us with this ?

[2021-03-16 14:33] abbaspw21 commented on #1874
HI @vishal-biyani @therahulbhati  ,

We are also facing the same issue on few of our production environments.
In our case we cqn clearly see in logs that a python3.7 process was terminate by OOM killer and after that our fission function which also runs on python3.7 internally started throwing 502.

Logs :
Mar 08 07:55:47 dc1cef kernel: **memory: usage 131072kB, limit 131072kB, failcnt 2814**
Mar

[2021-03-16 23:29] irgeek commented on #1707
Doesn't scheduling pods to run on Fargate just require adding some labels to match your Fargate Profile? I think you should already be able to add labels to Fission function pods by [adding a PodSpec](https://docs.fission.io/docs/spec/podspec/) to your function spec file. I don't think Fission needs specific support for Fargate and EKS.

[2021-03-17 23:38] #386 closed

[2021-03-22 09:29] vishal-biyani commented on #1874
Related upstream issue: https://github.com/kubernetes/kubernetes/issues/69676

[2021-03-22 09:42] vishal-biyani commented on #1950
This looks more like an issue with K8S master not being reachable. Because of which Fission can not get env list and then fails:

[code]

Same can be said from fission dump logs. Do you know if K8S master setup is stable and responding to other calls?

[2021-03-22 09:52] fauzankhan007 commented on #1950
Yes other pods were responsive at that time.
Also fission-function pods were responsive just before the recreation of the pods.

[2021-03-22 09:59] vishal-biyani commented on #1950
@fauzankhan007 Is there a way to reproduce this clearly or do you any event when this happens?

[2021-03-22 10:47] fauzankhan007 commented on #1950
Unfortunately we don't know how to reproduce the issue, this is very random sometimes this issue occurs in few hours sometimes it happens  in few days. We get similar logs for Service, Pod, Deployment, replication etc as well.
`Mar 12 01:43:49 dcacmj dockerd-current[22700]: E0312 06:43:43.259002       1 reflector.go:123] k8s.io/client-go/informers/factory.go:134: Failed to list *v1.Service: Get ht

[2021-03-22 14:20] dshelygin opened #1965 "Create the ability to work only in the specified namespace or/and only with objects with some label"
At the moment executor get all configmaps in k8s cluster. If cluster is big enough, and there is a certain number of config maps that change, executor needs to work with them and it increases response time for function calls.

Also, right now all k8s permissions for fission issued for the entire cluster. For security reason somethimes we need to place faas system separated from other. For example

[2021-03-25 16:48] vishal-biyani commented on #1950
Hi, @fauzankhan007 I don't think this is a problem only with Fission, as you can see from other errors of for ex. Kafka running inside K8S cluster with Strimzi operator:

[code]

[code]

Secondly, are you running this on a single node cluster? That is really not the supported configuration. If you are running on a single node - master and all worker workloads such as Kafka, Fission, Functions, and

[2021-03-25 16:48] #1950 closed

[2021-03-31 08:53] abbaspw21 commented on #1874
Hi @vishal-biyani,

We were working on implementing the suggested WA but there we see below issues that can come with the functions which have there own memory limits(defined using  --maxmemory) :
- Functions with memory limit lower than that is defined in the environment would never be caught by preoomkiller.
- Functions with memory limit higher than that is defined in the environment would get e

[2021-03-31 10:52] vishal-biyani commented on #1874
@abbaspw21 In the case of pool manager functions - the memory & CPU assigned at the function level are not used but only the one provided at the Env level is used.

Secondly - the value in annotation `preoomkiller.alpha.k8s.zapier.com/memory-threshold` should be defined as around ~95% of RequestLimit of the pod. That ways the pod does not cross the limit and does not run into the OOMKilled issue.

[2021-03-31 11:08] abbaspw21 commented on #1874
@vishal-biyani What if function is new deploy ?

[2021-04-01 06:19] vishal-biyani opened #1979 "Increase default concurrency to an higher number"
The current default concurrency is set to 5 (https://github.com/fission/fission/blob/master/pkg/executor/api.go#L62) which causes confusion to new users that Fission limits RPS to 5. We should increase this to a much bigger number so that users don't run into this issue and they can always fine-tune it later if needed.

Also before this feature, there was no technical upper limit - so setting it t

[2021-04-06 09:22] vishal-biyani commented on #1979
Closed by https://github.com/fission/fission/pull/1980

[2021-04-06 09:22] #1979 closed

[2021-04-06 10:36] dshelygin opened #1987 "Deployment with kafka consumer is created in wrong namespace, if it differs from default"
**Fission/Kubernetes version**

<pre>
$ fission version
client:
  fission/core:
    BuildDate: "2021-02-11T13:35:47Z"
    GitCommit: ca1a0d4d67a78dd4eaa7790408549d8fb6fc20ca
    Version: 1.12.0
server:
  fission/core:
    BuildDate: "2021-02-11T13:35:47Z"
    GitCommit: ca1a0d4d67a78dd4eaa7790408549d8fb6fc20ca
    Version: 1.12.0

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16

[2021-04-07 02:49] chenjr0719 opened #1988 "Exclude files when using specs"
**Is your feature request related to a problem? Please describe.**
When I using `fission spec apply`, it might include some large file from my local file system if I didn't arrange it well.

**Describe the solution you'd like**
I would like to have a configuration in `spces` to exclude those large files or any file that I don't want to apply to the system.

**Additional context**
In the code base,

[2021-04-07 04:56] RealHarshThakur opened #1989 "Add metrics related to Reaping"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Reaper should have metrics to determine how long it took for it detect an idle pod.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Currently, there's no way to know how long Reaper takes to

[2021-04-08 06:13] RealHarshThakur opened #1990 "Good defaults for memory and CPU based on environment"
**Is your feature request related to a problem? Please describe.**
When we deploy default nodejs environment with no functions associated, it takes upto 250% more memory than requested. We need to enable good defaults but this could vary based on each language.

**Describe the solution you'd like**
We should at least start with documenting the memory/CPU usage for each language environment and sta

[2021-04-08 06:24] RealHarshThakur opened #1991 "Image pull policy in environmet.spec"
**Is your feature request related to a problem? Please describe.**
We should support image pull policy under environment.spec because having it under environment.spec.runtime.container conflicts with environment.spec.runtime.podspec . Since we can't use both `container` and `podspec` at the same time and `podspec` doesn't have the `imagePullPolicy` field, it would be nice to have it under `environ

[2021-04-08 06:28] RealHarshThakur commented on #1991
Closing, since it is possible to do it via `environment.spec.runtime.podspec.container.imagePullPolicy`

[2021-04-08 06:28] #1991 closed

[2021-04-08 11:23] RealHarshThakur opened #1992 "Reaping based on health checks"
**Is your feature request related to a problem? Please describe.**
After https://github.com/fission/fission/pull/1982 , we've started to reap pods based on events where the source of the events is the environment. If something were to fail in the environment and it failed to send the inactive event, the pod would remain there forever.

**Describe the solution you'd like**
Assuming that, something

[2021-04-08 14:01] RealHarshThakur commented on #1672
We're going to provide multi-arch images from next release. https://github.com/fission/fission/pull/1929

[2021-04-08 14:01] #1672 closed

[2021-04-08 14:04] RealHarshThakur commented on #1898
Related : https://github.com/fission/blog.fission.io/pull/61

[2021-04-08 14:12] RealHarshThakur commented on #1729
@jamesduan sorry for late reply but you can already do it. For example: if you have a function named `hello`,
Router exposes this function at `http://routerip/fission-function-hello` . Please reopen if you don't think this is solved

[2021-04-08 14:12] #1729 closed

[2021-04-08 14:28] RealHarshThakur commented on #1523
We've started providing debian https://github.com/fission/environments/pull/30 .

[2021-04-08 14:28] #1523 closed

[2021-04-08 14:33] RealHarshThakur commented on #1421
Related: https://github.com/fission/fission/pull/1929

[2021-04-12 19:26] atsai1220 opened #1998 "Error Listing Functions. Too Many Open Files"
**Fission/Kubernetes version**

My fission cli is 1.12.0
<pre>
❯ fission version --verbosity=2
Setting up port forward to application=fission-api in namespace
Waiting for local port 57529
Starting port forward from local port 57529
Waiting for port forward 57529 to start...
Using kubeconfig from "/Users/atsai/.kube/config"
Connected to Kubernetes API
Connecting to port 8888 on pod fission/fission

[2021-04-14 11:38] YonSunZhen commented on #1717
Hi, @bharathnatarajan1 ,how do you fix this problem, i have suffer from the problem the same to you. Thanks!

[2021-04-14 17:07] vishal-biyani commented on #1998
Hi @atsai1220 This does not look like an issue in Fission but either your machine or your cluster is running out of file descriptions. If it is Kubernetes cluster it could be related to this one: https://github.com/kubernetes/kubernetes/issues/64315

I suggest please check on a different setup if you can and reopen if you still run into same issue!

[2021-04-14 17:07] #1998 closed

[2021-04-14 17:07] vishal-biyani commented on #1898
Closed by fission/blog.fission.io#61

[2021-04-14 17:07] #1898 closed

[2021-04-14 17:10] vishal-biyani commented on #1948
Hi @guilhermequeirozv Can you please share your `requirements.txt` file?

[2021-04-17 00:37] munjalpatel commented on #1144
@vishal-biyani we are planning to use NATS with `istio` enabled. I just tried the following and the `mqtrigger-nats-streaming` pod still fails.

[code]

Are there any plans to fix this in near future? It would be great if we can use Fission for both synchronous and asynchronous workloads.

[2021-04-22 16:41] vishal-biyani opened #2005 "Keda Connector pods: Scheduling, memory requirements etc."
Currently the Keda-Connector pods are scheduled based on deployment created by Fission. That means there is no easy way to schedule them on specific nodes or based on taints or tolerations etc. It should be possible to schedule the keda-connector pods (Which do heavy lifting of processing the messages) based on things such as node-selector or taints/tolerations etc.

Also the user would potentiall

[2021-04-23 20:08] jocko-wowza opened #2006 "Trying to run the demo install and getting an error"
**Fission/Kubernetes version**
Fission 1.12.0 and 1.11.2
Kubernetes 1.12.9

**Kubernetes platform (e.g. Google Kubernetes Engine)**
AWS

**Describe the bug**
Trying to run the Hello world demo.   When I try to add the "hello" function I get the following error:

[code]

**To Reproduce**

Follow the instructions for installing and running Fission here:
https://docs.fission.io/docs/installation/

**

[2021-04-27 19:09] vishal-biyani opened #2007 "RequestPerPod does not work with specs"
The RequestPerPod feature introduced in https://github.com/fission/fission/pull/1946 has some issues with specs. Even on a fresh installation - if you create a spec, it reflects in spec file but not in CR in Fission after you apply the spec.

[2021-04-27 19:12] vishal-biyani opened #2008 "Fission version Upgrade issue for RequestPerPod field"
When you upgrade from a version such as 1.12.0 to current master version - one applies the CRD and the Fission install. The RequestPerPod field introduced in https://github.com/fission/fission/pull/1946 is visible in CRD. But a CR of a function which was created before the upgrade - one can not see the RPP field. Ideally the Function CR should show the field with default value. This is not a break

[2021-04-28 08:58] vishal-biyani commented on #2007
@RealHarshThakur I was not able to reproduce this either, so will close for now and we can reopen in future if needed

[2021-04-28 08:58] #2007 closed

[2021-04-28 14:44] samoscybercraig opened #2009 "newdeploy function name can exceed k8s max name field size"
<pre>
client:
  fission/core:
    BuildDate: "2021-02-11T13:35:47Z"
    GitCommit: ca1a0d4d67a78dd4eaa7790408549d8fb6fc20ca
    Version: 1.12.0
server:
  fission/core:
    BuildDate: "2021-02-11T13:35:47Z"
    GitCommit: ca1a0d4d67a78dd4eaa7790408549d8fb6fc20ca
    Version: 1.12.0
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**

All Kuberenetes platforms

**Describe the bug**

When

[2021-05-03 03:21] scriptsrc opened #2010 "Documentation links to hello.js, but returns HTTP404"
This URL:

https://docs.fission.io/docs/installation/

Under the `Run an example` section.

[code]

That URL returns a 404:

[code]

[2021-05-05 07:31] vishal-biyani commented on #2010
Hi, Sorry we moved the examples to a different directory, please try with https://raw.githubusercontent.com/fission/examples/master/nodejs/hello.js

Will restore this file in main repo as it is widely used!

[2021-05-05 07:31] #2010 closed

[2021-05-05 09:38] vishal-biyani commented on #2006
Hi @jocko-wowza As discussed on Slack, Fission will definitely not work with K8S version 1.12 Many things added to  CRD are
not supported in that version of Kubernetes. Please upgrade slightly newer versions of Kubernetes!

[2021-05-05 09:38] #2006 closed

[2021-05-05 09:43] vishal-biyani commented on #1948
Hi @guilhermequeirozv Closing for lack of response, please reopen if still facing the issue!

[2021-05-05 09:43] #1948 closed

[2021-05-05 10:10] vishal-biyani commented on #1927
hi @wgliang Thanks for raising the issue. Would you like to raise a PR for this in fission/environments repo?

[2021-05-05 10:24] vishal-biyani commented on #1900
Hi @fauzankhan007 We are talking about scaling of two components here.
- For Kafka Connector of Fission which uses Keda -the scaling depends on number of partitions in Kafka. Just adding more messages in Kafka won't scale it.
- For newdeploy function - current scaling is based on only CPU and not on other parameters!

[2021-05-05 18:36] atsai1220 commented on #1998
Hello! Providing some more info and workaround.

Workaround:
[code]

I noticed in `util.go:GetApplicationUrl` would create a port-foward if `FISSION_URL` env var is not set. Not sure what the difference between fission doing the port-forwarding versus port-forwarding manually though but sharing just in case someone else runs into this issue whether it is because of their local network environment

[2021-05-05 19:17] stephanvane opened #2012 "Update node version"
**Is your feature request related to a problem? Please describe.**
The current default NodeJS version is set to v8.17.0. This version is way outdated. The support for this version stopped [over a year ago](https://blog.risingstack.com/update-nodejs-8-end-of-life-no-support/) (2019-12-31).

**Describe the solution you'd like**
It would make sense to update the default version in `fission/node-env`

[2021-05-06 02:34] wzhliang commented on #1927
Sure. Any pointers? @vishal-biyani

[2021-05-06 07:02] wzhliang commented on #1927
https://github.com/fission/environments/pull/69

[2021-05-07 05:59] vishal-biyani commented on #1662
Closed by #1982 & https://github.com/fission/environments/pull/49

[2021-05-07 05:59] #1662 closed

[2021-05-10 18:54] info2000 commented on #1863
with fission v 1.11.2 3 router replicas: works awesome
with fission v 1.12, 6 router replicas, fission doesn't respond
with 427 request per minute, and 6 nodes

[2021-05-11 09:39] #1927 closed

[2021-05-11 09:40] vishal-biyani commented on #1927
Thanks a lot again for your contribution and PR to Fission repo, @wzhliang 🎉

[2021-05-11 15:06] sanketsudake opened #2020 "test_mqtrigger.sh and test_mqtrigger_error.sh are randomly failing in CI"
**Fission/Kubernetes version**

Fission latest from the master.

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kind CI

**Describe the bug**
test_mqtrigger.sh and test_mqtrigger_error.sh are randomly failing. Need to troubleshooting further

**To Reproduce**
https://github.com/fission/fission/pull/2015/checks?check_run_id=2553425198
Observed Github actions CI.

**Expected result**
Both t

[2021-05-12 06:56] vishal-biyani commented on #1863
Hey @info2000 and @life1347 - point noted. Will test this update here.
The cache move was for reasons that seemed right in larger perspective but of course there is a trade off. We will have to re-design that soon for sure.

[2021-05-12 07:45] sanketsudake opened #2023 "Different request combinations support for a function"
**Is your feature request related to a problem? Please describe.**

Currently, we assign a static route to the Fission function created. A Functions capability is limited to that route only. If the user has the desire to serve multiple statics files etc, we don't seem to be having a specified solution.
This could be the current limitation of Fission or need enhancements in Fission capabilities.

U

[2021-05-13 00:05] prithvijit-dasgupta commented on #920
@MikeSpreitzer I have recently faced a similar issue at my work where we had to switch to `histogram_quantiles` in PromOL queries. I see the place where the metric input is to be changed in `metrics.go`

[code]

[2021-05-16 17:42] darkn3rd opened #2024 "Fission logger support (fluentbit) for Loki"
**Is your feature request related to a problem? Please describe.**

We need get logs from lambdas per user on out platform, and it seems the only way to do this is at container level (as pod level service discovery doesn't work after pods are launched and labels changed by Fission).  Given that Fission has a container level logging with logger (fluentbit->influxdb), we want to use this, but have i

[2021-05-17 00:32] kumar9989 opened #2025 "I am working on windows 10 when i try to execute the CMD (kubectl create -f nginx-deployment.yml) error: path “nginx-deployment.yml” does not exist"
i have given exact path and exact name ,but still same error
https://i.stack.imgur.com/TJnYL.png
https://i.stack.imgur.com/n822X.png

[2021-05-17 13:12] shubha84 opened #2028 "is it possible to pause/resume MQTriggered kafka consumption in fission on conditional basis"
Hi,
For kafka consumer with MQ trigger is it possible to to pause/resume the kafka message consumption by fission based on condition?
The scenario is explained in below diagram -
![image](![mqt-kafka-fission-consumer](https://user-images.githubusercontent.com/33509779/118494133-75ac9780-b73f-11eb-8344-7eb97551f204.png))

[2021-05-18 18:35] kbbqiu commented on #1574
As an extension/augmentation to this issue, I was hoping that we could deploy fission spec via helm or skaffold.

Reason:
- We've got ~100 lamdas that we are looking to possibly move into fission
- Current spec workflow would require us to duplicate a bunch of code when generating the CRD k8s objects

Current Strategy:
- Helm chart to generate fission specs
- CI/CD will run `helm template` and pas

[2021-05-19 17:24] vishal-biyani commented on #1888
Closing this issue as most of needs are satisfied with #1946 and #1978

[2021-05-19 17:24] #1888 closed

[2021-05-20 03:14] cd4806088 opened #2031 "How to employ my own complex python project? I need a demo"
**I need to deploy a complex python project of my own by fission.**

There is a final func provided by the project to realize some special function, but the python file where the **func** locates needs other pkgs wirten by me, rather than some dependencies that can be writen in requirements.txt to solve.

The projects is like:

**project_folder**
- pkg_1
  - __init__.py
  - add.py
- pkg_2
  - __in

[2021-05-20 14:44] chenjr0719 commented on #2031
Hi @cd4806088 , I think you can just simply include the `pkg_1` and `pkg_2` when creating the fission package of `my_final_func_folder`. Would you mind to share how you create your fission package and fission function?

[2021-05-20 22:22] kbbqiu commented on #1233
[code]

I've got a bunch of these errors running in a reconciliation loop. I'm still determining what's causing them.
Seems to be when running `fission spec destroy` while  newdeploy has a minscale > 0. The error is inconsistent, have been able to replicate it only a handful of times. Confirmed that the function doesn't exist, so don't know which object to delete.

[2021-05-21 01:08] cd4806088 commented on #2031
Thanks for your reply! I will have a try next, and show my steps here

[2021-05-21 02:56] cd4806088 commented on #2031
this is my steps here:

- myfission_python_demo
  - funcs
    - __init__.py # import funcs.add \ add = funcs.add.add
    - add.py # def add(a, b): return a + b
  - main.py
  - requirements.txt

- the content of main .py

[code]

- the requirements.txt is empty

- the fission steps:

[code]
  - THEN IN MY chrome，I access the URL: **http://{cluster nodes ip}:{router nodeport}/faas_add**, but get no

[2021-05-21 15:20] kbbqiu opened #2034 "newdeploy broken when specifying podspec in environment manifest"
**Fission/Kubernetes version**

[code]

**Kubernetes platform (EKS)**
[code]

**Describe the bug**

newdeploy doesn't generate Deployment and HPA when specifying podspec in the environment manifest. Seems to be an issue with how the podspec is merged into the deployment spec. I'm able to deploy the same spec but only changing the executor type of the function to poolmgr. I'm also able to remove po

[2021-05-23 07:57] sanketsudake commented on #2020
With PR merge https://github.com/fission/fission/pull/2029 , the test seems to be stable. Keeping issue open for a week then we can close if we don't see issue further.

[2021-05-24 03:39] chenjr0719 commented on #2031
Sorry for the late reply @cd4806088.

I believe the 500 error is caused by the incorrect import from your package. The zip command you used is not correct. I think you can build the package like this and it would be easier:
[code]

[2021-05-24 05:03] sanketsudake commented on #2008
@RealHarshThakur can you please link recent related PRs to this issue ? Also please let me know if we can close this issue now with recent validations ?

[2021-05-24 05:31] cd4806088 commented on #2031
Thanks for your reply! @chenjr0719
I have test your method, and it works!
Hope this issue can help more developer.

[2021-05-24 05:32] #2031 closed

[2021-05-24 07:02] RealHarshThakur commented on #2034
I passed the `image` parameter inside pod spec and it worked. Can you try it out?
https://github.com/kbbqiu/fission-newdeploy-tests/pulls

[2021-05-24 07:04] RealHarshThakur commented on #2008
We had a discussion internally and decided it's okay to not have it in the CR as the field is optional to the user.

[2021-05-24 07:04] #2008 closed

[2021-05-24 16:06] #1181 closed

[2021-05-24 23:40] Prideauxx opened #2039 "Fission Latency"
Hello,

   I am considering several FaaS approaches to address a customer need.  Arguably, we are not using this in a typical case where cost savings on leased CPU resources is of high importance.  What we are hopeful of is a solution that most closely mimics Fission functionality (ease of adoption by developers covering a myriad of potential software languages, function chaining, and dynamic-scal

[2021-05-27 05:30] sanketsudake commented on #2034
Fix PR raised by @RealHarshThakur  specs is working fine.

Essential learnings from fix:

1. In `podspec.containers` section for each entry container name and image name are compulsory.
2. If you are overriding the environment runtime image, the container name should be same as the function name. Otherwise, we end up running the same container with different names, which causes port conflict.

@kb

[2021-05-27 05:33] sanketsudake commented on #2020
We haven't seen this issue recently. Closing will reopen if required.

[2021-05-27 05:33] #2020 closed

[2021-05-27 08:54] sanketsudake opened #2041 "Enable Upgrade tests in Fission CI(Github actions)"
**Is your feature request related to a problem? Please describe.**
Currently, we don't have upgrade verification running as part of CI. Previously we had it with Travis, need to enable the same with kind and Github actions.

**Describe the solution you'd like**
Previous upgrade tests reside here https://github.com/fission/fission/tree/master/test/upgrade
We need to make changes so that we can run

[2021-05-27 10:06] sanketsudake opened #2042 "Enable multiples kubernetes version in testing in Github CI flow"
**Is your feature request related to a problem? Please describe.**
Currently, in the existing CI flow, we are able to verify only one Kubernetes version at a time, based on [kind config ](https://github.com/fission/fission/blob/master/kind.yaml). We need support for multiple Kubernetes version verification in the same flow.

**Describe the solution you'd like**
We should be able to run CI flow for

[2021-05-27 12:23] sanketsudake opened #2043 "Runtime container should follow same naming convention in pool manager and new deploy"
**Fission/Kubernetes version**

Applicable to all Fission versions.

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Since the fission bug doesn't depend on the Kubernetes version

**Describe the bug**

Currently when the user mentions podspec for the environment,

- Behaviour for pod spec with new deploy
If we are overriding the runtime container image, the container name needs to be the

[2021-05-27 12:44] kbbqiu commented on #2034
Thanks! Yes this has resolved my issue. I might create a new feature req issue.

e.g. I'd like to re-use the newdeploy environment in a 1 environment to many newdeploys rather than the current 1:1 when using podspec.

[2021-05-27 12:44] #2034 closed

[2021-05-27 14:32] sanketsudake commented on #2043
Raised PR https://github.com/fission/fission/pull/2044

[2021-05-27 16:02] vishal-biyani opened #2045 "[PoolManager] Different functions of same Environment: Resources per function"
As of today in pool manager strategy, resources are specified at environment level. This creates generics pods with specified resource requirements. But the same environment can be used to create multiple functions and each function have unique resource needs. For this to work it should be possible to update the pod resources in place (Related Upstream K8S enhancement: https://github.com/kubernete

[2021-05-29 08:36] Sam-Sundar-Apty commented on #2025
As far as I see from the images you are not in the same directory.

Can you press "shift+right click" on configmap.yaml and copy file path and then give kubectl apply -f <absolute path>

Also this is not a fission error !

[2021-05-30 15:24] CIPHERTron opened #2046 "Ham menu in the website not functioning"
### So, I was going through the [fission.io](https://fission.io) website today when I came across this issue.

### The **Ham menu** doesn't work when clicked. I'm attaching a clip of the issue below.

https://user-images.githubusercontent.com/56754747/120109853-d220a580-c188-11eb-9b32-9a6f3201dc32.mp4

[2021-05-31 04:40] RealHarshThakur commented on #2005
Closing this as this PR is merged.  https://github.com/fission/fission/pull/2021

[2021-05-31 04:40] #2005 closed

[2021-06-01 07:09] sanketsudake commented on #2025
@kumar9989 As  @Sam-Sundar-Apty  pointed out this doesn't seems to be Fission issue. So closing it. If you still need help and have any specific details feel free to reopen it.

[2021-06-01 07:09] #2025 closed

[2021-06-02 02:46] sanketsudake opened #2051 "Fission upgrade from 1.12 to latest master fails with upgrade check"
**Fission/Kubernetes version**
Fission 1.12 to latest(Future 1.13 release)

Kubernetes 1.19

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Kind Github Actions

**Describe the bug**
Fission upgrade from 1.12 to latest(future 1.13) fails with preupgrade check.

Refer Upgrade Run:
https://github.com/jithindevasia/fission/runs/2719511485

Logs from upgrade pod
[code]

**To Reproduce**
Runnin

[2021-06-02 11:13] sanketsudake commented on #2043
Merged PR, so closing issue. It should be available in 1.13 release. Thanks, @kbbqiu for identifying the issue. 🎉

[2021-06-02 11:13] #2043 closed

[2021-06-03 06:23] sanketsudake commented on #2051
This was a result of the test job not having the latest pre-upgrade task image. With the latest image, tests are passing.

[2021-06-03 06:23] #2051 closed

[2021-06-03 15:45] #1935 closed

[2021-06-04 08:31] shubha84 opened #2056 "what is the latest Kubernetes version certified for fission"
Hi,
what is the latest Kubernetes version certified for fission?
@vishal-biyani

[2021-06-04 08:33] shubha84 commented on #2028
@vishal-biyani can you help?

[2021-06-06 03:15] sanketsudake opened #2057 "Change rbac references from v1beta1 to v1"
**Describe the bug**
Warning in executor log
[code]
[code]

**To Reproduce**
Observe the Fission executor log, the above warning, can be noticed.

** Fix
Change RBAC API references from v1beta to v1

[2021-06-07 09:58] vishal-biyani commented on #2056
Hi @shubha84 We have tested with K8S 1.20 but have not done much testing beyond 1.21 yet - but will be done soon. Also there will be a new page in the documentation around compatibility etc. as part of this release. Please do check docs if you need that info after release. Happy to answer any other questions here or on Slack

[2021-06-07 09:58] #2056 closed

[2021-06-07 10:02] vishal-biyani commented on #2039
Hi @Prideauxx Due to some design changes to optimise for very high scale and a burst of load there has been some impact on cold-start performance lately! We have pushed a few tweaks already but few major change are coming in 1.13 and 1.14 to ensure the promised performance is delivered. I will update this issue once we have ran some tests after changes.

[2021-06-07 10:03] vishal-biyani commented on #2028
Hi @shubha84 Can you please explain your use case in some more depth? What is scenario under which you want to switch off consumption of messages by Fission?

[2021-06-07 10:08] vishal-biyani commented on #1933
I think this is a great fit in Keda Connector repo - as essentially this needs developing a connector for KubeMQ MQT. Moving there

[2021-06-07 10:10] vishal-biyani commented on #2042
@sanketsudake Captured here already: https://github.com/fission/fission/issues/1603

[2021-06-07 12:55] shubha84 commented on #2028
Hi @vishal-biyani ,
So scenario is like this.
We want a circuit-breaker pattern implementation which is giving the status of end service and will open (no request allowed to pass) or close (allow request allow to pass) the circuit .
Now we want the queue will be consumed by fission only in case circuit is closed and pause the queue consumption till the circuit open.

[2021-06-07 13:03] shubha84 commented on #2056
@vishal-biyani ,
Thanx for confirmation !

[2021-06-07 15:50] #2041 closed

[2021-06-07 16:59] sanketsudake commented on #1811
Thanks, @chenjr0719 for raising the issue. Fix is now merged, it would be available in the upcoming 1.13 release.

[2021-06-07 16:59] #1811 closed

[2021-06-08 02:55] #2057 closed

[2021-06-08 06:24] sanketsudake commented on #1720
Closing issue since respective checks added via #1837. The fix would be available in upcoming release 1.13.

[2021-06-08 06:24] #1720 closed

[2021-06-09 09:37] vCillusion opened #2062 "NATS streaming server has a deprecated notice and they suggest to use JetStream"
NATS streaming server has a deprecated notice, and they suggest using JetStream

WARNING: Deprecation Notice :warning:
The NATS Streaming Server is being deprecated. Critical bug fixes and security fixes will be applied until June of 2023. NATS-enabled applications requiring persistence should use JetStream.
https://github.com/nats-io/nats-streaming-server

A configurable way for MQ Trigger to sup

[2021-06-10 02:26] jingb opened #2063 "A pkg crd upload src and build failed first time, upload deployArchive next time, invoke function failed"
**Fission/Kubernetes version**

<pre>
$ fission --version
$ kubectl version
</pre>
fission 1.12
k8s v1.19.4

**Kubernetes platform (e.g. Google Kubernetes Engine)**

**Describe the bug**

A pkg crd upload src and build failed first time, upload deployArchive next time, invoke function failed

**To Reproduce**

**Expected result**
invoke function success

**Actual result**
"error creating service f

[2021-06-10 04:38] sanketsudake commented on #2063
@jingb could you please share the fission dump?
Also, you can check `fission pkg info <package_name>` if there are any errors in the package build.
You can rebuild of the package with `fission pkg rebuild <package_name>`

[2021-06-10 04:42] hellozee commented on #2042
Feel free to copy workflows from [here](https://github.com/tetratelabs/istio)

[2021-06-10 07:45] jingb commented on #2063
@sanketsudake yes，the pkg exactly build failed and I could get the build logs and know how to fix.
I mean if I do such steps
1. upload pkg source code and build failed
2. I get the build log and fix the problem locally and I upload the deploy archive that build locally not the source code
3. invoke the functions failed cause the router or executor juede the funtion's pkg last build status is faile

[2021-06-14 07:09] RealHarshThakur commented on #1871
Can we close on this with recent changes related to validations in 1.13?

[2021-06-14 09:18] #2023 closed

[2021-06-15 07:57] fauzankhan007 opened #2069 "fatal error: concurrent map read and map write"
@sanketsudake  Facing issue with mqt-kafka pod,  Getting below Error.

Error starts with "fatal error: concurrent map read and map write" and followed by multiple unreadable lines. I have attached the fission-dump.

Due to above issue pods keep on restarting even after reinstalling whole fission followed by mqt-trigger recreation, it works for sometime then pod again starts populating the same err

[2021-06-16 10:57] saartamir opened #2072 "Where's the nodejs v12 env and builder image?"
I'm looking at fission docker-hub and I see the latest version has node v8:
https://hub.docker.com/r/fission/node-env/tags?page=1&ordering=last_updated

I found that there's a close PR that updated the node-env + node-build to node v12:
https://github.com/fission/fission/issues/1620

it's also said on milestone v1.11, but I don't see it anywhere (also in the master branch there's no environment fo

[2021-06-16 13:25] gauravgahlot opened #2075 "Incorrect environment spec version"
The environment spec version should not be 1.

<pre>
➜ fission spec init
Creating fission spec directory 'specs'

➜ fission env create --name=python --image=fission/python-env --spec
poolsize setting default to 3
Saving Environment 'default/python' to 'specs/env-python.yaml'

➜ cat specs/env-python.yaml
apiVersion: fission.io/v1
kind: Environment
metadata:
  creationTimestamp: null
  name: python

[2021-06-19 12:07] JulienLavocat opened #2079 "Function not working using newdeploy"
**Fission/Kubernetes version**

<pre>
$ fission --version
client:
  fission/core:
    BuildDate: "2021-02-11T13:35:47Z"
    GitCommit: ca1a0d4d67a78dd4eaa7790408549d8fb6fc20ca
    Version: 1.12.0
server:
  fission/core:
    BuildDate: "2021-06-16T09:47:41Z"
    GitCommit: 6fbd4878be785ded8f14eb9f8b8bc747946a2b8f
    Version: 1.13.0
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"1

[2021-06-19 15:04] munjalpatel opened #2080 "Support adding labels and annotations in PodSpec"
**Is your feature request related to a problem? Please describe.**
We use Vault to take care of all our secrets.
Vault allows injection of these secrets in the container if we add proper `annotations`
Currently, I do not find a way to label or annotate Fission functions.

**Describe the solution you'd like**
Extend PodSpec to accept labels and annotations.

cc: @vishal-biyani

[2021-06-19 18:05] munjalpatel opened #2081 "Unable to deploy CRDs for Fission v1.13.0"
I am trying to deploy `Fission v1.13.0` and running into issues while creating crds.

Issue 1: The following command hangs and doesn't do anything:
[code]

To resolve, I manually created a manifest by cloning and using `kubectl customize .`

Then, issue 2: when I try to create cards, using `kubectl apply -f ./crds.yaml`, I get the following error:
[code]

cc: @vishal-biyani

[2021-06-20 12:19] crazylnx opened #2083 "Fission allows to create the number of functions larger than the pool size."
**Fission/Kubernetes version**

<pre>
$ fission --version
`v1.13.0`
$ kubectl version
[code]
</pre>

**Kubernetes platform (e.g. Google Kubernetes Engine)**
kinD
**Describe the bug**

I create a nodejs pool that has a pool size of 3.
I create 4 js functions (hello.js, hello1.js, hello2.js, hello3.js) successfully, however, when I  `fission fn test --name hello3`, the fission shows bellowing errors

[2021-06-20 14:17] sanketsudake commented on #2081
@munjalpatel can you please try `kubectl create -k` [with verbosity](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging
) ? You can set verbosity level to 8 may be.

You can also try,
[code]

If it doesnt work, please share output with verbosity,
[code]

For local try also, please use `kubectl create` or `kubectl replace` only, as `kubectl apply` would

[2021-06-25 03:51] irgeek commented on #2039
@Prideauxx Fission 1.13.1 is out not, so you might want to try your tests again. There are changes in this release that I think will improve the results for you.

[2021-06-28 13:46] sanketsudake commented on #1835
Closing this as done as part of https://github.com/fission/fission/pull/2089

[2021-06-28 13:46] #1835 closed

[2021-06-29 04:32] sanketsudake opened #2095 "Function pre/post hooks"
**Is your feature request related to a problem? Please describe.**
In few scenarios, we need a way to
1. Invoke some bootstrapping code(startup hook) before functions start getting invoked
2. Invoke clean code(stop hook) before function gets terminated/stops accepting calls

There could be additional hooks that can be invoked base on the function pod lifecycle.

Eg.
We have a WebSocket example whi

[2021-07-01 10:15] smartm13 commented on #1863
Hi @vishal-biyani,
I am facing the similar issue: Getting lot of 500 status codes reported only on higher loads. Stack-Trace being:
[code]
Does the newer release v1.13.1 fix this?

[2021-07-01 10:52] vishal-biyani commented on #1863
Hey @smartm13 Can you please tell us a bit more about your workload - how much and how you increased it etc. Also if you can share fission dump when this happens, it will be useful!

[2021-07-01 11:43] smartm13 commented on #1863
I have a setup of mqt-kafka triggering **4 fission-functions** from their corresponding kafka topics.
All 4 functions are of newdeploy type and have fixed number of pods: **10, 8, 6, 1**
The rate of msgs being streamed to kafka topics are like **1000, 200, 0.125, 4 messages pushed per second** respectively.
This is being done on single-node k8s cluster with 32GB ram and 8 core machine. (Both CPU a

[2021-07-02 05:45] sanketsudake commented on #2081
@munjalpatel Closing this issue. Please reopen if you face this issue again with the latest 1.13.1 release.

[2021-07-02 05:45] #2081 closed

[2021-07-02 06:06] sanketsudake commented on #2042
Closing this as we are able to verify multiple Kubernetes versions with CI.

[2021-07-02 06:06] #2042 closed

[2021-07-02 06:09] sanketsudake commented on #1603
@suramya-shah please consider this issue for release flow you are working on.

[2021-07-05 22:14] AnatoliyYakimov opened #2102 "Kafka key support"
**Is your feature request related to a problem? Please describe.**
Hi! Exploring current implementation of kafka mqtrigger i realized that there is no support for kafka message keys at all. Keys in kafka are significant mechanism, used to determine which partition message should go. So basically messages with same keys are always goes to the same partition.

**Describe the solution you'd like**
I

[2021-07-06 10:10] AnatoliyYakimov commented on #2083
I did as you said and i cannot reproduce.
[code]
But, for some reason, fission creates new pod for function when i call ```fn test``` command. Poolsize limited to 3 by default.
I`ve expected, that fission will reuse existing pods for new functions
![image](https://user-images.githubusercontent.com/49491664/124582795-0576e400-de5b-11eb-90b5-461e3e4c0e7d.png)

[2021-07-06 10:41] AnatoliyYakimov opened #2104 "Pool Manager creates more pods than poolsize"
**Fission/Kubernetes version**
[code]
[code]
[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**
Minikube
**Describe the bug**
Poolmanager creates more pods than poolsize.
fission env list
[code]
![image](https://user-images.githubusercontent.com/49491664/124586709-71f3e200-de5f-11eb-95be-bb0eb82dde9c.png)

**To Reproduce**
1. Create any env with poolsize 1, helidon-env in my case
2. F

[2021-07-06 10:53] AnatoliyYakimov commented on #2083
When i have 2 functions useng same env with poolsize = 1, im getting 4 pods:
![image](https://user-images.githubusercontent.com/49491664/124588416-70c3b480-de61-11eb-96ca-39412e557d5e.png)

[2021-07-06 10:54] AnatoliyYakimov commented on #2104
When i have 2 functions useng same env with poolsize = 1, im getting 4 pods:
![image](https://user-images.githubusercontent.com/49491664/124588416-70c3b480-de61-11eb-96ca-39412e557d5e.png)

[2021-07-08 09:20] gauravgahlot opened #2106 "CLI changes"
Presently while working with fission function, env, pkg, etc., we need to explicitly pass a flag `--name` to specify the resource name.
 Also, a lot of flags in fission CLI do not have shortcodes. This means more typing while using the CLI. For example, the following command to create a function:
[code]
could be rewritten as:

[code]

If `--name` is a resource identifier then it would be nice to u

[2021-07-08 09:33] gauravgahlot opened #2107 "Prefix Path - the URL is not resolved if tailing / is missing"
**Describe the bug**

I followed the steps in [NextJS-PrefixPath](https://github.com/gauravgahlot/examples/tree/master/samples/nextjs-prefixpath) example to run the application. Following are the URLs tried and their results:

[code]

**Expected result**

The user should not have to worry about the tailing `/`. It should be handled implicitly by the API.

[2021-07-08 18:02] abbaspw21 opened #2108 "Support resource deletion as successful when resource is not found"
**Is your feature request related to a problem? Please describe.**
Currently while deleting any Fission CRD (like package, function) using Fission CLI, if the specified resource is not found then command exits with non zero error code.

**Describe the solution you'd like**
We are looking for something similar to what we have in K8 where while deleting a resource if we pass `--ignore-not-found=true

[2021-07-08 18:20] abbaspw21 opened #2109 "Support force deployment of resources with different deployment UID"
**Is your feature request related to a problem? Please describe.**
Currently while deploying Fission resources via specs, if any resource is already deployed with some other deployment UID then Fission spec apply fails due to conflict.

**Describe the solution you'd like**
We are looking for a solution where we can forcefully apply specs of a resource even if it is deployed with some other deploym

[2021-07-09 13:22] georak opened #2110 "Access POST parameters"
Could you give me an example on how I can access POST parametes in nodejs or python?

[2021-07-09 18:24] chinochao opened #2111 "Timeout while building package"
Fission Core: 1.13.1
Kubernetes: 1.19.10
Kubernetes Platform: Rancher/K8s

I have a regular function using source code that works perfectly. However, I have created a package from the https://github.com/fission/examples in the nodejs and it seems those are timing out while building.

[code]

Here are the logs from the buildermgr container.
[code]

[2021-07-15 11:54] sanketsudake commented on #2080
Support for labels is merged, it would be available in 1.14.  All labels & annotations assigned to Environment would be assigned to pods created via environment.

[2021-07-15 12:05] #2080 closed

[2021-07-16 06:02] vishal-biyani commented on #2111
@chenjr0719 Can you please show us how you created the environment and function for this one?

[2021-07-16 06:03] vishal-biyani commented on #2110
Hi @georak For Python you can find [details here](https://docs.fission.io/docs/usage/languages/python/#query-parameters) and for NodeJS [details here](https://docs.fission.io/docs/usage/languages/nodejs/#query-string) - Hope that helps. Please reopen issue or join slack if you still need help.

[2021-07-16 06:03] #2110 closed

[2021-07-16 06:10] vishal-biyani commented on #2102
Hey @AnatoliyYakimov Are you using the MQTrigger which is Keda based or the one which in Fission?

[2021-07-16 06:15] chenjr0719 commented on #2111
Oops, I think you tag wrong guy here @vishal-biyani . 😅

[2021-07-16 06:21] vishal-biyani commented on #2062
Hey @vCillusion Are you using the Keda connector based MQTrigger or MQTrigger built in Fission?

[2021-07-16 09:36] vishal-biyani commented on #2095
Hey @sanketsudake The pre start hooks can be achieved by a init container. But pre-stop hook I think we will need to think/add

[2021-07-16 12:25] vishal-biyani commented on #1939
To reproduce this issue, in one console we watch the pods and in another one we call function successively:

After first invocation one pod gets specialised and function returns response (This is expected)
[code]

[code]

Now we keep calling same function again and again after previous one finishes - so this is not like a volume test, just one function called after previous invocation finishes, bu

[2021-07-16 12:38] #235 closed

[2021-07-16 17:40] vishal-biyani commented on #2111
Oops Sorry @chenjr0719! I meant to tag @chinochao

[2021-07-19 10:13] #2009 closed

[2021-07-19 10:16] sanketsudake commented on #2009
Thanks, @samoscybercraig for reporting it. The fix is merged in master. It would be available in the upcoming 1.14 release.

[2021-07-19 13:47] gauravgahlot opened #2118 "Pool manager pods take too long to terminate."
After executing `fission spec destroy` the pool manager pods continue to stay even though everything has been deleted. Ideally all the pods must be cleaned up immediately.

[code]

[2021-07-19 15:26] sanketsudake commented on #2079
Hi @JulienLavocat I went through the Fission dump you have shared, one of the issues I see you have faced is https://github.com/fission/fission/issues/2009 where a few of the services created were having more than 63 characters length.
We have merged the fix for #2009, this may simplify few things for you.

I am also going through the above failure and trying to reproduce it locally.

[2021-07-23 03:15] munjalpatel commented on #2081
@sanketsudake thanks for your input. However, `kubectl create` wouldn't work in our case as we use `Pulumi / Terraform` to deploy our infrastructure and I don't believe most of the Gitops tools would support `kubectl create`.

[2021-07-26 04:39] sanketsudake commented on #2104
Hi @AnatoliyYakimov,

Fission ensure we have a number of warm pods ready, as per pool size. I see we see two pods with a replicaset, which means they are still with the pool manager. One of them is in terminating and another in running state.

No of specialized pods(function is loaded into a pod and its serving function) can vary depending on the number of requests the function is serving. Typical

[2021-07-26 04:40] #2104 closed

[2021-07-27 13:59] vishal-biyani commented on #2079
Hi @JulienLavocat So the newdeploy executor you are using is not great for for scaling to zero and then creating pods when request comes. If you want cold start to be reasonable - I would recommend using the `poolmgr` executor. I am closing this issue but if you have more questions - please join slack and we can chat.

[2021-07-27 13:59] #2079 closed

[2021-07-27 15:07] sanketsudake commented on #2079
Just to add details about HTTP which is seen above 503 for **future reference**,

1. In case of a first-time call, we have a pod ready via new deploy and we just specialize it.

2. When function related deployment has 0 pods, in the context of request we scale deployment from 0 to 1.
This could involve a couple of things like pulling images required to run the pod, add a function package to the po

[2021-07-28 06:29] sanketsudake commented on #1863
Just to summarize recent changes which are available  >1.13.1

1. Router cache is added back for new deploy functions via https://github.com/fission/fission/commit/377600d0a3428470c4356b5d3b58e6b0fb68a2a5 .
2. Additional to this https://github.com/fission/fission/pull/1919 which Rahul mentioned, we have also reduced K8s API calls by adding informers for Pod https://github.com/fission/fission/commi

[2021-07-28 15:09] sanketsudake commented on #1863
I tried the scenario mentioned in the issue description, with the latest code(upcoming 1.14 release).

#### Setup

Create a kind cluter locally and two fission functions with newdeploy.
[code]

#### Running load

[code]
In meantime I made requests hw1 also concurrently, requests were getting processed successfully.
I did small workloads as,
[code]

So we can assume bottlenecks for new deploy seems

[2021-07-29 00:55] YLcoding opened #2131 "fission timer showschedule doesn't display N rounds of invocation time."
**Fission/Kubernetes version**

$ fission --version
[code]
$ kubectl version

[code]

**Kubernetes platform (e.g. Google Kubernetes Engine)**
`OpenStack`

**Describe the bug**

Example Ouput:
[code]
My Ouput:

[code]

**To Reproduce**

Run `fission timer showschedule --cron "0 30 * * * *" --round 5`

**Expected result**

**Actual result**

**Screenshots/Dump file**

<pre>
$ fission support dump
</

[2021-07-29 04:10] sanketsudake opened #2132 "Option to keep or remove prefix when router triggers prefix based function"
**Is your feature request related to a problem? Please describe.**
When the Fission router invokes prefix-based path function, it always trims prefix and forwards function call to function pod.
In scenario's where the function is having self-reference links, it becomes tedious to route such requests from the outside world to the function.
For Eg a NextJs based front end app might have some URLs on

[2021-07-29 12:37] sanketsudake commented on #1688
Closing this as fixed in 1.13.1

[2021-07-29 12:37] #1688 closed

[2021-07-29 12:40] sanketsudake commented on #1668
This is resolved now you can use `kubectl explain` to describe fission resources.

[code]
As we are maintaining CRD definitions, this should get autogenerated now.

Also CRDs can be visualized here https://doc.crds.dev/github.com/fission/fission

[2021-07-29 12:40] #1668 closed

[2021-07-29 12:44] sanketsudake commented on #1495
We have moved to typed Share index informers now, so assuming this issue won't affect us.
Need validation though with the latest upcoming release 1.14.

[2021-07-29 12:47] sanketsudake commented on #1421
Fission now has support for ARM with Fission CLI as well as images since 1.13.0 release. Closing the issue.

[2021-07-29 12:47] #1421 closed

[2021-07-29 12:49] sanketsudake commented on #1330
This is now fixed, would be available in the upcoming 1.14 release.

[2021-07-29 12:49] #1330 closed

[2021-07-29 12:55] sanketsudake commented on #880
We need to use https://pkg.go.dev/net/http/httputil@go1.16.6 to get curl like request/response in fission test verbose call.

[2021-07-29 13:13] sanketsudake commented on #58
We are using golangci-lint now. It effectively adds a couple of linters. We plan to add more linters to the code. The current set of linters and fixes are good enough for now.

Closing this issue as its very generic will open issues for specific linter fixes in context golangci-lint linters.

[2021-07-29 13:13] #58 closed

[2021-07-29 13:20] #2132 closed

[2021-07-29 13:43] #2131 closed

[2021-07-30 09:50] vishal-biyani commented on #1169
Pasting the conversation with @airhorns

Zero downtime environment deploys. Two sub issues here:

2a - Right now, when you change the docker image for a poolmgr Environment CRD, fission does a good job of recreating the deployment for the pool of unspecialized pods and will specialize new pods out of that new pool. But, I think there's a brief window where during this deploy, the old pool is termi

[2021-07-30 10:10] vishal-biyani commented on #1861
Discussion update from @airhorns:

OpenTelemetry integration. Right now Fission has support for OpenTracing, which is good but not great. It's a bit less configurable than OpenTelemetry and the project has been deprecated since it merged with OpenCensus. We'd love to be able to send requests to fission with the tracing headers for an existing trace and have fission accept those, note how long spec